[2021-04-13 08:07] pedjak commented on #947
yes, we flipped default behavior - use `bindAsFiles: false` to project bindings as env vars.

[2021-04-13 08:09] pedjak commented on #946
can you share service binding you try to apply?

[2021-04-13 08:13] wtrocki commented on #946
[code]

[2021-04-13 08:13] pedjak commented on #945
hm, our tests https://github.com/redhat-developer/service-binding-operator/blob/80e6434a78eb1310ca714b0e6477516443c059d3/test/acceptance/features/injectBindingsAsFiles.feature#L12 verify that the behavior is according to the spec. Can you share you service binding you try to apply?

[2021-04-13 08:20] wtrocki commented on #947
Can we swapped to documentation bug
https://github.com/redhat-developer/service-binding-operator/blob/master/docs/User_Guide.md is missing that info

[2021-04-13 08:28] wtrocki commented on #945
Not sure if service binding is the issue as it is being created by OpenShift Topology as in our summit guides.
Maybe problem is in the spec:

https://github.com/redhat-developer/app-services-operator/blob/main/olm/olm-template/manifests/rhoas-operator.kafkaconnections.crd.yaml#L7-L21

[2021-04-13 08:44] pedjak commented on #946
you service binding is not valid:

[code]

this line: `resource: DeploymentConfig` - what you placed here is `kind`, not `resource`. It should work if you replace it with `kind: DeploymentConfig`.

[2021-04-13 09:58] wtrocki opened #948 "Deletion of the servicebinding keeps volumes still attached"
Clarification needed if deletion of the service binding should remove volumes (currently it doesn't) which leaves pods in the state where there is no traceability of where volume came from. On the other hand this can be seen as a feature.

[2021-04-13 10:21] pedjak commented on #945
I can confirm the issue. #949 is going to fix it. Until then, setting `spec.namingStrategy: none` can work around the issue.

[2021-04-13 10:31] #946 closed

[2021-04-13 13:22] #945 closed

[2021-04-13 13:26] pedjak commented on #948
is it possible to remove binding? is the binding secret removed?

[2021-04-13 13:29] pedjak commented on #944
thanks for the report, I am looking for `sb-reverse.yaml` and `sb-original.yaml` but it seems they are not attached?

[2021-04-13 13:32] wtrocki commented on #948
Yes. How what will be the name of binding secret in this case?

[2021-04-13 13:32] wtrocki commented on #948
Yes. Binding is removed properly. How what will be the name of binding secret in this case?

[2021-04-13 13:34] pedjak commented on #947
the documentation has been updated in #949

[2021-04-13 13:34] #947 closed

[2021-04-13 13:37] wtrocki commented on #948
I see that binding is removed but secret stays there as well as volume

[2021-04-13 14:15] nastacio commented on #944
My mistake, ugh, apologies.

I just attached an archive file containing both.

[2021-04-13 15:13] #891 closed

[2021-04-13 17:37] wtrocki opened #951 "ServiceBindingRoot is duplicated when CR is removed"
When removing and applying new service binding ServiceBindingRoot env var is applied many times to deployment

[2021-04-13 18:06] #948 closed

[2021-04-14 09:33] #824 closed

[2021-04-15 07:56] Avni-Sharma opened #952 "New Blog Post"
The old blog post currently viewed in all operator versions is obsolete, i.e it uses deprecated APIs, annotation format https://developers.redhat.com/blog/2019/12/19/introducing-the-service-binding-operator/

A new blog post is required to showcase new capabilities(mountable files, namingStrategy) and the associated new API, new annotation format.
Also to highlight what we not fully support, like

[2021-04-15 17:37] kameshsampath opened #953 "Cloud Service Provider Integration"
When working with Managed OpenShifts for e.g. ROSA, the https://github.com/aws/amazon-eks-pod-identity-webhook is by default deployed allowing  the developers to use AWS IAM to access the services. It will be nice if we can extend SBO to leverage this feature to allow to it bind Cloud Provider specific services and inject the relevant parameters into the pods.  That will provide a much nicer and r

[2021-04-15 17:39] kameshsampath commented on #953
+ @acathrow and @jeremyeder for ROSA thoughts/visibility

[2021-04-20 15:45] wtrocki opened #954 "Cannot remove service binding that has invalid application/service name"
End user tried to perform binding.
Made typo when providing app name.
Seen status and tried to delete binding.
Binding cannot be finalized and it is stuck.

Workaround exist (manually edit finalizer)

[code]

[2021-04-20 21:44] wtrocki commented on #936
@jasperchui  this can be closed :)

[2021-04-20 21:48] wtrocki commented on #915
@kadel I have logged similar issue and got resolved. Binding works now when volumes are there - in fact I'm doing a lots of bindings using RHOAS CLI both as SDK or Operator and all seems working fine

[2021-04-21 08:28] kadel commented on #915
ok, I'll try verify this today

[2021-04-22 10:20] #944 closed

[2021-04-26 10:00] wtrocki opened #956 "ServiceBindingOperator is not cleaning up it's secrets properly."
1. Create service binding (all default options)
2. Remove Service binding
3. Check secrets (service binding secret will stay as it is)

![Screenshot 2021-04-26 at 10 51 34](https://user-images.githubusercontent.com/981838/116065146-9e7cc800-a67e-11eb-8f11-37968fbd38f6.png)

[2021-04-26 10:05] DhritiShikhar commented on #956
We had this feature before.. When Service Binding is deleted, delete the binding secret as well.. the binding secret contained the Service Binding CR's owner reference.

Something must have changed recently.

[2021-04-26 10:09] wtrocki commented on #956
Thank you  @DhritiShikhar. We going to workaround and remove secret for the moment as this is going to affect us on shared environments where secret numbers are limited etc.

CC @pedjak

[2021-04-26 10:38] pmacik commented on #956
@wtrocki In what environment SBO is deployed - I assume OpenShift v4.6.x, correct?

[2021-04-26 10:39] wtrocki commented on #956
Latest 4.7.x (we talking dev sandbox cluster)

[2021-04-26 12:15] pmacik commented on #956
@wtrocki Could you please share one of the `Secret`'s yaml? If you still have some? Thx

[2021-04-26 12:15] pmacik commented on #956
I want to check that it has the `OwnerReference` set.

[2021-04-26 12:44] wtrocki commented on #956
All gone. Owner reference is not set

[2021-04-26 14:17] pedjak commented on #956
I was not able to reproduce the problem on fresh minikube cluster, removing service binding removes secret for me. @wtrocki can you share your steps?

[2021-04-26 15:35] wtrocki commented on #956
@pedjak I would recomend to request account Sandbox environment
Then problem might be that CR that is created is different.

@b1zzu do you still have example json for the CR that caused this issue.

[2021-04-26 15:42] b1zzu commented on #956
This is the CR that the test creates:
[code]
this is an example fo the CR when it was failing because of the maximum number of secrets reached:
[code]
and this is one of the created secrets metadata (even if I didn't post the spec, this where all the metadata):
[code]
also, the binding operator version is: `0.7.1`

[2021-04-26 16:42] pedjak commented on #952
Before doing blog post, we should update/consolidate userdoc.

[2021-04-27 06:03] DhritiShikhar commented on #899
@jasperchui We do not support binding to M applications through a single ServiceBinding CR.

[2021-04-27 17:23] wtrocki commented on #956
I can replicate this problem on sandbox environment with Managed Kafka (binding to Quarkus App).
LEt's sync on this next week

[2021-04-28 09:20] DhritiShikhar commented on #936
@wtrocki

There are two parts to it:
1. By default injecting secrets as files.
2. Removing the `bindAsFiles` field.

The first one has been achieved by setting `bindAsFiles: true` by default.
The second part is yet to be done.

So, we could update the story instead of closing it.

[2021-04-28 09:22] wtrocki commented on #936
What would be reason to remove bindAsFIles? Seems like breaking change that can be easily avoided by deprecation

[2021-04-28 09:37] DhritiShikhar commented on #934
Since, binding secret name is same as the ServiceBinding CR's name. Why is this change necessary?

[2021-04-28 11:04] DhritiShikhar commented on #928
There is no `resource`. It's just `apiVersion`, `kind`, `name` -> https://github.com/k8s-service-bindings/spec#minimal-example-resource

[2021-04-28 11:04] DhritiShikhar commented on #929
This will take us away from spec alignment.

[2021-04-28 11:06] DhritiShikhar commented on #931
The discussion is still in progress. So, we can hold grooming for this story.

[2021-04-28 14:51] DhritiShikhar commented on #920
There is still a discussion going on -> k8s-service-bindings/spec#113
This can be groomed when the discussion has come to a conclusion.

[2021-04-29 07:57] DhritiShikhar opened #958 "Improve Service Binding status error message"
## Problem

The ServiceBinding status reports the error message "not found" without specifying what is not found - application or service.

[code]

## Expected behaviour

It would be good to have a more descriptive error message specifying `resource` and `namespace`. `namespace` should also be there because Service Binding Operator [would like to work across namespaces](https://github.com/redhat-d

[2021-04-29 13:45] pedjak commented on #936
I agree here with @wtrocki here. Out current API is a superset of spec API - at some point we are going to support spec API along our own API, and there we are going to have only features specified by the spec.

[2021-04-29 13:45] #936 closed

[2021-04-29 13:50] pedjak commented on #935
@jasperchui can you point to the part of spec stating that? I cannot find it  - only thing what is there is the following:

[code]

[2021-04-29 14:13] pedjak commented on #932
This got changed with https://github.com/redhat-developer/service-binding-operator/pull/919 we post Ready condition, but along that we add two more conditions. Spec does not forbid that.

[2021-04-29 14:13] #932 closed

[2021-04-30 17:19] pedjak commented on #918
can you provide details where things should be added?

[2021-04-30 17:21] pedjak commented on #909
@johnpoth can you please check if this issue is solved in 0.7.0+?

[2021-04-30 17:23] pedjak commented on #915
@kadel can you verify if the issue is still reproducible on latest SBO?

[2021-04-30 18:40] wtrocki commented on #954
I think we simply have lots of issues that happen on long running clusters, after updates of SBO opetator.

We had numerous bindings created to different apps etc. Those conditions would not be easy to replicate unless your team has long running cluster etc. Good to close

[2021-04-30 18:40] #954 closed

[2021-05-04 08:05] kadel commented on #915
Sorry, I was not able to get this sooner :-/
I just tried this again with 0.7.1 and it works fine now.
We can close this one.

[2021-05-04 08:05] #915 closed

[2021-05-04 11:34] Avni-Sharma opened #960 "Installation from OperatorHub.io fails"
### Minikube version
v1.16.0

### What is the SBO version used?
0.7.1

### What are the steps to reproduce this issue?
Follow the steps to install sbo on minikube from https://operatorhub.io/operator/service-binding-operator

### What is the expected behaviour?
CSV of the SBO should be present and operator pod running

### What is the actual behaviour?
Failing subscription
[code]

### Additional I

[2021-05-04 19:07] pedjak commented on #960
@Avni-Sharma can you provide some more details? Like are pods created? I am not able to reproduce it on my instance.

[2021-05-04 19:25] pedjak commented on #951
@wtrocki tried to reproduce it, but no success. Can you share the steps, i.e. what service binding was applied first, and what as the second one?

[2021-05-04 19:53] wtrocki commented on #951
P

[2021-05-04 19:53] #951 closed

[2021-05-04 20:29] Avni-Sharma commented on #960
kubectl get packagemanifest | grep service-binding-operator
service-binding-operator                   Community Operators   6m4s

[2021-05-04 20:30] Avni-Sharma commented on #960
For OLM I used the step mentioned on the operatorhub.io
i.e
` curl -sL https://github.com/operator-framework/operator-lifecycle-manager/releases/download/v0.18.0/install.sh | bash -s _v0.18.0`

OLM - 0.18.0

[2021-05-05 16:21] pedjak commented on #960
Oh, so the issue is with OLM 0.18, with 0.17 everything works fine. The problem is on OLM side, already reported in https://github.com/operator-framework/operator-lifecycle-manager/issues/2129

Until the issue is fixed, we should use 0.17.0

[2021-05-05 16:21] #960 closed

[2021-05-07 09:58] #956 closed

[2021-05-07 09:58] wtrocki commented on #956
Closing as we cannot replicate that upstream

[2021-05-10 10:02] johnpoth commented on #909
Verified in 0.7.1, thanks !

[2021-05-10 10:02] #909 closed

[2021-05-13 19:37] haf-tech opened #961 "Mapping with IBM Cloud Operator v1 not working anymore"
### What is the environment (Minikube, Openshift)?
OCP 4.5

### What is the SBO version used?
0.7.1

### What are the steps to reproduce this issue?
  1. IBM Cloud Operator, Service binding, with annotation etc, following the example defined here https://github.com/redhat-developer/service-binding-operator/blob/master/examples/nodejs_ibmcloud_operator/README.md

### What is the expected behaviour?

[2021-05-14 15:08] kadel opened #962 "error message in status.conditions is not helpful"
I have probably something wrong with my `ServiceBinding` definition. But problem is that I can't know what as the only message that I can see is "not found". It would be helpful if the message was a little bit more descriptive and mention what SBO can't find.

[code]

[code]

Application and service both are correctly defined. I'm not sure what else is SBO trying to find.

[code]

<details>
 <summ

[2021-05-14 15:51] feloy opened #963 "Support for array element selection in jsonpath for paths in annotations"
### What is the environment (Minikube, Openshift)?

Minikube

### What is the SBO version used?

master

### What are the steps to reproduce this issue?

- Create a statefulset:

[code]
- Create a servicebinding:

[code]

### What is the expected behaviour?

- The operator should be able to find the value `user1` for the path `.spec.template.spec.containers[0].env[?(@.name=="POSTGRESQL_USER")].val

[2021-05-18 23:23] nastacio opened #965 "application.name field became mandatory/redundant in release 0.7.x"
### What is the environment (Minikube, Openshift)?
OCP 4.6.16 on premises

### What is the SBO version used?
0.7.0
0.7.1

### What are the steps to reproduce this issue?
  1. Install the SBO operator (see attached `subscription.yaml` in attached archive)
  2. Deploy a sample app, using [these instructions](https://github.com/redhat-developer/service-binding-operator/tree/master/examples/nodejs_pos

[2021-05-19 15:30] kadel opened #966 "`detectBindingResources` is binding to a wrong Service"
### What is the environment (Minikube, Openshift)?
minikube

### What is the SBO version used?
v0.7.1

### What are the steps to reproduce this issue?
#### 1. deployed sample deployment and operator and operand into the same namespace called `test`

<details>
 <summary>deployment.yaml</summary>

[code]
</details>

<details>
 <summary>operator.yaml</summary>

[code]
</details>

<details>
 <summary>

[2021-05-20 16:01] kadel commented on #966
When I tried the example that is available at https://github.com/redhat-developer/service-binding-operator/tree/master/examples/nodejs_etcd_operator
I ended up with the same problem. Secret gets populated with clusterIP of a wrong Service.

Instead of `etcd-cluster-example-client ` it populates Secret with cluserIP of  `node-todo-git`

[code]

[code]

[2021-05-20 16:47] kadel opened #967 "panic on invalid `sourceValue`"
### What is the environment (Minikube, Openshift)?
CodeReady Containers version: 1.26.0+31f06c09
OpenShift version: 4.7.8 (embedded in executable)

### What is the SBO version used?
v0.7.1

### What are the steps to reproduce this issue?
  1. add an annotation to `Service` with invalid  `sourceValue`

[code]
  2. create `ServiceBinding` between deployment and `Service` that has above annotation.

[2021-05-27 08:37] cmoulliard opened #969 "Documentation of the operator-backing-service-samples/postgresql-operator is not up to date"
## Documentation issue

The README page of the [postgresql](https://github.com/operator-backing-service-samples/postgresql-operator) operator that we can use as example is not up to date as the `operator-sdk` commands reported to build the image, run it are not longer available

To build the image
[code]

## Versions
[code]

[2021-05-31 08:28] DhritiShikhar commented on #969
Makefile also has `operator-sdk build` command ->https://github.com/operator-backing-service-samples/postgresql-operator/blob/master/Makefile#L45

This needs to be updated.

[2021-06-02 12:49] pedjak commented on #965
I can confirm this regression, we will fix it as a part of 0.8 release.

[2021-06-02 21:34] rawa-resul opened #970 "SBO does not automatically get latest CR changes"
### What is the environment (Minikube, Openshift)?
Openshift 4.6.22

### What is the SBO version used?
0.7.1

### What are the steps to reproduce this issue?
  1.  In namespace 'A' have a CRD that provides bindings to SBO
  2. In namespace 'B' bind to SBO to get the service bindings from 'A'
  3. Make a change to the CR in namespace 'A'
  4. Check whether change from CR in 'A' has been picked up b

[2021-06-04 09:58] baijum commented on #965
Jira issue: https://issues.redhat.com/browse/APPSVC-883

[2021-06-08 17:55] CAIOFCP commented on #826
Hi there, was there a resolution for the main problem reported on this issue. What should be done when trying to use sourceKeys where the key name has `.` ?

[2021-06-09 09:36] baijum opened #974 "A name and selector MUST NOT be defined in the same application reference"
As per the [spec](https://github.com/k8s-service-bindings/spec#service-binding) in the context of an application reference, there is a normative statement like this :

The status condition can add the reason for failure: `InvalidApplicationReference`

[2021-06-10 09:37] pedjak commented on #895
Fixed in https://github.com/redhat-developer/service-binding-operator/pull/903

[2021-06-10 09:37] #895 closed

[2021-06-10 12:19] #965 closed

[2021-06-11 09:28] #966 closed

[2021-06-14 11:23] wtrocki commented on #832
Was this solved?

[2021-06-14 11:29] pedjak commented on #832
I think it is, but can you please verify @wtrocki ?

[2021-06-14 11:48] wtrocki commented on #832
Yes. Sounds like duplicate that was solved in 0.7.0

[2021-06-14 12:06] #832 closed

[2021-06-16 08:47] #548 closed

[2021-06-17 15:30] pedjak commented on #898
This case is contained in https://github.com/redhat-developer/service-binding-operator/issues/899 - by solved it, this is will be addressed as well. Hence closing.

[2021-06-17 15:30] #898 closed

[2021-06-17 16:14] wangjsty opened #982 "User and password from secret can't be evaluated"
### What is the environment (Minikube, Openshift)?
Openshift

### What is the SBO version used?
SBO 0.7.1

### What are the steps to reproduce this issue?
  1. Follow the sample guide: https://github.com/redhat-developer/service-binding-operator/blob/master/examples/nodejs_postgresql/README.md
  2.  But apply ServiceBinding by the follows for some custom environment variables:
[code]

### What is

[2021-06-21 12:09] baijum commented on #587
Are we going to call this Tech Preview in GA release?

[2021-06-22 07:02] feloy opened #983 "SERVICE_BINDING_ROOT env variable is defined twice in the deployment"
### What is the environment (Minikube, Openshift)?

Kubernetes 1.20.6

### What is the SBO version used?

0.8.0

### What are the steps to reproduce this issue?

[code]

### What is the expected behaviour?

### What is the actual behaviour?

[code]

### Service Binding Operator Logs

### Additional Information (Screenshots, etc)
This can cause problem especially in `odo` when trying to update the

[2021-06-24 08:34] #897 closed

[2021-06-24 19:45] jasperchui commented on #939
Closing as no longer applicable

[2021-06-24 19:45] #939 closed

[2021-06-24 19:45] jasperchui commented on #935
Closing as no longer applicable

[2021-06-24 19:45] #935 closed

[2021-06-24 19:45] jasperchui commented on #928
Closing as no longer applicable

[2021-06-24 19:45] #928 closed

[2021-06-24 19:46] jasperchui commented on #933
Closing as no longer applicable

[2021-06-24 19:46] #933 closed

[2021-06-24 19:49] jasperchui commented on #896
Completed.

[2021-06-24 19:50] jasperchui commented on #938
Closing as completed.

[2021-06-24 19:50] #938 closed

[2021-06-24 19:50] jasperchui commented on #925
Completed.

[2021-06-24 19:50] #925 closed

[2021-06-24 19:51] jasperchui commented on #923
Completed.

[2021-06-24 19:51] #923 closed

[2021-06-24 22:01] pedjak commented on #896
reopening - the referred PR is still not merged.

[2021-06-25 14:33] jasperchui commented on #934
Closing as it will be handled in another Issue.

[2021-06-25 14:33] #934 closed

[2021-06-28 12:28] jasperchui commented on #930
Closing as no longer needed.

[2021-06-28 12:28] #930 closed

[2021-06-28 12:32] jasperchui commented on #937
Closing as it will be addressed elsewhere

[2021-06-28 12:32] #937 closed

[2021-06-28 12:37] jasperchui commented on #931
This was removed from spec. Keeping in our implementation.

[2021-06-28 12:37] #931 closed

[2021-06-28 12:38] jasperchui commented on #929
Keeping in our implementation.

[2021-06-28 12:38] #929 closed

[2021-06-28 12:41] jasperchui commented on #922
Duplicate of #921

[2021-06-28 12:41] #922 closed

[2021-06-29 15:32] #963 closed

[2021-06-30 12:05] #872 closed

[2021-07-09 10:05] johnpoth opened #987 "Error when installing v0.8.0"
Seems like Kubernetes resources are declared twice in https://github.com/redhat-developer/service-binding-operator/releases/download/v0.8.0/release.yaml

[code]

Thanks !

[2021-07-12 13:23] pedjak commented on #987
Just tried on `minikube 1.18`:

[code]
I am not able to reproduce it.

are you using `kubectl apply` or `kubectl create`?

[2021-07-13 17:12] #808 closed

[2021-07-14 10:42] pedjak commented on #899
Let's pause on this because there is an open issues at spec about adding support for so called [ComposedServices|https://github.com/k8s-service-bindings/spec/issues/120#issuecomment-876226966]. The current ability in our API allows exactly that. Furthermore, we have seen that [Crunchy Postgres operator](https://github.com/CrunchyData/postgres-operator) creates additional secret that is not referre

[2021-07-15 06:35] #587 closed

[2021-07-15 09:43] pedjak commented on #921
in our API this can achieved through mappings, closing since #985 got merged.

[2021-07-15 09:43] #921 closed

[2021-07-15 09:45] pedjak commented on #924
our API support spec approach, and for backward compatibility let keep other options as well.

[2021-07-15 09:45] #924 closed

[2021-07-15 09:46] pedjak commented on #926
Added as a part of #985. Users who need that should be encouraged to migrate to spec API.

[2021-07-15 09:46] #926 closed

[2021-07-15 09:56] #911 closed

[2021-07-15 09:59] pedjak commented on #918
@wtrocki where this should be added?

[2021-07-15 10:01] pedjak commented on #879
@kadel can you provide more details why currently SBO cannot bind services deployed through Helm charts, and how this improvement should look like from user perspective?

[2021-07-15 10:05] pedjak commented on #866
@durera can you check please if the issue got solved in the latest SBO release?

[2021-07-15 10:07] pedjak commented on #847
the PR got moved here: https://github.com/strimzi/proposals/pull/38

[2021-07-15 10:12] pedjak commented on #837
Fixed in #875

[2021-07-15 10:12] #837 closed

[2021-07-15 10:15] pedjak commented on #786
Closing after #880 got merged.

[2021-07-15 10:15] #786 closed

[2021-07-15 10:16] pedjak commented on #780
Spec API support got added by #985

[2021-07-15 10:16] #780 closed

[2021-07-15 12:10] kadel commented on #879
Currently, the user needs to know the internals (all Kubernetes resources) of the Helm chart.
Essentially you need to reverse engineer helm Chart to understand what resources were created in order to create ServiceBinding.

It would be great if SBO understands Helm Charts and the user can just point to the Chart, and SBO does the rest.

Similarly how you can bind to operator services just pointing

[2021-07-15 16:14] pedjak commented on #778
By merging https://github.com/redhat-developer/service-binding-operator/pull/880 CI jobs takes ~20mins only to complete.

Also, by specifying `EXTRA_BEHAVE_ARGS` on the command line, one can execute just scenario of a given name, for example:

[code]

[2021-07-15 16:14] #778 closed

[2021-07-15 16:23] pedjak commented on #826
I believe that this issue is solved in the latest SBO release, can somebody confirm it? In essence, for an annotation like:

[code]

and service CR with status:

[code]

and secret:

[code]

you are going to get binding `jks` with value `<content>`

[2021-07-15 16:25] pedjak commented on #751
Addressed by https://github.com/redhat-developer/service-binding-operator/pull/919

[2021-07-15 16:25] #751 closed

[2021-07-15 16:26] #745 closed

[2021-07-15 16:28] pedjak commented on #843
Also, with #985 it is possible to specify `.type` and `.provider` directly on service binding resource.

[2021-07-15 16:28] #843 closed

[2021-07-15 16:29] #739 closed

[2021-07-15 16:31] pedjak commented on #734
Obsolete by https://github.com/redhat-developer/service-binding-operator/issues/896

[2021-07-15 16:31] #734 closed

[2021-07-15 16:33] pedjak commented on #717
duplicate of #853

[2021-07-15 16:33] #717 closed

[2021-07-15 16:34] pedjak commented on #705
JSONPath support dropped in the effort to get more compatible to the spec.

[2021-07-15 16:34] #705 closed

[2021-07-15 16:35] pedjak commented on #700
Obsolete by #919

[2021-07-15 16:35] #700 closed

[2021-07-15 16:36] pedjak commented on #667
Obsolete by #919

[2021-07-15 16:36] #667 closed

[2021-07-15 16:37] pedjak commented on #650
Obsolete by #903

[2021-07-15 16:37] #650 closed

[2021-07-15 16:37] pedjak commented on #626
Obsolete by #919

[2021-07-15 16:37] #626 closed

[2021-07-15 16:38] pedjak commented on #617
Closing as obsolete.

[2021-07-15 16:38] #617 closed

[2021-07-15 16:38] pedjak commented on #590
Obsolete - custom projections got replaces by `ClusterApplicationResourceMapping`

[2021-07-15 16:38] #590 closed

[2021-07-15 16:39] pedjak commented on #585
Obsolete by #896

[2021-07-15 16:39] #585 closed

[2021-07-15 16:40] pedjak commented on #554
Obsolete by #919

[2021-07-15 16:40] #554 closed

[2021-07-15 16:40] pedjak commented on #543
Closing as obsolete.

[2021-07-15 16:40] #543 closed

[2021-07-15 16:41] pedjak commented on #472
Obsolete by #919

[2021-07-15 16:41] #472 closed

[2021-07-15 16:41] pedjak commented on #471
Obsolete by #919

[2021-07-15 16:41] #471 closed

[2021-07-15 16:41] pedjak commented on #463
Obsolete by #919

[2021-07-15 16:41] #463 closed

[2021-07-15 16:42] #460 closed

[2021-07-15 16:43] #459 closed

[2021-07-15 16:43] pedjak commented on #453
Closing due to inactivity.

[2021-07-15 16:43] #453 closed

[2021-07-15 16:46] #425 closed

[2021-07-15 16:48] pedjak commented on #423
This can achieved via `.mappings` in our API, closing.

[2021-07-15 16:48] #423 closed

[2021-07-15 16:53] pedjak commented on #409
Closing as SBO is tested on OCP 4.6+ at the moment.

[2021-07-15 16:53] #409 closed

[2021-07-15 16:56] pedjak commented on #399
How about following approach:

* Watch for `CustomResourceDefinition` changes, and try to find servicebinding annotatons, or figure out if CRD defines a provisioned services. If CRD is owned by a ClusterServiceVersion, check if service binding descriptors are defined. In case of match, set an annotation on CRD indicating that CRs are potentially bindable:

[code]

* Provide an endpoint served by S

[2021-07-15 16:57] pedjak commented on #398
Closing as obsolete, #919 fixed it.

[2021-07-15 16:57] #398 closed

[2021-07-15 16:58] pedjak commented on #389
Fixed by #984

[2021-07-15 16:58] #389 closed

[2021-07-15 16:59] pedjak commented on #368
Fixed by #919

[2021-07-15 16:59] #368 closed

[2021-07-15 17:01] pedjak commented on #361
Fixed by #964

[2021-07-15 17:01] #361 closed

[2021-07-15 17:03] pedjak commented on #352
As a part of spec alignment, we did not add JSONPath support. However, full JSONPath support exists for annotations.

[2021-07-15 17:03] #352 closed

[2021-07-15 17:05] pedjak commented on #276
Closing as obsolete.

[2021-07-15 17:05] #276 closed

[2021-07-15 17:05] pedjak commented on #196
Closing due to inactivity.

[2021-07-15 17:05] #196 closed

[2021-07-15 17:07] pedjak commented on #684
Duplicate of #974

[2021-07-15 17:07] #684 closed

[2021-07-15 17:08] pedjak commented on #962
Duplicate of #958

[2021-07-15 17:08] #962 closed

[2021-07-16 13:13] kadel commented on #958
Would it be possible to give this higher priority. This effects SBO usability.
As a user if I don't better guidance what is wrong I won't be able to correct the issue and use SBO.

[2021-07-16 16:47] kadel opened #990 "Example scenarios should use real world Operators"
Every PostgreSQL example that is in https://github.com/redhat-developer/service-binding-operator#example-scenarios uses custom operator that was purposely designed to play nice with SBO.
This makes for nice demos, but it doesn't help user understand how to set up ServiceBinding for real work applications.

It would be much better if the examples in SBO docs use Operators that are commonly used for

[2021-07-16 18:07] kadel opened #991 "How to reference data from Secret that has generated name based on spec data."
Let's say that I have CR the one that Crunchy PostgreSQL uses.

[code]

Crunchy PosgtreSQL Operator automatically creates Secret containing user password. The Secret has a name that follows following  pattern `<clusterName>-<userName>-secret`.

I'm trying to add  annotation to the above CR that will tell SBO to expose the secret data.
I'm trying something like this:
[code]
but this is not working.

[2021-07-19 09:00] johnpoth commented on #987
Hi @pedjak!

As mentioned, I used `kubectl create` although I switched to `kubectl apply` to avoid such errors.

If you look at the YAML [file](https://github.com/redhat-developer/service-binding-operator/releases/download/v0.8.0/release.yaml), resources are declared twice ? For example the `ConfigMap` called `service-binding-operator-manager-config`

If you think this is not a bug I can close thi

[2021-07-19 21:12] jeremyary opened #992 "Service Binding Operator does not detect changes to annotation information sources and push to bound apps"
### What is the environment (Minikube, Openshift)?
Openshift

### What is the SBO version used?
0.8.0

### What are the steps to reproduce this issue?
  1. Define annotations on a CRD that points to a secret and/or configmap as information source(s):
[code]
  2. Create a CR instance with the appropriately mapped properties as well as the secret/configmap resources indicated by the annotations from

[2021-07-21 07:22] baijum commented on #991
The spec mentioned the value of path as a JSON path expression. But it's not matching with the OLM descriptor's definition of the path.  I have created an issue about the same sometime back:
https://github.com/k8s-service-bindings/spec/issues/111
The SBO implementation also treats it as a JSON path but points to a single attribute. I think it is implemented that way for compatibility with both OLM

[2021-07-21 09:38] #896 closed

[2021-07-22 09:38] pedjak commented on #992
In order to achieve this behavior, the operator would need to watch for changes for almost all resources in clusters, and this is very costly. Early in the development, we tried to do exactly that and were hit back with all sorts of resource utilization issues. Eventually we gave up in https://github.com/redhat-developer/service-binding-operator/pull/903, reaching excellent performances/resource u

[2021-07-22 10:17] pedjak commented on #987
Oh, thanks, now I see it :) I have fixed `release.yaml`, reattached to the release. Please let us know if now the issue is gone.

[2021-07-23 21:30] jeremyary commented on #992
Great, thanks for the feedback! Closing since there's already trackers out there & a workaround available to us. Much appreciated!

[2021-07-23 21:30] #992 closed

[2021-07-26 12:19] kadel opened #996 "unable to modify metadata fields"
### What is the environment (Minikube, Openshift)?

### What is the SBO version used?
0.9.0

### What are the steps to reproduce this issue?
  1. Create service binding resource
  2. try to add ownerReferece, label or annotations to service binding resource

### What is the expected behaviour?
It should be possible to modify metadata fields like ownerReferece, label or annotations even SB that has

[2021-07-27 09:10] mik-dass opened #998 "processingPipeline.Process(&<service-binding-object>) doesn't always return the name of the secret."
### What is the environment (Minikube, Openshift)?

Minikube

### What is the SBO version used?

v0.9.0

### What are the steps to reproduce this issue?

[code]

[code]
When deploying the above binding object, ` processingPipeline.Process(&<service-binding-object>)` sometimes doesn't return the name of the secret.

### What is the expected behaviour?

The function `processingPipeline.Process(&<ser

[2021-07-27 09:37] pedjak commented on #998
I am not seeing any annotations on `Redis` resource, so I assume that bindings should be added through owned resources (`detectBindingResources: true`). Does `Redis` CR owns some resources?

[2021-07-27 09:49] #900 closed

[2021-07-27 10:08] kadel commented on #998
Using exactly the same ServiceBinding  resource with the Service Binding Operator works.
It fails to create Secret only when odo tries to use reconciliation pipeline directly

[2021-07-27 10:22] pedjak commented on #998
Any errors in the log about that? Can you share the code snippet?

[2021-07-27 10:26] kadel commented on #998
[code]
https://github.com/openshift/odo/blob/d08bc04ba47b8667af1f74b0f57c67ee76aa850d/pkg/service/service.go#L1402-L1415

Than it gets simply called like similarly to this:
[code]
https://github.com/openshift/odo/blob/d08bc04ba47b8667af1f74b0f57c67ee76aa850d/pkg/service/service.go#L1261-L1264

@mik-dass you are the one who wrote this, correct me if I'm missing something

[2021-07-27 10:29] mik-dass commented on #998
Here's the code snippet in the PR https://github.com/openshift/odo/pull/4905/files#diff-2b655ba613ca8386fd9f4c383200480492ee25711e24a575f3fc8b33531b4672R1213-R1293

[2021-07-27 10:36] pedjak commented on #998
Is `serviceBinding` instance created programmatically? Is it persisted in the cluster? If not, `detectBindingResources: true` will detect no owned resources and hence there is no secret to be created. Please consider moving to Provisioned Service approach, it does not require establishing any child-parent relationships between the service binding and the secret.

[2021-07-27 10:42] kadel commented on #998
it can be user created

no

ok, I'll try to add some annotations to verify this.

Problem is that  what we have there sometimes works (secret is created with cluster ip) and  sometimes fails. Could there be also some timing issue?

I'm afraid that I don't know what you mean by "Provisioned Service approach" :-(

[2021-07-27 10:46] pedjak commented on #998
https://github.com/k8s-service-bindings/spec#provisioned-service We added support for that in SBO v0.8.0 Also, you can use [Direct Secret Reference approach](https://github.com/k8s-service-bindings/spec#direct-secret-reference)

[2021-07-27 10:47] baijum commented on #998
I have written a blog-post about Provisioned Service: https://muthukadan.net/kubernetes/binding/support-service-binding-specification-for-kubernetes/

[2021-07-27 10:54] kadel commented on #998
I'm afraid that odo can't do either of those. :-(
Odo is trying to consume existing services. I don't know about any wildly used operator that would already support this.

[2021-07-27 11:13] pedjak commented on #998
It could be also a timing issue. So, secrets need to exist and they should be referred as owned by Redis resource. What is watching `Redis` resources?

[2021-07-27 11:22] kadel commented on #998
This is my current theory. It looks like the `Service` that is supposed to be detected gets sometime created after odo calls the Pipeline.
I'm not sure if odo will be able to solve this. It needs to work with any existing Operator. As far I know there is no generic way to know when Operator created all its resources :-/

[2021-07-27 11:58] #996 closed

[2021-07-27 14:02] jcperera-github opened #1000 "Service Binding Operator Upgrade from v0.8.0 to v0.9.0 fails due to missing spec.application"
### What is the environment (Minikube, Openshift)?
OpenShift

### What is the SBO version used?
0.9.0

### What are the steps to reproduce this issue?
  1. Automatic Upgrade from SBO v0.8.0 to v0.9.0

### What is the expected behaviour?
No errors

### What is the actual behaviour?
Message: Failed to apply object: b'{"kind":"Status","apiVersion":"v1","metadata":{},"status":"Failure","message":"Serv

[2021-07-27 15:12] pmacik commented on #1000
@jcperera-github This is because in `v0.9.0` the binding with no application was dropped by https://github.com/redhat-developer/service-binding-operator/pull/977 - see https://github.com/redhat-developer/service-binding-operator/issues/897

[2021-07-27 15:21] jcperera-github commented on #1000
Ok, it broke backwards compatibility... I cannot seem to downgrade to v0.8.0 due to that version not existing on the Catalog Source for OpenShift any longer...

Any suggestions?

[2021-07-27 16:26] jcperera-github commented on #1000
Ok, I have removed v0.9.0 from the Installed Operators (from the Catalog) and manually installed the v0.8.0 using the Command Line:
`oc apply -f https://github.com/redhat-developer/service-binding-operator/releases/download/v0.8.0/release.yaml`
And that fixed the issue for us. The code for the bindings is not ours, but installed by an IBM product so we preferred not to edit the Service Binding def

[2021-07-27 16:26] #1000 closed

[2021-07-27 22:48] durera opened #1001 "Versioning feedback & documentation for different path to achieve “no app binding”"
https://github.com/redhat-developer/service-binding-operator/issues/897 states:

Where can we find this documentation?  This use case is the key use case in our product and we are trying to work out how we continue to operate under version 0.9.0 schema, is there an example somewhere of how to achieve the same thing in 0.9 that you can point us to?

Also, really disappointed that this change was in

[2021-07-28 11:10] pedjak commented on #1001
Changing API version would impact all consumers, even those not affected by the dropped functionality. Given that we are still in pre 1.0 mode, supporting multiple API versions is something that we do not have a bandwidth for. However, I can agree that we could release 0.9.0 on a different channel, to avoid automatic updates. Apologize for that.

Can you please share some details about the use cas

[2021-07-28 13:22] kadel commented on #998
This is an issue in how odo uses library.
We found out that this is really a timing issue. When operator is slow and the `Service` gets created after odo tries to process `ServiceBinding`
/close

[2021-07-28 13:22] #998 closed

[2021-07-29 12:11] jasperchui commented on #967
Associated with PR993

[2021-07-30 10:46] mik-dass opened #1003 "processingPipeline.Process fails for developer accounts on openshift without the service binding operator"
### What is the environment (Minikube, Openshift)?

Openshift (developer account)

### What is the SBO version used?

v0.9.0

### What are the steps to reproduce this issue?

  1. Remove the service binding operator from the cluster
  2. Login to a developer account on openshift
  3. Call `processingPipeline.Process(<&service--binding-resource>)`

### What is the expected behaviour?

`processingPi

[2021-07-30 10:50] kadel commented on #1003
It looks like service binding library is trying to get cluster-wide resources.

This is especially problematic on OpenShift as  normal cluster users usually don't have permissions to do so.

[2021-08-03 14:28] slemeur commented on #1003
linking to: https://github.com/redhat-developer/service-binding-operator/issues/810

[2021-08-03 14:39] pravin-dsilva opened #1004 "Acceptance tests fail on Openshift 4.9"
### What is the environment (Minikube, Openshift)?
Openshift 4.9

### What is the SBO version used?
0.9.1

### What are the steps to reproduce this issue?
  1. Run the tests with the steps from [here ](https://github.com/redhat-developer/service-binding-operator/tree/master/test/acceptance#run-acceptance-tests-with-remote-instance-of-sbo)

### What is the expected behaviour?

### What is the actua

[2021-08-03 14:42] kadel commented on #1003
created a small example to verify this issue: https://github.com/kadel/service-binding-perm-issue

[2021-08-03 14:44] pedjak commented on #1003
binding process requires access to CRDs in order to figure out if there are some annotations there. if you do not want to use annotations you can exclude that stage from the pipeline, but otherwise the account you use for accessing the cluster must have appropriate rights (SBO service account does)

[2021-08-04 14:50] kandarpamalipeddi opened #1006 "Unable to install operator on Power Cluster (ppc64le) 4.7 into all namespaces"
### What is the environment (Minikube, Openshift)?
Openshift

### What is the SBO version used?
0.9.0 and 0.9.1

### What are the steps to reproduce this issue?
  1. On Power cluster (OCP 4.7) install service-binding-operator 0.9.0 or 0.9.1 using command line or from console (operatorhub).
  2. Use All namespaces (channer preview/beta)

### What is the expected behaviour?
It should install success

[2021-08-05 10:44] johnpoth commented on #927
Thanks @jasperchui , at the moment we would need this to upgrade past v.0.8.0 since #897 was dropped

[2021-08-05 10:50] baijum commented on #927
Most likely there will be some change in the spec related to the "Application Resource Mapping" feature. See this discussion:
https://github.com/k8s-service-bindings/spec/issues/177

We can wait for some more time to implement that feature.

[2021-08-05 12:05] kadel commented on #1003
I'm going through the code to check how it can be done, but so far I can't see a way how to do that :-(
Can someone provide some pointers or examples how to achieve that?

[2021-08-05 15:08] slemeur commented on #1003
cc @baijum : Could you please get in touch with @kadel ?

[2021-08-11 17:29] johusta commented on #1004
I am seeing similar on s390x running with OCP 4.9

[code]

[2021-08-16 07:54] baijum opened #1007 "CRD descriptions for both ServiceBinding resources should be updated"
### What is the environment (Minikube, Openshift)?

OpenShift

### What is the SBO version used?

0.9.1

### What are the steps to reproduce this issue?
  1. OpenShift Console
  2. Install ServiceBinding operator
  3. The installation details shows two CRDs with a similar description

### What is the expected behaviour?

The description should be updated to distinguish the CRDs

### What is the ac

[2021-08-18 10:39] baijum commented on #1003
I have created a screencast to explain the process of customizing the pipeline.
https://www.youtube.com/watch?v=U3Wv_fO84ng

[2021-08-19 13:31] scottkurz commented on #970
I think I recreated this issue on 0.9.1.   Some details:

* I was only using a single NS 'A' for both the CR and SBO
* I was using 'odo' with the Dev4Devs PostgreSQL Operator annotated as described here:  https://github.com/OpenLiberty/application-stack-samples/tree/main/jpa   (the odo doc had a similar sample but it's in transition to a new home)
* The new/updated secret was not created after cha

[2021-08-23 13:49] heiko-braun commented on #927
Hi @baijum, do you have a rough estimate for this one?

[2021-08-23 14:45] baijum commented on #927
There is PR in the spec under review: https://github.com/k8s-service-bindings/spec/pull/183
Once that PR is merged, we can start the work immediately.

[2021-09-01 14:29] pedjak commented on #1003
@kadel please let us know if you were able to make progress on this?

As @baijum pointed out, you can replace [BindingDefinition](https://github.com/redhat-developer/service-binding-operator/blob/master/pkg/reconcile/pipeline/handler/collect/impl.go#L38) stage with a custom one where CRDs are not read at all. An alternative to that is to provide your own [Context](https://github.com/redhat-develop

[2021-09-01 15:14] kadel commented on #1003
@valaparthvi is working on this.
@valaparthvi, can you please let @pedjak and @baijum know if you face any problems?

Odo executes actions on behalf of its user (all API calls to Kubernetes are done with user account).
Most "normal" develop user accounts won't have permission to read cluster wide resources. We would like to read the information form CRD, but most user will not have enough permissi

[2021-09-01 21:25] pedjak commented on #1003
The binding process requires the access to a number of resources and requests need to be executed on behalf of user/service account having proper permission. Unfortunately, I do not see a way around it, given how the binding spec is defined.

`client-side` tools could execute requests on behalf of a dedicated service account.

IMHO, users should not experience any difference when service binding o

[2021-09-02 10:20] valaparthvi commented on #1003
I think we can close it for now. The video by @baijum was really helpful, thank you for that. It seems like we might be able to fix this for odo without much hassle(:crossed_fingers:). We can reopen this issue if something related to it pops up again.

[2021-09-02 10:29] #1003 closed

[2021-09-02 10:32] #1007 closed

[2021-09-06 14:02] pedjak commented on #1006
@kandarpamalipeddi just to verify - the cluster did not have 0.8 installed previously? Is it possible to find more details about requirements that did not meet?

[2021-09-06 14:11] pedjak commented on #991
@kadel [the annotation extension](https://github.com/k8s-service-bindings/spec/blob/master/extensions/secret-generation.md) we support states that `path` can contain only single JSON path wrapped within curly braces.. Hence it is not possible to say `path={.spec.name}-{.spec.user}-secret`. Adding a field (e.g. `.status.binding.name` on `Pgcluster` would solve the problem, and even make so called P

[2021-09-06 14:19] pedjak commented on #866
Closing due to inactivity. Please reopen if the issue still exists.

[2021-09-06 14:19] #866 closed

[2021-09-06 14:21] pedjak commented on #454
Fixed by #979 and #1002

[2021-09-06 14:21] #454 closed

[2021-09-06 14:48] kadel commented on #991
This is going to make also impossible to fully use SB with some operators.

This  creates another barrier for adoption. Now the operator maintainers will be required not to just add annotations, but also modify their CRDs in order to fully support ServiceBinding.

This is something that we need to address and update spec if necessary.

[2021-09-06 15:06] pmacik commented on #967
We've seen this happen in the Developer Sandbox with SBO 0.9.1:
[code]

[2021-09-07 07:55] pmacik opened #1013 "SERVICE_BINDING_ROOT is not set when .spec.mountPath is defined"
### What is the environment (Minikube, Openshift)?
Any

### What is the SBO version used?
v0.9.1

### What are the steps to reproduce this issue?

https://github.com/redhat-developer/service-binding-operator/blob/ea3da1e7163d6c5beb7c44f1479b47fa5502cf81/test/acceptance/features/injectBindingsAsFiles.feature#L119

### What is the expected behaviour?
The [spec](https://github.com/k8s-service-binding

[2021-09-07 11:11] pmacik opened #1014 "Mandatory file '$SERVICE_BINDING_ROOT/BINDING_NAME/type' is missing when bindingAsFiles=true and 'type' mapping is not defined"
### What is the environment (Minikube, Openshift)?
Any

### What is the SBO version used?
v0.9.1

### What are the steps to reproduce this issue?

See the scenario in the following section.

### What is the expected behaviour?
The [spec](https://github.com/k8s-service-bindings/spec#workload-projection) states that:
[code]
However, that is not ensured by the implementation of the SBO's API (`servic

[2021-09-07 11:12] pmacik commented on #1014
/cc @baijum

[2021-09-07 11:12] pmacik commented on #1013
/cc @baijum

[2021-09-07 15:59] #810 closed

[2021-09-09 13:16] durera commented on #1001
Sorry for the long delay in responding, various things have been preventing me getting back to this.

The use case is where the binding is to a complex application with many microservices. As such we don't want SBO directly modifying the deployments, we have an operator that manages the various microservices that are impacted by a change in the binding.

- The binding is owned by the operator.
- W

[2021-09-09 13:53] baijum opened #1016 "Drop support for spec.mountPath from the non-spec API"
The spec.mountPath is redundant in the presence of the `SERVICE_BINDING_ROOT` environment variable. Also, it makes the explanation of the combined usage of spec.mountPath and the `SERVICE_BINDING_ROOT` very hard in the documentation.

In the last community call, we decided to drop this feature.

[2021-09-09 13:54] baijum opened #1017 "Support new spec API group: servicebinding.io with version v1alpha3"

[2021-09-10 19:42] #967 closed

[2021-09-15 12:11] kadel commented on #1017
What is this? Is it going to be new api group in additional to two that already exist? Or is this going to replace one of the existing?

[2021-09-15 12:37] baijum commented on #1017
It's going to replace `service.binding` API group used in the spec with new the new one.

[2021-09-15 19:00] pedjak commented on #1001
@durera thanks for a very detailed feedback, we are going to discuss it during [our the next community call](https://github.com/redhat-developer/service-binding-operator/#community-discussion-contribution-and-support), feel free to join it.

[2021-09-16 15:39] pedjak commented on #1001
In this case, it seems to me natural that you model this complex system with a custom resource (if I see it correctly from the diagram, that would a resource representing `Suite`). That resource will be managed by your operator and SBO can inject binding secret reference into that resource on a given place. Your operator can detect that and then start rolling out updates to appropriate components.

[2021-09-16 16:35] wtrocki opened #1022 "Service binding update fails compilation when used as lib"
After updating from 0.9.0 to 0.10.0 I'm getting

[code]

Using SBO as library to build binding. Webhook is not used in any of this.

### What is the SBO version used?

0.10.0

[2021-09-17 13:19] wtrocki opened #1024 "Operator ends up in crash loop if secret was removed"
### What is the environment (Minikube, Openshift)?

### What is the SBO version used?

0.10.0

### What are the steps to reproduce this issue?
  1. Create CR
  2. Remove secret
  3. Create binding
  4. Status will look as follows (but operator will crash)

[code]

### What is the expected behaviour?

Operator will stay working

### What is the actual behaviour?

Operator ends up in crash loop.

##

[2021-09-17 13:36] wtrocki opened #1025 "Operator should support DeploymentConfigs out of the box"
### What is the environment (Minikube, Openshift)?

OpenShift

### What is the SBO version used?

0.10.0

### What are the steps to reproduce this issue?
  1.  Create DeploymentConfig
  2. Try to bind to Deployment config
  3.
[code]

[2021-09-17 15:19] wtrocki opened #1026 "Operator cannot be updated using OLM"
### What is the environment (Minikube, Openshift)?

New version fails to update on the number of clusters (tests, end users, demo clusters, workshops etc.).

### What is the SBO version used?

0.10.0

### What are the steps to reproduce this issue?
  1. Have older version of Operator installed with OLM autoupdates
  2. Just wait :)

### What is the expected behaviour?

Operator running

### What i

[2021-09-17 15:22] wtrocki commented on #1026
If you notice that problem.

Workaround:

Remove both operators
Cleanup all CR's and things left out by the operator (Not possible in some cases)
Install fresh operator version

[2021-09-17 18:40] pmacik commented on #1026
+1 for the workaround - the updates are not yet tested.

Error message:
[code]
The reason is most likely the change of the name of the `control-pane` of the controller manager introduced in https://github.com/redhat-developer/service-binding-operator/pull/1020

/cc @pedjak

[2021-09-17 18:44] pmacik commented on #1026
@wtrocki @pedjak  I found and tested another (minimal) workaround:

 * **Delete `service-binding-operator` deployment**

[code]

[2021-09-17 19:27] wtrocki commented on #1026
@pmacik

[2021-09-17 21:02] pedjak commented on #1022
can you share the branch where we could try to repeat it?

[2021-09-17 21:27] wtrocki commented on #1022
The one linked above would do.
Please update operator in go.mod and exec
[code]

[2021-09-20 17:16] #1017 closed

[2021-09-20 17:41] pedjak commented on #1025
Thanks for the report. While here - is there any other OpenShift resource that we should support out of the box?

[2021-09-20 19:23] wtrocki commented on #1025
DeploymentConfig covers 99% of cases.
Worth to mention that deploymentConfig is also harder to work with as after applying binding we need to create new rollout to see changes.

[2021-09-20 21:14] pedjak commented on #1025
Just to verify if I got it correct: `DeploymentConfig` is application in service binding case? Or a service?

[2021-09-21 04:19] wtrocki commented on #1025
Always Application. Same like Deployment

[2021-09-21 14:06] mezarin commented on #1025
Similarly, when linking the app to Kafka:

[code]

[2021-09-21 14:09] wtrocki commented on #1025
@mezarin That would be deployment. Your operator needs extra role: https://github.com/redhat-developer/service-binding-operator/releases/tag/v0.10.0

[2021-09-22 07:07] #1025 closed

[2021-09-22 12:14] pmacik commented on #1013
The `.spec.mountPath` is to be removed, closing this as obsolete.

[2021-09-22 12:14] #1013 closed

[2021-09-23 11:32] pmacik opened #1030 "Invalid VolumeMount or secretRef to non-existing intermediate secret is attached to application when there is nothing to bind."
### What is the environment (Minikube, Openshift)?
Any

### What is the SBO version used?
0.10.0

### What are the steps to reproduce this issue?
  1. Create a service with no data exposed and no owned resources
  2. Create an application to bind with
  3. Create a service binding without any mapping to bind the service and application

### What is the expected behaviour?
Binding should fail at In

[2021-09-24 05:56] #1030 closed

[2021-09-24 21:55] sadlerap commented on #1024
I've been trying to reproduce this crash, but I haven't been successful yet.  Is there a more concrete example I can use?

I suspect there's an issue with `BindingItems`, but until I can reproduce this, I can't be certain.

[2021-09-27 10:28] #983 closed

[2021-09-27 11:12] pedjak commented on #863
Closing in favor of #1019

[2021-09-27 11:12] #863 closed

[2021-09-27 12:57] xkwangcn commented on #1026
Is this issue fixed now?
When update from 0.9.1->0.10.0, I also have this error
[code]
And I uninstall 0.9.1 and reinstall 0.10.0 is succeed.

[2021-09-27 14:07] xkwangcn commented on #1026
But I met a new error, after installed 0.10.0, can't install 0.9.1 success.
I uninstall 0.10.0 from console, and then install 0.9.1, pending:
<img width="1165" alt="image" src="https://user-images.githubusercontent.com/29972855/134924614-11db457b-7c1f-4514-983e-76598eaf22ee.png">

<img width="1166" alt="image" src="https://user-images.githubusercontent.com/29972855/134924558-0fc42760-cc57-4270-b99

[2021-09-29 08:14] pmacik commented on #1013
`.spec.mountPath` removed via #1035

[2021-09-29 09:10] baijum commented on #1016
Completed as part of the PR #1035

[2021-09-29 09:10] #1016 closed

[2021-09-29 17:15] pedjak commented on #1024
It should be fixed by #1032, please reopen if happens again.

[2021-09-29 17:15] #1024 closed

[2021-09-29 17:16] pedjak commented on #1006
Closing due to the lack of the feedback. Please reopen if still valid.

[2021-09-29 17:16] #1006 closed

[2021-09-30 15:22] pedjak commented on #1026
This is an OLM issue, reported here: https://github.com/operator-framework/operator-lifecycle-manager/issues/1608 and closed with a proposed workaround, that we cannot apply on the existing releases. Closing. Moving forward we will have that proposed workaround in mind.

[2021-09-30 15:22] #1026 closed

[2021-09-30 15:27] pedjak commented on #1014
@pmacik  the spec dictates that `type` binding must be there, but our API does not, and we have relaxed requirement on purpose. Do you want to say that we should introduce that requirement in our api as well?

[2021-09-30 15:33] pmacik commented on #1014
Not at all. That is how I understood that feature and assuming we want to be as close to spec as possible. However, if we did relaxed that requirement on purpose (and I wasn't aware of that up until now), then that it's actually a feature, not a bug. So if that is the case, the issue can be closed.

[2021-09-30 15:46] #1014 closed

[2021-09-30 15:57] pedjak commented on #970
In order to achieve that in a generic way, SBO needs to watch for many many resources and we tried that in early phases, but performances and resource consumption on production clusters were far from great. Hence, in #903 we turned it off, until we are able to achieve that in a smarter way (see #846)

However, there is one scenario where updates are propagated:
* bind to [provisioned service](http

[2021-09-30 15:57] #970 closed

[2021-09-30 15:59] pedjak commented on #990
Related #1034

[2021-09-30 15:59] pedjak commented on #969
Closing, because #1034 removed this example.

[2021-09-30 15:59] #969 closed

[2021-09-30 16:08] pedjak commented on #961
As a part of aligning with [the spec](https://github.com/servicebinding/spec), we dropped support for paths that go across resources. In order to restore the previous behavior you would need to perform following:

* add annotation `service.binding/apiKey: path={.status.secretName},objectType=Secret,sourceKey=apiKey` to your service or its CRD
* construct mappings as:
[code]

Please reopen if you h

[2021-09-30 16:08] #961 closed

[2021-09-30 16:16] pedjak commented on #920
Done in https://github.com/redhat-developer/service-binding-operator/pull/1027

[2021-09-30 16:16] #920 closed

[2021-09-30 16:17] pedjak commented on #918
Closing, please reopen if still relevant.

[2021-09-30 16:17] #918 closed

[2021-09-30 16:20] #892 closed

[2021-09-30 16:21] pedjak commented on #888
@pmacik can you take a look and see if some tests can be added?

[2021-09-30 16:27] pedjak commented on #874
We do not recommend binding to multiple services within a single service binding. Ability to specify multiple service resource makes sense only if all these resources are actually containing some binding data belonging to the same physical service, so that the operator can collect them and project them into the application.

Please reopen if needed.

[2021-09-30 16:27] #874 closed

[2021-09-30 16:29] pedjak commented on #826
Closing due to lack of feedback. Please reopen if needed.

[2021-09-30 16:29] #826 closed

[2021-09-30 16:32] pedjak commented on #816
@haf-tech can you please confirm it the issue still exists in the latest SBO version?

[2021-09-30 16:33] pedjak commented on #771
Related to https://github.com/redhat-developer/service-binding-operator/pull/1019

[2021-09-30 16:34] pedjak commented on #611
Closing due to the inactivity, please reopen if needed.

[2021-09-30 16:34] #611 closed

[2021-09-30 16:35] pedjak commented on #560
Closing.

[2021-09-30 16:35] #560 closed

[2021-09-30 16:38] pedjak commented on #411
Closing, please reopen if needed.

[2021-09-30 16:38] #411 closed

[2021-09-30 16:41] pedjak commented on #399
https://github.com/redhat-developer/service-binding-operator/pull/1036 got merged and now SBO reports bindable resource kinds, so that clients can figure out if there bindable services of a given kind in a namespace.

[2021-10-01 13:04] johnpoth commented on #1001
Hi @durera ! Coincidentally, we were also using SBO in the same manner (for some of the same reasons) and were blocked when support for this feature was removed.

As a workaround, not sure if it's applicable to you, we now SBO as a [library](https://github.com/apache/camel-k/blob/main/pkg/trait/service_binding.go#L65) inside our operator. It's fairly easy to [remove](https://github.com/apache/came

[2021-10-01 14:05] johnpoth commented on #1022
Same here. When updating Kubernetes dependencies in SBO to `

[code]

Then building SBO gives same error :

[code]

Thanks !

[2021-10-01 14:10] wtrocki commented on #1022
Yes. I think team should consider having SDK separate to the Operator API.
In next version of go there will be support for multiple modules for repository. That will be great time to clear things up.

As for now if feels like webhooks API clashes with something (but that should not be in the SDK itself).

[2021-10-01 17:42] pedjak commented on #1022
I can confirm the issue and #1039 will fix it.

[2021-10-04 15:46] #1022 closed

[2021-10-05 13:45] jbpratt opened #1041 "arm64 support"
With the feature preview of arm64 support in 4.9 (https://github.com/openshift/ocp-on-arm) and microshift (https://github.com/redhat-et/microshift) on the rise, SBO should have support for aarch64 images. Eventually the Interop team will support multi-arch testing to support this.

Related issue:
https://github.com/openshift/ocp-on-arm/issues/5

[2021-10-05 18:19] xsgordon opened #1042 "Examples in README.md mostly (all?) 404"
### What is the environment (Minikube, Openshift)?

Chrome

### What is the SBO version used?

N/A

### What are the steps to reproduce this issue?
  1. Go to the examples section in the readme.
  2. Click an example.
  3. Get 404.

### What is the expected behaviour?

Examples URLs in README.md link to actual examples.

### What is the actual behaviour?

404

[2021-10-05 19:21] sadlerap commented on #1042
A lot of the examples we had were suffering from either link rot or were obsolete, so they were taken out in #1034 to help prevent confusion.  Ultimately, the docs themselves are going to be replaced with #1019 when it gets merged.  In the meantime, we should probably take out any remaining references to the old documentation if they exist, either in #1019 itself or in a separate pull request alon

[2021-10-06 16:13] wtrocki commented on #1022
Can we reopen this?

I still see this issue:

[code]

[2021-10-06 20:14] #974 closed

[2021-10-07 12:24] baijum opened #1046 "Remove/amend to the old Red Hat Developer blog post"
This blog content is obsolete: https://developers.redhat.com/blog/2019/12/19/introducing-the-service-binding-operator#
Either it should be removed, if possible. Or add a note at the top pointing to the new blog post.

[2021-10-07 14:49] pedjak commented on #816
Closing, please reopen if still relevant.

[2021-10-15 15:59] wtrocki opened #1063 "Critical/Regression - after updating to 0.11 cluster roles stopped working"
### What is the environment (Minikube, Openshift)?

OpenSHift

### What is the SBO version used?

0.11.0

### What are the steps to reproduce this issue?
  1. Creating binding with rhoas operator

### What is the expected behaviour?

Binding works

### What is the actual behaviour?

kafkaconnections.rhoas.redhat.com "wtrocki" is forbidden: User
        "system:serviceaccount:openshift-operators:se

[2021-10-15 17:17] wtrocki commented on #1063
ok. that will be it as our operator used old format. Was that covered in release notes?

[2021-10-15 17:39] wtrocki commented on #1063
I do not see it  anywhere. btw.. this is 5th time in the row where sbo release broken our ecosystem.

Can we figure out some good release channels that we can use to detect issues early. Current release channels seems abadoned. Beta has 0.10 etc.

[2021-10-15 19:30] #1063 closed, assigned to nobody

[2021-10-20 16:06] pedjak commented on #990
Closing, please reopen if still relevant.

[2021-10-20 16:06] #990 closed

[2021-11-04 11:11] pedjak commented on #952
Closing since there are two blog posts available:

* https://developers.redhat.com/articles/2021/11/03/how-use-service-binding-rabbitmq by @sadlerap
* https://developers.redhat.com/articles/2021/10/27/announcing-service-binding-operator-10-ga by @slemeur

[2021-11-04 11:11] #952 closed

[2021-11-04 14:48] pedjak opened #1071 "Service Binding Operator cannot project bindings to Jobs"
### What is the SBO version used?

1.0

### What are the steps to reproduce this issue?
  1. Create a job
  2. Create binding pointing to the job
  3. Binding cannot be established because `spec.template` is immutable

### What is the expected behaviour?

Binding could be projected into jobs

### What is the actual behaviour?

## Release Notes
Currently, binding to a `Job` CR from the `batch/v1` A

[2021-11-05 15:21] pmacik commented on #888
The nested arguments scenario as suggested in the description was not covered so I added it in #888.
However, mapping secret values is already covered by:

[2021-11-05 15:28] wtrocki commented on #888
Thx

[2021-11-05 15:28] #888 closed

[2021-11-05 19:50] sadlerap commented on #1046
As of today (Nov. 5th, 2021), it's been updated to point at more recent material.

[2021-11-05 19:50] #1046 closed

[2021-11-10 15:41] wtrocki opened #1073 "[Discussion] Any issue with using SBO as dependency in other operator"
Context:
https://github.com/redhat-developer/app-services-operator/issues/290

Would adding ServiceBindingOperator as olm dependency case any issues for your team.

[2021-11-12 07:21] slemeur commented on #1073
Not at all if we have proper integration tests and e2e tests.
What do you envision necessary for that? and how would we coordinate the effort?

cc @pmacik

[2021-11-12 11:09] wtrocki commented on #1073
No need for coordination. The only issue I could see are sandbox relases. we need to make sure we would not dublicate sbo in this scenario

[2021-11-12 11:09] #1073 closed

[2021-11-12 13:35] pedjak commented on #1073
Right. Actually if an operator strongly depends on an API delivered by some other operator, then this should be declared in operator bundle, similar to how we do this in rpm/deb world.

[2021-11-24 10:24] pedjak commented on #1041
Published in https://access.redhat.com/errata/RHEA-2021:4763

[2021-11-24 10:24] #1041 closed

[2021-11-26 08:02] baijum commented on #632
I tried to integrate the [CockroachDB operator](https://github.com/cockroachdb/cockroach-operator) for an out-of-the-box experience with SBO. But I reached a roadblock that the operator requires [manual steps to create a password](https://github.com/cockroachdb/cockroach-operator#access-the-sql-shell).

Now SBO has support for the ProvisionedService as per the spec. I would suggest reaching out to

[2021-11-30 12:01] #632 closed

[2021-11-30 12:10] pedjak commented on #633
Closing due to inactivity.

[2021-11-30 12:10] #633 closed

[2021-12-01 22:09] mhdawson opened #1077 "Bad data with edg postgress operator created databse"
### What is the environment (Minikube, Openshift)?

OpenShift

### What is the SBO version used?
1.1.0

### What are the steps to reproduce this issue?
  1. Install EDB operator
  2. Created cluster called edb-cluster
  3. Bind DeploymentConfig to cluster
[code]
  4. Look at data that is bound in:

The contents of the `host` file is `edb-cluster`, however that does not seem to be reachable while `

[2021-12-01 22:48] mhdawson opened #1078 "Missing setup with crunchy postgresQL database created with cruchy operator"
### What is the environment (Minikube, Openshift)?
OpenShift

### What is the SBO version used?
1.0.0

### What are the steps to reproduce this issue?
  1. Install Crunch PostgresQL operator
  2. Create database with operator in application namespace
  3. Drag from DeploymentConfig to create service binding
  4. Connect with the data provided in the service binding files

### What is the expected

[2021-12-02 11:46] pedjak commented on #1078
SBO just projects as files a number of bindings exposed by Crunchy Postgres operator and the application/runtime now needs to know where to find and to read them to construct database connection objects. Here is the acceptance tests that verifies what is accessible to the app:

https://github.com/redhat-developer/service-binding-operator/blob/master/test/acceptance/features/supportExistingOperator

[2021-12-02 12:24] pedjak commented on #1077
Thanks, I can confirm this is a bug. Can you please confirm that if adding the following annotation:

[code]

to `edb-cluster` fixes the issue?

[2021-12-02 13:16] baijum commented on #1077
Note: Probably we could use `psql` based app for testing.

[2021-12-02 14:56] pedjak commented on #1078
This is then more question for Openshift Console team and UX there.

[2021-12-02 15:41] mhdawson commented on #1078
@pedjak who should talk to/where would I open an issue to raise it with them?

[2021-12-02 15:42] mhdawson commented on #1078
@pedjak my other question is if you know how to configure the database through the Crunchy operator/UI to work around this?

[2021-12-02 15:45] pedjak commented on #1078
You should report the issue here:
https://github.com/openshift/console/issues

[2021-12-02 15:57] mhdawson commented on #1077
I added it to the YAML for the cluster but that did not seem to help:

[code]

I also tried adding to the yaml from the binding but that also did not seem to help:

[code]

Does it look like I added it correctly?  I assume you were asking for the addition to the cluster versus the binding, but I figured I'd try the second since adding to the cluster did not seem to help.

[2021-12-02 15:59] pedjak commented on #1077
can you paste here the full content of `Cluster` resource, including `.status` part?

[2021-12-02 16:05] mhdawson commented on #1077
Here it is:

[code]

[2021-12-02 16:08] mhdawson commented on #1077
Not sure where the annotation I added earlier went, but here is the output after adding again:

[code]
and now checking again

[2021-12-02 16:27] mhdawson commented on #1077
Ok, after deleting the service binding and recreating it now seems to provide the right hostname.

[2021-12-02 21:55] mhdawson commented on #1078
Ok I figure out what was going on.

I looked at this quick start and was able to see that an application could connect to the database following those instructions, so the question was why was it failing in my case: https://redhat-developer.github.io/service-binding-operator/userguide/getting-started/quick-start.html

The hint ended up being  this part of the error message above: ` SSL off`.  Turn

[2021-12-03 15:35] pedjak commented on #1078
Hm, the application used in the example is based on the spring framework and it uses the sprint cloud bindings library to read bindings. Here is the code handling Postgres binding:

https://github.com/spring-cloud/spring-cloud-bindings/blob/main/src/main/java/org/springframework/cloud/bindings/boot/PostgreSqlBindingsPropertiesProcessor.java#L45

and it does not expect nor process any certificates.

[2021-12-03 18:30] mhdawson commented on #1078
This might help, but I wonder if it might be possible that the same operator could be configured with/without SSL so depending on that may not be the best way to signal if SSL is used or not.  It may still be useful info to have.

What I needed to make the connection work for Node.js
  * That SSL should be enabled
  * The CA cert that should be provided because otherwise Node.js by default rejects

[2021-12-10 21:44] mhdawson opened #1082 "Bindings with MongoDB/Percona Distribution for MongoDB operator"
I'm working on mongodb mappings for [kube-service-bindings](https://github.com/nodeshift/kube-service-bindings).

I created a mongo database using the Percona Distribution for MongoDB operator as it was listed as one of the compatible operators in the GA announce.

I was then able to drag the service binding connection in the console UI but I can't see how to use the bound information to connect.

[2021-12-15 19:20] #1077 closed

[2021-12-15 20:37] sbose78 opened #1083 "Wish to bind to 'sso' / 'keycloak'"
Do we have samples which show how to bind an application(preferably a java application)  to keycloak ?

[2021-12-17 12:23] pedjak commented on #1078
@mhdawson I have tried to reproduce the issue in #1084 but I was able to connect to the database even without access to the certificates. In our tests we use plain regular `psql` CLI: https://github.com/redhat-developer/service-binding-operator/blob/master/test/acceptance/resources/apps/sbo-generic-test-app/postgres-ready.sh

Anyhow, #1084 exposes `ca.crt`, `tls.crt` and `tls.key`, together with `

[2021-12-20 14:17] mhdawson commented on #1078
@pedjak thanks, will take a look.

[2021-12-22 12:11] #1078 closed

[2022-01-06 21:26] mhdawson commented on #1082
@pedjak any suggestions?

[2022-01-06 21:42] mhdawson commented on #1078
@pedjak has #1084 made it into an update of the service binding operator? I looked at what I have installed and it says I'm up to date but I don't think there was an update since I installed since the name still says 1.0.0.

Just trying to see how I test out if #1084 resolve the issue I was having

[2022-01-06 22:31] mhdawson opened #1087 "Service binding operator with redis optstreelabs operator"
I did the following steps

1) Installed the Redis operator provided by Opstree Solutions through the OpenShift UI
2) Created a Redis cluster using the operator in my application namespace (nodejs-pg)
3) Had previously installed the service binding operator
4) Dragged from the Node.js app to the Redis cluster, service binding was created but has the following errors:

[code]

Any suggestions on wha

[2022-01-10 14:02] feloy opened #1088 "Binding to an Opstree Solutions Redis instance with no redisSecret fails"
### What is the environment (Minikube, Openshift)?

CodeReady Containers version: 1.37.0+3876d27d
OpenShift version: 4.9.10 (embedded in executable)

### What is the SBO version used?

v1.0.0

### What are the steps to reproduce this issue?

  1. Create a redis operator with the following specs:

[code]

  2. Create a link with the specs:

[code]

### What is the expected behaviour?

The service b

[2022-01-11 12:58] pedjak commented on #1078
@mhdawson we still did not release any new version, but you can try the latest master code by creating a catalog source from the following index image:

[code]

and installing SBO from it.

[install.sh](https://github.com/redhat-developer/service-binding-operator/blob/master/install.sh) script in our project root does that all for you if you invoke it as:

[code]

[2022-01-11 13:38] pedjak commented on #1087
@mhdawson as stated in https://github.com/redhat-developer/service-binding-operator/#known-bindable-operators we support `Redis` resource, but not `RedisCluster`. I am pretty sure that the support for the later can be added easily, but in the meantime, can you try with `Redis` resource, and let me know that works?

[2022-01-13 15:26] fbm3307 commented on #1088
Hi @feloy we have discussed this in our community call and we are working on this.

[2022-01-14 21:23] mhdawson commented on #1087
@pedjak thanks did not pick up that aspect. Will try with Redis resource.

[2022-01-18 15:40] mhdawson commented on #1087
Have it working with `Redis` resource, closing.

[2022-01-18 15:40] #1087 closed

[2022-01-21 23:27] mhdawson commented on #1082
I think my current problems may be related to getting the mongo database to come up (the anti affinity rules don't seem to like my CRC environment). @pedjak do you have an environment where you have the Percona operator installed that I might use for testing as I'm not able to make any progress.

[2022-01-25 00:39] mhdawson commented on #1082
I tried a cluster bot instance but still no luck. The Mongodb cluster just stays stuck at initializing. I'm hoping it's something easy that I'm missing but I just can't find it :(

[2022-02-03 12:54] Kartikey-star opened #1098 "Service Binding Operator Installed in a single namespace"
### What is the environment (Minikube, Openshift)?

Openshift

### What are the steps to reproduce this issue?
  1. Create a new project in openshift console.
  2. Install Crunchy PostgreSQL operator and SBO in that namespace.
  3. Followed https://redhat-developer.github.io/service-binding-operator/userguide/getting-started/quick-start.html for creating database instance and sprint rest app
  4.

[2022-02-08 19:19] feloy commented on #1088
Hi @fbm3307 Is there any update on this issue?

[2022-02-10 04:11] baijum commented on #927
PR #1086 address this issue.

[2022-02-11 13:04] pmacik commented on #805
SBO quickstart now (#1085) uses this sample application

[2022-02-11 13:04] #805 closed

[2022-03-04 21:42] mhdawson opened #1110 "Rabbitmq/service binding operator"
### What is the environment (Minikube, Openshift)?

### What is the SBO version used?
1.0

### What are the steps to reproduce this issue?
  1. follow instructions in
  2. https://github.com/rabbitmq/cluster-operator
  3. Bind it to an application with:
[code]

### What is the expected behaviour?
The type matches the "protocol" that the client can use to connect. For example kafka, redis, amqp, et

[2022-03-04 22:09] mhdawson commented on #1110
To add some additional context, what I expected is that I can write an application that knows it's going to use AMQP, and then map in any provider/backend that support AMQP and get the same info bound into the environment. In that way my application is not tied to a specific back end and the admins can swap out the provider without the application code needing to change.

[2022-03-07 17:35] sadlerap commented on #1110
We hand off the `type` field from RabbitMQ's service binding information; in this case, we're getting it from their provisioned service secret.  I did some digging around in their documentation/code, but I didn't see a lot there that addressed this use case; it looks like [RabbitMQ exposes `type=rabbitmq` unconditionally](https://github.com/rabbitmq/cluster-operator/blob/main/internal/resource/def

[2022-03-07 18:35] mhdawson commented on #1110
@sadlerap thanks for the quick response and for a work around we can use.

It's good to know you are working through how 1 provider with multiple protocols will work.

I've also come up with a work around on the kube-service-bindings side (aliasing rabbitmq to amqp) but it only works if you assume that rabbit will provide all protocols its supports versus only those currently enabled.

Your forwar

[2022-03-08 06:20] baijum commented on #1110
Values for `type` and `provider` can be overridden from [ServiceBinding](https://github.com/servicebinding/spec/#service-binding) resource.

[2022-03-09 23:58] growi commented on #1083
I was playing around with keycloak and created a sample binding for the petclinic application.
The example can be found [here](https://github.com/growi/service-binding-operator/tree/feature/keycloak-sample/samples/apps/spring-petclinic) .  To get it to work you need to build the petclinic image or use [mine](https://hub.docker.com/r/growi83/spring-petclinic-oauth2) (I extended the patch to include

[2022-03-24 06:16] baijum commented on #399
Closing the issue as 1.0.0 has these changes.

[2022-03-24 06:16] #399 closed

[2022-03-24 06:20] baijum commented on #847
I think we can close the issue as the proposal implementation is available here: https://github.com/strimzi/kafka-access-operator

[2022-03-24 06:22] baijum commented on #879
I think we can close this issue as SBO supports helm charts through: https://github.com/redhat-developer/service-endpoint-definition

[2022-03-24 06:32] baijum commented on #887
`bindAsFiles` flag is part of the `ServiceBinding` resource.

[2022-03-24 06:32] #887 closed

[2022-03-24 08:54] kadel commented on #879
The original idea was that the SBO should allow binding to any Helm Chart. Without SBO users required to understand what resources are inside the Helm Chart and allow binding to most of the **already existing Helm Charts.**

I haven't checked the SED's yet, but from a quick README read it doesn't look like it would solve this.

[2022-03-24 12:38] katheris commented on #847
JIRA issue: https://issues.redhat.com/browse/ENTMQST-3868

[2022-03-25 07:16] baijum commented on #1083
This looks good to me. Please send PR.

[2022-03-26 15:48] growi commented on #1083
I created PR #1122 that integrates the sample.

[2022-04-05 20:31] growi opened #1124 "The MySQL Sample is incomplete"
The provided MySQL Cluster sample is incomplete. The sample does not include a manifest for the ServiceBinding.
In addition to that, the Makefile for the samples does not include a target for the deployment and binding off the sample.

[2022-04-07 12:14] baijum commented on #746
Decide where to place the chart.

1. Separate repo

Make it available through artifacthub.io

[2022-04-07 12:18] #836 closed

[2022-04-07 12:22] baijum commented on #853
We could handle this as part of the Mapping Extension in the spec: https://github.com/servicebinding/spec/issues/145

[2022-04-19 18:06] #927 closed

[2022-04-21 15:15] dperaza4dustbit commented on #1088
We discussed this issue in the community call. We agree there is room for improvement here. The idea is to do the following:

1.  Add logic in SBO to take into account a new field in the annotation providing the mapping, optional=true/false. If optional true then we will do the mapping only if the target path is available. When target path is not available we would skip it without failures. Howeve

[2022-04-27 10:44] baijum commented on #869
[Service Endpoint Definition](https://github.com/redhat-developer/service-endpoint-definition) could be one solution.

[2022-04-27 11:12] pedjak opened #1135 "User Documentation does not describe the usage of WorkloadResourceMapping"
Support for WorkloadResourceMapping was merged in https://github.com/redhat-developer/service-binding-operator/pull/1086 but the user documentation does not mention it at all. Please keep the doc in sync with the available features, it took us quite some time to bring the doc to the current level, lets continue doing that.

[2022-04-27 15:51] sadlerap commented on #1135
There are still a few things missing from fully implementing support for `ClusterWorkloadResourceMapping` resources, namely:

- Correct rebinding when these resources are modified (semantics regarding this changed rather late in the spec stabilization process)
- Implementing validation webhooks for these resources
- Documenting this feature both here in our own documentation and downstream in open

[2022-05-05 18:42] #1124 closed

[2022-05-18 04:29] Kartikey-star commented on #746
The helm chart is published to https://redhat-developer.github.io/service-binding-operator-helm-chart/ repository.
The chart repository is added to artifacthub and can be found at https://artifacthub.io/packages/helm/service-binding-operator-helm-chart/service-binding-operator

[2022-05-19 12:06] Kartikey-star commented on #1110
@mhdawson  does the solution provided above makes sense to you.

[2022-05-19 20:27] mhdawson commented on #1110
@Kartikey-star we came up with a work around in kube-service-bindings were we map rabbit to AMQP, but I still think the model on the service binding side should be adjusted to reflect protocol being offered (possibly many) versus a specific provider type.

[2022-05-24 04:58] Kartikey-star commented on #1098
Closing this as this is recognized as a known issue with the solution provided in release notes https://docs.openshift.com/container-platform/4.10/applications/connecting_applications_to_services/sbo-release-notes.html.

[2022-05-24 04:58] #1098 closed

[2022-05-25 14:12] mhdawson commented on #1082
@Kartikey-star thanks, looking forward to that.

[2022-05-26 12:07] pmacik commented on #1110
@mhdawson Thanks, closing

[2022-05-26 12:07] #1110 closed

[2022-05-31 21:25] pacostas opened #1157 "service-binding-operator - crunchyDB operator populating tls.key with wrong permissions"
This issue is not related 100% to service-binding-operator

### What is the environment (Minikube, Openshift)?
Openshift

### What is the SBO version used?
apiVersion: binding.operators.coreos.com/v1alpha1

### What are the steps to reproduce this issue?
  1.  Deploying [cruncry db](https://access.crunchydata.com/documentation/postgres-operator/5.1.0/tutorial/) in openshift
  2. Deploying a simple

[2022-06-01 13:16] mhdawson commented on #1157
I looked at the service binding standard and I did not see any mention of file permissions. I think this might be a gap as illustrated by this problem where some programs (like OpenSSL) enforce limited access rights on keys.

The initial question is if the service binding operator/service binding spec provides a way to specify the access rights for a key, if so then possibly the crunchy binding ne

[2022-06-01 18:25] sadlerap commented on #1157
AFAIK there's no way to set permissions on projected binding data solely from a `ServiceBinding` resource; neither the `binding.operators.coreos.com` nor the `servicebinding.io` resources expose this functionality.  As a workaround for now, you can override permissions in the volume specification we write (e.g. set `.spec.template.spec.volumes[].secret.defaultMode` in a `deployment` to 0600).

IMO

[2022-06-02 14:46] pacostas commented on #1157
Thanks for the workaround. I did an attempt to change that on deployment.yaml while the pod was already running and unfortunately ended up with:
[code]
Also I couldnt find somewhere this ```.spec.template.spec.volumes[].secret.defaultMode``` option. If you have more context about this option, it would be a nice to share this solution :)

[2022-06-13 17:08] bennesp opened #1167 "Support for CrunchyData Postgres Operator integration missing when user is specified"
### What is the environment (Minikube, Openshift)?
It happens on many different environments. Specifically I'm using minikube, eks, and rancher desktop.

### What is the SBO version used?
v1.0.1

### What are the steps to reproduce this issue?
Create a CrunchyData PostgresCluster, a Pod and binds them like the following:
[code]

### What is the expected behaviour?
The Pod has the data to connect t

[2022-06-14 10:34] baijum commented on #1167
What happens if there is more than one user in the array?

[2022-06-14 10:47] bennesp commented on #1167
More than one user results into having more than one secret.
More than one database results into ignoring all but the first database.

For example, testing with these resources:

[code]

results into having two secrets: `postgres-cluster-pguser-user1` and `postgres-cluster-pguser-user2`.

Those secrets have `dbname: "database1"` and `dbname: "database3"`

[2022-06-16 10:28] baijum commented on #1167
The annotations are static. Currently, it's not possible to introduce conditional logic when `.spec.users[]` is present to use that, and when it's not available fall back to `.metadata.name`.
A better solution would be to go for a spec-compliant approach using [Provisioned Service](https://github.com/servicebinding/spec). There is an open issue for the same here: https://github.com/CrunchyData/pos

[2022-06-16 12:28] baijum commented on #1167
@bennesp As a workaround, you can add the required annotation in the `PostgresCluster` resource.
The JSON Path would be something like this:
`path={.metadata.name}-pguser-{.spec.users[0].name}`

[2022-06-16 22:06] jeremyary opened #1172 "Unable to retrieve ClusterWorkloadResourceMapping error occurring in sandbox following 1.1.0 update"
### What is the environment (Minikube, Openshift)?
OSD, Sandbox

### What is the SBO version used?
1.1.0

### What are the steps to reproduce this issue?
  1. User reports issue occurs when binding Deployment and DeploymentConfig targets via Topology view amid RHODA workflow

### What is the expected behaviour?
Binding should occur without issue and update bound target appropriately

### What is t

[2022-06-17 11:32] pmacik commented on #1172
Ref: https://issues.redhat.com/browse/APPSVC-1135

[2022-06-17 19:54] sadlerap commented on #1172
I've managed to reproduce this behavior locally.  It definitely looks to be the case that if the service account that made the service binding doesn't have permissions to get CWRM (ClusterWorkloadResourceMapping) resources, it will fail exactly as has been shown in the bug reports we've been getting.

This definitely has implications regarding privilege escalation.  I think there are a few approac

[2022-06-23 12:02] pmacik commented on #1172
Keeping the issue open until RH released version is installed to the Developer Sandbox and confirmed that the solution indeed fixed the issue.

[2022-06-24 12:08] pmacik opened #1180 "Unable to install SBO to OpenShift from quay.io/redhat-developer/servicebinding-operator:index index image"
Currently, the `quay.io/redhat-developer/servicebinding-operator:index` index image fails to be installed on latest OpenShift with the following error:
[code]

That is causing the acceptance tests for OpenShift v4.11 to fail.

It turns out that the current index image is sqlite-based which is deprecated:
[code]

[2022-06-24 13:47] #1180 closed

[2022-07-12 09:17] #1088 closed

[2022-07-14 12:11] baijum commented on #1167
Closing as the given workaround can be used.

[2022-07-14 12:11] #1167 closed

[2022-07-14 12:22] baijum commented on #1071
Normally `Job` resources are created through `CronJob` resources or custom resources (with controllers).

[2022-07-18 07:28] pmacik commented on #1172
@jeremyary SBO v1.1.1 (including the fix to this issue) in installed on the Developer Sandbox.. Could you please check that the issue is indeed fixed from your point of view? Thanks

[2022-07-18 08:44] baijum commented on #879
FYI, @kadel, I have added this issue for discussion on Jul 21st community call.

[2022-07-18 10:11] baijum commented on #1172
The issue has been resolved in the DevSandbox.

[2022-07-18 10:11] #1172 closed

[2022-07-22 13:46] gberche-orange opened #1187 "service-binding-operator does not rebind a deleted and recreated deployment"
### What is the environment (Minikube, Openshift)?

Openshift

[code]

### What is the SBO version used?

1.1.1
![image](https://user-images.githubusercontent.com/4748380/180445406-a309591c-2ef8-4701-83b4-389062e58e0a.png)

### What are the steps to reproduce this issue?

  1. define a service binding
  2. define a deployment
  3. wait for binding to be projected to deployment
  4. delete deployme

[2022-07-26 17:08] baijum commented on #1187
Hi @gberche-orange, Thanks for reporting the issue. The actual behavior you described is how it works with SBO. We did this as part of [optimization to reduce the load on the cluster](https://github.com/redhat-developer/service-binding-operator/pull/903).

If you use a label selector to specify the workload, you will get the expected behavior. Alternatively, there is a [work-in-progress operator w

[2022-07-27 06:43] gberche-orange commented on #1187
Great, thanks for the analysis and future plans @baijum !

[2022-07-27 13:46] dperaza4dustbit commented on #879
The way I see this, most helm charts do not provide a CRD. However the Helm chart itself could provide a secret and an SBO CR already referencing that secret on the service side and a label selector on the workload side. Then other charts using that service will just need to figure out what labels to use so the binding happens automatically.

[2022-08-04 12:06] baijum commented on #1187
We have decided to document this behavior and optimization. So, keep this issue open.

[2022-08-04 12:11] baijum commented on #1157
Due to the [Kubernetes bug](https://github.com/kubernetes/kubernetes/issues/57923), we cannot set permission from the SBO controller. So, we decided to document a workaround in another PR #1191

[2022-08-08 03:12] baijum commented on #958
We have a good error message now.
[code]

[2022-08-08 03:12] #958 closed

[2022-08-08 03:21] baijum commented on #869
[Direct Secret Reference](https://github.com/servicebinding/spec#direct-secret-reference) can be used to connect to a service in another cluster.

[2022-08-08 03:21] #869 closed

[2022-08-08 10:57] #1157 closed

[2022-08-23 14:47] #1187 closed

[2022-08-24 17:24] gberche-orange commented on #1187
great, thanks @baijum !

[2022-09-01 12:24] sadlerap commented on #847
Marking as closed.  If there are any further issues, please re-open.

[2022-09-01 12:24] #847 closed

[2022-09-05 05:11] 2smin opened #1213 "Status change 'True' when deleteing processingError"
### What is the environment (Minikube, Openshift)?
Kubernetes 1.22

### What is the SBO version used?
1.1.1

### What are the steps to reproduce this issue?
  1. apply servicebinding with typo (with application or backing service which is not exist)
  2. delete servicebinding

### What is the expected behaviour?
delete servicebinding immediately

### What is the actual behaviour?
at first, service

[2022-09-06 21:03] sadlerap commented on #1213
Hello @2smin,
Thanks for the report.  We'll be looking into this.

[2022-09-08 12:31] sadlerap commented on #1213
I've been able to reproduce this issue by applying the following:
[code]
So long as you don't make the corresponding secret, this demonstrates the behavior you were seeing.

[2022-09-13 04:52] 2smin commented on #1213
Thanks for your feedback.
My servicebinding apiVersion is binding.operators.coreos.com
and not only secret, any resources that is not exist makes this situation

i'm using service-binding-operator image  [quay.io/redhat-developer/servicebinding-operator:9230857d],
and below is my servicebinding.yaml (I applied new yaml differ with my above comment)

=================================
apiVersion: bi

[2022-09-22 12:20] sadlerap commented on #899
This is still possible via annotations & label selectors, which is the intended behavior.

[2022-09-22 12:20] #899 closed

[2022-09-22 12:29] #879 closed

[2022-10-07 11:01] baijum opened #1256 "Provisioned Service discovery label"
Currently annotation is used for the discovery of a Provisioned Service. But as per the spec, a label is what is recommended.

Refer this issue: https://github.com/strimzi/kafka-access-operator/issues/12

[2022-10-14 02:25] Bloom-P opened #1272 "Installing the Service Binding Operator v1.3.0 fails."
The installation of the Service Binding Operator 1.3.0 fails with below :

[code]

Let me know if you need any information, we have a customer facing the above issue.
I have reproduced the above as well.

[2022-10-14 11:45] baijum commented on #1272
@Bloom-P Are you installing this in OpenShift? If so, which version?
Also, are you installing it through Web UI?
Also, let me know if this is an upgrade from an old version.

[2022-10-14 11:53] pmacik commented on #1272
@Bloom-P There has been a problem with SBO's operator image in the registry and so the SBO's pod could not pull the operator image and so the Deployment failed to deploy.

However, that has been fixed recently and so you should be able to install SBO 1.3.0 now.

Please let me know if your problem persists. Thank you.

[2022-10-20 06:56] Bloom-P commented on #1272
@baijum @pmacik, the issue is now resolved.
Thanks for your help.

[2022-10-20 06:56] #1272 closed

[2022-11-10 13:13] baijum commented on #1082
We have published a blog series:

- Part 1: https://developers.redhat.com/articles/2022/11/10/set-openshift-cluster-deploy-application-odo-cli#
- Part 2: https://developers.redhat.com/articles/2022/11/10/implement-restapi-application-mongodb-using-sbo#

Closing!

[2022-11-10 13:13] #1082 closed

[2022-11-11 09:07] baijum commented on #1256
Instead of using labels to identify a Provisioned Service, we have implemented a different approach in PR #1270.
Detect bindable resources (Provisioned Service) are identified based on the status attribute in the resource.

[2022-11-11 09:07] #1256 closed