[2019-07-12 10:50] pmacik opened #63 "ServiceBindingRequest CR requires both resourceName and resourceKind despite CRD spec"
# Steps to reproduce

Check the current version of the application...

[code]
... and check for the `envFrom` presence...
[code]
...nothing, which is expected.

So the current version is `9`. Then, after applying the `ServiceBindingRequest` I'd expect that to be `10` (which would indicate that the DC was updated by the operator).

Now, apply `ServiceBindingRequest` according to the [CRD](https://g

[2019-07-12 10:58] pmacik commented on #63
Resources Used:
* Service Binidng Operator Source:
[code]
* DB Operator Source:
[code]
Installed version:
[code]

[2019-07-12 11:12] pmacik commented on #63
Manually checking the CRD actually installed in the cluster...
[code]
... explainst the error in *Variant N` - but would mean that the CRD installed is not the one found in the repo.

But the original issue still remains - both `resourceKind` and `resourceName` are needed despite CRD.

[2019-07-12 12:23] sbose78 commented on #63
`resourceName: postgresql.baiju.dev` This field should not be supported at all. `resourceKind` should suffice @otaviof @Avni-Sharma

[2019-07-12 12:56] sbose78 commented on #63
Why not use `postgresql.baiju.dev/Database` in `resourceKind` , just like `oc get postgresql.baiju.dev/Database`?

[2019-07-12 13:05] sbose78 commented on #63
[code]

[code]

[2019-07-12 21:25] ldimaggi opened #65 "It would be more flexible (for testing, etc.) if the container image was not hardcoded"
For reference - in the Service Binding Operator:
[code]
For comparison - in the DB operator that we used for the demo:
[code]

[2019-07-15 07:56] Avni-Sharma opened #66 "The CR.yaml is on v1alpha1 and CRD.yaml is on v1beta1"
The CR and CRD yamls have v1alpha1 and v1beta1 respectively. I suppose it should be the same.
Ref Links -
[1] - https://github.com/redhat-developer/service-binding-operator/blob/master/deploy/crds/apps_v1alpha1_servicebindingrequest_cr.yaml
[2] - https://github.com/redhat-developer/service-binding-operator/blob/master/deploy/crds/apps_v1alpha1_servicebindingrequest_crd.yaml

[2019-07-15 08:03] baijum commented on #66
I can see `v1aplha1` in both files: https://github.com/redhat-developer/service-binding-operator/blob/5f24c864f5f50e0c35f95514c4f202d53ef26be9/deploy/crds/apps_v1alpha1_servicebindingrequest_crd.yaml#L78

[2019-07-15 08:39] #66 closed

[2019-07-15 09:12] baijum commented on #63
The `resourceName` in CSV has the FQDN for the CR:
https://github.com/baijum/postgresql-operator/blob/472e9f6f747d7c042d8c81371f750204d489d841/manifests/0.0.4/postgresql-operator.v0.0.4.clusterserviceversion.yaml#L130

[2019-07-15 14:45] sbose78 commented on #63
tracked in https://jira.coreos.com/browse/ODC-1318

[2019-07-16 16:28] sbose78 opened #68 "Feedback: Is it acceptable to trigger a re-deployment?"

[2019-07-16 16:29] sbose78 opened #69 "Feedback: Order of ServiceBindingRequest reconcile"
The application objects may not have been created when the operator-backed database is created. In such a scenario how do we handle the controller reconcile process?

[2019-07-16 16:30] sbose78 opened #70 "Backing service operator manages/creates credentials in Vault"
**Scenario**
There's a PostgreSQL operator whose controller writes the database credentials in Vault.

Our service binding controller needs to be able to read the credentials from Vault and create the intermediate secret out of it. In this case, the secret gets stored in a decrypted way in etcd. The use case of not sync'ing the credentials into an intermediate secret is logged in #74

**Questions*

[2019-07-16 16:51] sbose78 opened #71 "Feedback: Separate environment specific information"
"Deployment Environment Configuration - How to cleanly separate environment configuration from application so that I can deploy a single container to multiple environments such as test, stage and production."

[2019-07-16 17:40] sbose78 opened #73 "Feedback: How do we handle external services"
..the way Service Catalog did with external services like AWS.

[2019-07-17 03:47] sbose78 opened #74 "Backing service operator's credentials managed in vault, and intermediate secret NOT to be created"
**Scenario**
There's a PostgreSQL operator whose controller writes the database credentials to Vault.

Our service binding controller needs to be able to bind the imported app with the credentials **without** writing the secret into a Kuberntes `secret` object ( ie, etcd ).

**Possible Solution:**

The service binding operator depends on the banzai/vault operator to add annotations such that the b

[2019-07-17 03:54] sbose78 opened #75 "Have the ServiceBindingOperator store DB credentials in vault"
The ServiceBindingRequest operator could run it's own Vault server (managed by the Banzai/vault operator ) where it would 'store' credentials for backing services after picking it up from the backing service CR's status/spec/secret .

As per [1],
The service binding controller could then add the required annotations in the `DeploymentConfig` and depend on banzai/vault operator to react to it, and

[2019-07-17 04:21] sbose78 commented on #73
As long as the external services are operator managed, they are no different than a service residing on the cluster.

[2019-07-17 13:06] pmacik opened #78 "Prepare repo for the OpenShift Automated Release Build"
The repository needs to be prepared for the OpenShift Automater Release Tools (ART) Build process according to [ART requirements](https://mojo.redhat.com/docs/DOC-1179058#jive_content_id_Request_Addition_to_ART_Build_System)

This is a requirement for adding the Service binding operator to the OpenShift ART Build System covered by https://jira.coreos.com/browse/ART-782

[2019-07-17 13:06] pmacik commented on #78
/assign pmacik

[2019-07-17 13:34] #78 closed

[2019-07-17 14:07] sbose78 commented on #75
From @otaviof :
Allow use of existing/external vault servers. (Shoubhik): Use `managed`: true|false

[2019-07-19 16:27] jorgemoralespou opened #81 "Map param names from service's secret to deployment"
We need a way to map param names from producer side (the service secret) to consumer side (the application).

Let me walk through an example, using the current model in the ServiceCatalog, but should be good starting point for describing the problem I see.

[MongoDB template](https://github.com/openshift/library/blob/master/official/mariadb/templates/mariadb-ephemeral.json) has 2 set of generated

[2019-07-22 04:43] sbose78 commented on #81
+1
We need this. This will be triaged and prioritized.

[2019-07-23 20:24] sbose78 commented on #63
I had to use the following to get it working:

[code]

[2019-07-23 20:25] sbose78 commented on #63
Instead of that, I was hoping we should be able to use

`resourceKind: databases.postgresql.baiju.dev`

https://github.com/baijum/postgresql-operator/blob/472e9f6f747d7c042d8c81371f750204d489d841/manifests/0.0.4/postgresql-operator.v0.0.4.clusterserviceversion.yaml#L130

[2019-07-24 05:20] baijum commented on #63
The current implementation does that. My previous comment here pointed out the same thing.

[2019-07-24 12:54] ron1 opened #86 "Feedback: Provide more complex example w/TLS-based auth and User CRD"
Backing Service operators like https://operatorhub.io/operator/strimzi-kafka-operator and https://operatorhub.io/operator/mongodb-enterprise support TLS-based authentication (SCRAM-SHA over TLS, TLS mutual authentication, etc.) and support individual User CRs (kafka.strimzi.io/v1beta1 - KafkaUser, mongodb.com/v1 - MongoDBUser) that are distinct from the Backing Service CR.

When TLS-based authenti

[2019-07-25 03:01] baijum commented on #86
We have a PR opened to add volume mount: #83

[2019-07-25 14:19] ron1 opened #88 "Feedback: Enhance ServiceBindingRequest to support simple secret transforms"
Often, the secret generated by the service-binding-operator based on the backing service CRD annotations requires transformation before it is usable by the client application. The Service Catalog ServiceBinding (https://svc-cat.io/docs/resources/#servicebinding) and the KubeDB AppBinding (https://github.com/kmodules/custom-resources/blob/711575c0b8a9fda8169c1035048558f5bb1fe91c/apis/appcatalog/v1a

[2019-07-25 21:20] sbose78 commented on #81
Being implemented in https://jira.coreos.com/browse/ODC-1422

[2019-07-27 03:21] ron1 commented on #81
Is this related to https://github.com/redhat-developer/service-binding-operator/issues/88?

[2019-07-29 01:46] ron1 opened #89 "Feedback: Make ApplicationSelector optional to support Client App Operators which use ServiceBindingRequest Status Secret directly"
A client app operator that implements complex secret transforms such as converting an elastic-cloud operator Elasticsearch http server pem-formatted CA into a JKS truststore or builds a strimzi-kafka-operator Kafka consumer properties file based on multiple annotated backing service properties, will likely want to directly use the ServiceBindingRequest Status Secret as its complex secret transform

[2019-07-30 17:46] DhritiShikhar opened #94 "`make local` fails with `resourceKind` required error"
[code]

[2019-07-30 19:05] #94 closed

[2019-07-31 02:44] ron1 opened #96 "Feedback: Generalize BackingServiceSelector to select multiple resources including OLM-annotated CRs as well as ConfigMaps and Secrets"
Backing service operators such as mongodb-enterprise-operator and strimzi-kafka-operator have distinct CRs for the service itself and its individual users. In order for an application to bind to such services as a specific user, the ServiceBindingRequest backingServiceSelector should support the selection of multiple CRs, in this case a service CR and a specific user CR. The OLM annotations associ

[2019-07-31 08:28] otaviof commented on #96
@ron1 thanks for the feedback, that's a use-case that we haven't dealt with. And we might need to change the approach to mimic `kubectl`, on checking first the resources from the API Server, and only then search for backing-service related CR.

[2019-08-01 11:11] ron1 commented on #96
As part of such a change, would it make sense to rename backingServiceSelector to the more generalized backingServiceResourcesSelector?

Do you have any comments about also supporting ConfigMaps and Secrets as backing service resources that could be selected by a backingServiceResourcesSelector?

Finally, do you have any comments about the feedback I provided in issues https://github.com/redhat-de

[2019-08-09 13:09] ron1 opened #106 "Use consistent names for operator and operator container image"
The name "service-binding-operator" is used consistently within the project except for the container image name. Rename container image name "app-binding-operator" to "service-binding-operator" to eliminate confusion.

[2019-08-09 16:56] sbose78 commented on #106
:) The name had got taken and wasn't available :(

[2019-08-09 17:54] ron1 commented on #106
Would it make more sense to rename "service-binding-operator" and "ServiceBindingRequest" to "app-binding-operator" and "AppBindingRequest"? Or rename the image to "svc-binding-operator"? The current naming inconsistency seems really problematic if you broaden adoption moving forward.

[2019-08-12 01:54] ron1 opened #112 "Feedback: Handle Backing Services whose CRs link to Secrets/ConfigMaps using CR name-based conventions"
Backing services such as the ElasticSearch elastic-cloud operator (https://github.com/operator-framework/community-operators/tree/master/upstream-community-operators/elastic-cloud) have a CR that links to Secrets/ConfigMaps using the CR name as a common prefix. As described here: https://www.elastic.co/guide/en/cloud-on-k8s/master/k8s-accessing-elastic-services.html#k8s-request-elasticsearch-endpo

[2019-08-12 09:37] ron1 commented on #89
The Client App Operator will likely want to the secret mounted to its own deployment, So, simply let the ApplicationSelector reference the Deployment of the Client App Operator itself.

[2019-08-12 09:37] #89 closed

[2019-08-12 13:48] sbose78 commented on #86
Thank you @ron1 !

If the backing service operator controller _puts_ the certs in a secret and is annotated as `urn:alm:descriptor:servicebinding:volumemount:secret:ca.crt`, the binding controller could mount it:

[code]

Note, there's an option for a mount path prefix, which defaults to `/var/data`

[code]

( @pmacik , please add this to the scenario list. )

[2019-08-12 13:52] sbose78 commented on #88
You are spot on @ron1 ! Not being able to use the binding information in a 'custom' environment variable name frustrated me as well :)

Avni is working on supporting this:
[code]

If the binding request has custom variables like the above, they would be parsed, composed and injected.

https://github.com/redhat-developer/service-binding-operator/pull/102

[2019-08-12 14:01] ron1 commented on #86
Yes, secret volume mounting and the mountPathPrefix address the first part of this issue. It sounds like the second part is a WIP captured in issue https://github.com/redhat-developer/service-binding-operator/issues/96. Do you agree?

[2019-08-12 14:50] ron1 commented on #88
The syntax you provided addresses the simple envvar-based transform use case. Does this syntax also support key/value transforms for mounted secrets? A challenging use case here is to add a key to the intermediate secret whose value is the contents of a Kafka consumer.properties file. The example below is extracted from blog: https://www.confluent.io/blog/apache-kafka-security-authorization-authen

[2019-08-15 04:00] sbose78 commented on #112
Agreed, that's my stand as well :)

@ron1  , Are you suggesting that if there's a configmap/secret that is _owned_ by the CR and uses the same naming convention, we consume that as 'interesting to bind' as well - irrespective of whether annotations were added for such objects in the csv?

[2019-08-15 04:01] sbose78 commented on #106
I really like both the options, I will consider them in this sprint and update this issue. Thanks!

[2019-08-15 04:10] sbose78 commented on #89
Agreed!

[2019-08-15 04:18] sbose78 commented on #106
Are you OK with this, given that AppsCode already has an app binding CRD ? :)

[2019-08-15 07:34] ron1 commented on #106
Clearly there would be some confusion between the AppsCode AppBinding CRD and your AppBindingRequest CRD. But this seems no worse than the confusion between the Service Catalog ServiceBinding CRD and your current ServiceBindingRequest CRD. If you change the operator name from service-binding-operator to app-binding-operator, am I correct you would rename "service-binding" to "app-binding" globally

[2019-08-15 20:55] ron1 commented on #112
How would interesting configmaps/secrets be identified for annotation in the CVS? No path exists from the CR since the link is via naming convention.

[2019-08-20 10:41] pmacik commented on #63
This is no longer an issue since https://github.com/redhat-developer/service-binding-operator/pull/123 and https://github.com/redhat-developer/service-binding-operator/pull/124.
Closing

[2019-08-20 10:41] #63 closed

[2019-08-21 09:25] akashshinde opened #135 "Feature: There is need to have short name for ServiceBindingRequest while listing resource using oc or kubectl"
**Why**
Currently to get resources we need to do
`oc get servicebindingrequest`

instead of writing complete servicebindingrequest word, we should be able to use short names such as
`oc get sbr`
or
`oc get sbrs`

[2019-08-21 10:26] akashshinde opened #138 "Bug: Re-queue reconcile request if binder doesn't find any resource to bind."

[2019-08-21 18:59] sbose78 opened #142 "How do we watch CRs which are registered post SBR operator install?"
To 'manage' the binding, we _could_ watch changes to the "BackingService" CR. However, watches are added at the controller boot time - and you can't anticipate what is to be added.

If you did anticipate ( from the OperatorSource ) or some static list, you still wouldn't be able to do a

[code]

This would return an error:
[code]

Unless the CRD was installed before the ServiceBindingRequest opera

[2019-08-21 19:03] sbose78 commented on #142
@isutton @ron1 @otaviof

[2019-08-21 19:48] ron1 commented on #142
I suspect the service-binding-operator should restart itself when it discovers that one of its SBR CRs has a BackingService CRD that it does not recognize. It seems reasonable to treat this as an error condition and terminate, allowing its managing Deployment to restart it. You might want to ask the question at https://groups.google.com/forum/#!forum/operator-framework. I suspect this issue is not

[2019-08-21 19:50] sbose78 commented on #142
It would probably be able to talk to it. But it wouldn't have a `watch` on it since watches need prior registration. :)

Any idea how to terminate a controller pod so that a new one rises ?

[2019-08-21 19:52] ldimaggi commented on #142
Is it constantly polling for new/unrecognized CRDs? At what time intervals? Thx!

[2019-08-21 19:54] sbose78 commented on #142
@ldimaggi , No on receipt of a ServiceBindingRequest, the controller might need to watch the new Backing Service CR

[2019-08-21 21:27] otaviof commented on #142
@ron1 I like the approach you suggest with terminate the controller when an unrecognized CR has pop up.

@sbose78 in this case, we expect k8s itself to bring back the operator pod, so from the code-base we only need to `exit`

[2019-08-21 22:03] otaviof commented on #142
@sbose78 We also need to remember that before watching a GVK/GVR a `ServiceBindingRequest` must have been successful. In other words, the `SBR` must have found the GVK/GVR to make the operation happen, and therefore, when we start watching for GVK/GVRs is logical to expect that they will exist.
So, in the case of watching over specific resource types, do you think that's a valid assumption to work

[2019-08-21 22:06] sbose78 commented on #142
Yes!

yes!

[2019-08-22 04:35] sbose78 commented on #142
Hi @otaviof @ron1  @ldimaggi  and @isutton  I've implemented the "dynamically watch more CRDs" - could you please review ?  #144

Note: It needs general cleanup but I've tested the functionality.

[2019-08-22 15:06] ldimaggi commented on #69
The order of creation in the basic demo/scenario has been:
Application, Backing Service, and Service Binding Request

It should be possible to create these in any order.

[2019-08-23 03:36] sbose78 opened #147 "Trigger rebinding if the BackingServiceCR-owned secret/configmap changes"
### Description

A BackingService like a Database managed by a Database CR might own a secret or a configmap which stores credentials or connection information on how to connect to the database.

### What does a BackingService CR owned object imply ?

By "Database CR **owning** a secret", it is implied that the secret or configmap has an **ownerReferences** containing the details of the Database C

[2019-08-23 03:55] sbose78 opened #148 "Trigger re-binding if the BackingService CR's "associated" secret changes"
### Description

A BackingService like a Database managed by a Database CR might _use_/_refer to_ a `secret` or a `configmap` which stores credentials or connection information on how to connect to the database. When such objects change, a rebinding ( "reconcile" ) should be triggered.

### What does a BackingService CR associated object imply ?

By "Database CR being **associated** with a secret"

[2019-08-23 03:57] sbose78 commented on #147
Partially done in https://github.com/redhat-developer/service-binding-operator/pull/126

[2019-08-23 05:26] sbose78 commented on #106
Yes.

Agreed. That is partially a goal. To move folks into binding to operator-backed services rather than service catalog services :)

[2019-08-23 05:30] sbose78 commented on #96
It actually does. Wondering if we could use a shorter name as well?

Typically, would you expect that everything in one or more such resources would be managed in binding secret, and everything in the configmap/secret would be be _bound_ . Furthermore, in simplistic terms, would it help support binding to a route/service/deployment as well ? If someone tries to bind to a deployment, we look up for

[2019-08-23 06:16] sbose78 commented on #112
I really like the idea - let me think over it and come up with an end to end picture of this.

[2019-08-23 18:00] sbose78 opened #150 "Express what is interesting for binding in the CRD (openapi validation spec?) itself"
Public clone of https://jira.coreos.com/browse/APPSVC-45

"The current approach in service-binding-request is on OLM (Operator Life-cycle Manager) to recognize which fields are necessary to bind one application to another. However, we would like to support virtually all operators in Kubernetes, and therefore we would like to explore Kubernetes objects specification using OpenAPI.

Acceptance Crite

[2019-08-23 18:00] sbose78 commented on #150
@ron1 @isutton , thoughts?

[2019-08-23 20:24] ldimaggi opened #151 "Is it possible to not display the ServiceBindingRequest tab until after one has been created?"
If a user installs the Service Binding Operator, in the console UI a tab for Service Binding Requests is visible - if a binding request has not been created, a 404 error is presented to the user:

![Screenshot from 2019-08-23 16-14-39](https://user-images.githubusercontent.com/642621/63621652-7ba13300-c5c2-11e9-8b7a-c436cc7e57f5.png)

The error makes sense - but it may cause user confusion.

[2019-08-24 03:46] ron1 commented on #150
@sbose78 I think use of OpenAPI schema is preferred over OLM. However, I think the more pressing issue is how will the service-binding-operator support the majority of backing services currently on OperatorHub.io without requiring that the backing service be re-written such that all binding-relevant resources are referenced from its single CRD. As previously reported, many non-trivial backing serv

[2019-08-26 16:01] akashshinde opened #154 "Proposal: Add Post-Retrieve Hooks"
# Add Post-Retrieve Hooks

Prepared by: Akash Shinde(akshinde@redhat.com), Avni Sharma(avsharma@redhat.com)

## Abstract

This proposal aims to add support for custom hooks which would get executed before storing bindable variables in Secret.

## Motivation
There are use cases where we would need to update/process bindable variable and then store back to secrets.
One such a usecase we are going th

[2019-08-26 16:22] akashshinde commented on #154
@sbose78 basically you would get `retriever` instance to each and every hook which can perform any operation such as
1. Altering environment variables before storing it to secret.
2. Since you get access to `retriever` you will have kube-connected rest client as well, so basically you can make any k8s resource.

[2019-08-26 16:48] akashshinde commented on #154
`retriever` is being shared by all the hooks, so here we need to make sure one `Run()` doesn't disturb the `retriever`. It just should do it's work and write data without tampering the existing one
and then `retriever` gets passed down to next `Hook` and so on.

[2019-08-27 06:41] otaviof commented on #154
Interesting design with post-retrieve hooks, good work folks! I wonder if instead of trying to employ post-retrieve hooks straight away, if we could tackle this situation by introducing a new component that Retrieve could interact with, and furthermore, a component that would be passed along in the reconcile workflow.

Therefore, if we talk about the basic elements of this new component, I would s

[2019-08-27 08:53] isutton commented on #154
I have some questions:

1. What actions is expected for hook developers to perform on `Retriever` to justify it being an argument?
2. Since `hooks` is a slice, I expect one would declare hooks the same way as predicates, and also be able to chain them (pretty much the same sense as in a middle ware). Did you predict this use case in your initial design?

[2019-08-27 09:11] isutton commented on #154
This seems the next sensible decomposition of `Retriever`, and is in line with https://github.com/redhat-developer/service-binding-operator/pull/155 to solve _this particular issue_.

Just to clarify my view point and get into a baseline, my interpretation of a hook is a piece of code that might wrap a functionality adding behavior _before_ or _after_ the execution of the _main business logic_, wh

[2019-08-28 12:12] #135 closed

[2019-08-28 18:24] #148 closed

[2019-08-28 21:46] #147 closed

[2019-08-29 07:00] ron1 opened #160 "Consolidate application object updates from different SBRs"
I have an application that binds to numerous backing services. Assume the SBRs for this application are created in succession from a single YAML file. Especially when initially deploying this application, it would be most efficient if the application object updates from the different SBRs were consolidated into a single update. In the service-binding-operator SBR reconciliation loop, consider sort

[2019-08-29 08:44] DhritiShikhar commented on #160
@ron1 +1 This is an efficient approach.

[2019-08-29 19:08] ldimaggi commented on #160
That would help in avoiding cascading updates - good suggestion!

[2019-08-30 02:55] ron1 commented on #96
How about backingSvcResSelectors?

Yes. In the corresponding preSecretAggregation transforms, removeKey transforms could be used to filter out irrelevant keys from the generated secret.

Not sure I completely understand the current behavior. Would you describe it in a bit more detail?

[2019-08-30 05:33] isutton commented on #96
Wouldn't `resourceSelector` be enough in this case?

[2019-09-02 11:27] ron1 commented on #96
I envisioned the only selectable resources being OLM-annotated CRDs, ConfigMaps, and Secrets. All of these present as simple key-value structures which dramatically simplifies the aggregations and transformations needed to generate a final binding secret.

Sure, resourceSelectors plural works.

[2019-09-02 12:08] isutton commented on #96
Wouldn't be the case that, ultimately, any document is a simple key-value structured with paths instead of keys? If this is indeed true, then what do you see as benefit on limiting the scope with those object types only?

[2019-09-02 12:52] ron1 commented on #96
@isutton OLM-annotations handle the mapping to keys for CRDs. ConfigMaps and Secrets require no mapping. Introducing an additional mechanism to map source resource paths to secret keys adds extra complexity. Most binding use cases of which I am aware can be implemented using only CRs, ConfigMaps, and Secrets. If OLM annotations are the preferred mapping method, why introduce an additional path-bas

[2019-09-03 05:18] #138 closed

[2019-09-06 14:15] #142 closed

[2019-09-06 14:26] sbose78 opened #172 "Add support for custom volume mounts"
Internal https://jira.coreos.com/browse/APPSVC-11

[2019-09-06 14:32] sbose78 commented on #70
@ron1 any thoughts on these vault related issues https://github.com/redhat-developer/service-binding-operator/pull/159/files ?

[2019-09-09 01:44] ron1 commented on #112
@sbose78 As described here (https://github.com/redhat-developer/service-binding-operator/pull/159#discussion_r321761887), I agree it makes sense for the operator to support binding to backing services that do not have OLM Annotations. I have revised my proposed POC accordingly. The revised schema is simpler and introduces the ability to transform resources that are not Secrets. The sample also inc

[2019-09-09 14:55] sbose78 commented on #150
Yes, this is exactly what we plan to do. We've presented at the commons meeting already. We'll work with the enablement teams to get to real operator authors. The toy operators are reference implementations.

Yes, zero code change is the goal.

Yes, ( I'm guilty of being slow to process your feedback, but I do process it :) ). Along with #112 ,  I'm trying to come up with a design where we wouldn'

[2019-09-10 01:54] ron1 commented on #150
@sbose78 Thanks for your response.

Binding a lot of things which were not explicitly specified - and that could end up binding some noise as well?
Or,
Only bind stuff that has been explicitly marked as interesting for binding.

I updated the POC here https://github.com/redhat-developer/service-binding-operator/issues/112#issuecomment-529271134 to eliminate its dependency on OLM Annotations, provi

[2019-09-10 03:30] DhritiShikhar commented on #112
Hey @ron1  just curious, why do we have an action associated with the keys like - add, remove, rename?

Why couldn't it be something simple like
- key:
    JSONPath
- key:
    Value

[2019-09-10 04:13] ron1 commented on #112
@DhritiShikhar When the source resource is a ConfigMap or Secret, it seems convenient to auto-add its keys/values to the target Secret as part of the transform. The remove action allows uninteresting keys to easily be excluded from the target Secret. The rename action allows misnamed keys to be easily renamed. Also, use of this terminology seems to make sense since it is already familiar to users

[2019-09-10 17:21] ron1 commented on #112
Since using jsonPathExpressions to identify interesting binding fields is somewhat orthogonal to using OLM Annotations for the same purpose, I'm wondering if it would make more sense with this approach to instead use OLM Annotations to document example ServiceBindingRequest custom resources. For backing services like Kafka, the bindings for a Java client will likely look different from the binding

[2019-09-25 12:19] akashshinde opened #182 "Discussion: Filter out fields from Service, Route resources for binding"
This is a discussion thread to determine list of fields to extract from `Service` or `Route` yaml
for binding where binding annotations aren't available in OLM/CRD.

Related to https://jira.coreos.com/browse/APPSVC-115

Below are the sample yamls of `Service` and `Route` for reference.

**1. Service yaml**

[code]
_Fields for binding_

- [x] spec.clusterIP
- [ ] spec.ports.name
- [ ] spec.ports.po

[2019-10-02 10:22] pmacik opened #187 "CRD is missing resourceRef in the applicationSelector"
The [`resourceRef`](https://github.com/redhat-developer/service-binding-operator/blob/61f688a71f3a9664e517c78e0fa28bc2187028a6/pkg/apis/apps/v1alpha1/servicebindingrequest_types.go#L72) field is part of the `applicationSelector` API but it is missing in the either of the CRDs:
* https://github.com/redhat-developer/service-binding-operator/blob/61f688a71f3a9664e517c78e0fa28bc2187028a6/deploy/crds/a

[2019-10-02 10:38] pmacik opened #188 "matchLabels in applicationSelector should not be required if using resourceRef instead"
If I want to use the `resourceRef` instead of `matchLabels` in the `applicationSelector` which should be possible according to the operator's behavior:

* https://github.com/redhat-developer/service-binding-operator/blob/61f688a71f3a9664e517c78e0fa28bc2187028a6/pkg/controller/servicebindingrequest/binder.go#L51
* https://github.com/redhat-developer/service-binding-operator/blob/61f688a71f3a9664e51

[2019-10-02 10:45] pmacik commented on #188
Related to #187, too.

[2019-10-04 00:16] akashshinde opened #191 "Can we have colorised labels for this repo ?"

[2019-10-08 01:11] syedriko opened #196 "Feedback: what exactly is the contract between a bindable service operator and an application?"
As a first timer, I read the README.md in the root of the repository and the READMEs for the examples, but I didn't understand how exactly the application was getting bound to its service.

What I would like to have is a normative reference to the contract between the bindable service operator and the application. I'm sure that info is out there, it's just not obviously presented.

Additionally, i

[2019-10-17 15:42] pmacik opened #210 "The operator does not reconcile (do not watch) on the intermediate secret"
When a Backing service is bound with an Application by the operator an intermediate secret is used to store all the binding values that are injected into the Application.

When this intermediate secret's data is modified the operator is expected to detect this, reconcile and revert the intermediate secret back.

That is actually not happening - when the intermediate secret is modified, the operato

[2019-10-17 15:45] pmacik commented on #210
/cc @ldimaggi @otaviof @Avni-Sharma

[2019-10-21 08:10] DhritiShikhar commented on #187
@pmacik `resourceRef` is present under `deploy/` directory CRD. Please refer -> https://github.com/redhat-developer/service-binding-operator/blob/master/deploy/crds/apps_v1alpha1_servicebindingrequest_crd.yaml#L65

And this is the PR to add `resourceRef` in manifest CRD -> https://github.com/redhat-developer/service-binding-operator/pull/211

[2019-10-21 09:38] #187 closed

[2019-10-21 10:54] #188 closed

[2019-10-24 11:59] akashshinde opened #222 "Feature: Add support of adding configmap name dynamically."
### What is currently supported
[code]
Here 'dbConfig' is the hard coded configmap name.

### What should be supported
I have came across one scenario where above configmap name(dbConfigMap) gets dynamically generated.
### Operator Used
Cruncydata's Postgres operator -
**OperatorHub** - https://operatorhub.io/operator/postgresql
**Github URL** - https://github.com/CrunchyData/postgres-operator

Th

[2019-10-24 12:22] sbose78 commented on #222
Sorry, I didn't get what the request exactly is. Are you saying that we should detect resources prefixed by th CR name?

[2019-10-24 12:44] isutton commented on #222
I'm not sure whether having a dynamic placeholder in there is what we want, but I'm still intrigued.

What do you mean by "gets dynamically generated"? Can you give another example?

My take on this is that, I believe at the time the ServiceBindingRequest author gets to write the manifest, the generated secret has already been created by the operator. Whenever the application changes, by requiring

[2019-10-24 18:49] sbose78 opened #223 "Binding fails when applicationSelector uses resourceRef"
The following SBR exposed the issue:

[code]

The binding fails because of the following error:
[code]

Reason:

The fieldSelector should be `metadata.name` instead of `name`.

https://github.com/redhat-developer/service-binding-operator/blob/212b74be527e5f2dd419ec1b0a3bbe30b3e6ff71/pkg/controller/servicebindingrequest/binder.go#L57

[2019-10-24 20:04] ron1 opened #225 "Add operator to OperatorHub.io Kubernetes upstream-community-operators"
Consider making the service-binding-operator available to the upstream Kubernetes community as well as the OpenShift community by adding the operator to the operator-framework/upstream-community-operators.

[2019-10-24 21:42] sbose78 commented on #225
Yes!
Getting there https://github.com/operator-framework/community-operators/pull/797

[2019-10-25 02:46] #223 closed

[2019-10-30 06:18] akashshinde opened #227 "Question: Can we use resourceRef to select application instead of matchLabels ?"
Since UI topology view would have direct access of the application DC, we can use `resourceRef` instead of `matchLabels`

What are your thoughts @sbose78 @otaviof ?

Below is the SBR request created by devconsole UI internally
[code]

UI SBR PR: https://github.com/openshift/console/pull/3065/files#diff-5c764acb551787fd095fe2442835a25bR4

[2019-10-30 07:33] DhritiShikhar commented on #227
Ideally, the output of both the methods - `resourceRef` and `matchLabels` should be the same.
So, we **CAN** use `resourceRef` to select application instead of matchLabels.

Also, I would like to highlight that the code is written in a way that we look for presence of `resoureRef` first -> https://github.com/redhat-developer/service-binding-operator/blob/master/pkg/controller/servicebindingrequest

[2019-10-30 08:12] akashshinde commented on #227
closing this issue since this is already been handled.

[2019-10-30 08:12] #227 closed

[2019-10-30 14:23] pmacik commented on #210
Found the problem!

https://github.com/redhat-developer/service-binding-operator/blob/master/pkg/controller/servicebindingrequest/sbrcontroller.go#L36

The problem is the default update predicate for the watch:

[code]

it only reconciles when the `metadata.generation` changes which NEVER happens in the case of the `Secret` objects.

Those objects do not have the generation field in metadata, whic

[2019-11-04 16:07] #210 closed

[2019-11-06 08:28] pmacik opened #234 "Infinite loop while waiting for bound application to be available when binidng request is created first."
When `ServiceBindingRequest` is created first and then the application `Deployment` the operator keeps updating the `Deployment` and reconciling over and over again.

The `scenario-2` of the `test/e2e/servicebindingrequest_test.go` e2e test shows that by timing out waiting for the application. The `Deployment` development over time is shown [here](https://gist.github.com/pmacik/ee8089c4f31b3596f2e

[2019-11-06 09:35] pmacik commented on #234
According to the [event log](https://gist.github.com/pmacik/ee8089c4f31b3596f2ea596f63cc5611#file-events-log) the Pod is being created and deleted constantly

[2019-11-06 10:02] pmacik commented on #234
@otaviof @sbose78 Shouldn't the application objects (such as the Deployment) be annotated with SBR annotations, as well as the backing service CRs?

I don't see the annotations on the application's `Deployment` while it is set on the `Database` (backing service CR)

[2019-11-06 10:06] pmacik commented on #234
Wouldn't the annotations set on the `Deployment` stop the loop?

[2019-11-06 10:14] isutton commented on #234
@pmacik at some point the update of the deployment with the labels was removed because OLM was the primary focus.

[2019-11-06 10:15] sbose78 commented on #234
Curious, why do you think the annotation would stop the infinite loop? Is something waiting on the annotation?

We removed setting the annotation because trying to do so was causing an error, which was going into an infinite loop.

https://github.com/redhat-developer/service-binding-operator/pull/179

As far as I understood, the annotation on the Deployment would be needed if we are watching the D

[2019-11-06 10:27] pmacik commented on #234
I asked, in general terms... Ok, got it... Thanks for clarifying.

However, something still causes the issue.

[2019-11-07 11:57] isutton commented on #234
I believe one of the reasons the Pods are being recreated is in this line:

https://github.com/redhat-developer/service-binding-operator/blob/master/pkg/controller/servicebindingrequest/binder.go#L248-L248

The fact that every SBR reconciliation is producing a different value, it means that in case of a Deployment update, a new replica would be created. It is likely that if the value was stable at

[2019-11-12 08:51] akashshinde opened #238 "[Feature]: Add extra failure messages in status"
We need to consider adding failure message in `SBR` status field, since It would help to debug the issue as well as show error message on devconsole UI.

[2019-11-14 09:24] DhritiShikhar opened #244 "End to End test fails with error `Intermediary secret contents are invalid`"
[code]

[2019-11-14 09:25] DhritiShikhar commented on #244
/assign @isutton

[2019-11-20 10:14] isutton commented on #244
I ran the e2e tests from my branch and it works locally (using CRC 1.1.0 on Linux), but fails on arbitrary tests when executed by prow.

It seems there's a race condition, but I'm tempted to say there's nothing unusual code-wise. The only hypothesis I have is another SBO instance might be running on the same namespace, since different tests fail in different e2e tests executions. The hint is the u

[2019-11-20 11:48] pmacik commented on #244
@isutton You can look for hints by checking the prow job archived artifacts (e.g. https://gcsweb-ci.svc.ci.openshift.org/gcs/origin-ci-test/pr-logs/pull/redhat-developer_service-binding-operator/249/pull-ci-redhat-developer-service-binding-operator-master-e2e/844/artifacts/e2e/)

[2019-11-20 12:33] isutton commented on #244
Thanks for the useful link! Now I noticed I can reach the same using the "Artifacts" link in the PR's dashboard, very useful.

[2019-11-20 21:35] ldimaggi opened #255 "Example applications' ServiceBindingRequests require updates"
The references to labels should be replaced with ResourceRef's as provided here:

https://github.com/redhat-developer/service-binding-operator/pull/173

[2019-11-21 07:36] DhritiShikhar commented on #255
@ldimaggi Thanks for creating an issue for this. I will take this up.

/assign @DhritiShikhar

[2019-11-25 16:38] ldimaggi commented on #255
See:  https://github.com/redhat-developer/service-binding-operator/pull/259

Other changes were needed too, in order to stay in sync with OpenShift 4.3

[2019-11-26 09:41] isutton commented on #238
We should use the already existing `status.conditions` convention for this.

[2019-11-26 14:37] ldimaggi opened #261 "Service Binding Operator is in Operatorhub - but it is not listed in a category"
The Service Binding Operator is now in the local Operatorhub - https://console-openshift-console.apps.clustername.devcluster.openshift.com/operatorhub/ns/openshift-operators - but it is not included in the "other" category.

The only way a user can find it is to filter on all operators:
![Screenshot from 2019-11-26 09-34-00](https://user-images.githubusercontent.com/642621/69642768-488e9580-1030-1

[2019-11-27 11:59] #244 closed

[2019-12-02 23:31] pdettori opened #264 "Double base64 encoding for customEnvVar retrieved from a secret"
I am using the customEnvVar to retrieve some values from a secret that I want to inject into a DeploymentConfig with a specific name for the environment variables, as those are the names used in existing node.js code. My service binding request looks like:

[code]

Expected Result:
`LANGUAGE_TRANSLATOR_URL` and `LANGUAGE_TRANSLATOR_IAM_APIKEY` are present in the `binding-request` secret and the va

[2019-12-02 23:31] pdettori commented on #264
I have a PR that should fix the issue, I will open it shortly.

[2019-12-03 02:09] sbose78 commented on #264
That's an interesting issue, thanks for reporting it. Paolo, are you going to skip the second encoding in the PR ?

[2019-12-03 02:38] pdettori commented on #264
@sbose78, you are welcome. I submitted this PR https://github.com/redhat-developer/service-binding-operator/pull/265 to address the issue. Since the issue is with customEnvVars the idea is to check if any of the custom env vars are base 64 encoded and if they are, decode them, and leave at the end the base 64 encoding for all variables.

[2019-12-05 11:11] #264 closed

[2019-12-06 16:57] pdettori opened #270 "Backing Service CRD Annotation parsing error"
I am running the service binding operator from master (b0c9641574269f58b6126a406bace6a4b2c07afd on Dec 5) and using `make local` to run. When I try to run the example in `examples/nodejs_postgresql` I get the following error:

[code]

from what I can see the error originates in `olm.go`, in the following part of the code:

[code]

When I added some debugging print, I noticed that some strings have

[2019-12-06 18:31] sbose78 commented on #270
Let me check, Paolo.

[2019-12-06 19:04] pdettori opened #271 "Parsing error for service binding request"
I am running the service binding operator from master (b0c9641574269f58b6126a406bace6a4b2c07afd on Dec 5) and using `make local` to run. When I try to run the example in `examples/nodejs_postgresql` with the following service binding request:

[code]

 I get the following error:

[code]

it looks like it is complaining that there is no label selector and no customEnvVar, but my understanding is th

[2019-12-06 20:39] pdettori commented on #271
I tried to add those fields (`customEnvVar` `matchLabels`) and made some progress but now there is a new issue, which seems related to `customEnvVar` ... going to open a new issue for that.

[2019-12-06 20:45] pdettori opened #272 ""Error calling index" when using customEnvVar"
I am running the service binding operator from master (b0c9641574269f58b6126a406bace6a4b2c07afd on Dec 5) and using `make local` to run. When I try to run the example in `examples/nodejs_postgresql` with the following service binding request:

[code]

I get the following error:

[code]

[2019-12-06 20:52] pdettori commented on #272
the problem seems to happen in `custom_env_parser.go`, in

[code]

[2019-12-06 20:58] pdettori commented on #272
Seems like the content of the cache is not what expected, printing c.Cache as json provides:
[code]

[2019-12-06 21:00] pdettori commented on #272
if I go back to older commits for master, that specific error does not show up and printing the cache shows something that makes more sense:

[code]

[2019-12-08 22:39] isutton commented on #270
Thanks for raising  this issue, Paolo.

@sbose78 I'll create an internal task referring this issue to review and document the annotations' contracts we have in place; I believe it was changed but the examples haven't been updated.

@otaviof Do you think "example applications should be reviewed and updated accordingly" can and should be added in the Definition of Done document we've been discussing

[2019-12-09 06:03] #225 closed

[2019-12-10 07:20] isutton opened #276 "Include negative test to track error if user has bound the same backing service more than once"
This comment is to late as the PR has been merged - but - an interesting negative test would be to track the error (if any returned) if a user inadvertently bound the same backing service more than once.

_Originally posted by @ldimaggi in https://github.com/redhat-developer/service-binding-operator/pull/274#issuecomment-563482179_

[2019-12-10 07:28] isutton commented on #272
I believe you're being affected by the issue being solved in #275, will look closer to it.

[2019-12-11 03:41] sbose78 commented on #270
@pdettori , this is the fix https://github.com/redhat-developer/service-binding-operator/pull/279

status.dbConfigMap-db.host --> means, that dbConfigMap is potentially referring to a secret/configmap whose `host` key is meaningful.

status.dbConnectionIP  -->  implies that it refers to a string.

The parsing logic was broken during a recent refactor https://github.com/redhat-developer/service-bin

[2019-12-11 03:43] sbose78 commented on #270
The most recent upstream image which didn't have this bug was `quay.io/redhat-developer/app-binding-operator:v0.0.23`

[2019-12-11 04:08] sbose78 commented on #270
The examples are fine, master is broken.

[2019-12-11 15:39] pdettori commented on #270
@sbose78 thanks, I will try the fix. Is there some description of constraints on the names of parameters used in annotations ? Can names contain the `-` character ?

[2019-12-12 02:57] pdettori commented on #270
I tested the fix on branch isutton/GH-270. It seems to work (I get past that point) but I still run into #271 (when I try without `customEnvVar` ) and #272 (when I use `customEnvVar`).

[2019-12-13 09:12] baijum commented on #276
Service binding operator supports connecting to the same backing service by more than one application, right? I am not getting the "inadvertently bound the same backing service more than once."

@ldimaggi Can you please explain this.

[2019-12-13 09:14] baijum commented on #272
Avni's PR #281 should address this issue. There is some unit test. But no e2e test.

[2019-12-13 12:13] ldimaggi commented on #276
I assumed that creating multiple/duplicate connections between one application and one service would be flagged as an error. Is this not the case? Thx!

[2019-12-16 07:58] otaviof commented on #276
I don't think so, @ldimaggi . Please consider internal issue [APPSVC-304](https://issues.redhat.com/browse/APPSVC-304). (cc @baijum)

[2019-12-16 12:48] ldimaggi commented on #276
Just confirm, we are NOT supporting users in creating duplicate bindings (that is, multiple bindings from one application to the same service), correct? Do we report an error is a user, inadvertently or otherwise, creates a duplicate binding?

[2019-12-16 15:16] isutton commented on #276
Currently you have one application selector and one backing service selector. Once we support multiple backing services, we will propagate any issue as a condition in `status.conditions`.

[2019-12-18 22:21] sbose78 commented on #270
Fixed and merged https://github.com/redhat-developer/service-binding-operator/pull/279

[2019-12-26 09:42] Avni-Sharma commented on #272
@pdettori #281 is merged. Can you try now?

[2020-01-02 13:21] #270 closed

[2020-01-06 19:16] pdettori commented on #272
@Avni-Sharma I just tried with the latest master and it works fine.

[2020-01-06 19:16] #272 closed

[2020-01-06 19:26] pdettori opened #287 "Multiple Duplicate finalizers for Service Binding Request"
I am running with the latest master, and I have noticed that the first time that I apply a SBR and the reconciliation runs, I can see the following finalizers applied:
[code]
If I edit the SBR, and apply again, the finalizer become:
[code]
I repeated a third time and the list grew by two more. And so on. This does not seem to impact functionality but it seems like a possible bug with finalizers ha

[2020-01-08 07:15] otaviof commented on #287
@pdettori indeed, that's a left over from #256. It should not cause any functional issues, while we address this.

[2020-01-08 13:09] otaviof commented on #287
Closing this issue, after merging #289.

[2020-01-08 13:09] #287 closed

[2020-01-17 19:56] navidsh opened #296 "Is it possible to opt out from injecting environment variables?"
Edit by Shoubhik
Jira https://issues.redhat.com/browse/APPSVC-9

---

Is it possible to skip the "injecting environment variable" step after the controller created service binding secrets?

We are looking into integrating [Appsody Operator](https://github.com/appsody/appsody-operator/) with Service Binding Operator, and we want our operator to be in charge of modifying the resources (e.g. `Deploym

[2020-01-17 20:03] sbose78 commented on #296
Heya!

We have a task on our planning board to only generate a managed secret which we never got to :)

You mean, it already works? That would be an intended feature then :)

[2020-01-17 20:15] navidsh commented on #296
Nice! Is there any timeline of when it will be implemented?

No, I think specifying `applicationSelector` is required now. I meant one way to do it is by not defining `applicationSelector` in the CR :)

[2020-01-17 20:23] sbose78 commented on #296
I'll move it up the board, @navidsh .

@DhritiShikhar Could you start working on https://issues.redhat.com/browse/APPSVC-9 again :) , do have a chat with @isutton to avoid conflicts since there's a major refactoring happening in https://github.com/redhat-developer/service-binding-operator/pull/293 / https://github.com/redhat-developer/service-binding-operator/pull/286 .

[2020-01-17 20:26] sbose78 opened #297 "Generic binding : Creation of a managed secret without binding it to a deployment"
Public copy of https://issues.redhat.com/browse/APPSVC-9

**Description**

Add support for "generic binding.

Quote of the feature request from Aug 2019:

"In the service catalog UX this meant I just want the information dumped into a Secret, and then I'll choose what to do with it after that. This is good for referencing the Secret from other things like Jobs, or a Tekton pipeline, where your con

[2020-01-17 20:27] sbose78 commented on #296
Created a public copy of the feature request/story https://github.com/redhat-developer/service-binding-operator/issues/297

[2020-01-17 20:37] navidsh commented on #296
@sbose78 Thank you very much!

[2020-01-17 20:41] arthurdm commented on #296
thx guys!  this will allow for a seamless integration.  👍

[2020-01-17 20:45] #271 closed

[2020-01-17 20:45] sbose78 commented on #261
@DhritiShikhar Could you look into this, please?

[2020-01-17 20:45] #255 closed

[2020-01-18 18:24] DhritiShikhar commented on #261
Yes

[2020-01-20 08:14] DhritiShikhar commented on #261
/assign @DhritiShikhar

[2020-01-21 13:41] DhritiShikhar commented on #261
@sbose78 @ldimaggi I would be adding `Service Binding Operator` under `Integration & Delivery` category.

Is that okay?

Refer -> https://github.com/operator-framework/community-operators/blob/master/docs/required-fields.md#categories

[2020-01-21 21:52] arthurdm opened #300 "Feature request: Provide ConfigMaps for transformations"
Hey guys,

I really like how we can set [custom env var](https://github.com/redhat-developer/service-binding-operator/blob/master/examples/java_postgresql_customvar/service-binding-request.yaml#L18) transformation of the backing service's secret.  My only obstacle is that I still need to learn about how the backing service is exposing its secret to be able to write the `customEnvVar` transformatio

[2020-01-22 12:30] ldimaggi commented on #261
+1 Yes - that looks good - (adding the Service Binding Operator under Integration & Delivery).

If the operator is not in a category, then it is difficult to find thru filtering. Thx!

[2020-01-22 13:12] sbose78 commented on #261
What about a developer tools category, if multiple are allowed?

[2020-01-22 13:21] DhritiShikhar commented on #261
Sure, So 3 categories:
[1] Developer Tools
[2] Integration & Delivery
[3] Openshift Optional

[2020-01-22 13:41] sbose78 commented on #300
Hey @arthurdm ! Thanks for the feature request, and hope you are doing well.

Are you suggesting that if we frame guidelines such that backing services could generate a configmap/secret with VCAP_SERVICES-like information and then support out-of-the-box consumption of the same during a ServiceBindingRequest reconcile?

[2020-01-22 14:36] arthurdm commented on #300
hey @sbose78!    I think the ultimate goal is indeed that backing services generate VCAP_SERVICES-like bindings natively (maybe in addition to their current ones, for backwards compatibility), which would then remove the need for any transformations - i.e. the consuming services (via ServiceBindingRequest) just work with that standard schema.

But probably it will take some time for that to happen

[2020-01-24 02:53] ldimaggi opened #306 "E2E tests are failing in master"
The error seen is:
[code]
The failing test is:
[code]

[2020-01-24 19:56] isutton commented on #306
This error is triggered because of the empty `DeploymentSpec` in the following statement:

https://github.com/redhat-developer/service-binding-operator/blob/de46cfc6881c9a728acac48794a86f85a84156b1/test/mocks/mocks.go#L232-L237

This line hasn't changed since it was added to the repository, and the last change in that method happened in 6c4ae002f4dfb3f5f27ef75e5a2ed0d9f5522fbb in Aug last year.

I

[2020-01-27 08:00] DhritiShikhar commented on #261
PR -> https://github.com/operator-framework/community-operators/pull/1147

[2020-01-27 13:18] #261 closed

[2020-01-30 13:31] pratikjagrut commented on #306
Pr to fix this: https://github.com/redhat-developer/service-binding-operator/pull/310

[2020-01-31 13:25] pratikjagrut commented on #306
@ldimaggi as PR is merged for this issue can you verify and update the issue. If everything is fine this issue could be closed.

[2020-02-01 00:33] ldimaggi commented on #306
+1 the bug is fixed:

[code]

[2020-02-01 00:33] #306 closed

[2020-02-04 13:45] Jamstah opened #314 "Support Application and BackingService in different namespaces"
We have the requirement to be able to connect a BackingService in one namespace and an Application in another.

Is there a way to handle this already? If not, can we extend the spec to allow this? The binding secret would need to be created in the Application namespace, but I don't see a reason that wouldn't work.

[2020-02-05 04:00] sbose78 commented on #314
This is definitely valuable.

I do wonder if that lets a user do a privilege escalation to the Application namespace?

[2020-02-05 04:15] sbose78 commented on #300
Do you mean, the Service Binding Operator could ship a well-known configmap with prebaked details? Could you help me envision how that could look like with an example?

[2020-02-05 04:19] sbose78 commented on #296
Update:

We merged https://github.com/redhat-developer/service-binding-operator/pull/293 which had refactoring to support multiple backing CRs ( example: PostgreSQLService CR and a PostreSQLCredential CR ) ).

As far as I remember, this was one of the use cases in some of the IBM operators which could be used as backing services.

[2020-02-05 19:37] sbose78 commented on #314
Should be fairly easy to add this https://github.com/redhat-developer/service-binding-operator/pull/315

[2020-02-05 22:37] Jamstah commented on #314
Thanks!

I was imaging we'd need some sort of RBAC on creating the bindings, rather than on being able to modify the replicasets. I agree there is a security concern, but as you say, it already exists for single namespace.

I see in your PR you're adding a namespace to the app selector, I was actually thinking of the other way around, adding it to the BackingService selector, so an app can create

[2020-02-06 13:15] pratikjagrut opened #319 "Mocks are broken somewhere."
https://github.com/redhat-developer/service-binding-operator/blob/master/pkg/controller/servicebindingrequest/reconciler_test.go#L70

In this test, app mock deployment is created with `reconcilerName` and application selector in mock sbr is `applicationResourceRef`. Still, the test is passing. `sbrOutput.Status.BindingStatus==Success`. But if I try the same scenario on a cluster by creating real s

[2020-02-06 14:23] pratikjagrut commented on #319
I guess the problem is with binder.search().

`opts.FieldSelector=b.sbr.Spec.ApplicationSelector.ResourceRef` and deploment with this ref is not available `objList, err := b.dynClient.Resource(gvr).Namespace(ns).List(opts)` is returning other objects and binder is binding them.

objList:
![Screenshot from 2020-02-06 18-53-15](https://user-images.githubusercontent.com/26519653/73945375-35dee980-491

[2020-02-07 10:06] isutton commented on #319
The issue lies in the mock itself; it never has a nil
ApplicationSelector.LabelSelector field, which is expected by the business
logic. Since LabelSelector is not nil, but its content is, List will return
all the manifests for the given GVR.

On Thu, Feb 6, 2020 at 3:23 PM Pratik Jagrut <notifications@github.com>
wrote:

[2020-02-09 22:57] ldimaggi opened #323 "knative_postgresql_customvar example app fails on OpenShift 4.4 cluster"
Steps to reproduce issue:
* Install Serverless Operator (from Operatorhub - serverless-operator.v1.4.0
* oc apply -f serving.yaml
[code]

Observe that oc get knativeserving knative-serving -n knative-serving always returns a notReady state:
[code]

[2020-02-09 22:57] ldimaggi commented on #323
The error is not seen on a 4.3 cluster:
[code]

[2020-02-10 03:18] sbose78 commented on #314
Agreed.

We could potentially support specification of namespaces for both the application and the backing service.
The "managed" binding token could live close to the app. Let me modify my PR ( and add tests..)

[2020-02-10 03:27] ldimaggi commented on #323
Problem caused by - https://issues.redhat.com/browse/SRVKS-382

[2020-02-10 06:53] isutton commented on #314
Hi Shoubhik,

Can you create a document to capture your ideas to discuss in a Cabal
session?

Igor.

On Mon, 10 Feb 2020 at 04:18, Shoubhik Bose <notifications@github.com>
wrote:

[2020-02-12 01:15] arthurdm commented on #300
hey @sbose78 - that's right.  We could ship a ConfigMap with a mapping between the "service binding schema" (TBD) and some of the most popular bindable operators.

Here's a sample ConfigMap with PosgreSQL:

[code]

So it's very similar to the approach the service binding operator already supports via `customEnvVar`, but this means the user doesn't even need to specify that in their `ServiceBinding

[2020-02-20 09:24] isutton opened #343 "Increase coverage in knative binding"
Include a case where `matchLabels` is `nil` and multiple knative services exist in the test scenario.

Edit: remove weird link.

[2020-02-20 20:04] sbose78 commented on #296
@DhritiShikhar is working on this, and should have a PR this week.

[2020-02-20 20:06] arthurdm commented on #296
awesome, thanks guys.

[2020-02-20 22:01] sbose78 commented on #314
https://github.com/redhat-developer/service-binding-operator/pull/346 Testing this out.

[2020-02-21 11:27] isutton commented on #323
@ldimaggi can we close this issue?

[2020-02-21 11:32] isutton commented on #319
Can we close this?

[2020-02-21 11:33] isutton commented on #238
Conditions have already landed in master, closing this issue.

[2020-02-21 11:33] #238 closed

[2020-02-21 11:33] #234 closed

[2020-02-21 11:36] isutton commented on #222
Is there something we can do here, or should we close this issue?

[2020-02-25 08:01] pratikjagrut commented on #319
Is it fixed?

[2020-02-25 08:02] pratikjagrut commented on #319
Yeah, But this behaviour is leading to binding of wrong application.

[2020-02-25 11:29] pratikjagrut commented on #319
This issue is not fixed! It is better to keep it open.

[2020-02-26 15:27] sbose78 commented on #343
The link above is interesting :-)

[2020-02-27 21:48] navidsh opened #352 "Feedback: supporting JSONPath syntax for customEnvVar in ServiceBindingRequests"
Since `kubectl`/`oc` supports both JSONPath template and Go template, some k8s users might be more familiar with good old JSONPath :) over the Go template. Until more operators start adopting Service Binding Operator's descriptor/annotations, users need to rely on `customEnvVar` to bridge the gap.

An example for extracting broadcast address from Strimzi's Kafka CR:
[code]

`ServiceBindingRequest`

[2020-02-27 22:53] sbose78 commented on #352
Thanks for proposing this. This did come up intially during our initial design sessions.

However, did you happen to check if an equivalent go template expression was possible?

[2020-02-28 12:39] ianpartridge commented on #352
I guess you mean whether an equivalent JSONPath expression is possible?

The individual components can be fished out with:

[code]
and
[code]

[2020-02-28 13:52] sbose78 commented on #352
Ah yes, my bad. I wanted to write jsonpath. Thanks @ianpartridge .

[2020-02-28 13:56] navidsh commented on #352
Thanks @ianpartridge.

Go Template:
[code]

Equivalent(ish) Good old JSONPath =):
[code]

[2020-02-28 14:06] navidsh commented on #352
@sbose78 as a side question, do you think it is possible to extract the `host:port` in the following example only by adding annotation/`x-descriptors` to the operator?

[code]

[2020-02-29 00:40] sbose78 commented on #352
I think the fact the _slice_ types may make it tricky @navidsh . @baijum @isutton Thoughts on what's the best way to express it as an annotation or an olm descriptor ?

[2020-03-02 14:56] sbose78 commented on #296
Work is in progress https://github.com/redhat-developer/service-binding-operator/pull/350

[2020-03-02 23:50] navidsh opened #354 "customEnvVar templates getting incorrectly resolved to "<no value>""
I installed Service Binding Operator `v0.1.0-249` from OperatorHub with the default configuration (watching all namespaces). I tried the `examples/nodejs_postgresql` example and added two env under `customEnvVar`.

[code]

A secret got created and has the custom environment variables but with `<no value>`  instead of actual values from my backing service CR:
[code]

I also tried on running the ope

[2020-03-03 00:13] arthurdm opened #355 "CRD updates for advanced binding scenarios"
We're looking at adopt the ServiceBindingRequest CRD in the service binding [specification](https://github.com/application-stacks/service-binding-specification) that we're working on, and two new scenarios were flushed out in the last meeting.  We started to chat about them [here](https://github.com/redhat-developer/service-binding-operator/pull/348#issuecomment-592197274), and now moving to a pro

[2020-03-03 00:26] sbose78 commented on #354
Ouch, let me check cc @Avni-Sharma  @isutton

[2020-03-03 04:38] navidsh opened #356 "Feedback: allowing customEnvVar to be defined per service in backingServiceSelectors"
Current `ServiceBindingRequest` CRD doesn't allow users to define `customEnvVar` per service in the `backingServiceSelectors` list. This limits users to define multiple backing services and use `customEnvVar` to extract info from the backing services with the same GVK.

SBR:
[code]

Backing service:
[code]

Users can create separate SBR for each backing service to get around this limitation.

[2020-03-03 10:38] isutton commented on #354
Hi,

First, thanks for reporting this, it's very much appreciated :)

Recently we introduced the ability of binding multiple services with an application, and might have not covered this case after the change.

We'll work to solve that shortly.

[2020-03-03 17:41] sbose78 commented on #356
@navidsh We are going to support the following in the customEnvVar to let users compose environment variables from one or more backing services.

[code]
In other words,
[code]

[2020-03-03 17:43] sbose78 commented on #354
This is being actively worked upon. As part of the effort, we'll slightly change how a user specifies the customEnvVar template, to bring into consideration multiple backing services

https://issues.redhat.com/browse/APPSVC-478

**Bug Description**
On adding multiple backing services, we've end up causing a issue for customEnvVar. Therefore, we need to update the approach to collect data, and allo

[2020-03-03 17:46] sbose78 commented on #356
Something like..

[code]

[2020-03-03 17:52] sbose78 commented on #355
We could model it to be just another backing service? We do plan to support typical kubernetes objects as backing services ( CRs, non CRs..).

[code]

[2020-03-03 18:17] navidsh commented on #356
Thanks @sbose78!

Just wanted to throw it out there, how about moving `customEnvVar` into each of the `backingServiceSelectors` items e.g.:
[code]

I agree that it looks clean to have a single `customEnvVar` in the whole CRD to list all the custom env variables. But then pointing to a backing service in the `value` might not be very obvious to users.

[2020-03-03 21:48] arthurdm commented on #355
hey @sbose78 - I forgot that now SBR supports multiple services within a single YAML.  So I think the `subscriptionSecret` needs to be (optionally) associate-able with each of the services.   So like this:

[code]

[2020-03-04 01:36] pdettori opened #358 "Error: original object doesn't have a 'spec' field"
I have installed the Service Binding Operator from OperatorHub, on OpenShift 4.3.0 on AWS (Installer-managed infrastructure)

These are the steps:
- Installed Service Binding Operator 0.0.24-214 from OperatorHub.
- Used defaults for install:
  - All namespaces on the cluster (default)
  - Update Channel: alpha
  - Approval Strategy: Automatic

Operator installation with OLM completes with `install

[2020-03-04 01:43] sbose78 commented on #358
Thanks!

[2020-03-04 04:55] pratikjagrut commented on #319
Jira ticket: https://issues.redhat.com/browse/APPSVC-416

[2020-03-04 09:55] isutton commented on #354
#360 reverts a mistake introduced recently, where CustomEnvParser was being fed with a map containing produced environment variables instead of a map with all visited paths from a service.

Bear in mind it currently uses one map for all visited paths from multiple services, so `.status.dbName` could have an unexpected value if all services share the same key.

[2020-03-04 15:13] sbose78 commented on #354
Should be good, given that we are yet to adopt multiple services widely.

[2020-03-04 19:10] sbose78 commented on #354
@pdettori  @navidshaikh @arthurdm

We've put in a fix. By any chance would you be able to validate `master` against your use case?

I would have @DhritiShikhar roll out the release to operatorhub then to unblock folks. We are then going to support multiple services properly in customEnvVar .

https://github.com/redhat-developer/service-binding-operator/pull/360

[2020-03-04 20:42] pdettori commented on #358
Just as additional piece of info, things are better if I install the operator in one namespace rather than  cluster-wide. This time the errors are about missing RBAC rules for Tekton.
[code]

[2020-03-04 21:09] pdettori commented on #358
To make things work in single namespace mode, I had to manually add the following cluster role and binding:
[code]

[2020-03-04 21:33] pdettori commented on #358
found another RBAC issue after creating the SBR, to make it work I had to add another rule for CRD access cluster-wide:
[code]

[2020-03-04 21:47] pdettori commented on #354
@sbose78 just tested, works for me with original syntax, even if I had to do some workaround for https://github.com/redhat-developer/service-binding-operator/issues/358

[2020-03-05 01:40] sbose78 commented on #358
Something doesn't look right - these should not be needed :)

[code]

I'm curious how it works today without this, wondering if OLM is doing some magic?

[2020-03-05 03:18] navidsh commented on #354
@sbose78 I also just tested and everything seems to be working fine. Thanks guys!

[2020-03-05 03:20] pdettori commented on #358
It might be some issue with the way permissions are defined in https://github.com/operator-framework/community-operators/blob/master/community-operators/service-binding-operator/0.0.24-214/service-binding-operator.v0.0.24-214.clusterserviceversion.yaml ... have you had a chance to try to install from OperatorHub ?

[2020-03-05 03:37] sbose78 commented on #358
I've actually installed it multiple times and used it successfully too over the past few weeks 🤔

[2020-03-05 03:38] #354 closed

[2020-03-05 04:18] navidsh commented on #352
@baijum @isutton what do you guys think about using annotation/descriptors to get binding info from slice types?

Example:
[code]

[2020-03-05 05:19] Avni-Sharma commented on #358
I feel it is an OLM issue because if we see the status of the pod then the conditions are in a `success` phase
[code]

[2020-03-05 08:57] pratikjagrut commented on #319
Looks like: [binder.go->L76](https://github.com/redhat-developer/service-binding-operator/blob/master/pkg/controller/servicebindingrequest/binder.go#L76) could be the crux of this issue.

[2020-03-05 11:04] isutton commented on #352
What if we sprinkle some JSONPath in there?

[code]

This enables the interpretation of the manifest itself by different consumers, allowing the
operator to be free of any details regarding a manifest schema, just treating the object
as a bag of structured data to apply the related JSONPath selectors.

[2020-03-05 13:59] pdettori commented on #358
@sbose78 do you usually install using the defaults (e.g. cluster-wide) ?

What additional info could I provide to help debug this ?

[2020-03-05 17:15] pratikjagrut commented on #319
@isutton What could be a possible solution for this?

[2020-03-05 20:42] sbose78 opened #361 "Annotation/descriptors to get binding info from slice types"
https://github.com/redhat-developer/service-binding-operator/issues/352

feature request from @navidsh :

"What do you guys think about using annotation/descriptors to get binding info from slice types?

Example:
[code]

[2020-03-05 20:44] #297 closed

[2020-03-05 20:46] sbose78 commented on #191
done

[2020-03-05 20:46] #191 closed

[2020-03-05 20:55] arthurdm commented on #361
It would be good to solve that for the spec in [this section](https://github.com/application-stacks/service-binding-specification#pointer-to-binding-data) as well.  Right now it assumes the statusDescriptors are all top level status items.

[2020-03-06 00:20] navidsh commented on #361
@sbose78 Yea, I was able to use the Go template to get the binding info I wanted.
BTW, my GitHub id is `navidsh` and not `navidshaikh` 😜

[2020-03-06 15:07] sbose78 commented on #361
haha thanks for the confirmation. @navidshaikh @navidsh , greetings both of you :P

[2020-03-06 15:08] sbose78 commented on #358
I'm good with the details you provided, I will try it out myself. It's been a while since I've tried out that flow.

[2020-03-06 15:30] sbose78 commented on #356
thanks!

@pedjak do you want to outline your suggestion here?

[2020-03-06 17:15] Avni-Sharma commented on #356
I agree with @navidsh and feel that custEnvVar is kind of implementation(and an optional) detail and it would be better if it sits per backing service basis. So that the CR has the important aspects i.e the `Applications` and `Services` .

[2020-03-06 17:40] #314 closed

[2020-03-06 20:04] arthurdm commented on #356
In this topic, if we move `customEnvVar` to be under each of the `services`, I would suggest we rename the key to `dataMapping` - this allows it to remain neutral in terms of being injected as a set of environment variables versus mounted files.    I am actually using that terminology in a draft of a future PR I will make to the service binding spec (see the 3rd bullet under the `Minimum` set in [

[2020-03-07 02:42] arthurdm opened #364 "Upstream-friendly API Group of the ServiceBindingRequest CRD"
We spoke about this idea in one of the [PRs](https://github.com/redhat-developer/service-binding-operator/pull/348#issuecomment-592529402), so placing it into its own issue.

It would be good to update the apiVersion from `apps.openshift.io/v1alpha1` into something that is neutral to OpenShift.

[2020-03-07 02:43] arthurdm commented on #364
A suggestion: `service.binding/v1alpha1`.

[2020-03-07 02:47] arthurdm opened #365 "Update CRD Kind to ServiceBinding"
As suggested by @pdettori [here](https://github.com/redhat-developer/service-binding-operator/pull/348#issuecomment-592202458), it would be nice to use `ServiceBinding` for the CRD kind.

[2020-03-07 05:34] sbose78 commented on #364
+1
Suggestion sounds nice. I'll check with operator-framework folks too on the group name.

[2020-03-07 05:36] sbose78 commented on #356
I'm good with the renaming.

Avni, Navid,
How would we compose variables from multiple backing services if we move this under individual backing services?

[2020-03-07 10:43] pedjak commented on #356
How about that we replace using .<kind>.<resourceRef> pairs with a logical name (like var name) that can be associated to a resource within a ServiceBindingRequest instance. At the same we can collapse into `resourceRef` field the other fields: group, version and plural/singular CRD name. For example:

[code]
and then we can craft expressions like

[code]

`name` field could be optional, and if no

[2020-03-07 16:56] sbose78 commented on #356
We were doing something similar but realized it was a non-standard kubernetes API and needed explicit parsing/deserialization compared to using https://godoc.org/k8s.io/apimachinery/pkg/apis/meta/v1#GroupVersionKind

I really like the second part of your proposal @pedjak , how about designing the API like this:

[code]

[2020-03-07 17:59] pedjak commented on #356
@sbose78 fine, but in that case, I would rename `resourceRef` to `name`, because the tuple (group, kind, version, name) is actually resourceRef. And in case if we really want to use the existing `GroupVersionKind` type, we could design `backingServiceSelectors` as follows:

[code]

And since we are here: could we drop `custom` prefix from `customEnvVar` and call it `envVars`? or `custom` brings so

[2020-03-07 22:35] ianpartridge commented on #365
Agreed. Kubernetes resources are declarative (Deployment not DeploymentRequest).

[2020-03-07 23:46] sbose78 commented on #365
+1.

History:
During the initial days, we wanted to avoid confusion with Service Catalog's Service Binding which led us to choose ServiceBindingIntent or ServiceBindingRequest.

We've come a full circle and I agree `ServiceBinding` looks right.

[2020-03-07 23:52] sbose78 commented on #361
+1 .

We should allow unlimited levels of nesting in every block in the CR.

[2020-03-08 00:00] pdettori commented on #365
+1
Happy to see agreement around this!

[2020-03-09 04:00] sbose78 opened #368 "customEnvVar doesn't work without annotations/descriptors"
If a backing service's CRD/CSV doesn't have any binding metadata, then the variables do not get populated ( shows up a "no value" ).

On adding at least one annotation, the variables magically show up. Even if there is an annotation for `spec.dbName` and nothing for `spec.X.Y`, `spec.X.Y` also works:
[code]

Ideally, customEnvVar should work even if no metadata/annotations are present.

[2020-03-09 07:37] pratikjagrut commented on #319
@otaviof Can you provide any suggestion to solve this?

[2020-03-09 08:05] pratikjagrut commented on #319
Looks like somewhere ListRestrictions from actions are not working.

[2020-03-09 18:55] sbose78 opened #372 "Annotations specifying more than one level of nesting is broken"
The scenario where an annotation specifies more than one level of nesting is broken.
x.y works, x.y.z doesn't work.

If the following annotation is used
[code]

[code]

The value in the secret looks like this :

![image](https://user-images.githubusercontent.com/545280/76247051-42a27600-6215-11ea-8bfa-3fe7fa06673f.png)

Surprisngly,
If I added a customEnvVar {{ .spec.port.targetPort }} **after** a

[2020-03-09 18:57] sbose78 commented on #372
@baijum could you do an initial investigation ?

[2020-03-10 09:29] Avni-Sharma commented on #368
If there is no metadata provided then how would we infer that `A:B` is from a secret object or configmap object?  Providing metadata helps in avoiding collisions in such cases.

[2020-03-10 09:33] Avni-Sharma commented on #372
is this related to #361 ?

[2020-03-10 09:37] sbose78 commented on #372
Not necessarily, this affects non slice types too.

[2020-03-10 09:38] sbose78 commented on #368
We should be able to infer non-secret / non-cm plain attributes or strings at least

[2020-03-10 15:49] navidsh commented on #356
I like adding the `id` approach to allow composing custom variables from multiple backing services 👍

[2020-03-11 04:39] sbose78 opened #373 "API rule violations"
[code]

gives us

[code]

[2020-03-11 04:40] sbose78 commented on #373
https://github.com/kubernetes/kube-openapi/blob/master/pkg/generators/rules/names_match.go#L55

[2020-03-12 08:16] metacosm opened #374 "Cannot build master locally"
- `go version go1.14 darwin/amd64`
- `go build cmd/manager/main.go`
[code]

[2020-03-12 08:19] metacosm opened #375 "Separate API from operator to make it easier to be consumed by other tools?"
Trying to reuse the CR types in another project is quite difficult because of the huge number of dependencies that are brought along. Wouldn't it make sense to separate the API from the code to facilitate such reuse?

[2020-03-12 08:22] metacosm opened #376 "Why are many dependencies defined with `v0.0.0` version?"
I understand that there are associated `replace` directives, however this makes it very difficult to try to use the project types in a different project, in particular if one is trying to generate service binding request programmatically. Relates to #375.

[2020-03-12 08:22] metacosm opened #377 "Why is `build` make target harcoded to `linux/amd64` arch?"

[2020-03-12 09:23] Avni-Sharma commented on #373
Ran the command on `master` . It works fine with the following as output
[code]

[2020-03-12 09:43] Avni-Sharma commented on #373
https://github.com/kubernetes/kube-openapi/issues/175

[2020-03-12 09:44] Avni-Sharma commented on #373
Violations exception list https://github.com/kubernetes/kubernetes/blob/36981002246682ed7dc4de54ccc2a96c1a0cbbdb/api/api-rules/violation_exceptions.list

[2020-03-12 10:15] Avni-Sharma commented on #373
https://github.com/operator-framework/operator-sdk/blob/master/doc/sdk-cli-reference.md#openapi

[2020-03-12 11:32] sbose78 commented on #375
Could you please share your usage details please?
( imports, etc..)

[2020-03-12 14:20] metacosm commented on #375
I'm just trying to create a `ServiceBindingRequest` instance in my code. Trying to import that single type and retrieve the proper GVK for it using `SchemeGroupVersion`. The code is here: https://github.com/halkyonio/sbo-capability/blob/master/pkg/plugin/sbo/servicebinding.go

[2020-03-12 18:50] sbose78 commented on #375
Thanks, I would try ensuring that you are able to consume the API without having to separate it. We'll investigate asap.

[2020-03-12 21:08] sbose78 opened #381 "Generic binding : BindingFail status is reported"
Even though the binding secret gets created fine, the status is marked as `BindingFail`

[code]

[2020-03-13 08:39] DhritiShikhar commented on #381
@sbose78 Can you explain what is the scenario here?

I can see that there are no `ApplicationSelectors` in your SBR. Why do you expect the status to be `BindingSuccess` in that case?

[2020-03-13 17:22] sbose78 commented on #381
I was trying generic binding. What's the alternative I should be trying?

[2020-03-16 22:16] navidsh opened #384 "Generic binding: SBR needs to be cleaned up if applicationSelector is removed"
Once `applicationSelector` is removed from a `ServiceBindingRequest`, the operator should update the CR to:

1. remove the `finalizer`
1. update `status.applications`

[code]

Also, the binding status is incorrect which causes operator to keep reconciling. There's already an issue open for this: https://github.com/redhat-developer/service-binding-operator/issues/381.

[2020-03-17 07:35] ZhuangYuZY opened #385 "Make service-binding-operator work on vanilla k8s"
Now service-binding-operator is working together with OpenShift OLM, it is hard dependency.

Based on email discussion, @sbose78 agree with it (copy his statement below). Thank you.

[code]

@sbose78 I am glad to work with on this issue. My team will work on design and submit PR for this issue.  Do you have anything initial thinking for design, how to remove the dependency with OLM, it will help u

[2020-03-17 18:31] sbose78 commented on #384
@DhritiShikhar

[2020-03-18 02:36] sbose78 commented on #385
Before getting into details, I would say
* OLM is more of a soft-dependency
* OLM is not specific to OpenShift, Kubernetes is its primary target.

#### "What is interesting for binding in a backing service" can today be defined in two ways
* OLM descriptors, and/or
* CRD annotations
* Annotations on any Kubernetes resource https://github.com/redhat-developer/service-binding-operator/pull/367

####

[2020-03-18 03:14] navidsh opened #387 "Feedback: support defining envVarPrefix per backing service"
Currently, it is only possible to define one `envVarPrefix` in the `ServiceBindingRequest` CR. And if multiple backing services are defined, they all get the same prefix.
Being able to use different prefixes per backing service is important since different backing services might use the same name for the binding information.

https://github.com/redhat-developer/service-binding-operator/issues/356

[2020-03-18 03:17] sbose78 commented on #356
We'll solve this as part of https://github.com/redhat-developer/service-binding-operator/issues/387

[2020-03-18 09:06] #377 closed

[2020-03-18 10:53] otaviof commented on #375
@metacosm, I think the correct [import](https://pkg.go.dev/github.com/redhat-developer/service-binding-operator/pkg/apis/apps/v1alpha1?tab=doc) for you application is:

[code]
In `v1alpha1` [directory](https://github.com/redhat-developer/service-binding-operator/tree/master/pkg/apis/apps/v1alpha1) we don't have any custom logic.

However, in [line 16](https://github.com/halkyonio/sbo-capability/bl

[2020-03-19 09:15] Avni-Sharma commented on #296
#350 is merged. @DhritiShikhar shall we close this issue?

[2020-03-19 10:12] DhritiShikhar commented on #296
Yes

[2020-03-19 15:26] ZhuangYuZY commented on #385
Sure, I already get a developer starting on this. Thank you.

[2020-03-19 15:49] ZhuangYuZY opened #388 "As developer, I want to read JSON format in binding secret, so that multiple services configuration/credential could well organized"
For multiple service binding in follow doc, in result secret, there are many env variables listed without organized. It will hard for developer to find right env variables and possible to duplicated env names (in most public cloud, service authentication/authorization is IAM based, service id and apikey will be very common env names for all public cloud services). You can say adding prefix before

[2020-03-19 19:25] otaviof commented on #388
Hello @ZhuangYuZY! Thanks for the feature suggestion, interesting use-case. Please, consider my comments below.

We are currently improving this area (cc @isutton, @Avni-Sharma), the variable names generated by SBO (Service Binding Operator) should never overlap each other, at least not in the secret generate by SBO.

And indeed, it can be hard to find the correct environment variable, since the a

[2020-03-20 10:56] metacosm commented on #375
Yes, I understand that but that's exactly what I wanted to avoid (hardcoding the value). It would indeed make sense to move the constant to the API package instead.

[2020-03-20 11:08] metacosm commented on #375
Note that I also need the status constants, which should also be moved to the API package, in my opinion.

[2020-03-20 11:25] duglin commented on #388
Hi @otaviof, while from a pure technical perspective `CustomEnvVar` can work, it requires quite a lot of work by the user. Superficially, that's a lot of typing, especially if there are several services being connected and each with many env vars. It also requires people to understand the structure of the resource's `status` section. One of the goals of Coligo is to try to hide the Kubernetes aspe

[2020-03-20 14:01] ZhuangYuZY commented on #388
@duglin Agree with you. Thank you.

@otaviof, Thank you for your comment.
But I still think an JSON format string to contains all config/credentials is fair as option for multiple services binding case.
And you mentioned "We are currently improving this area (cc @isutton, @Avni-Sharma), the variable names generated by SBO (Service Binding Operator) should never overlap each other, at least not in

[2020-03-20 15:00] navidsh opened #389 "Adding support to use a resource without spec or status as a backing service"
Currently, it is only possible to bind to a backing service that has `spec`/`status`. However, resources such as Secrets and ConfigMaps do not have `spec` and `status`.

This is to track the support following the discussion [here](https://github.com/redhat-developer/service-binding-operator/pull/367#issuecomment-596547734).

[2020-03-20 20:08] sbose78 commented on #389
Thanks!

[2020-03-20 21:40] sbose78 opened #390 "Failing e2e bundle validation tests"
![image](https://user-images.githubusercontent.com/545280/77208284-e3284e00-6ad1-11ea-93cb-d3501a3ba189.png)

[2020-03-22 15:28] arthurdm commented on #388
hey @ZhuangYuZY  - multiple service configuration is something we're trying to define in the [service binding specification](https://github.com/application-stacks/service-binding-specification#mounting-binding-information).   It actually follows a similar convention from [buildpacks](https://github.com/buildpacks/rfcs/blob/master/text/0012-service-binding.md).  As illustrated [here](https://github

[2020-03-23 06:28] ZhuangYuZY commented on #364
It is great to help to adopt service binding CRD to run on other k8s cluster. Thank you.

[2020-03-23 07:29] #390 closed

[2020-03-23 08:41] otaviof commented on #388
@duglin, @ZhuangYuZY, okay thanks for sharing the details about your use-case, I understand JSON would be better.

The reason I was asking about the "custom environment variable" is because from that feature, you can access all data that has been collected by the Service Binding Operator, and therefore, would be the equivalent of reading the JSON payload.

Since "custom environment variable" has a

[2020-03-23 09:17] ZhuangYuZY commented on #388
@otaviof  Thank you for your comment. I agree with that, we can extend `customEnvVar` to support `VCAP_SERVICES` with `JSON` format.  I think next we can think about how JSON looks like. We can take some examples to see comment.

@duglin From end user perspective, if CRD/Controller can support `VCAP_SERVICES`, then Coligo CLI can help to hide the `customEnvVar`.

[2020-03-24 09:34] ZhuangYuZY commented on #388
@otaviof @sbose78
To consider to_json for multiple backend services, I saw discussion in #356. Is it the direction we will use `id` to identify backing service instance in backingServiceSelectors?

[2020-03-24 10:16] otaviof commented on #388
Our initial thought on how to express multiple backends would be:

[code]

Where `kind` means the Kubernetes kind, as in `service` or `deployment`. After that, `<name>` is the actual Kubernetes resource name, followed by the `attributes`, which means anything collected on that specific resource.

For instance, having a service named "example", to express it as JSON, you would have:

[code]

[2020-03-24 10:22] ZhuangYuZY commented on #388
Understand your point. But what we need is put all backing service instances into on VCAP_SERVICE env variable. Thank you.

[2020-03-24 12:49] otaviof commented on #388
Okay, understood. In this case, you should simply use `{{ to_json . }}`. Dot (`.`) is the root of the tree and therefore it will render all data into a single JSON payload.

You would not need to loop in order to transform. Instead, you can select a section of the tree, that could either be subject to `range`, or, apply `to_json` transformation.

On the previous comment, I shared our plans to empl

[2020-03-24 14:01] ZhuangYuZY commented on #388
@otaviof Understand your point, will discuss with team to see if to_json can satisfy our requirement. Thank you for your response.

[2020-03-24 15:44] sbose78 commented on #388
Brainstorming further:

Technically, this should also work right @otaviof @ZhuangYuZY
[code]

( I know a lot of these might be messy, bear with us please )

[2020-03-24 18:24] arthurdm commented on #356
+1 to the addition of `id`.   We're utilizing this concept in the service binding spec.

Did we also agree on renaming `resourceRef` to `name` and renaming `customEnvVar` to `dataMapping`?

[2020-03-25 15:22] ZhuangYuZY commented on #388
Hi @otaviof and @sbose78 ,
   From code in master so far, it seems to support multiple backing services in backingServiceSelectors. But not for customEnvVar, if we have multiple backing services, the custom env var will be overwritten, using last backing service instance cr. What is the plan to support mutiple service instance cr for customEnvVar ? Because to-json implementation depends on it, I '

[2020-03-25 15:47] qibobo commented on #388
@otaviof @sbose78
In current code, the retriever.cache is a `map[string]interface{}` which only supports single backend service. And if I bind multiple services, it only lefts the last ones information as below:
[code]

So to support multiple binding, what will the `retriever.cache` like? Do you have any proposal, code or PR for it? I did an update in my fork repo by changing it to a  slice `[]map

[2020-03-25 16:07] sbose78 opened #396 "Support multiple backing services in customEnvVar / dataMapping"
JIRA story https://issues.redhat.com/browse/APPSVC-481

Extracted out https://github.com/redhat-developer/service-binding-operator/issues/356#issuecomment-596108001

[code]

[2020-03-25 16:09] sbose78 commented on #388
See https://github.com/redhat-developer/service-binding-operator/issues/356
but TLDR
https://github.com/redhat-developer/service-binding-operator/issues/396 should take care of it.

[2020-03-25 16:11] sbose78 commented on #356
I really like this, but doing this would break the UI and therefore it would take us longer to put the change in.

[2020-03-25 16:13] sbose78 commented on #396
We kinda decided on this, @ZhuangYuZY to make it easy for folks to write :) What do you think?

[2020-03-25 16:21] sbose78 commented on #396
@otaviof did you want `value: {{  X.status.username }} / {{ Y.status.url }` to look different?

[2020-03-25 16:25] sbose78 commented on #388
Yup, it overwrites, and that's a pending fix as per #396 .

[2020-03-26 02:49] qibobo commented on #396
@sbose78
To implement this, the retriever.cache will be changed from map[string]interface{} to map[string]map[string]interface{}?
For map[string]interface{}, the key is "status", or "spec" ....
For map[string]map[string]interface{}, the key are X, Y and the value are the same as current cache(map[string]interface{}).
Please correct me if I am wrong. Thanks.

[2020-03-26 06:23] otaviof commented on #396
@sbose78, @qibobo regarding the data collection, lets sync with @isutton and @Avni-Sharma, they are currently busy with those changes.

[2020-03-26 07:32] ZhuangYuZY commented on #396
@sbose78 Thank you. Will take some time for internal discussion to see if it works.

[2020-03-26 08:09] ZhuangYuZY commented on #387
@sbose78 What I understand, we plan to do following to support envVarPrefix for multiple backing service CRs. Is it correct, thank you.

[code]

[2020-03-26 18:30] sbose78 commented on #396
FYI @arthurdm @navidsh tracking this separately here.

[2020-03-26 19:25] sbose78 opened #398 "Linking two deployments does not fail gracefully"
[code]

The `status` doesn't get updated at all.

Log:

[code]

[2020-03-26 19:26] sbose78 commented on #398
In https://github.com/redhat-developer/service-binding-operator/pull/367 , we support non-CRDs as backing service. That should handle this gracefully.

[2020-03-27 00:19] arthurdm opened #399 "Expose a list of bindable services"
There's a desired to offer equivalent capability to `odo catalog list services`, but using SBO as the entity that can find bindable services and bind to them.

We started this discussion at the spec level via this [PR](https://github.com/application-stacks/service-binding-specification/pull/9), but work would still be needed in SBO to expose such a list and their corresponding ServiceBinding CR sk

[2020-03-27 04:05] ZhuangYuZY opened #400 "As developer, I want to inject secret to my custom resource instance which has special path to container"
Edit by Shoubhik / Internal jira story:
https://issues.redhat.com/browse/APPSVC-276

--------------

The CRD has container which want to auto inject backing service instance secret as env variable. But the container jsonpath is not as "spec.template.spec.containers", the example of path is "spec.example.containers".

Do we have configuration in application selector section to indicate jsonpath whe

[2020-03-27 04:27] sbose78 commented on #400
Hey :)

I've been trying to model custom paths here
https://github.com/redhat-developer/service-binding-operator/pull/353

Could you please take a look?

[2020-03-27 05:37] ZhuangYuZY commented on #400
Thank you. It is what we want.

[2020-03-27 20:32] arthurdm opened #403 "Adoption of annotations from specification"
The [section](https://github.com/k8s-service-bindings/spec#binding-secret-generation-strategies) of the service binding specification that describes the `x-descriptors` and `annotations` that a service should use to be bindable uses slightly different names than what SBO supports today.

A proposal is:
* start supporting the annotations from the spec
* document that SBO is deprecating the usage of

[2020-03-28 02:35] sbose78 commented on #403
Thanks, let me follow-up with a "before" and "after" of the annotations.

[2020-03-29 23:54] sbose78 commented on #387
@ZhuangYuZY , roughly yes.

[2020-03-30 00:01] sbose78 commented on #385
@arthurdm Could you please track this issue in https://github.com/application-stacks/service-binding-specification/issues/16#issuecomment-605309629 ?

[2020-03-30 00:16] sbose78 commented on #355
Greetings @arthurdm !

Could you please confirm that you would still have the ask for `subscriptionSecret: my-postgres-subscription-secret` after @navidsh 's https://github.com/redhat-developer/service-binding-operator/issues/389 is done ?

I do understand this this is more intuitive than listing the subscription secret as a 'service' :)
If you do say that you still have this ask, I'll keep https:

[2020-03-30 00:21] sbose78 commented on #403
@Avni-Sharma Could you please review the spec and provide an example of how the new annotations would look like for https://github.com/operator-backing-service-samples/postgresql-operator ?
[code]

[2020-03-30 00:26] sbose78 commented on #374
@metacosm Did the meeting with @DhritiShikhar & @Avni-Sharma help resolve this?

[2020-03-30 00:52] sbose78 opened #405 "Suggestions/feedback on collaboration"
As we embark on https://github.com/application-stacks/service-binding-specification/issues/16 ,
In your opinion, what would be the best way to collaborate so that we can track bugs, enhancements and milestones:
- What has worked well so far ?
- What can we do better ( and how if you have suggestions ) ?
- What should we start doing? ( weekly design meetings, short stand-ups, slack? )

The goal of

[2020-03-30 04:41] sbose78 commented on #385
As per confirmation in https://github.com/redhat-developer/service-binding-operator/pull/397#issuecomment-604184956 , closing this.

Thank you very much @ZhuangYuZY !

[2020-03-30 04:41] #385 closed

[2020-03-30 04:47] ZhuangYuZY commented on #385
And thank you very much to @int8dev

[2020-03-30 06:22] ZhuangYuZY commented on #405
Yes, it could be great to have kinds of communication with you as a team, then we could have same understanding on roadmap, milestones, features, critical bugs and consumption. For me, I am open for any kinds of communication. I will vote for weekly meeting and slack from my side. Thank you.

[2020-03-30 07:32] metacosm commented on #374
@sbose78 no, it didn't, unfortunately…

[2020-03-30 11:48] arthurdm commented on #385
yup - added @sbose78!

[2020-03-30 11:51] arthurdm commented on #355
hey @sbose78 - I agree with you.  WIth #389 (supporting Secrets) we don't need the special subscription secret.    I will close this one and create a separate issue to discuss the security / role related topic. 👍

[2020-03-30 11:51] #355 closed

[2020-03-30 12:07] arthurdm commented on #405
hey @sbose78 - first, thanks for all the great work and frictionless collaboration from you and the team.  👍

I think the GitHub issues in this repo and the spec repo have really been working well in terms of tracking work and knowing what's pending.

+1 for design meetings to discuss these.  I guess some topics we discuss at the service binding specification calls, but would be good to also have

[2020-03-30 14:50] ZhuangYuZY commented on #396
@sbose78 and @otaviof following our discussion on to-json requirement in #388 .

After discussion with team, we want to go with following way, which is using to-json in a template string as customEnvVar. I think it aligns with our discussion and operator design that extending customEnvVar to introduce a new to-json function, and also multiple backing services which identified by `id`.  Example is

[2020-03-30 21:11] Avni-Sharma commented on #403
Currently, the annotations are like
[code]
In the current scenario we have the `env` option when we need to inject the bindable data as an environment variable. That can also be changed to `volumemount` incase we need to have data as a volumemount. In the spec [https://github.com/application-stacks/service-binding-specification/tree/updateSchema#pointer-to-binding-data] we have not used it. Are we

[2020-03-30 21:24] Avni-Sharma commented on #399
So basically it is not only `listing` of the services but also the `modification` of the service binding request (CR) upon finding the annotation `servicebinding/bindable: "true"` ?

[2020-03-30 21:25] Avni-Sharma commented on #65
Closing this as we have removed the manifests/ folder

[2020-03-30 21:25] #65 closed

[2020-03-30 21:34] #296 closed

[2020-03-30 21:35] #373 closed

[2020-03-30 21:39] #154 closed

[2020-03-30 21:40] #151 closed

[2020-03-30 21:45] #73 closed

[2020-03-30 21:45] #69 closed

[2020-03-30 21:45] #81 closed

[2020-03-30 21:46] #323 closed

[2020-03-30 21:46] #222 closed

[2020-03-31 00:18] arthurdm commented on #403
hi @Avni-Sharma - I have opened [this issue](https://github.com/application-stacks/service-binding-specification/issues/15) in the spec side to also support environment variables.  I was convinced that in cases of non-sensitive data it's still a very practical and used method.  =)

[2020-03-31 00:26] arthurdm commented on #399
I think if the `list` result provides the data in a way that's easily consumable for the caller (i.e. `odo`, or another tool),then SBO doesn't actually have to modify any resources.

What I had in mind is:  a way to query SBO for the bindable services and get a response such as:

[code]

then that's something that could be pushed into a ServiceBinding CR as-is (by tools other than SBO).

[2020-03-31 09:58] qibobo commented on #396
@sbose78 and @otaviof
Is there any PR or work on it? If there is no, I have done some code change to implement the feature and can submit a PR for it.

[2020-03-31 11:22] isutton commented on #381
It's more than time to remove the `status.bindingStatus` field.

Before, we couldn't have an empty application and/or empty service fields. This has changed lately, and perhaps it is time to split the `Ready` type into more specific types, for example `CollectionReady` and `InjectionReady`. `CollectionReady` would be related to the collection and persistence of intermediate manifests (secrets, con

[2020-04-01 11:25] DhritiShikhar opened #408 "Status does not get updated on Service Binding Request"
Sample SBR:

[code]

Output of `make local`

[code]

[2020-04-01 11:25] DhritiShikhar commented on #408
/assign @DhritiShikhar

[2020-04-01 15:32] ron1 opened #409 "Operator fails to deploy on OCP 3.11"
Deployment of service-binding-operator on OCP 3.11 encounters the following errors:

- API resource discovery broken
[code]

- Operator pod fails to startup with the following errors
[code]

- Master controller logs littered with the following errors multiple times a minute
[code]

It is interesting that if I change the apiVersion of the CRD to `service.binding/v1alpha1` as proposed [here](https:/

[2020-04-01 17:05] sbose78 commented on #409
Thanks for this report, honestly I've never tested this on ocp 3.11
:-)

[2020-04-01 20:16] ron1 commented on #409
Note the latest version of the operator deploys fine on OKD 3.11.

[2020-04-02 03:54] ZhuangYuZY commented on #396
@sbose78 and @otaviof,  we are preparing PR to support backingService id and to_json. Thank you.

[2020-04-02 04:03] ZhuangYuZY commented on #387
@sbose78 Do we have anyone working on this, I can get PR prepared. Thank you.

[2020-04-02 04:10] sbose78 commented on #387
Go for it @ZhuangYuZY !

One thing to note, there might be a global env var prefix ( spec.envVarPrefix ) too. Maybe the combined prefix should be `spec.envVarPrefix` + "_" + `spec.backingServiceSelectors[i].envVarPrefix` ?

[2020-04-02 04:12] sbose78 commented on #396
If you have local code changes, please free to open a WIP PR anyway to help us drive a nice discussion. I believe @isutton was working on this - I'll let him add more details. :)

[2020-04-02 08:01] pratikjagrut commented on #319
@DhritiShikhar @Avni-Sharma Can you mark this with Bug label?

[2020-04-02 18:46] sbose78 commented on #409
Hey, did you find anything on the mailing list?

[2020-04-02 19:03] ron1 commented on #409
Which mailing list are you referencing?

I did notice that the master-api log has an E0402 runtime/debug.Stack trace in pathrecorder.go:107 leading down to apiservice_controller.go:99. I am suspicious there are some conflicts between the apigroup `apps.openshift.io` used by the deploymentconfigs and the servicebindingrequests using that same apigroup. I'm still investigating. Do you have any sugge

[2020-04-02 21:26] isutton commented on #387
little as possible by offering good enough defaults. In the case of
multiple services, using at least *kind* and *resourceRef* is a wonderful
start.

Building on your example, I see that each configuration value exposed in
those resources would have the following prefix (already munged to look
like an environment variable): SERVICE_DEMO-1_ and SERVICE_DEMO-2_ .

An interesting side effect of this

[2020-04-02 21:44] isutton commented on #374
If you're using Fedora and Fedora's golang package, you need to configure
the proxy related environment variables that are currently disabled during
packaging.

Try setting GOPROXY to https://proxy.golang.org,direct.

On Thu, Mar 12, 2020 at 9:16 AM Chris Laprun <notifications@github.com>
wrote:

[2020-04-02 22:04] isutton commented on #396
I see the appeal of having a shortcut in there, but the shortcut might be
in the wrong place though.

For example, {{ X.status.username }} / {{ Y.status.url }} isn't far from {{
Credentials.admin-creds.status.username }} / {{ Service.user-db.status.url
}} for a one off usage (and to be fair, everything in k8s is verbose). If
the template expression is more complicated, like we've seen in some
exam

[2020-04-03 00:52] sbose78 commented on #396
I'm fine with that Igor. Thanks for chipping with this perspective!

[2020-04-03 01:04] sbose78 commented on #396
How about supporting all of these:
- resourceRef.status.url ( all resourceRefs are unique, don't bother specifying the whole thing )
- kind.resourceRef.status....
-  group.kind.resourceRef.status...
- version.group.kind.resourceRef.status....

Supporting all of the above ensures that funny edge cases where the only thing unique is the API group ( for example) is also covered :-)

Note we support s

[2020-04-03 01:12] sbose78 commented on #387
Reducing the number of things the user has to specify is always helpful.

I wonder how common is it to have cases where people use multiple "services" of the same Kind ?

Otherwise, I'm happy if the prefix is auto-generated from just the `Kind`.

[2020-04-03 08:11] ZhuangYuZY commented on #387
@isutton and @sbose78,
Only kind is not enough for IBM Cloud Operator case. In IBM Cloud Operator, the backing service instances have some kind of `Binding`, different service instances(see example below, COS and virtual recognition has same kind).

Also `kind+resourceRef` as env prefix is not work from application experience. As your example DATABASE_SALES_HOST, if application wants to change dat

[2020-04-03 08:49] ZhuangYuZY commented on #396
Hi, @sbose78 and @isutton , either `id` or version/group/kind/resourceRef as variable in template can satisfy the requirement from user perspective.

But from controller implementation perspective, I think it will be complicated to support all of above, resourceRef.status, kind.resourceRef.status, group.kind.resourceRef.status, version.group.kind.resourceRef.status. It can not be done by a simple

[2020-04-03 08:49] ron1 commented on #409
Note that according to https://cloud.ibm.com/docs/openshift?topic=openshift-openshift_versions#openshift_release_history, OpenShift 3.11 is the only production-supported version of OpenShift running on IBM Cloud at this time.

[2020-04-03 11:53] isutton commented on #387
This is an interesting use case :)

I believe the application has authority over the configuration values it
requires, including their names and format; in other words, the application
establishes the contract the infrastructure should provide for its well
functioning.

In this particular case, I believe a custom environment variable composed
of DSNs that are extracted from the declared services (

[2020-04-03 13:35] arthurdm commented on #396
I think we need to look at from the angle of:  what is this `id` field used for?

It's not to provide a cluster-wide ID, because if we were doing that then even `version/group/kind/resourceRef` doesn't cover the case where you could have same 4-tuple but in different namespaces (you would then need `namespace/version/group/kind/resourceRef`).

From my perspective this `id` is only used for two thi

[2020-04-03 13:39] arthurdm commented on #409
@ron1 - all our latest versions of the Cloud Pak for Apps (which is what brings in support for Appsody, etc) run on OCP 4.x, so that's the one we test with.

This is separate from what version of OpenShift particular cloud platforms support.

[2020-04-03 13:42] isutton opened #411 "Define service grouping"
I believe an intended goal is to provide a canonical [Service Binding Schema](https://github.com/application-stacks/service-binding-specification#service-binding-schema) for backing services. In the above example, Kafka is a single service but requires two service "entries" to accomplish its binding. Some of the binding schema elements are extracted from the Kafka CR and others are extracted from

[2020-04-03 13:44] isutton commented on #411
cc @ron1 @sbose78 @arthurdm

[2020-04-03 14:05] isutton commented on #411
I think the reason we're discussing this is the need to both group services under a logical group (Kafka according to previous examples) and, at the same time, refer to a specific service resource to fulfill the custom environment variables template contract.

For this, at least two terms have been mentioned in our discussions: `id` and `envVarPrefix`.

According to my understanding, `envVarPrefix

[2020-04-03 14:34] ron1 commented on #411
@isutton I think `mountPathPrefix` should also be included in this discussion.

[2020-04-03 14:41] sbose78 commented on #387
Fair point.

While custom environment variable is a good escape hatch, I would uncomfortable if we didn't solve this use case :)

Maybe, we should just have `id` and also use that as an env var prefix ? After all both `id` and `envVarPrefix` gives us uniqueness?

[2020-04-03 14:53] ron1 commented on #411
IMO, one of the problems here is that what we are proposing to call `services` for simplicity in ServiceBinding(Request) CRD are really `serviceBindingResources`. These could now be K8S Services/Routes/Secrets/ConfigMaps as well as CRs. One or more of these `serviceBindingResources` may be combined to accomplish a single service binding. In addition, a single ServiceBinding(Request) CR support bin

[2020-04-04 07:18] ron1 commented on #364
Would an API Group name such as `redhatdeveloper.redhat.io` or `redhatdev.redhat.io` be more frictionless? Is including "developer" or "dev" in the API Group name too restrictive?

There is already precedent for such a naming scheme with repo `github.com/redhat-cop` mapping to API Group `redhatcop.redhat.io`. It would be great to get this renaming committed sooner than later.

[2020-04-05 07:51] ZhuangYuZY commented on #387
I am fine to have `id` and also use that as an `envVarPrefix`. Because both `id` and `envVarPrefix` give us uniqueness in my user cases. Thank you.

[2020-04-06 07:13] isutton commented on #411
A binding context has at least two roles: the application role (the
configuration values' receiver) and the service role (the configuration
values' provider). As you've pointed out, the service name might be
misleading since there are other useful resources that can be used as
services.

My interpretation is that services represent dependencies one or more
applications have to be able to do their

[2020-04-06 11:12] ianpartridge commented on #364
As the `ServiceBinding[Request]` CRD is intended to be used in conjunction with non Red Hat binding targets/services, I think we should avoid mentioning Red Hat in the API.

[2020-04-06 13:46] arthurdm commented on #411
The spec talks about [using the ID](https://github.com/application-stacks/service-binding-specification#id-prefix) as the prefix for the injected bindings.  (it says mounted right now, but will be expanded to also env vars).

So if two (or more) services are part of a single binding, couldn't the author of the `ServiceBinding` CR just use `id`s that share a common prefix?  For example:

[code]

Wi

[2020-04-06 22:26] sbose78 commented on #387
@isutton , I gave this a thought again :)

* The discussion on the optional backing service-specific `envVarPrefix` is orthogonal to the `id`-related discussion. The `id` helps us refer to a backing service in `customEnvVar`.

* `envVarPrefix` helps us generate unique binding secret keys. Example, if _service1_ has a configmap field called `certificate` and _service2_ also has a field called `cert

[2020-04-06 22:29] sbose78 commented on #381
@DhritiShikhar Could you please share an update on this?

[2020-04-06 22:30] sbose78 commented on #384
@DhritiShikhar Could you please share an update on this?

[2020-04-07 03:54] cdlliuy opened #413 "Missing status when sbr reconcile fails"
Not sure whether it is a duplication, but  I didn't see  the sbr status field at all when the reconcile fails..

Also, an error msg field is welcome in the `status` field, so that the end-user can understand what is the error in the CR yaml.

[2020-04-07 03:59] sbose78 commented on #413
This probably broke recently https://github.com/redhat-developer/service-binding-operator/issues/408 cc @DhritiShikhar ?

[2020-04-07 07:11] isutton commented on #387
of the latter, as previously pointed out.

If optional, then we should have good enough defaults for envVarPrefix,
probably by inferring it from the resource's GVK and name. If always
required and its use-case enables more complex use cases (such as the
logical grouping of configuration values from separate resources mentioned
in another issue) then it could be possible to enforce this information

[2020-04-07 07:48] DhritiShikhar commented on #413
@sbose78 Yes. I have raised a PR for the same.

[2020-04-07 07:54] DhritiShikhar commented on #413
/assign @DhritiShikhar

[2020-04-07 08:17] DhritiShikhar commented on #381
@sbose78 The fix for #408 needs to go in first so that status is updated atleast.
This is a PR for the same https://github.com/redhat-developer/service-binding-operator/pull/414

[2020-04-07 11:02] Avni-Sharma commented on #413
Hi @cdlliuy . Thanks for the issue. The issue is tracked at #408 and fix for the same is being tracked here #414

[2020-04-07 11:11] #408 closed

[2020-04-07 11:17] DhritiShikhar commented on #413
@Avni-Sharma This issue is not completely solved.

Can you re-open this issue?

[2020-04-07 12:08] ron1 commented on #411
What about this example that allows service binding resource grouping and eliminates the need for the id?

[code]

[2020-04-07 13:24] sbose78 commented on #411
I would avoid nested "services" at the moment because nesting can go on and on :)
One could get everything done without nesting and the correct `envVarPrefix` and `id`.

I agree that the term "service" can be ambiguous and redundant but I can't really have a better way to specify "binding information producer" for an "consumer"(app). 🤔

[2020-04-07 16:12] Avni-Sharma commented on #413
@DhritiShikhar If we omit backingServiceSelector, then it was previously handled here https://github.com/redhat-developer/service-binding-operator/blob/35e8d3a1988e74880c4d15a35698ab154b6162f9/pkg/controller/servicebindingrequest/planner.go#L95  already and so it shows something like
[code]
On empty application selector it shows as
[code]

if we put an empty spec as {}
then as applicationselector

[2020-04-07 16:12] ron1 commented on #411
A service has one or more binding resources. What's the use case beyond a flat list of binding  resources?

[2020-04-08 03:07] qibobo opened #415 "data in secret are duplicated with prefix configMap and secret"
As it is showed in the following code, the data in secret are duplicated with prefix configMap and secret, is there any special purpose?
https://github.com/redhat-developer/service-binding-operator/blob/35e8d3a1988e74880c4d15a35698ab154b6162f9/pkg/controller/servicebindingrequest/retriever.go#L200

[2020-04-08 03:25] sbose78 commented on #415
That looks like a bug to me.

[2020-04-08 08:15] Avni-Sharma commented on #403
Reference - https://github.com/application-stacks/service-binding-specification/pull/25

[2020-04-08 12:14] metacosm commented on #374
I retried again today and I can now build the code without having changed anything… Weird.

[2020-04-08 12:14] #374 closed

[2020-04-08 12:44] int8dev opened #418 "Binding applied to a knative service without altering the explicit defined revision name is not allowed"
If an exsiting ksvc has explicit revision name defined in `spec.template.metadata.name`, simply update the revision template without removing or altering the revision name will be rejected by knative validation webhook. See the error below.
[code]

This should be a knative specific issue. I don't know whether it is accpetable to alter another field other than `containersPath` and `volumesPath` for

[2020-04-08 15:29] sbose78 commented on #418
Could you show me the Knative object - and show me the update you are attempting?

[2020-04-09 04:21] ZhuangYuZY commented on #387
Seems we have agreement on both `id` and `envPrefix` needed for multiple backing services cases. But open question on optional or mandatory, related logic.

For me, I will suggest both are optional. For `id`, as `id` is using in customEnvVar to reference backing service, if end user do not need customEnvVar, then not need `id`, if only one backing service, then no need `id`. Of course, customer co

[2020-04-09 09:35] Avni-Sharma commented on #387
so when we have `envVarPrefix` shall we still have `DBKIND` in ENVARPREFIX_DBKIND_VALUE or only ENVARPREFIX_VALUE ? So by default, the action is DBKIND_VALUE and when the `envarPrefix` is mentioned then it is  ENVARPREFIX_VALUE ?

[2020-04-09 12:41] sbose78 commented on #387
Agreed. Both should be optional.

[2020-04-09 12:45] sbose78 commented on #387
We shall not prefix our environment variables with DBKIND. Environment variables are not supposed to have the Kubernetes GVK's in it at all.

If envVarPrefix is available, we prefix it, example : MYPREFIX_HOST.

If not, the environment variable will remain as HOST.

There should be absolutely no GVK/configmap/secret substring in the name of the environment variable.

[2020-04-09 13:35] qibobo commented on #387
@sbose78 @ZhuangYuZY @isutton
So we will have id and envVarPrefix as optional in a backingServiceSelector.

For envVarPrefix, if the user does not set it, it can be empty.

But for id, it is used to identify a backing service. So to support multiple backing services, current Retriever.cache which is a map[string]interface{} can not work, we need to change it to a map[string]map[string]interface{},

[2020-04-09 14:51] int8dev commented on #418
If the knative service object is configured with a explicit revision name `demo-rev-1` as following, if we want to update the pod template in `.spec.template.spec` to inject the environment configurations, we must also change the revision name or just delete it to create a new revision. Otherwise it will be rejected as for a knative revision the pod template is immutable.
[code]

[2020-04-09 15:05] ZhuangYuZY commented on #387
Group_Version_Kind_Name will be two long for using, e.g. like `ibmcloud.ibm.com.v1alpha1.Binding.coligo-cos-service-credential.Status`. I will suggest to using `resourceRef` as default if no `id` setting. It will cover 80% cases. Then using `id` for other 20%.

@sbose78 your though ?

[2020-04-09 15:38] isutton commented on #387
I'm not sure about this. Having two behaviors to choose as default for the service prefix where a) expose properties from declared services without prefix; and b) prefix is generated from the resource type and name I find the latter less error prone from the user point of view.

What do you think about offering an opt-in mechanism, where the user explicitly declares they want the properties to be

[2020-04-09 16:44] isutton commented on #411
Are you implying here applications should have multiple service binding
requests, one for each service it depends on instead of having one service
binding request declaring all services an application requires?

[2020-04-09 17:24] ron1 commented on #411
No. I see the value in a single SBR CR supporting multiple apps and services.

Instead using an `id` to name a service, my suggestion is to use a `name` field for this purpose. Then within each named service exists one or more "binding" resources as provided in my sample above. IMO, the rename from backingserviceselectors to services is confusing when a single logical kafka service is represented

[2020-04-09 19:27] #415 closed

[2020-04-09 21:18] sbose78 commented on #387
@isutton , I'm okay with the proposal to have `skipEnvPrefix`.

It's more of _I am confused where the heck the other service's environment variables are_ :)

@qibobo ,
Let's move the `id` discussion to https://github.com/redhat-developer/service-binding-operator/issues/396 . I would like to explore a few options there.

[2020-04-10 03:32] qibobo commented on #400
Hi @sbose78,
I picked the change #353 and deployed it. And did the following test.

1. Create a sample CRD:
[code]
2. Create a CR:
[code]
3. Create a SBR:

[code]

4. And then I get the CR and found the spec.uri is changed from its previous value "some uri" to the SBR(secret) name. Seems just a value replacement. Is it the expected behavior?

[code]

[2020-04-10 04:06] sbose78 commented on #400
Yes, similar to containers' envFrom secret ref.
Are you looking for a different behaviour?

[2020-04-10 04:53] cdlliuy opened #419 "Once the selected application is deleted, the sbr can't be deleted"
After a sbr created successfully,  I deleted the selected application directly.

[code]

That means I deleted `mydemo`.

Then, I realized and tried to delete sbr , but I can't delete it at all.

[code]

Any comment on this?  Expected behavior?

It makes me to think about whether the selected `application` should be the owner of the sbr , since the sbr is only serving for the specific application o

[2020-04-10 05:05] qibobo commented on #400
@sbose78
We expect the `envFrom secret ref `behavior, but seems current is only a value replacement?

[2020-04-10 09:29] sbose78 commented on #400
Yes, that's right

[2020-04-10 09:45] sbose78 commented on #419
I think the finalizer we create has a bug?

[2020-04-10 12:02] isutton commented on #387
What if we gave the authors the ability to expose the environment variables that'd be more useful for
the users of their services directly? For example, in the example below the PostgreSQL CRD could
define the `binding/PG_HOST` annotation, where its value is a path indicating the source in the CR:

[code]

This would expose the `PG_HOST` environment variable by default, without any intervention fr

[2020-04-10 12:13] sbose78 commented on #387
the users of their services directly?

This is what I proposed new week as part of the new annotations' format

https://github.com/application-stacks/service-binding-specification/blob/master/annotations.md

[code]

Expose `connectionURL` as `uri`. This sounds similar to what you are recommending @isutton ?

[2020-04-10 12:29] isutton commented on #387
I agree with the end result.

This is much less about the format and more about the relationship between what is fed to what is spewed.

What is missing is a contract where the operator's authors expose their variables in such a way the service binding operator can effectively substitute it, as exposed in the examples.

In your example, I still think that the value on the left hand side is better

[2020-04-10 12:55] sbose78 commented on #387
Sorry, I didn't quite get you.

If the operator author can never guarantee uniqueness because the "PG_HOST" doesn't take into account that another operator might have the same too, then in the context of this discussion, the need for an environment prefix at a backing service level is needed anyway?

As per the schema being defined here
https://github.com/application-stacks/service-binding-specifi

[2020-04-13 05:59] ZhuangYuZY commented on #418
@int8dev As we talked, please help to give detail steps to reproduce the issue, and knative service yaml for both success and failure for comparing. It will help to everyone understand the situation happens on knative service.
Also options of solution to fix the issue. We can discuss here together. Thank you.

[2020-04-13 12:11] Avni-Sharma commented on #419
The selected application should ideally not be made the owner of a sbr, because in some cases we might not want the injection of the intermediate secret(configuration values) in the app directly(pod spec).  This means I just want the information dumped into a Secret, and then I'll choose what to do with it after that. This is good for referencing the Secret from other things like Jobs, or a Tekton

[2020-04-13 13:08] int8dev commented on #418
If we have a knative service defined with a explicit revision name `helloworld-go-rev1` as following
[code]
If we want to inject or modify the container spec,  we must also change the name `helloworld-go-rev1` or just delete it. We can simulate by a kubectl command to just modify the existing environment by ` kubectl patch ksvc helloworld-go --type='json' -p '[{"op": "replace", "path": "/spec/temp

[2020-04-14 00:49] cdlliuy commented on #419
Sure,  any idea to resolve the failure deletion issue?  Also, how to make sure  the SBR can be reconciled after the application object updates?

[2020-04-14 04:08] isutton commented on #387
Disclaimer: Please note that this answer doesn't discuss the *service binding schema* being proposed, but how the configuration values should be propagated from the operator to the application through service binding; this means to focus on the semantics rather than the encoding. Additionally, there are no distinction between environment variables and configuration values in this context, and as s

[2020-04-14 06:09] cdlliuy opened #422 "Controller doesn't reconcile to changes to application workloads"
[code]
Once the sbr created,  I tried to delete `mydemo` , then create it again with the same name, but  SBR didn't  reconcile to have the secrets injected into the new `mydemo` container anymore.

Similar to backingEndServiceSelectors as well,  I delete a specific backingservice, then create it again with the same name but different secret content.  Anyway, the new secret didn't inject into the a

[2020-04-14 06:10] cdlliuy commented on #419
I moved the following issue description to a new issue   #422

[code]

[2020-04-14 09:21] Avni-Sharma commented on #419
Yup, if we delete the finalized from the sbr instance, then the instance will get deleted

[2020-04-14 14:01] sbose78 commented on #422
Thanks for reporting this.

@isutton @baijum @DhritiShikhar @Avni-Sharma  could you please take a look?

[2020-04-14 19:51] arthurdm opened #423 "tags for services"
I was thinking about the idea of allowing tags to be added to each of the backing services being requested in a `ServiceBinding` CR.

Such data could then be exposed in the [SERVICE_BINDINGS](https://github.com/application-stacks/service-binding-specification#injecting-data) env var, helping the consumer locate the services they want.   This is equivalent to buildpack's `VCAP_SERVICES`, which has

[2020-04-14 20:25] Avni-Sharma commented on #419
on the hindsight, the logs say
[code]
so it is not exactly a finalizer issue.

[2020-04-15 00:02] sbose78 commented on #423
Could you share an example of what a tag would look like?

[2020-04-15 01:46] arthurdm commented on #423
yup, here it is, using our favourite Kafka example :)

[code]

[2020-04-15 01:57] DhritiShikhar commented on #422
Yes @sbose78 I am looking into this..

[2020-04-15 04:46] cdlliuy commented on #413
@DhritiShikhar  is PR #414 enough for this issue? or you will add another PR to address further probolem described in this issue?

[2020-04-15 04:55] cdlliuy commented on #422
@DhritiShikhar  Thanks and eager to know your findings :-)

[2020-04-15 08:31] isutton commented on #419
Nice catch!

Not found errors are tricky sometimes because one usually wants to
propagate this error further, but since deletions are idempotent they're
safe to be ignored.

On Tue, Apr 14, 2020 at 10:25 PM Avni Sharma <notifications@github.com>
wrote:

[2020-04-15 18:38] sbose78 commented on #387
If I had to summarize,

* Support the following section
[code]

* More than one 'service' might have the same prefix.

[2020-04-15 20:01] navidsh opened #425 "Adding support for discovering binding information from app perspective"
#### What?
As an application developer, I want to know what binding information is available to me in my application container either as env var or mounted volume.

#### How?

Having Service Binding Operator adding a well-known key (`SERVICE_BINDINGS`) into the binding secret with a JSON payload as value containing a dictionary of all the envVars/mountPath that Service Binding is managing and expo

[2020-04-16 03:59] int8dev commented on #418
I just created a pull request to address this issue using method 1) mentioned above.
Here are more details.

Create a ksvc using `kn` cmd (https://github.com/knative/client)
[code]
Notice that the latest revision name is `hello-wnjzb-1`, which is not the default format for knative auto generated `{{.Service}}-{{.Random 5}}`.  It has a generation name as suffix by default.  If we check the service

[2020-04-16 07:42] int8dev commented on #419
I found the following errors need to handled in the deletion flow.
1) CRD/CR defined in BackingServiceSelector does not exist
2) Errors returned by retriever.Get(). This may happens when the there is issue to parse the template in CustomEnvVar.

[2020-04-16 14:41] Avni-Sharma commented on #419
Hi @int8dev , I have raised a PR for this particular issue. If there are other deletion flow issues, I guess we should track it as separate issues, as it becomes easy for tracking. Also with the deletion flow issue can you give a set of guided steps to recreate them. Thanks! :)

[2020-04-17 13:56] ZhuangYuZY commented on #400
Here is our scenario, which bind a service to a custom resouce.

CR which want to bind a service:
[code]

This is binding request:
[code]

There is expect result:
[code]

[2020-04-17 14:15] sbose78 commented on #405
@ZhuangYuZY I'll setup one!

[2020-04-19 02:36] ZhuangYuZY commented on #425
In my side, we also want to using on env variable `VCAP_SERVICE` as example to organize all backing service instances. And we are using IBM Cloud CLI to hide the binding request CR, define custom env var as JSON template string, and also using IBM Cloud CLI to update existing bind request CR to add more backing service instances to keep only one binding request CR for one application. And end user

[2020-04-19 15:49] int8dev opened #429 "SBR cannot get deleted if customEnvVar has a bad template"
If a sbr is created with a bad customEnvVar template, the sbr cannot be deleted.

e.g.
Create SBR as following
[code]
We will get error while reconciling even though deletion is triggered by `kubectl`.
[code]

This is case 2) in discussion https://github.com/redhat-developer/service-binding-operator/issues/419#issuecomment-614472832

[2020-04-19 18:04] Avni-Sharma commented on #429
Thanks for the fix @int8dev :+1:

[2020-04-19 18:04] #429 closed

[2020-04-19 23:04] sbose78 commented on #425
Internal https://issues.redhat.com/browse/APPSVC-534 , not assigned to anyone yet.

[2020-04-20 15:41] sbose78 commented on #418
Thank you!

[2020-04-20 18:18] sbose78 commented on #418
@invincibleJai Thoughts on this discussion?

[2020-04-20 18:21] sbose78 commented on #418
cc @navidsh @arthurdm

I like this fix! I was wondering if we could model something in the ServiceBindingRequest CRD itself to be able to let the user this information in a declarative way?

[2020-04-21 02:10] int8dev commented on #418
It is possible to support a custom defined patch defined at CRD level which the usage is similar to https://kubernetes.io/docs/tasks/run-application/update-api-object-kubectl-patch/.
I think it is good to start from [json patch](https://tools.ietf.org/html/rfc6902) as  it is intuitive and simple.

[2020-04-21 16:31] sbose78 opened #431 "Community meeting Agenda , April 23"
* Please add a topic in this thread and add a link to the Github issue associated with the topic.

* Please make sure you give folks enough time to review/discuss the topic offline on Github before coming into the meeting :)

[2020-04-22 11:34] #419 closed

[2020-04-22 14:39] int8dev commented on #422
AFAIK currently operator only watch the following resources

- ServiceBindingRequest CRD
- Configmaps
- Secrets
- CRDs owned by ClusterServiceVersion resources.

So If we specify other CRDs in `applicationSelector` or `backingServiceSelectors`, reconcile would not be triggered as they are not watched by informer.

And I also noticed another potential issue that after a success reconcile for knativ

[2020-04-22 14:52] sbose78 commented on #422
The controller doesn't "manage"/"watch" the workload at the moment and it was a design decision to let the admins be the ultimate manager of workloads. I am happy to revisit it - hence there are no annotations on deployments, DeploymentConfigs, KnativeServices.

However, on modification of the SBR, a reconcile should be triggered, that sounds like a bug.

[2020-04-22 15:24] sbose78 commented on #422
@cdlliuy Did the initial binding work end-to-end ?

1. Create an app
2. Create a backing service
3. Create an SBR

[2020-04-22 15:24] #418 closed

[2020-04-22 15:24] sbose78 commented on #418
fixed by https://github.com/redhat-developer/service-binding-operator/pull/426

[2020-04-23 07:12] cdlliuy commented on #422
@sbose78 ,  yes , followed the above sequence to create sbr.

[2020-04-23 07:23] cdlliuy commented on #431
PRs and road-blocker issues that we would like to discuss:

* Using instance.id to distinguish multiple backendService  https://github.com/redhat-developer/service-binding-operator/pull/428 (Need to move forward)

* Customized env injection path  https://github.com/redhat-developer/service-binding-operator/issues/353 (Need to move forward)

* Failed to reconcile application when application select

[2020-04-23 07:32] int8dev commented on #422
I think we have several options to address the reconcile issue.
1. Add informer to watch whatever CRD defined in the applicationSelector. This might cause overhead as some resources like knative service are designed to update frequently and adding too many resource kinds to watch would cause potential performance issues. It would be even worse if the service binding operator is running at cluster

[2020-04-23 09:30] qibobo commented on #422
Below is how I did the test:
**1 create a kn service:**

[code]
**2 create a SBR:**

[code]
And then I can find the secret is injected:

[code]

**3 Then I updated the kn service by kubectl apply:**

[code]

And then the secret is not there anymore:

[code]

[2020-04-23 12:01] otaviof commented on #422
Community meeting notes:
- It's a road blocker, we need to reproduce the scenario and troubleshoot it again;

[2020-04-23 12:03] otaviof commented on #403
Community meeting notes:
- Pressuring point to avoid supporting two different annotations sets
- Relates to PR #407

[2020-04-23 12:14] otaviof commented on #425
Community meeting notes:
- @isutton: should we mark data points as "sensitive", and therefore expose it as a file;
- @arthurdm: what should be [env-var or volume-mount](https://github.com/application-stacks/service-binding-specification/issues/15#issuecomment-609972948);

[2020-04-23 12:45] navidsh commented on #425
Added more details to [the issue description](https://github.com/redhat-developer/service-binding-operator/issues/425#issue-600553563).

[2020-04-23 13:01] arthurdm commented on #425
To add some background:

When we were discussing how to toggle env var injection vs volume mounting in the spec [an idea](https://github.com/application-stacks/service-binding-specification/issues/15#issuecomment-609916882) was brought up in terms of having a hierarchy of ways to specify this binding.

So that's what spawned the addition of `bindAs` [as part of the annotations in the spec](https:/

[2020-04-23 16:00] Avni-Sharma commented on #422
an extension of the issue is also like the following scenario:
- Create an imported app
- Have a backend CR defined
- Create a SBR
edit the deployment to remove the `envFrom: secret ...`
The operator won't reconcile to inject the secret again. [The secret exists]

[2020-04-24 20:05] sbose78 opened #439 "Bind an application to a Crossplane.io provisioned service"
Could someone validate binding an app to a provisioned resource as per
https://crossplane.io/docs/v0.9/dynamic.html

[2020-04-24 21:29] isutton commented on #422
Can you elaborate?

I believe that between watching all resource GVKs and a subscription based watch list, the former is more helpful to the user on the long term even if the latter is simpler to implement.

[2020-04-24 22:13] sbose78 commented on #422
@cdlliuy I updated the title a bit to make it more accurate. I think I've finally caught up with this thread. The behaviour you've specified is as per design.

1. If the backing service and it's associated secrets/configmaps change, controller should reconcile.
2. If the application workload changes, the operator doesn't reconcile because it was design decision we had made where we wanted to the w

[2020-04-25 02:15] DhritiShikhar opened #440 "Misleading SBR status when applicationNotFound"
## Problem

When deployment not found with the given
- `resourceRef`
- `matchLabels`+ GVR

Then, SBR status should have:

[code]

## How to reproduce

1. Follow the steps given in this [example](https://github.com/redhat-developer/service-binding-operator/tree/master/examples/nodejs_postgresql) to:
- install DB operator, Service Binding Operator
- Import an application
- Create a DB instance

2. C

[2020-04-25 02:25] DhritiShikhar commented on #440
This is similar to #422 because both of them are related to missing application.

but this is a little different issue than #422 because:

- In #422 the user creates an applicationSelector, deletes it and then re-creates it again with the same name.
So, in the end user actually has an application with the same name as specified in `applicationSelector.ResourceRef`.

- In this issue, the deployment

[2020-04-25 02:26] DhritiShikhar commented on #440
@Avni-Sharma are you looking into this bug?

[2020-04-25 02:33] DhritiShikhar commented on #422
JIRA issue -> https://issues.redhat.com/browse/APPSVC-557

[2020-04-25 02:33] DhritiShikhar commented on #440
/label important

[2020-04-26 18:33] Avni-Sharma commented on #440
looking at the latter, not 422

[2020-04-27 03:33] cdlliuy commented on #422
@sbose78 ,  @DhritiShikhar ,   got it.  So you will track this down and submit related changes to make this happen, right?

[2020-04-27 05:45] int8dev commented on #422
I think the comment from @sbose78 makes total sense. I could raise PR for this if currently nobody is occupied.

[2020-04-27 06:49] DhritiShikhar commented on #422
@int8dev Sure. Please go ahead and raise a PR for the same. I will review it.

[2020-04-27 06:49] isutton commented on #440
There are a couple of distinct cases related to the `spec.applicationSelector` field. It might be:

a. Empty;
b. Present but resolving to an empty resource list; and
c. Present and resolving to at least one resource.

In a), it is not expected the operator to retry the reconciliation since there are no expected changes in the environment that might change the result.

In b), the user has declared

[2020-04-28 17:23] yharish991 commented on #425
My thoughts to limit only one service binding CR per application. I think there are a couple of ways to do that:
1. Admission webhook
  we can implement a validating webhook to validate the CR in the operator. But there are some problems if we are relying on OLM for installation of operator and the administrator must care about certificates and regenerate them when they expire. I believe some of t

[2020-04-30 10:59] isutton opened #445 "Community Meeting, April 30th"
# Agenda
* Confirm this meeting will be weekly on Wed, instead of THu.
* Discussion about PRs
    * Add watching for workloads #442
    * Associate binding secret to a custom schema path in the workload #353
    * Streamline data retrieval based on annotations #407

[2020-04-30 12:03] Avni-Sharma commented on #445
https://gist.github.com/isutton/12a20a8aa1f9a1469a963caa4fc13f3a for #353

[2020-04-30 12:10] isutton opened #446 "Community Meeting - May 14, 2020"
- Please add a topic in this thread and add a link to the Github issue associated with the topic.

- Please make sure you give folks enough time to review/discuss the topic offline on Github before coming into the meeting :)

[2020-05-01 08:04] Avni-Sharma commented on #445
Closing this issue. Specific discussions have now been moved to #446

[2020-05-01 08:04] #445 closed

[2020-05-01 13:23] isutton opened #448 "Update Makefile to use go.mod instead of relying on checkout location to infer project properties"
Currently the Makefile extracts information from the project assuming a checkout in GOPATH:

[code]

Extracting this information from the project's `go.mod` will use the same source of authority Go uses when building the project.

[2020-05-06 13:32] Avni-Sharma opened #449 "Upgrade operator-sdk to v0.17.x"
Refer https://github.com/operator-framework/operator-sdk/blob/master/website/content/en/docs/migration/version-upgrade-guide.md#v017x

[2020-05-06 18:29] sbose78 commented on #364
@redhat-developer/service-binding could you do a final weighing in on this, and agree on the group and kind?

[2020-05-07 07:10] baijum commented on #364
The kind name `ServiceBinding` looks good. A generic group like `service.binding` is also fine.

[2020-05-07 08:02] Avni-Sharma commented on #364
+1

[2020-05-07 12:30] #431 closed

[2020-05-08 03:17] lanceliuu opened #450 "Potential issues for unit tests caused by fake clients"
There are two types of client in concrete type `Binder` in https://github.com/redhat-developer/service-binding-operator/blob/master/pkg/controller/servicebindingrequest/binder.go#L43-L44.
[code]
In unit tests both of them are initliazed with provided objects. But the underneath behavior of both is to create deep copies of the objects. So the two client are holding two different objects and CRUDs m

[2020-05-08 07:53] isutton commented on #450
Indeed, the dynamic client is enough for binder to interact with the API server.

This is a left over from before we have introduced the dynamic client, it's fine to remove it.

For reference`*unstructured.Unstructured` are fed to the test scenario to be used by the fake dynamic client.

[2020-05-08 14:48] sbose78 opened #453 "Organizing this project differently - new org"
Re-thinking my answer on having a new Github org. It might be valuable, I think. There are few things that could make it have its own org:

- Service Binding Controller repo https://github.com/redhat-developer/service-binding-operator
- Service Binding  OLM Manifests https://github.com/redhat-developer/service-binding-operator-manifests
- Service Binding Specification https://github.com/applicatio

[2020-05-08 14:53] sbose78 commented on #453
I've claimed https://github.com/orgs/service-binding ≥

Thoughts @redhat-developer/service-binding

[2020-05-08 15:05] DhritiShikhar commented on #453
+1 on a new org

[2020-05-08 18:38] Avni-Sharma commented on #453
+1

[2020-05-08 21:25] sbose78 opened #454 "Narrow down what the controller SA can 'update'"
I would like to propose that we must reduce the following [permission](https://github.com/redhat-developer/service-binding-operator-manifests/blob/master/0.1.1-293/service-binding-operator.v0.1.1-293.clusterserviceversion.yaml#L145) to allow `update` of only those resources which we know for sure are going to have the binding secret injected.

[code]

That way we'll be able to reduce the privilege

[2020-05-08 21:26] sbose78 commented on #454
cc @redhat-developer/service-binding

[2020-05-09 13:25] DhritiShikhar opened #455 "Remove backingServiceSelector from the CRD spec"
Remove [backingServiceSelector](https://github.com/redhat-developer/service-binding-operator/blob/master/pkg/apis/apps/v1alpha1/servicebindingrequest_types.go#L33) in favour of [backingServiceSelectors](https://github.com/redhat-developer/service-binding-operator/blob/master/pkg/apis/apps/v1alpha1/servicebindingrequest_types.go#L39)

[2020-05-09 14:47] Avni-Sharma commented on #455
Shall we address it when we are breaking the API by changing the Kind and the Group?
Also, shall we change to applications and services altogether along with the Kind and group change?

[2020-05-09 17:31] sbose78 commented on #455
Yes, let's address this altogether when we break th API.

[2020-05-09 17:33] sbose78 commented on #455
This might break the UI I think?

[2020-05-09 18:27] DhritiShikhar commented on #455
Yes, we can solve this when we want to break the API.. but yes, this is something that should be fixed.

[2020-05-09 18:29] DhritiShikhar commented on #455
because having two fields `backingServiceSelector` and `backingServiceSelectors` is confusing and we have to handle two cases.

[2020-05-09 19:45] sbose78 commented on #455
Right! Thanks for tracking this closely.
On a related note, we should probably use [ group, version, kind, name ] instead of [ group, version, kind, resourceRef ] ?

[2020-05-10 06:19] DhritiShikhar commented on #455
@sbose78

Yes. +1 We should use `name` instead of `resourceRef`.

[2020-05-11 01:22] sbose78 commented on #454
Note: Changes should be made in this repo's /deploy directory.

[2020-05-11 04:25] akashshinde commented on #453
+1

[2020-05-11 09:39] DhritiShikhar opened #456 "remove `detectBindingResources`"
the boolean value of `detectBindingResources` flag is no where used in the code

[code]

[2020-05-11 09:54] DhritiShikhar commented on #422
@lanceliuu

Your PR (https://github.com/redhat-developer/service-binding-operator/pull/442) solves this scenario (https://github.com/redhat-developer/service-binding-operator/issues/422#issuecomment-618484986)

but the original issue (https://github.com/redhat-developer/service-binding-operator/issues/422#issue-599321019) is still not addressed -> https://github.com/redhat-developer/service-bindin

[2020-05-11 10:27] pratikjagrut commented on #453
+1

[2020-05-11 10:27] Avni-Sharma commented on #456
It is being used here https://github.com/redhat-developer/service-binding-operator/blob/master/pkg/controller/servicebindingrequest/bind_custom_resources.go#L67

[2020-05-11 10:28] Avni-Sharma commented on #456
We should not remove this and there are couple of examples for the functionality of the same captured here
https://github.com/redhat-developer/service-binding-operator/tree/master/examples/nodejs_etcd_operator
https://github.com/redhat-developer/service-binding-operator/tree/master/examples/multiple_services

[2020-05-11 10:37] DhritiShikhar commented on #456
How are you getting the value from `ServiceBindingRequest`?

[2020-05-11 10:44] Avni-Sharma commented on #456
we are getting from options here https://github.com/redhat-developer/service-binding-operator/blob/master/pkg/controller/servicebindingrequest/binding.go#L47 and since it is a bool we are checking it here https://github.com/redhat-developer/service-binding-operator/blob/master/pkg/controller/servicebindingrequest/binding.go#L330 and calling the appropriate function

[2020-05-11 10:49] DhritiShikhar commented on #456
oh Thanks @Avni-Sharma

Closing this issue

[2020-05-11 10:49] #456 closed

[2020-05-11 16:17] DhritiShikhar commented on #413
This issue is fixed in #407

[2020-05-11 16:17] #413 closed

[2020-05-12 03:03] cdlliuy opened #458 "Only the last SBR is recorded in backingservice annotation."
Currently,  we have a requirement to  support the multiple application binding testcase:
 binding application `A` -> backingService CR `Y`  with SBR CR named as A-Y
 binding application `B` -> backingService CR  `Y` as well  with SBR CR named as B-Y

After the binding operation, I would like to do some further queries to understand how many application is bound to the service.
But when checking th

[2020-05-12 03:28] sbose78 commented on #458
This looks right to me. We should support this.

[2020-05-12 07:12] DhritiShikhar commented on #458
I was able to reproduce the issue.

[code]

Absolutely right.

[code]

This design looks concise and clean.

[2020-05-12 20:23] isutton opened #459 "Broadcast warning messages to the user through k8s events"
Kubernetes events can be used to inform the user annotations have been skipped because there was an error interpreting it., see https://github.com/redhat-developer/service-binding-operator/pull/407#discussion_r422494018

[2020-05-12 20:52] isutton opened #460 "Review and improve internal code documentation"
The following notes were raised during #407 review:

* https://github.com/redhat-developer/service-binding-operator/pull/407#discussion_r418206778
* https://github.com/redhat-developer/service-binding-operator/pull/407#discussion_r418207025
* https://github.com/redhat-developer/service-binding-operator/pull/407#discussion_r418207571

[2020-05-12 20:54] isutton opened #461 "Migrate e2e test fixtures from Go code to YAML"
https://github.com/redhat-developer/service-binding-operator/pull/407#discussion_r418184420

[2020-05-12 20:57] isutton opened #462 "Review symbols visibility"
* https://github.com/redhat-developer/service-binding-operator/pull/407#discussion_r418060863
* https://github.com/redhat-developer/service-binding-operator/pull/407#discussion_r418064113
* https://github.com/redhat-developer/service-binding-operator/pull/407#discussion_r418064449
* https://github.com/redhat-developer/service-binding-operator/pull/407#discussion_r418198154
* https://github.com/red

[2020-05-12 20:58] isutton opened #463 "Improve error handling"
* https://github.com/redhat-developer/service-binding-operator/pull/407#discussion_r422491032
* https://github.com/redhat-developer/service-binding-operator/pull/407#discussion_r422490504
* https://github.com/redhat-developer/service-binding-operator/pull/407#discussion_r418073489
* https://github.com/redhat-developer/service-binding-operator/pull/407#discussion_r418074534
* https://github.com/red

[2020-05-13 10:44] DhritiShikhar commented on #463
Related Jira Issue -> https://issues.redhat.com/browse/APPSVC-578

[2020-05-14 00:19] sbose78 commented on #446
From @isutton :

- Follow up single vs. multiple applications in Service Binding.
  * Related to "Associate binding secret to a custom schema path in the workload #353"
- Follow up observing all GVKs in SBO at startup time with specific CustomResourceDefinition add events.
  * Related to "Add watching for workloads #442"

[2020-05-14 00:20] sbose78 commented on #446
- @redhat-developer/service-binding to call out features/bugs that would be actively worked upon.

[2020-05-14 00:24] sbose78 commented on #396
@redhat-developer/service-binding Has this been addressed in #407 ?

[2020-05-14 00:25] sbose78 commented on #446
@redhat-developer/service-binding to mention plan for switching the Group/Kind.

* https://github.com/redhat-developer/service-binding-operator/issues/364
* https://github.com/redhat-developer/service-binding-operator/issues/365.

[2020-05-14 04:44] cdlliuy commented on #446
* progress on #353
* progress and further questions on issue #422

[2020-05-14 08:14] isutton opened #466 "Community Meeting, May 14th"
Agenda

* #407 has landed, what's next?

[2020-05-14 08:30] dharmit opened #467 "Binding request fails with "application ResourceRef or MatchLabel not found" in spite of seemingly correct values"
Initially I tried to follow [this example ](https://github.com/redhat-developer/service-binding-operator/tree/179c2fb40bb274eeacace087320b00154a6d0e48/examples/nodejs_etcd_operator) to create a nodejs application that binds to etcd cluster. However, it failed with `application ResourceRef or MatchLabel not found` error.

Later, I was advised to use node code [from this repo](https://github.com/pma

[2020-05-14 08:32] DhritiShikhar commented on #466
Closing in favour of #446

[2020-05-14 08:32] #466 closed

[2020-05-14 09:07] otaviof commented on #462
This issue is also related to #375 reported before.

[2020-05-14 09:18] lanceliuu commented on #422
@DhritiShikhar The original issue should also be addressed if we fixed the issue I mentioned in https://github.com/redhat-developer/service-binding-operator/pull/442#issuecomment-621108140. If the sbr could enter into a fail and requeue state after deleting the workload, then it will be successfully binding to the newly created application eventually after some back-off time.

[2020-05-14 09:42] lanceliuu commented on #446
https://github.com/redhat-developer/service-binding-operator/pull/457#issuecomment-628521331

[2020-05-14 12:02] arthurdm commented on #403
@isutton / @sbose78 - we could use this issue to lay out the plan and divide-and-conquer in terms of resources?

[2020-05-14 13:21] DhritiShikhar commented on #467
@dharmit There is a typo in `spec.applicationSelector.resourceref`
It's supposed to be `resourceRef:` with a capital R.

Can you try again with this change and let me know?

[2020-05-14 13:54] dharmit commented on #467
This makes me feel really stupid. SBR gets created.

Should the nodejs app now be able to store stuff? I still see `DB: NA` at the top of the page. And clicking save opens a box but nothing gets saved. :confused:

[2020-05-14 14:03] isutton opened #470 "Community Meeting - May 22nd, 2020"
* Please add a topic in this thread and add a link to the GitHub issue associated with it
* Please make sure you give folks enough time to review/discuss the topic offline on GitHub before coming into the meeting :)

[2020-05-14 14:19] DhritiShikhar commented on #467
Looking into it

[2020-05-14 15:04] Avni-Sharma commented on #467
@dharmit can you check if the resourceRef is mentioned as `nodejs-rest-http-crud` or `nodejs-rest-http-crud-git` in topology?

[2020-05-14 18:13] isutton opened #471 "Increase coverage in existing tests"
Review comments related to coverage in existing tests after #407:

* https://github.com/redhat-developer/service-binding-operator/pull/407#discussion_r422490037
* https://github.com/redhat-developer/service-binding-operator/pull/407#discussion_r422473473
* https://github.com/redhat-developer/service-binding-operator/pull/407#discussion_r418196105
* https://github.com/redhat-developer/service-bindi

[2020-05-14 18:13] isutton commented on #471
/cc @pradeepto @sbose78 @pedjak

[2020-05-14 18:22] isutton opened #472 "Review test names"
Review comments from #407 regarding test names:

* https://github.com/redhat-developer/service-binding-operator/pull/407#discussion_r418204201
* https://github.com/redhat-developer/service-binding-operator/pull/407#discussion_r418185911
* https://github.com/redhat-developer/service-binding-operator/pull/407#discussion_r418186050
* https://github.com/redhat-developer/service-binding-operator/pull/4

[2020-05-14 18:54] isutton commented on #472
/cc @pradeepto @sbose78 @pedjak

[2020-05-14 18:55] isutton commented on #463
/cc @pradeepto @sbose78 @pedjak

[2020-05-14 18:56] isutton commented on #462
/cc @pradeepto @sbose78 @pedjak

[2020-05-15 05:05] dharmit commented on #467
I tried but couldn't find `resourceRef` in the Topology view. So I checked `oc get deployments/nodejs-rest-http-crud -o yaml` and couldn't find `nodejs-rest-http-crud-git` anywhere. I do see a label `app.kubernetes.io/part-of: nodejs-rest-http-crud-app`.

Anyhow, I tried changing the `resourceRef` to all the three values that I mentioned above. But the `DB: NA` thing stays as-is.

[2020-05-15 05:21] sbose78 commented on #467
@dharmit That app isn't written in a way that it can 'understand' etcd :)
However, to validate if binding has really happened, could you verify if the podSpec has the binding secret injected in the Deployment?

[2020-05-15 05:31] dharmit commented on #467
:disappointed:

Is it possible to have such an example in the docs? The [ToDo app](https://github.com/akashshinde/node-todo) is pretty close. It fails to come up when created through Dev Console. But through `odo push`, I can spin it up just fine. However, the moment I create an sbr to connect it with an etcd cluster, something goes wrong.

It rightly creates a new pod after successful creation of

[2020-05-15 13:28] Avni-Sharma commented on #467
@dharmit what does the `Status` show when you create the SBR. Does it show TRUE/FALSE

[2020-05-15 13:39] isutton commented on #384
I asked this question in #435 but I believe I should've done it here: can you elaborate the reason the finalizer should be removed in this situation?

[2020-05-15 20:41] navidsh commented on #384
@isutton

Currently, if `applicationSelector` is removed from an SBR and the `finalizer` remains in the SBR, `b.Binder.Unbind()` returns an error (`application ResourceRef or MatchLabel not found` - logs included below):

https://github.com/redhat-developer/service-binding-operator/blob/179c2fb40bb274eeacace087320b00154a6d0e48/pkg/controller/servicebindingrequest/servicebinder.go#L138-L172

And la

[2020-05-18 05:43] qibobo opened #475 "Service binding global and service envVarPrefix doesn't behave as expected"
According to our latest test, there are some features broken after #407 is merged.

Below is the SBR and the environment result.

[code]

Env var result:

[code]
There are 3 issues I have found:

1 There are prefixes `BINDING_SECRET_STATUS` for all env vars, but previously we do not have them.
2 With the custom env var `ALL_SECRET`, there is only secretName in the result content, but previously th

[2020-05-18 05:44] qibobo commented on #475
@isutton I can provide a PR for this issue.

[2020-05-18 12:48] isutton commented on #475
@qibobo I believe we've implemented all the logic required from #428 (it had to be re-implemented in #407 due to the changes of internals), but I might've been wrong and instead [misunderstood this table](https://github.com/redhat-developer/service-binding-operator/pull/428#issuecomment-616936060); so thanks for offering to contribute this one 👍.

Here is the function responsible for deciding how

[2020-05-18 13:12] isutton commented on #384
Thanks for the explanation @navidsh!

In general terms, I'd prefer to have as least branches as possible in the operator business logic so it makes sense to revisit the need of finalizers and investigate whether we can represent the same using owner references.

On the top of my head, it should be possible to patch the service binding resource itself to register the collected applications as resou

[2020-05-18 13:31] qibobo commented on #475
@isutton
For issue1, sorry for my misunderstanding, and I will fix the issue2 and issue3.

[2020-05-18 13:35] isutton commented on #403
@Avni-Sharma will be implementing this with my collaboration.

The plan so far is, with the changes introduced in #407 :

* Modify [`annotations.BuildHandler`](https://github.com/isutton/service-binding-operator/blob/179c2fb40bb274eeacace087320b00154a6d0e48/pkg/controller/servicebindingrequest/annotations/annotations.go#L66-L91) to support the new annotations;
* Implement a predicate similar to [`

[2020-05-18 13:36] isutton commented on #403
/assign @Avni-Sharma

[2020-05-18 14:48] isutton commented on #475
I'll reply to each point in a different comment, if you don't mind.

Regarding point 1 I believe we should split an environment variable to find out where does each part come from in the environment variable name
`GLOBALPREFIX_PREFIX1_BINDING_SECRET_STATUS_SECRETNAME_IAM_ROLE_CRN`:

* `GLOBALPREFIX` is present because the `.spec.envVarPrefix` is declared;
* `PREFIX1` is present because `spec.backi

[2020-05-18 15:14] isutton commented on #475
There are two points I'd like to clarify with you, regarding the `ALL_SECRET` variable in your example:

1. What is expected to exist in the `.` context in `{{ json . }}`? As a thought experiment, I believe that expression is meant to serialize metadata regarding the services, not regarding the template context
\
If this is indeed true, then it should be straightforward to create another "bucket"

[2020-05-18 15:23] qibobo commented on #475
@isutton
1 For env_var_prefix, by global_env_var_prefix and service_env_var_prefix, we can distinguish multiple backing services. And with the `BINDING_SECRET_STATUS_SECRETNAME`, the env_var will be too long. I prefer to not add it.

2 For the custom env var, based on the example below, once we add the` id `to backing-service, we can use the `id` in custom env var template. For `VCAP_SERVICES`, we

[2020-05-18 15:35] sbose78 commented on #475
Ideally, we should not have the `KIND_STATUS` substring in env vars at all since typically apps don't have env vars which look like that :) We had initially introduced it, we should gradually deprecate it - and update our sample projects.
https://github.com/redhat-developer/service-binding-operator/pull/428 was a soft way to do so

My proposed next steps:
* the behaviour we had in master should de

[2020-05-19 06:28] dharmit commented on #467
It shows "True".
[code]
My original concern has been addressed. So I'll close this issue. Thanks for your help @DhritiShikhar @Avni-Sharma & @sbose78. :+1:

[2020-05-19 06:29] #467 closed

[2020-05-19 07:52] #446 closed

[2020-05-19 08:20] qibobo commented on #475
@isutton @sbose78
I've done a test for behaviors that before and after [PR407](https://github.com/redhat-developer/service-binding-operator/pull/407) is merged.
The SBR:
[code]
The result before PR407:
[code]

The result after PR407:

[code]

The differences between before and after. I prefer we make current behavior the same as before for the following 3 ones.

[code]

[2020-05-19 10:00] pmacik opened #476 "Unable to delete project/namespace due to waiting for SBO's finalizers"
After successfully executing the [`nodejs_postgresql`](https://github.com/redhat-developer/service-binding-operator/blob/master/examples/nodejs_postgresql/README.md) scenario I attempted to delete the example's `service-binding-demo` project by executing the `oc delete project service-binding-demo` command.

I expected the project to be deleted after 10s of seconds (while it is supposed to delete

[2020-05-19 14:13] Avni-Sharma commented on #476
I believe this is related to https://github.com/redhat-developer/service-binding-operator/issues/384 as well

[2020-05-19 19:16] aceeric opened #477 "pkg/controller/servicebindingrequest/service.go bug"
I'm building a POC with Strimzi binding. I defined a service binding request thus:
[code]
I modified the Kafka User Secret to be owned by the Kafka User:
[code]
Goal is to have the binding service operator process that secret because it is owned by the kafka user. No matter what I tried, the binding would not find the secret. Stepping through the binding operator, I found code in `pkg/controller/s

[2020-05-19 22:31] isutton commented on #475
@qibobo can you share more information about the scene, such as the `Binding` CRD definition, or whether there are OLM definitions for it?

[2020-05-20 01:35] qibobo commented on #475
@isutton
This is the Binding CRD, https://github.com/IBM/cloud-operators/blob/master/releases/v0.1.8/001_ibmcloud_v1alpha1_binding.yaml.
And we do not have the OLM.

[2020-05-20 07:29] isutton commented on #475
@qibobo Thanks for your thorough verification, really appreciated!

Given this information and the [`Binding` CRD](https://github.com/IBM/cloud-operators/blob/master/releases/v0.1.8/001_ibmcloud_v1alpha1_binding.yaml) I believe the binding that's happening is different than the binding you're expecting.

In the app used in the internal examples, a reference to the service kind in environment varia

[2020-05-20 22:15] sbose78 commented on #477
Thanks for reporting this, cc @redhat-developer/service-binding

[2020-05-21 01:24] qibobo commented on #470
we can discuss about issue https://github.com/redhat-developer/service-binding-operator/issues/475

[2020-05-21 02:23] lanceliuu commented on #470
Discussed the next step and any concern for below:
https://github.com/redhat-developer/service-binding-operator/pull/457
https://github.com/redhat-developer/service-binding-operator/pull/442

[2020-05-21 03:32] qibobo commented on #475
@isutton @sbose78
**I refactored the test result by adding more details:**

I've done a test for behaviors that before and after [PR407](https://github.com/redhat-developer/service-binding-operator/pull/407) is merged.

I have done a patch to the Binding CRD to ensure it can work with the annotations:
[code]
The SBR:
[code]

The result before PR407:
[code]
And when I applied the SBR after PR407, t

[2020-05-21 05:11] baijum opened #479 "Link to Service Binding Specification from README"
A link to [Service Binding Specification](https://k8s-service-bindings.github.io/spec) would be apt in README.

[2020-05-21 06:22] baijum opened #480 "Makefile with shell script for installing operator-sdk"
From:
https://github.com/redhat-developer/service-binding-operator/pull/478#issuecomment-631526574

[2020-05-21 07:33] otaviof commented on #480
In general, I find the idea of reusing the scripts between our operators a good idea. We have common needs like to install `operator-sdk`, `kubectl`, executing Codecov script, and other common automation that we can share.

So my +1 on this :-)

[2020-05-21 07:42] Avni-Sharma commented on #479
https://github.com/application-stacks/service-binding-specification/blob/master/annotations.md for a detailed description.

[2020-05-21 11:22] DhritiShikhar commented on #470
@isutton We decided to move this meeting to tomorrow. I will reschedule the meeting invite.

[2020-05-22 07:37] ZhuangYuZY commented on #470
Status ? https://github.com/redhat-developer/service-binding-operator/pull/353

[2020-05-22 10:34] matthewpwilson commented on #476
I've hit this too with my project. The status of the SBR is potentially interesting:
[code]

[2020-05-22 11:09] navidsh commented on #470
Controller doesn't reconcile to changes to backing services. Similar issue as #422.

[2020-05-22 11:16] isutton commented on #475
@qibobo thanks for your extensive description, that's really useful!

It should work, according to the tests mentioned in that comment.

This happens due to the introduction of `backingServiceSelectors` to support multiple backing services to avoid shadowing values in the case multiple services have exposed `status.secretName`; the disambiguation happens by prefixing each `status.secretName` with

[2020-05-22 11:54] isutton commented on #470
#468 is a priority.

Create one issue to track the extra prefix in config maps and secrets injection.

Create one issue to change the global prefix in custom env vars.

[2020-05-22 11:57] isutton commented on #470
Both #457 and #442 seem good to be merged, needs prio.

[2020-05-22 12:11] Avni-Sharma opened #481 "Document- Associate binding secret to a custom schema path in the workload"
Add relevant documentation for #353

[2020-05-22 12:28] navidsh commented on #470
Re https://github.com/redhat-developer/service-binding-operator/issues/470#issuecomment-632636193, the description of https://github.com/redhat-developer/service-binding-operator/issues/422 covers both application and **backing service** scenario.

@isutton @DhritiShikhar Please let me know if it's better I create a separate issue for backing service and keep #422 for application changes.

[2020-05-22 12:56] DhritiShikhar commented on #470
@navidsh Let me check if #442 addresses the issue or not. I will update you here.

[2020-05-22 12:57] DhritiShikhar opened #482 "Community Meeting - May 28, 2020"
- Please add a topic in this thread and add a link to the GitHub issue associated with it
- Please make sure you give folks enough time to review/discuss the topic offline on GitHub before coming into the meeting :)

[2020-05-22 12:58] DhritiShikhar commented on #470
Created a new ticket for next meeting - https://github.com/redhat-developer/service-binding-operator/issues/482

[2020-05-22 12:58] #470 closed

[2020-05-22 12:59] DhritiShikhar commented on #481
@Avni-Sharma
[1] Is this documentation suppose to reside under `docs/` ?
[2] Can we handle this as a part of #353 PR itself?

[2020-05-22 13:04] qibobo commented on #475
@isutton
For the id in custom env var case, we have an example:
With the following SBR,
[code]

The VCAP_SERVICES is:

[code]

[2020-05-22 15:05] DhritiShikhar opened #483 "`make local` fails on master"
Failure in running operator locally through `make local` CLI

[code]

[2020-05-22 15:30] Avni-Sharma commented on #481
We can have it under https://github.com/redhat-developer/service-binding-operator/tree/master/examples
I believe we can capture it as a separate PR, #353 is a priority and has been around for quite some time now, so we might want to take it in soon

[2020-05-23 01:46] sbose78 commented on #481
As for docs, could we add this to our list of sample scenarios too?

[2020-05-25 10:09] isutton commented on #481
@sbose78 @siamaksade are we good to merge then #353 without docs and track it here?

[2020-05-25 12:26] isutton commented on #475
@qibobo just to make sure I understood you correctly: this example refers to the `id` field introduced in #468 and, from the looks of it, when used with your example it behaves the way you expect.

Did I get it right? :)

[2020-05-25 12:43] isutton opened #485 "Revert annotation handling mechanism to not use the original config map or secret resource name location"
After #407 an undocumented behavior regarding annotations meant to extract config map and secret values has been unwillingly changed and needs to be reverted.

The annotations handling mechanism after #407 extracts the whole contents of the config map or secret to the same path where the config map or secret name has been stored (resulting in, for example, `.status.secretName.password` if `.data.p

[2020-05-25 12:51] isutton opened #486 "Custom environment variables should not be prefixed with global prefix"
#407 has unwillingly changed the behavior of custom environment variables, by prefixing those with the global environment variable prefix if informed.

This behavior should be reverted.

For reference, see https://github.com/redhat-developer/service-binding-operator/issues/475#issuecomment-632638688.

[2020-05-25 13:05] isutton commented on #476
This happens, from where I can see, due to the operator being shut before it receives the resource deletion event required to remove the finalizer and unblock the garbage collector.

I wonder if enabling the `--force` option when deleting the resource might workaround the issue at hand, even if temporarily during test scenarios.

[2020-05-25 17:21] navidsh commented on #384
That would work fine, so once the application is deleted, the SBR is garbage collected.

One scenario that I'm not sure how to cover without a `finalizer` is when SBR is deleted but the application is still pointing to the binding secret created as a result of SBR.

[2020-05-25 20:20] Avni-Sharma opened #487 "Use retry utility package when updating the intermediate secret"
While updating the intermediate secret https://github.com/redhat-developer/service-binding-operator/blob/master/pkg/controller/servicebindingrequest/secret.go#L55
we can be more resilient by using retry utility package

There are 2 options to Update():
1. Modify the secret variable and call: Update(secret). This works like the "kubectl replace" command and it overwrites/loses changes made by other

[2020-05-26 03:36] sbose78 commented on #475
I really appreciate the detailed conversation above.

In @qibobo 's [comment](https://github.com/redhat-developer/service-binding-operator/issues/475#issuecomment-630664959), @qibobo mentions that when both global env var prefix and service specific env var prefix is provided, the secret key name looks like this:

[code]

[PR's comment ](https://github.com/redhat-developer/service-binding-operator

[2020-05-26 04:01] qibobo commented on #475
@isutton
The id in the sample is the id in PR468 and the VCAP_SERVICES is what we expect the result should be with the id.

[2020-05-26 05:06] akashshinde commented on #483
Got the same error, but running `go mode vendor` fixed the issue.

[2020-05-26 05:15] cdlliuy opened #488 "Provide an option to run service binding operator in leader-for-lease approach"
In current service binding operator implementation, only leader-for-life is supported,
https://github.com/redhat-developer/service-binding-operator/blob/1fe7f5a2a8c8ee57c0fcb1634771a974c57206fe/cmd/manager/main.go#L85-L94

According to operator sdk docs,  some code changes is required if running it with leader-for-lease.

Given there is an environment variable setting to enable/disable the leader

[2020-05-26 05:36] akashshinde commented on #477
@aceeric correct variable pointer address is being overridden. possible fix would be:
[code]

[2020-05-26 05:37] akashshinde commented on #477
/assign

[2020-05-26 07:03] #483 closed

[2020-05-26 09:36] qibobo commented on #475
@isutton
Still get error from operator by adding annotation

`servicebindingoperator.redhat.io/status.secretName-url: binding:env:object:secret`

After adding the annotation, the CRD is as the following and we can see that the annotation has beeb added.
[code]

Then I created the following SBR:

[code]

Then the operator showed the error log:

`set:1:3: executing \"set\" at <index .v1alpha1.ibmclo

[2020-05-26 12:10] DhritiShikhar opened #490 "`make validate-release` fails on master"
[code]

[2020-05-26 12:51] DhritiShikhar opened #492 "`update-version` script throws error"
[code]

[2020-05-26 13:35] DhritiShikhar commented on #470
@navidsh #442 addresses the issue.

The annotations are re-injected in the backing service once it becomes available.

[2020-05-26 13:36] navidsh commented on #470
@DhritiShikhar Thx for confirming this

[2020-05-26 14:09] pedjak commented on #490
I cannot repeat on my machine, with a clean cluster.

[2020-05-26 14:48] DhritiShikhar commented on #422
@lanceliuu Yes. I can see that the original issue is solved as well. Thanks!

[2020-05-26 15:07] Avni-Sharma commented on #492
$1 here means an argument to be passed during running the script. Here the argument would be the new version.

[2020-05-26 15:13] Avni-Sharma commented on #492
Moreover, I think we are not using this script as the manifests-upstream has also been removed. However, we can restructure/repurpose this script for making git releases, in sync with releases on operatorHub.io.
cc @pedjak @baijum

[2020-05-26 16:15] DhritiShikhar opened #493 "Remove empty YAML"
Remove empty file:
https://github.com/redhat-developer/service-binding-operator/blob/master/test/e2e/empty.yaml

[2020-05-26 17:52] DhritiShikhar commented on #492
@Avni-Sharma if an input is required from user. More descriptive error should be returned.

[2020-05-26 17:52] DhritiShikhar commented on #492
+1

[2020-05-26 21:56] yharish991 commented on #356
why don't we have `customEnvVar` per backing service basis? some like this
[code]
It is quite common in the SQL world to refer to multiple tables all over the query, so was thinking why not here, the developers are already used to this kind of thinking. Also it solves the problem of identifying binding info. How do we identify to which service the `CONNECTION_URL` belongs when there are multiple b

[2020-05-27 09:16] #493 closed

[2020-05-27 10:55] pedjak commented on #492
@DhritiShikhar these scripts are invoked from Makefile, not sure if they were designed to be used directly.

[2020-05-27 16:20] qibobo commented on #475
@isutton
I add more log based the master branch in a personal branch [dev_qy_newlog](https://github.com/qibobo/service-binding-operator/tree/dev_qy_newlog).

And with the SBR above I got the some error log that may help:
In code https://github.com/qibobo/service-binding-operator/blob/47c3e07c8da3459c4120459c3cbfd8f57d128797/pkg/controller/servicebindingrequest/retriever.go#L129
the log print out t

[2020-05-28 08:19] DhritiShikhar opened #497 "E2E tests fail on master"
[code]

[2020-05-28 08:22] DhritiShikhar commented on #497
@redhat-developer/openshift-dev-services

Is anyone else able to reproduce this issue?

[2020-05-28 08:43] DhritiShikhar commented on #490
I can see the issue is fixed

[code]

[2020-05-28 08:43] #490 closed

[2020-05-28 09:51] qibobo commented on #482
https://github.com/redhat-developer/service-binding-operator/issues/475

[2020-05-28 10:13] dharmit opened #499 "How to use service binding operator in go code?"
In the [odo project](https://github.com/openshift/odo/), we're working on linking an Operator backed service with an application (https://github.com/openshift/odo/issues/2920). We intend to use the Service Binding Operator to do so.

My (probably naive) question is about using the SBO in our code. If I were to add dependency in glide or go.mod, what do you recommend I use? I'm asking because I see

[2020-05-28 10:25] DhritiShikhar commented on #499
@dharmit

[1] There are already ongoing conversations for making github releases -> https://github.com/redhat-developer/service-binding-operator/issues/492#issuecomment-634088251
But we don't have anything planned for the same.

[2] A lot of changes have happened since November 2019, so yes we should make a release on github as soon as possible.

[2020-05-28 10:30] DhritiShikhar commented on #499
@sbose78 @pedjak Can we draft a new release on GH?

[2020-05-28 10:44] sbose78 commented on #499
Yes, let's go ahead and do a release asap. Feel free to decide if any other fix needs to go in. The odo work is very critical and let's unblock it as soon as possible.

[2020-05-28 11:24] DhritiShikhar commented on #482
[1] Tests for PR #442

[2020-05-28 11:50] DhritiShikhar opened #500 "Community Meeting - June 04, 2020"
- Please add a topic in this thread and add a link to the GitHub issue associated with it
- Please make sure you give folks enough time to review/discuss the topic offline on GitHub before coming into the meeting :)

[2020-05-28 11:51] DhritiShikhar commented on #482
Next community meeting -> https://github.com/redhat-developer/service-binding-operator/issues/500

[2020-05-28 11:51] #482 closed

[2020-05-28 12:00] qibobo commented on #475
@isutton
From my [last comment](https://github.com/redhat-developer/service-binding-operator/issues/475#issuecomment-634777691), we can see that the secret data is not in the customEnvVarCtx. Below is a sample I think can fix it by add it into [retriever](https://github.com/redhat-developer/service-binding-operator/blob/a3e812baca0feefe31a5dae7f9da072894568b06/pkg/controller/servicebindingrequest/

[2020-05-28 14:17] pmacik opened #501 "Use generated namespace for the examples instead of hardcoded 'services-binding-demo'"

[2020-05-29 08:03] DhritiShikhar commented on #497
@pmacik are these tests meant to fall locally?

[2020-05-29 10:16] DhritiShikhar commented on #499
@dharmit Here you go -> https://github.com/redhat-developer/service-binding-operator/releases

[2020-05-29 10:34] DhritiShikhar opened #503 "Add tests for Empty Service Selector scenario"
## Motivation

Unit tests for empty service selector scenario are missing which is needed.

[2020-05-30 14:35] DhritiShikhar commented on #453
@sbose78

[1] Can we go ahead with this proposal?
[2] Is there anything that is blocking us?

Note:

https://github.com/sbose78/service-binding-admission-controller/blob/master/cmd/service-binding-webhook-server should also be moved to the new org.

[2020-06-01 15:19] cdlliuy commented on #488
Any comment on this?  If no objection, maybe we can start to draft PR for this.
@isutton  @sbose78  @DhritiShikhar  ?

[2020-06-01 19:48] DhritiShikhar commented on #488
@cdlliuy

[1] Are you suggesting to remove `leader-for-life` approach entirely and just have `leader-for-lease` approach?
[2] Would you be introducing a new environment variable for `leader-for-lease` approach?

[2020-06-02 00:44] cdlliuy commented on #488
@DhritiShikhar , I am suggesting to introduce a new env variable to leader-for-lease,  so that we can choose to use `leader-for-lease` or `leader-for-life` with deployment yaml.

[2020-06-02 00:45] DhritiShikhar commented on #488
@cdlliuy Sounds good!

[2020-06-02 00:46] DhritiShikhar commented on #488
@cdlliuy Go ahead with a PR for the same :)

[2020-06-02 13:18] cdlliuy commented on #475
@isutton , what is the next step to move this forward?  Will you raise a new PR to resolve this?

[2020-06-03 06:59] dharmit commented on #499
Thanks for addressing this @DhritiShikhar :+1:

[2020-06-03 06:59] #499 closed

[2020-06-03 14:27] DhritiShikhar commented on #492
@pedjak It would be good to have a comment on the script which says that this command is not be run directly and which phony from Makefile invokes this script.

[2020-06-04 00:59] cdlliuy commented on #500
1. update for #475
2. update for #353
3. update for #442
4.  a follow-up for #422,  how to handle of backend-service changes?   Similar approach to #442 or other recommendation?
[code]

[2020-06-04 08:44] cdlliuy commented on #488
https://github.com/redhat-developer/service-binding-operator/pull/504 added for this

[2020-06-04 11:24] isutton commented on #500
Work needs to be started for #475 (@isutton)

[2020-06-04 11:29] isutton commented on #500
Work needs to be continue for #468 (@isutton)

[2020-06-04 12:03] DhritiShikhar opened #505 "Community Meeting - June 11, 2020"
- Please add a topic in this thread and add a link to the GitHub issue associated with it
- Please make sure you give folks enough time to review/discuss the topic offline on GitHub before coming into the meeting :)

[2020-06-04 12:04] DhritiShikhar commented on #500
[2] update for #353 -> In Progress
[5] Follow up for #422 -> I will be raising an issue for adding watch for service

[2020-06-04 12:06] DhritiShikhar commented on #500
Closing this.
Next meeting -> https://github.com/redhat-developer/service-binding-operator/issues/505

[2020-06-05 17:03] #500 closed

[2020-06-08 17:53] Avni-Sharma opened #506 "RestMapper present in Options to the manager by default"
Manager initializes RestMapper in Options by default, https://github.com/redhat-developer/service-binding-operator/blob/master/vendor/sigs.k8s.io/controller-runtime/pkg/manager/manager.go#L300 , do we then need to have an explicit  `RestMapper:   mgr.GetRESTMapper()` ?  in
[code]

[2020-06-09 19:18] sbose78 commented on #481
Since it's a new non-breaking capability, the docs may go in a future PR.

[2020-06-09 19:30] sbose78 commented on #422
@cdlliuy @navidsh @DhritiShikhar Could we track the issue of watching backing services in a separate issue, since we have already handled application workloads ?

[2020-06-09 19:39] sbose78 opened #508 "Controller doesn't reconcile on changes to BackingService CR"
It's been reported that

"We use ServiceBindingRequests to bind services like kafka/databases to microservices. In the kafka example, because a cluster can take up to a few minutes to come up and make its address available to the Service Binding operator, the secrets created by the SBO are empty. It is apparent that the SBO does not watch CRDs (like kafka here) and update/recreate the secrets when

[2020-06-09 19:47] sbose78 commented on #508
* Initial implementation : https://github.com/redhat-developer/service-binding-operator/pull/162 used to watch all GVKs associated with CRDs owned by CSVs.
* In master, the controller watches all [GVKs](https://github.com/redhat-developer/service-binding-operator/blob/master/pkg/controller/servicebindingrequest/sbrcontroller.go#L154 ) including those [owned by CSVs ](https://github.com/redhat-deve

[2020-06-09 19:47] sbose78 commented on #422
https://github.com/redhat-developer/service-binding-operator/issues/508

[2020-06-09 19:47] #422 closed

[2020-06-09 19:53] sbose78 commented on #508
cc @pushkarnk @navidsh for more info.

[2020-06-10 13:18] Avni-Sharma opened #509 "Controller reconciling indefinitely after applying sbr yaml"
After #442 got merged the controller has started to watch on application workloads. When we add a SBR to connect the app and db the reconcile is on an indefinite loop, whereas it should be stimulus to changes in the sbr yaml. Now if we see the topology view(OpenShift 4.x +) the app pod dougnout indefinitely changes itself from lighter blue to darker blue circles. The activity has been captured her

[2020-06-11 01:07] cdlliuy commented on #505
* update for #475
* update for #353
* update for #468
* update for #508
*  multiple application selectors support
update for #504

[2020-06-11 10:25] qibobo opened #511 "Lack of condition updating in reconcile process"
In the reconcile process, some steps may fail without updating the SBR's condition. The steps between  [start](https://github.com/redhat-developer/service-binding-operator/blob/a7aa2af3a3df9d7afef2f75d26f163155fbc4ff4/pkg/controller/servicebindingrequest/reconciler.go#L152) and [end](https://github.com/redhat-developer/service-binding-operator/blob/a7aa2af3a3df9d7afef2f75d26f163155fbc4ff4/pkg/cont

[2020-06-11 10:26] qibobo commented on #505
https://github.com/redhat-developer/service-binding-operator/issues/511

[2020-06-11 11:23] Avni-Sharma commented on #505
cc @baijum  is #353 ready to be merged?

[2020-06-11 11:25] isutton commented on #505
@isutton remove draft status from #468, and code should not change other than bug fixes.

[2020-06-11 11:26] isutton commented on #505
@isutton submit draft PR for #475.

[2020-06-11 11:39] isutton commented on #505
@isutton discuss internally how multiple applications in a service binding would look like.

[2020-06-11 11:44] isutton commented on #511
You're completely right, we should look at it.

Let's use this issue to track whether all reconciler return points update conditions appropriately.

[2020-06-14 12:45] Avni-Sharma opened #512 "Setting ownerReference while creating the intermediate secret"
While creating the intermediate Secret (https://github.com/redhat-developer/service-binding-operator/blob/master/pkg/controller/servicebindingrequest/secret.go#L33)  we can have the ownerReferences set to the SBR that created that secret, so that during deleting SBR the intermediate secret can be deleted by the garbage collector and we need not explicitly delete it like this - https://github.com/r

[2020-06-16 12:47] pedjak commented on #509
/assign @DhritiShikhar

[2020-06-17 01:45] qibobo commented on #475
@isutton
Any update?

[2020-06-17 11:29] Avni-Sharma commented on #497
Passing for me
[code]

[2020-06-17 13:05] DhritiShikhar commented on #508
/assign @Avni-Sharma

[2020-06-17 13:18] #450 closed

[2020-06-17 13:35] isutton commented on #475
@qibobo [here it is](https://github.com/redhat-developer/service-binding-operator/pull/515), right from the oven :)

[2020-06-17 15:14] isutton commented on #475
This has been discussed in https://github.com/redhat-developer/service-binding-operator/issues/475#issuecomment-632638688:

And here https://github.com/redhat-developer/service-binding-operator/issues/475#issuecomment-631291414:

[2020-06-17 15:36] DhritiShikhar commented on #508
### How to test

1. Follow the steps given in this [example](https://github.com/redhat-developer/service-binding-operator/tree/master/examples/nodejs_postgresql) to:
- install DB operator, Service Binding Operator
- Import an application
- Create a DB instance
- Create a ServiceBindingRequest

Binding should be successful.

2. Delete DB instance

[code]

3. Recreate the DB instance with the same n

[2020-06-18 05:47] DhritiShikhar opened #516 "Community Meeting - June 18, 2020"
- Please add a topic in this thread and add a link to the GitHub issue associated with it
- Please make sure you give folks enough time to review/discuss the topic offline on GitHub before coming into the meeting.

[2020-06-18 05:47] DhritiShikhar commented on #505
Next meeting #516

[2020-06-18 05:47] #505 closed

[2020-06-18 08:02] Avni-Sharma commented on #508
For me watch for this particular example is working. I will add steps for it.

[2020-06-18 08:12] qibobo commented on #475
@isutton
I tested the PR https://github.com/redhat-developer/service-binding-operator/pull/515.
There is one issue for custom env var. To get the secret content, this is the definition in the past:
[code]
But now we need the definition as below:
[code]
We can find the whole content of data to do custom_env_var template parsing as below, I think the `status.secretName` under `v1alpha1.ibmcloud_ibm_

[2020-06-18 08:12] qibobo commented on #516
PR https://github.com/redhat-developer/service-binding-operator/pull/515 for https://github.com/redhat-developer/service-binding-operator/issues/475

[2020-06-18 10:37] Avni-Sharma commented on #508
On adding a postgres as a service first and then adding another service etcd instead of postgres the service binding secret is getting updated. That means a watch is there. Steps
i) install postgres db
2) import an app
3) Create db postgres with resourceref- db-demo
4) create sbr
5) Check contents of the binding secret
6) delete db
7) create another etcd cluster and update sbr with gvk and resourc

[2020-06-18 11:17] cdlliuy commented on #516
update for #353
update for backing service watcher :-)

[2020-06-18 11:33] pushkarnk commented on #508
@Avni-Sharma I have an application-related test case for now. I can work on a simpler test case if @navidsh hasn't already created one.

[2020-06-18 11:45] navidsh commented on #508
@pushkarnk I also used the coffeeshop app to reproduce the issue last time.
I have a sample app and I should be able to quickly recreate using the app. I'll add a comment here once it's ready.

[2020-06-18 11:45] cdlliuy commented on #475
@isutton , as discussed on the call, can you help to move forward with #515, and  add some description and hints about how to fix the annotation issue with a smaller PR?  maybe we can help to contribute the effort to make `status.secretName` annotation to work.

[2020-06-18 11:48] DhritiShikhar commented on #516
Discussion from community call:

[1] Associate binding secret to a custom schema path
There is a new PR - https://github.com/redhat-developer/service-binding-operator/pull/513
#353 should be closed.
Action Item -> Review #513

[2] Update for backing service watcher
Action Item for @navidsh  -> Need more input on this issue - https://github.com/redhat-developer/service-binding-operator/issues/508

[2020-06-18 11:49] DhritiShikhar opened #517 "Community Meeting - July 2, 2020"
- Please add a topic in this thread and add a link to the GitHub issue associated with it
- Please make sure you give folks enough time to review/discuss the topic offline on GitHub before coming into the meeting.

[2020-06-18 11:49] DhritiShikhar commented on #516
Next meeting https://github.com/redhat-developer/service-binding-operator/issues/517

[2020-06-18 11:49] #516 closed

[2020-06-18 11:52] navidsh commented on #516
Thanks @DhritiShikhar. I'll provide updates in #508

[2020-06-18 15:48] isutton commented on #475
@cdlliuy this inference is made in `newAttributeHandler` (L46-L49 below):

https://github.com/redhat-developer/service-binding-operator/blob/ea4ecd9dac0e4c16ab37ebf871ca1ffe8d63e8e9/pkg/controller/servicebindingrequest/annotations/attribute.go#L41-L64

Then it is consumed in `attributeHandler.Handle` and used as output path in the `nested.GetValue` call (L26 below):

https://github.com/redhat-deve

[2020-06-19 17:32] navidsh commented on #508
Steps to reproduce:
1. Install the Strimzi Operator (`v0.18.0`).
1. Install the Service Binding Operator `v0.1.1-282`. This is the latest version of the operator available through OperatorHub.
1. Create `ServiceBindingRequest`, application, and the backing service (Kafka) resources:
[code]
1. It takes a few minutes until the Kafka cluster is being deployed:
[code]
1. Once the cluster is up and run

[2020-06-21 13:22] DhritiShikhar commented on #497
The tests are still failing for me locally.

Cluster version - 4.4

[2020-06-22 06:07] akashshinde opened #518 "Integration tests are failing on operator-sdk v0.17.1"
E2E test cases are failing at the initial stage.

### What I did
`make test-e2e`

which internally does
[code]

### Output
Getting following error message
```INFO[0000] --namespace is deprecated; use --operator-namespace instead.```

### Plausible fix
Since operator-sdk v0.17.0 `namespace` argument has been changed to `operator-namespace`. Ref(https://github.com/operator-framework/operator-sdk/pul

[2020-06-22 06:08] akashshinde commented on #518
/bug

[2020-06-22 06:15] Avni-Sharma commented on #518
We are yet to upgrade operator-sdk version to 0.17.x We are currently on 0.16.0

[2020-06-22 09:51] Avni-Sharma commented on #509
Another issue that I am facing is that the resourceVersion in the secret is changing even when data, annotations is not changing.
Old secret
[code]

New secret
[code]

[2020-06-22 09:54] pedjak commented on #509
@Avni-Sharma can you post here the complete list of steps for reproducing this?

[2020-06-22 09:59] Avni-Sharma commented on #509
Steps to reproduce-
- Create an imported app
- Create a service
- Apply sbr yaml
(the above 3 steps can be referred from https://github.com/redhat-developer/service-binding-operator/tree/master/examples/nodejs_postgresql)

Now when i do `kubectl get pods` I see an indefinite creation and termination of nodejs app pods

[code]

[2020-06-22 11:16] isutton commented on #509
It seems the `time` property in the slice of managed fields is updated, and this information should be taken in consideration when making a decision whether a resource should or not trigger a service binding reconciliation.

Because of the composition of an entry (manager vs operation vs time) it is required to understand how those fields are updated by the API server and how to properly react whe

[2020-06-22 11:36] Avni-Sharma commented on #509
Hi @isutton . Thanks for this, managedFields is something new that I noticed
[code]

[2020-06-22 20:20] Avni-Sharma commented on #509
Also maybe the feature is disabled in crc. [many things are disabled in crc by default]
https://kubernetes.io/docs/reference/using-api/api-concepts/#disabling-the-feature
`--feature-gates ServerSideApply=false`

[2020-06-22 20:29] sbose78 commented on #509
Note,
Openshift 4.5 has `managedFields` 'enabled'.
OpenShift 4.4 does not have `managedFields`.

Is this issue visible in a 4.4 cluster?

[2020-06-22 20:31] Avni-Sharma commented on #509
@isutton  Should we consider overriding field managers with an empty string? while updating the interim secret https://github.com/redhat-developer/service-binding-operator/blob/master/pkg/controller/servicebindingrequest/secret.go#L55
I see only the FieldManager in the UpdateOptions but not `time`. :thinking:

[2020-06-22 20:34] sbose78 commented on #509
I had seen the infinite reconcile issue almost 8-9 months back when I had disabled it. The controller was trying to update the annotations in the Deployment object and was failing to do so because the local copy of the Deployment object was going stale.

[2020-06-22 20:43] Avni-Sharma commented on #509
Hi @sbose78
Tried on 4.4 cluster and resourceVersion is changing for 4.4 cluster as well, regardless of the managedFields

old secret
[code]

new secret
[code]

[2020-06-23 01:00] #488 closed

[2020-06-23 01:02] sbose78 commented on #477
@akashshinde @pedjak could you please retitle the issue?

[2020-06-23 01:07] sbose78 commented on #387
Done in #428

[2020-06-23 01:07] #387 closed

[2020-06-23 01:12] sbose78 commented on #396
Done in #468

[2020-06-23 01:13] #396 closed

[2020-06-23 02:09] sbose78 commented on #486
Could you please summarize the issue here?

[2020-06-23 08:20] isutton commented on #509
@Avni-Sharma the feature is indeed disabled in CRC 1.11 because it distributes OpenShift 4.4, thanks for confirming it.

@Avni-Sharma: my current understanding is that `metadata.managedFields` is used to hold data that is changed by different actors to allow server-side logic to properly mutate the resource, so in this particular case the resource is indeed being modified to keep track of server-s

[2020-06-23 10:00] Avni-Sharma commented on #509
Even if there is an Update() call and the data payload has not changed, I don't think the secret Object should get updated. It is just like me trying to applying a secret.yaml file which has already been applied and then I get `secret/mysecret unchanged`  in this case the resorceVersion should not change even if the update() has been called

[2020-06-23 10:21] DhritiShikhar commented on #517
Cancelling the June 25, 2020 meeting because of Chinese holiday on Thursday, Friday.

The next meeting is on July 2, 2020.

[2020-06-23 12:11] pmacik commented on #497
@DhritiShikhar If you mean by locally - running it locally with a provided `kubeconfig` to an external OpenShift cluster or local CRC than the answer is no, these should definitely pass

[2020-06-23 12:12] sbose78 commented on #471
cc @pmacik

[2020-06-23 12:15] DhritiShikhar commented on #68
@sbose78 Can you give more information on this?

[2020-06-23 12:22] sbose78 commented on #440
being done as part of https://github.com/redhat-developer/service-binding-operator/pull/498

[2020-06-23 12:31] sbose78 commented on #485
@isutton would you want to pick this up?

[2020-06-23 12:32] sbose78 commented on #476
cc @pmacik @isutton could you please validate

[2020-06-24 11:38] ron1 commented on #409
@sbose78 According to OCP Bugzilla issue https://bugzilla.redhat.com/show_bug.cgi?id=1823410#c2, mixing CRD and a native API resource is not supported. The group "apps.openshift.io" is a native API resource managed by openshift api server and the Service Binding Requests CRD specifies the same group.

Did your team get approval from the OCP team before using API group "apps.openshift.io" for the S

[2020-06-24 11:44] pmacik commented on #476
cc @sbose78 I've just tried again with SBO `v0.1.1-307` and with OpenShift `v4.5.0-rc.2` and it's still there.

[2020-06-24 11:48] pmacik commented on #476
@isutton I even tried with the `--force`
[code]
but the workaround didn't work... the project is still in `Terminating` state after a while.

[2020-06-24 11:58] sbose78 commented on #409
Ah thanks!
We didn't , more so because that's okay in 4.x . And not okay prior to that, since support for CRDs didn't really exist prior in 3.x . I understand that's what gets us into muddy waters.

[2020-06-24 12:24] #477 closed

[2020-06-24 14:26] ron1 commented on #409
Hi @sbose78 Actually, I think OCP 3 started supporting CRDs way back in version 3.7. Is it your understanding that OCP 4 fully supports mixing CRDs and native APIs?

[2020-06-24 19:58] Avni-Sharma opened #520 "Update status with a proper message when two similar services have been referred in 2 SBR for the same app"
An informational condition could be created to inform the user there's a duplicated entry in the services field, but it shouldn't prevent the well functioning of the operator because of that fact.

Refer https://github.com/redhat-developer/service-binding-operator/pull/514#issuecomment-645809793

[2020-06-25 07:13] pratikjagrut commented on #497
@DhritiShikhar @pmacik
According to logs posted by @DhritiShikhar, the tests are failing here: https://github.com/redhat-developer/service-binding-operator/blob/master/test/e2e/servicebindingrequest_test.go#L575

The test is not able to get `intermediate secrets` from the cluster, and hence its `sbrSecret` is null. Hence `require.Eventually` throwing `Condition never satisfied` error.

[2020-06-25 07:18] ron1 commented on #409
@sbose78 I downgraded our OCP 3.11 version from 3.11.188 to 3.11.43 and the CRD installed without incident. Since the CRD installs successfully on early OCP 3.11 versions as well as OCP 4.x versions, the fact the CRD installation fails on recent OCP 3.11 versions should be considered a significant OCP 3.11 bug introduced as a regression. Thanks for your assistance troubleshooting this issue.