[2020-06-26 12:38] DhritiShikhar opened #525 "Service Binding Operator goes into a consistently crashlooping state."
BB:

"I have the service binding operator running in a long-running cluster and the operator itself seems to have recently gone into a consistently crashlooping state. Was there a known breaking change pushed out that my cluster auto-updated to?"

[code]

BB: "For some reason the service binding operator is trying to watch some other CRD in my cluster that does not exist?"

SB:"It responds to new

[2020-06-26 12:48] bbrowning commented on #525
This cluster has Service Binding Operator `0.1.1-282` installed. The cluster itself is running OpenShift `4.4.8`.

[code]

That namespace-configuration-operator.v0.2.0 lists 3 CRDs as owned in its CSV file, one of which is the `UserConfig` CRD in the error message above. That operator update is hung for some reason that I'll have to go figure out, but as a result the new CSV (that's still in a Pen

[2020-06-26 12:48] Avni-Sharma commented on #520
An update in the status would only  happen effectively if the similar services are in the same SBR, however, with 2 different sbrs and a similar service in both the sbrs, won't be able to update the status of their respective sbrs, with the knowledge of having distinct services.

[2020-06-26 12:52] sbose78 commented on #525
Yeah, probably not. I just searched on the API group name :)

[2020-06-26 14:03] sbose78 commented on #409
This is interesting! Thanks for reporting this and getting it to work, we've actually never tested this on 3.11 :) Good to know there's a way out and that specific versions are buggy.

[2020-06-28 16:03] Avni-Sharma commented on #509
On observation, I see that the env[0].value keeps changing in the spec and resulting in an overall reconcile again even when the secret's resourceVersion issue has been handled in the WIP PR - 523
[code]

[code]

[2020-06-29 13:10] noelo opened #526 "Minor typos in route_k8s_resource example"

[2020-06-29 14:26] DhritiShikhar commented on #525
Conversations around this issue on Slack:

![Screenshot from 2020-06-29 19-55-30](https://user-images.githubusercontent.com/6303309/86018215-a827a600-ba42-11ea-927a-e07073ac3f91.png)

[2020-06-29 16:49] Avni-Sharma commented on #526
Fixed in #527

[2020-06-30 02:54] qibobo opened #530 "SBR can not be deleted after the bound application has been deleted"
The issue was fixed in https://github.com/redhat-developer/service-binding-operator/commit/f5dfc45e069ef32d7d6fee04e1f575f068d04ae5,
but now it re-occurs again.

I will provide a PR for it.

[2020-06-30 08:07] Avni-Sharma opened #532 "Running e2e tests in parallel"
e2e tests take considerable amount of time to run to its completion. We should look into running the different steps mentioned here
https://github.com/redhat-developer/service-binding-operator/blob/master/test/e2e/servicebindingrequest_test.go#L86
 to run in parallel.

[2020-06-30 10:39] Avni-Sharma commented on #476
I also see that the random suffix appended to the test-namespace is not changing for me even when I change my clusters from 4.4 to 4.5.
I am getting the test namespace like this `test-namespace-32cea2af-8e79-46f8-a48e-6ce3b074e60c` irrespective of the cluster. The namespace name should ideally change

[2020-06-30 11:07] pmacik commented on #476
@Avni-Sharma the name (the suffix) of the namespace is [generated](https://github.com/redhat-developer/service-binding-operator/blob/master/Makefile#L191) and stored in the `out/test-namespace` file and is used until the file is deleted (for example by running `make clean`).
That is why it persists the change of a cluster.

[2020-07-01 17:09] pushkarnk commented on #508
@Avni-Sharma Can you let us know the outlook on this issue please? Thank you :)

[2020-07-02 02:23] cdlliuy commented on #517
#475 and following-up #515 and #521
#509,   is that possible to explain this a little bit further?
#513  progress
#508 progress

[2020-07-02 06:04] dharmit opened #535 "Unable to delete a service binding request if underlying application and/or service are deleted beforehand"
### What did I do? / Steps to reproduce
1. Created an application based on [this repo](https://github.com/akashshinde/node-todo) using OpenShift DevConsole.
2. Created an EtcdCluster service from its Operator.
3. Created a link between 1 & 2 using below yaml:
[code]
4. Deleted either of the OpenShift objects created in 1 & 2.

### Actual behaviour
Unable to delete the service binding request creat

[2020-07-02 07:16] dharmit opened #536 "How to install Service Binding Operator on Kubernetes?"
I'd like to install SBO on k8s to try linking an application and service on k8s. I'm using minikube

1. I don't find SBO on operatorhub.io website.
2. I tried the step mentioned in [Quick Start section](https://github.com/redhat-developer/service-binding-operator#quick-start) but faced below error:
[code]
Minikube info:
[code]

Am I doing something wrong? What's the right way to have SBO on k8s?

[2020-07-02 08:52] pratikjagrut opened #537 "Proposal for refactoring E2E"
# Refactoring E2E

This is a proposal refactoring e2e tests.

## Motivation:
Current e2e tests are fine, they work well and serves the purpose. The difficulty arises when we want to add new tests. The basic part of the setup is quite similar for all the e2e tests, and there are some common variables too, as shown below.

[code]

We can not define this variable or some common functions again in new

[2020-07-02 11:36] isutton commented on #517
Regarding #475, #522 can be merged before #515 (which is blocked by reconciliation triggered by deployment updates).

[2020-07-02 14:51] dharmit commented on #535
OK, I think we can use k8s owner references to fix this. Closing this for now.

[2020-07-02 14:51] #535 closed

[2020-07-02 18:50] sbose78 commented on #536
Could you try doing so after installing OLM ?

@lanceliuu and @zhangtbj deploys Service Binding on kubernetes clusters in a non-OLM way : could you share your steps?

I would expect it to look like this:
* You could install all the yamls in https://github.com/redhat-developer/service-binding-operator/tree/master/deploy except for the olm-catalog.
* Use quay.io/redhat-developer/app-binding-operator

[2020-07-02 23:54] greglanthier commented on #536
I've been struggling a little to find a way to use OLM to install this operator, too.

I think the confusion with using the OLM way, at least for me, stems from the fact that the `OperatorSource` kind is [deprecated and/or not available](https://github.com/operator-framework/operator-marketplace/pull/284) in new versions of OLM (certainly from [0.15.1](https://github.com/operator-framework/operato

[2020-07-03 06:52] DhritiShikhar opened #538 "Community Meeting - July 9, 2020"
[1] Please add a topic in this thread and add a link to the GitHub issue associated with it
[2] Please make sure you give folks enough time to review/discuss the topic offline on GitHub before coming into the meeting.

[2020-07-03 06:52] DhritiShikhar commented on #517
Closing this issue. Next meeting -> https://github.com/redhat-developer/service-binding-operator/issues/538

[2020-07-03 06:52] #517 closed

[2020-07-06 12:36] #512 closed

[2020-07-07 06:03] dharmit opened #542 "Unable to delete a service binding request in spite of setting "ownerReferences""
### Steps to reproduce

1. Create an application based on [this repo](https://github.com/akashshinde/node-todo) using the "Topology" view of DevConsole.
2. Create an EtcdCluster from the Operator, again using "Topology"
3. Get the uid of the node application deployed in Step 1 - `oc get deployment/node-todo -o template="{{.metadata.uid}}"`.
4. Create an SBR with uid from previous step as `ownerRef

[2020-07-07 06:42] DhritiShikhar commented on #542
When an application is deleted, ideally a Service Binding Request shouldn't get deleted.

But yes, if we set an ownerReference in SBR explicitly (as you have shown in above), then the SBR should get deleted.

[2020-07-07 06:55] DhritiShikhar commented on #542
@dharmit

I quickly tried out this scenario by using a [nodejs+postgreSQL example](https://github.com/redhat-developer/service-binding-operator/tree/master/examples/nodejs_postgresql) and setting ownerReference on SBR explicitly. The SBR is deleted successfully when application is deleted -> https://youtu.be/BijY-7oH1Ko

[2020-07-07 07:40] dharmit commented on #542
@DhritiShikhar Thanks for the recording and prompt response! That was really helpful. The only two differences between what I am doing and what you've recorded are:
1. You're using a different project/application (and this doesn't matter!)
2. You're probably creating the SBR differently than how I am. I'm creating it with `oc create -f /path/to/sbr.yaml` and here's it's YAML:
[code]

I don't see t

[2020-07-07 07:48] DhritiShikhar commented on #542
@dharmit Thanks for detailed steps.

Let me try to reproduce this issue by exactly doing it the same way as you have mentioned.

[2020-07-07 08:15] DhritiShikhar commented on #542
@dharmit I was able to reproduce the issue with the exact steps as you have mentioned - https://youtu.be/PF0xOhsZvxk

[2020-07-07 11:04] dharmit commented on #542
@DhritiShikhar where do you think the problem stems from? Does this need to be fixed in SBO or some place else? TBH, I'm feeling lost since my understanding is that it's k8s that handles deletion of resources that have `ownerReferences` set.

[2020-07-07 13:27] DhritiShikhar commented on #542
Exactly.

Let me see.

[2020-07-07 13:34] DhritiShikhar opened #543 "Improve dev docs for debugging"
`Debugging e2e test` topic should be more detailed:

- https://github.com/redhat-developer/service-binding-operator/blob/master/docs/ci.md#debugging-e2e-test

[2020-07-07 16:54] Avni-Sharma commented on #542
Hi @dharmit . Somehow the sbr's finalisers is not getting deleted in that flow.
Once I followed your steps, I deleted the deployment. SBR was still there, so I manually removed the finaliser in the sbr and then if you try `oc get sbr`, It will show that sbr is not present, i.e it got deleted.
As a reference I followed the second point mentioned here https://github.com/kubernetes/kubernetes/issues/

[2020-07-07 20:36] Avni-Sharma commented on #508
I believe it is happening because of https://github.com/redhat-developer/service-binding-operator/blob/master/pkg/controller/servicebindingrequest/sbrcontroller.go#L123 and we might need to change the predicate for GVK. Looking more into this. Sorry for the delay, was caught up with one more issue :sweat_smile:

[2020-07-08 07:54] DhritiShikhar commented on #486
@isutton

Is this a duplicate of #475 ?

[2020-07-08 12:46] Avni-Sharma commented on #538
Discuss https://github.com/redhat-developer/service-binding-operator/issues/536

[2020-07-08 13:05] dharmit commented on #542
@Avni-Sharma thanks for looking into this and for your response. However, I'm a bit confused here.

First off, I wasn't aware of the "finalizers" and "initializers" concept till I read your comment. So bear with me if I'm asking something naive.

It took me some time to interpret your comment but in order to "delete the finalizer", I did `oc edit sbr/<name>` and removed the two lines:
[code]
And s

[2020-07-08 14:09] Avni-Sharma commented on #542
Hi @dharmit . Yeah, the operator controller sets the finalizers-  https://github.com/redhat-developer/service-binding-operator/blob/master/pkg/controller/servicebindingrequest/servicebinder.go#L277 .
The investigation should proceed as to why the deletion flow of the service binding operator not reaching in the controller where we are removing the finaliser https://github.com/redhat-developer/serv

[2020-07-09 05:23] dharmit commented on #536
I did indeed try after installing OLM. The way I'm "installing" OLM is by simply enabling its add-on:
[code]

Indeed, I need it as `oc get csv`. We fetch the list of CSVs available in the namespace using the OLM APIs.

[2020-07-09 06:31] cdlliuy commented on #538
Discuss #522 #521

[2020-07-09 09:34] DhritiShikhar opened #547 "Add a e2e for `ApplicationNotFound` scenario"
Based on the conversation [here](https://github.com/redhat-developer/service-binding-operator/pull/498#issuecomment-654759801), an e2e should be added for `ApplicationNotFound` scenario.

[2020-07-09 10:17] dharmit commented on #536
@sbose78 I think it's worth giving a shot without having it available for `oc get csv`. In the end we only need to have `ServiceBindingRequest` API object available in the cluster. So long as we can create an SBR, it should be fine if we don't have this installed the OLM way for now.

[2020-07-09 11:10] qibobo commented on #538
PR https://github.com/redhat-developer/service-binding-operator/pull/531

[2020-07-09 11:57] cdlliuy commented on #536
@isutton ,  as discussed in meeting,    we tried to install SBO on top of  PR #397 with the deployment yaml file.

[2020-07-09 13:36] arthurdm opened #548 "Support duck type from spec"
The Service Binding Specification introduces a [duck type](https://github.com/k8s-service-bindings/spec#provisioned-service) for provisioned services to make themselves bindable.

To support the desire of being spec compliant, this issue should enhance SBO to support this pattern for target services.

[2020-07-09 16:29] pmacik commented on #547
@DhritiShikhar Is the following scenario - written in the Gherkin language for the acceptance tests framework - accurate?

[code]

[2020-07-10 06:24] pratikjagrut opened #549 "Race condition between operator's watch and e2eutil.WaitForDeployment."
I've noticed that if we create SBR before the application and then the `operator is watching for the application deployment to be ready` and at the same time `e2eutil.WaitForDeployment(t, f.KubeClient, ns, appName, 1, retryInterval, timeout) is also watching the same deployment`. So here these two watches are in deadlock or sort of deadlock condition if the operator watch detects the deployment is

[2020-07-10 06:39] DhritiShikhar commented on #547
@pmacik What you've mentioned here is `EmptyApplicationSelector` scenario where the user doesn't specify the application selector in SBR.

We definitely need acceptance test for this scenario.

In addition to that, we need acceptance test for `ApplicationNotFound` scenario which means that the user has specified the application in the SBR but that application cannot be found.

[2020-07-10 08:58] pmacik commented on #547
@DhritiShikhar Of course :), I was just looking into the referenced #498 and got inspired there: We'll definitely use the above `EmptyApplicationSelector`, as well. So for the `ApplicationNotFound` scenario, is the following accurate (assuming the current master version of SBO)? :)

[code]

[2020-07-10 10:47] pmacik commented on #547
@DhritiShikhar I've [included](https://github.com/redhat-developer/service-binding-operator/pull/541/files#diff-8600e044b29c6b69858c274f1fefbd3bR167-R218) (while temporarily disabled) those 2 scenarios in the acceptance tests PR (#541) so when that is merged, this issue would be resolved.
Could you please take a look? Thx

[2020-07-10 10:54] DhritiShikhar commented on #547
@pmacik Yes. I will take a look

[2020-07-10 15:19] dharmit commented on #536
I was able to get this installed on my minikube cluster using the deployment yaml. However, being able to use it through OLM APIs would be desirable.

[2020-07-10 21:46] Avni-Sharma opened #552 "Implement scorecard tests."
Currently, we have a target for validating the operator releases https://github.com/redhat-developer/service-binding-operator/blob/master/Makefile#L476. When we raise a PR for an operator update/upgrade release at OperatorHub a couple of scorecard tests are run against the operator bundle. We should explore more of these tests and what does it entail. Refer https://sdk.operatorframework.io/docs/sc

[2020-07-11 06:56] ron1 opened #553 "Decode data from source Secrets when detecting binding resources"
When detecting binding resources, data originating from a source Secret should be decoded before being stored in the target binding Secret. Currently, source Secret data is double encoded in the target binding Secret when generated as a result of detectBindingResources.

[2020-07-11 07:03] ron1 opened #554 "Avoid logging errors and skipping detectBindingResources when ApplicationSelector is not specified in SBR"
When ApplicationSelector is not specified in SBR, errors are logged and detectBindingResources functionality is skipped. Now that the ApplicationSelector is optional, its absence should not log errors and cause detectBindingResources processing to be skipped.

[2020-07-11 10:23] dharmit opened #555 "Unable to create a working SBR on Kubernetes but works just fine on OpenShift"
### Steps to reproduce
1. Installed SBO on minikube by following the steps mentioned in https://github.com/redhat-developer/service-binding-operator/issues/536#issuecomment-653168242. I did `kubectl create -f <file.yaml>` for all yaml files except those in `olm-catalog` directory.
2. Created a SBR using below yaml:
[code]
3. `kubectl create` command executed just fine:
[code]
4. But I don't see an

[2020-07-13 11:21] isutton commented on #549
A couple of points to take in consideration when evaluating this information below.

#### Application resources without SBO annotations can't be reconciled

Currently when the application is created after the SBR, even if the GVK of the application is being observed (`corev1.Deployment` for example), there is no way to correlate the application resource and the SBR to be reconciled since there are

[2020-07-13 13:48] isutton commented on #555
Is the operator's deployment healthy? Could you paste the output of `kubectl get all`?

[2020-07-13 17:44] arthurdm opened #557 "Support air gap scenarios"
We have recently [updated](https://github.com/application-stacks/runtime-component-operator/pull/146) the Runtime Component Operator to be compliant with Red Hat's requirement for air gap scenarios.

Given that SBO is an essential Operator for many scenarios, we would like to request for it to also comply with the air gap requirements.

Additional details in
* https://docs.openshift.com/container-

[2020-07-13 18:57] sbose78 commented on #549
Taking discussion to the PR
https://github.com/redhat-developer/service-binding-operator/pull/556#issuecomment-657731455

[2020-07-14 07:30] Avni-Sharma commented on #508
we had a discussion regarding this and it is captured here https://github.com/redhat-developer/service-binding-operator/pull/556

[2020-07-14 11:37] sbose78 commented on #555
@qibobo regularly runs this on Kubernetes, @qibobo could you share some insight please? :)

[2020-07-14 11:38] sbose78 commented on #553
That would make it pretty unusable I assume?

Seems like a bug to me, @redhat-developer/service-binding could you take a look?

[2020-07-14 11:51] sbose78 commented on #548
Thanks.

[2020-07-14 11:59] sbose78 commented on #536
@greglanthier
@dharmit

There's actually a fair bit to work to move away from OperatorSource unfortunately, I recently found out
https://github.com/redhat-developer/gitops-operator#re-build-and-deploy

We've had some fancy CD scripts which generated an OperatorSource bundle on every push to master, that work needs to be done away with, to an extent, to support the new way :)

Till that happens, th

[2020-07-14 14:07] dharmit commented on #536
@sbose78 OK, thanks for the info. That's helpful! We'll add that to odo docs for k8s users.

[2020-07-14 15:01] sbose78 commented on #557
Agreed, we gotta do this. @pmacik , could you queue up a testing plan for this?

[2020-07-15 04:23] dharmit commented on #555
Here's `kubectl get all` right after creating the SBR.

[code]

YAML of the SBR (`kubectl get sbr/binding-request -o yaml`):
[code]

[2020-07-15 09:32] qibobo commented on #555
@sbose78 @dharmit
Below is a SBR samle we use in our cluster:
[code]

[2020-07-15 09:40] dharmit commented on #555
If I modify the YAML's `backingServiceSelectors` section to be like above comment, it turns into an invalid YAML:
[code]
The error:
[code]

[2020-07-15 10:56] isutton opened #560 "Scenario scenario-etcd-unannotated-app-db-sbr test fails due to hard-coded IP address in resource"
Scenario fails if the IP address declared in the Etcd resource is already in use.

Below there's the hard-coded value being used:
https://github.com/redhat-developer/service-binding-operator/blob/179c2fb40bb274eeacace087320b00154a6d0e48/test/mocks/etcd_operator_mocks.go#L38-L48

And an error collected from [the CI](https://deck-ci.apps.ci.l2s4.p1.openshiftapps.com/view/gs/origin-ci-test/pr-logs/pu

[2020-07-15 11:42] pmacik opened #561 "make lint fails for https://github.com/adrienverge/yamllint/issues/285"
Recently yamllint was updated to version `1.24.0` which introduces https://github.com/adrienverge/yamllint/issues/285:

[2020-07-15 13:19] #381 closed

[2020-07-15 15:07] sbose78 commented on #555
You missed the `s`, it is `backingServiceSelectors` :)

[2020-07-15 15:22] dharmit commented on #555
Indeed!

But that seems to be the only difference between my earlier YAML and the one I pasted above. I'm trying to link it with only one backing service. And to do that, I use the YAML mentioned in issue description. The `kubectl create` command succeeds but I don't see a working SBR. There's no `status` info in the YAML output unlike what I see on OCP.

[2020-07-16 02:58] cdlliuy opened #564 "Community Meeting - July 16, 2020"

[2020-07-16 03:01] cdlliuy commented on #564
PR 515 (rebase already, next action merge?) -> PR 522 -> PR 521

PR #513 (why requires `volume` in CRD)?

[2020-07-16 07:17] dharmit commented on #555
Logs from `kubectl logs po/<sbo>`:
[code]

[2020-07-16 08:37] #538 closed

[2020-07-16 11:24] #485 closed

[2020-07-16 12:43] #561 closed

[2020-07-16 17:58] #475 closed

[2020-07-18 03:28] greglanthier commented on #555
From this error it looks like the service-binding-operator is trying to work with cluster-scoped resources (`customresourcedefinitions` in the `apiextensions.k8s.io` group).

The deployment yamls in https://github.com/redhat-developer/service-binding-operator/tree/master/deploy don't include any `ClusterRole` or `ClusterRoleBinding` resources.

I ran into a problem similar to this when I tried to

[2020-07-18 14:10] noelo opened #569 "Incorrect instruction steps in nodejs_etcd_operator example"
Missing labelling of deployment
Incorrect ServiceBindingRequest, missing  labelSelector:
Incorrect etcd cluster name in SBR

[2020-07-18 15:52] Avni-Sharma commented on #509
Fix got merged, closing the issue

[2020-07-18 15:52] #509 closed

[2020-07-19 20:20] #564 closed

[2020-07-20 07:22] #530 closed

[2020-07-20 09:07] pmacik commented on #557
Sure, @sbose78 I'll give it a thought or two.

[2020-07-20 14:59] Avni-Sharma opened #575 "Add documentation for examples using customEnvVar and service ID"
The docs can be a bit outdated with respect to customEnvVar. Update docs as an after effect of https://github.com/redhat-developer/service-binding-operator/pull/468/ and which also depicts a format as described here https://github.com/redhat-developer/service-binding-operator/blob/master/pkg/controller/servicebindingrequest/servicebinder_test.go#L272 . An id is given as a prefix because we can hav

[2020-07-20 15:00] Avni-Sharma commented on #575
cc @isutton @shvasude

[2020-07-20 15:19] Avni-Sharma commented on #542
Hi @dharmit , Can you try this once? A fix has been merged for this

[2020-07-22 08:15] Avni-Sharma commented on #555
I see an issue with the aanotations. The SBO seems to get installed properly, but the reconcile throws annotation errors(which is an issue with the controller)
[code]
cc @isutton

[2020-07-22 08:48] Avni-Sharma commented on #555
The operator seems to get installed in minikube. I get an error for annotations for the postgres operator
https://github.com/operator-backing-service-samples/postgresql-operator
[code]
Although for etcd we don't rely on annotations, we rely on `detectBindingResources: true`
 cc @isutton

[2020-07-22 08:52] Avni-Sharma commented on #555
@dharmit  The operator gets installed and works(binds) for the postgresql operator with the annotations. Link to the postgresql operator - https://github.com/operator-backing-service-samples/postgresql-operator
For etcd we are using the `detectBindingResources: true` , need to check for this one, since here we are not relying on the annotations on the backing service CRD

[2020-07-22 08:58] Avni-Sharma commented on #555
For etcdCluster example we get this err
[code]
cc @isutton

[2020-07-23 01:56] cdlliuy opened #581 "Community Meeting - July 23, 2020"

[2020-07-23 01:58] cdlliuy commented on #581
1. PR #521,  why the test can't be kicked off
2. PR #513,  thanks to make the volume optional.  We would like to see it to be merged.
Once #521 and #513  merged, we would like to get the latest master head into our env to have a fully test indoor .
3.   The backend watcher #508

[2020-07-23 15:05] Avni-Sharma commented on #555
The error seems to occur because we are trying to search for routes https://github.com/redhat-developer/service-binding-operator/blob/master/pkg/controller/servicebindingrequest/service.go#L156 which is OpenShift specific. Need to log this err instead of erroring out. Hence we receive an err `the server could not find the requested resource`

[2020-07-23 16:40] Avni-Sharma opened #584 "Reconcile should log error if a resource is not found in detect Bindable resource list"
While investigating #555 it was found that it was erroring out with the following operator logs
[code]

Here it is observed that we get a message `the server could not find the requested resource` which is because routes are not a Kubernetes native resource and hence it is missing in minikube(vanilla k8s).

This is observed when we try to apply the yaml like below:
[code]
The  detectBindingResourc

[2020-07-23 16:45] sbose78 commented on #584
@akashshinde was the initial author of this feature, Akash could you please review?

[2020-07-23 16:55] Avni-Sharma opened #585 "If applicationSelector gets replaced with an App2, the App1 still points to the service."
Considering the following steps:

Scenario 1
Create a SBR where:
App 1 points to DB 1
App 1 is injected with the intermediate secret.

Scenario 2:
App 1  points to DB 1
Update SBR to have App 2 point to DB 1
App 2 will point to DB 1 , but App 1 might continue pointing to DB 1

App1 who has now resigned from the SBR still has the intermediate secret in the deployment as secretRef.

[2020-07-24 07:04] DhritiShikhar commented on #585
When ServiceBindingRequest is updated to replace/ remove ApplicationSelector, then
[1] secret reference should be removed from application

before proceeding further.

Similarly, when ServiceBindingRequest is updated to replace/ remove a Service, then
[1] intermediate secret should be deleted

before proceeding further.

[2020-07-24 18:52] Avni-Sharma commented on #542
Got a confirmation from @dharmit on this. Works in his setup. :+1:

[2020-07-24 18:52] #542 closed

[2020-07-27 05:00] DhritiShikhar opened #586 "Community Meeting - July 30, 2020"

[2020-07-27 05:01] DhritiShikhar commented on #581
Closing this. Next meeting -> https://github.com/redhat-developer/service-binding-operator/issues/586

[2020-07-27 06:35] #575 closed

[2020-07-27 14:41] arthurdm opened #587 "Support the spec ServiceBinding CRD"
The [Service Binding Specification](https://github.com/k8s-service-bindings/spec) has created a [new CRD](https://github.com/k8s-service-bindings/spec/blob/master/service.binding_servicebindings.yaml) called `ServiceBinding`.   It was inspired by SBO's `ServiceBindingRequest`, but has certain restrictions and small tuning from the spec.

This issue will track SBO's adoption of this CRD, and move S

[2020-07-27 15:44] sbose78 commented on #587
Ack.
We shall triage and evaluate which parts are reasonable to be adopted in the recent future.

[2020-07-28 07:15] #581 closed

[2020-07-28 20:19] arthurdm opened #590 "Support specification extension for custom projection"
One of the specification extensions defines how to support a [custom project](https://github.com/k8s-service-bindings/spec#custom-projection), where another Operator owns the application deployment.

This issue will track SBO's compliance to this extension, including the creation of the [internal CRD](https://github.com/k8s-service-bindings/spec/blob/master/internal.service.binding_servicebindingp

[2020-07-29 12:18] DhritiShikhar commented on #440
This is fixed.

[2020-07-29 12:18] #440 closed

[2020-07-29 13:54] pratikjagrut commented on #537
@pmacik @pedjak Now if we are concentrating on acceptance test then should this issue be closed?

[2020-07-30 10:13] cdlliuy commented on #586
PR #521  Can anyone help to review?

PR #513  Seems the test has a lot of flaky?

[2020-07-30 11:05] Avni-Sharma commented on #476
Hi @pmacik If we add an ownerReference of the specific project in the sbr, something like
[code]
Then IMO this issue won't happen as the finalisers of the SBO will be deleted.
Something like this was discussed in issue https://github.com/redhat-developer/service-binding-operator/issues/542 where an app deployment was the owner of the sbr resource. On deletion of app deployment the SBO finalisers w

[2020-07-30 11:13] isutton commented on #586
LGTMed and approved.

[2020-07-30 11:48] Avni-Sharma commented on #532
Closing this issue as we are now migrating e2e tests to acceptance tests.

[2020-07-30 11:48] #532 closed

[2020-07-30 11:49] Avni-Sharma commented on #518
Closing this issue as we have not yet migrated to 0.17.x

[2020-07-30 11:49] #518 closed

[2020-07-30 12:00] Avni-Sharma commented on #384
Closing this issue as former part is solved via https://github.com/redhat-developer/service-binding-operator/issues/542
and an issue has been captured for the latter here https://github.com/redhat-developer/service-binding-operator/issues/585

[2020-07-30 12:00] #384 closed

[2020-07-30 12:12] sbose78 commented on #106
The image name is in way too many places now, will close this :)

[2020-07-30 12:12] #106 closed

[2020-07-30 12:13] sbose78 commented on #68
We are watching and managing the user's workload now - therefore, it looks acceptable . We can close this.

[2020-07-30 12:13] #68 closed

[2020-07-30 12:42] Avni-Sharma commented on #497
Did not see this error for a while. Moreover, we are migrating to acceptance tests. Will reopen if error persists

[2020-07-30 12:42] #497 closed

[2020-07-30 12:48] Avni-Sharma commented on #405
Please refer https://github.com/redhat-developer/service-binding-operator#community-discussion-contribution-and-support . Closing this issue

[2020-07-30 12:48] #405 closed

[2020-07-30 13:07] Avni-Sharma commented on #358
Hi @pdettori
I retried this on OpenShift cluster 4.6 with the latest SBO version 0.1.1-352 and the issue is resolved. The following are the logs of the operator.
[code]

Please feel free to open another issue if the errors spring up again.

[2020-07-30 13:07] #358 closed

[2020-07-30 18:45] sbose78 opened #594 "Run e2e/acceptance tests on Kubernetes"
Possibly on travis CI using a Kind cluster?

[2020-07-30 18:46] sbose78 commented on #594
cc @redhat-developer/service-binding

@qibobo Would you or someone else from your team be able to take care of this? I really wish to avoid our PRs breaking the experience on Kubernetes. There's extensive testing for OpenShift, but none for vanilla kubernetes.

[2020-07-31 09:16] pmacik commented on #476
@Avni-Sharma I've set the `ownerReference` of the project in the SBR but the issues still persists (I've checked with the version installed via operator hub (`service-binding-operator.v0.1.1-352`) and with CRC (v4.5.1):

[code]

[code]

[code]

[code]

[2020-07-31 13:15] Avni-Sharma commented on #508
Some observations that I gathered during debugging this

the steps I do to recreate it again are :
1)Sbr.yaml is applied first
2)app deployment yaml and then
3)the kafka yaml
So now kafka's statuses are false, and it takes like 2 mins to turn to True. Till then the operator is reconciling and watching resources( like strimzi kafka )
For some reason on update to status of the strimzi kafka resource

[2020-07-31 19:03] #586 closed

[2020-07-31 19:42] Avni-Sharma commented on #476
That is strange as it works if the owner is a deployment :thinking:  Maybe I am missing something with regard to the Namespace. Opened an issue https://github.com/operator-framework/operator-sdk/issues/3625 for more input related to finalisers

[2020-07-31 19:44] Avni-Sharma commented on #476
I hope that we are not bitten by https://github.com/kubernetes/kubernetes/issues/73098

[2020-08-03 00:07] sbose78 opened #595 "Community Meeting - Aug 6, 2020"

[2020-08-03 00:07] sbose78 commented on #595
https://github.com/redhat-developer/service-binding-operator/issues/594

[2020-08-04 10:38] Avni-Sharma commented on #584
PR merged. Closing this issue

[2020-08-04 10:38] #584 closed

[2020-08-04 10:40] Avni-Sharma commented on #555
Hi @dharmit . Please confirm if we can close this issue?

[2020-08-04 10:43] Avni-Sharma commented on #508
Just realized, the above issue occurs because after a few prs got into master, we need to give the id with customEnvVar now.
Example id:kaf
[code]

[2020-08-05 07:01] Avni-Sharma commented on #543
cc @baijum

[2020-08-05 07:24] Avni-Sharma commented on #455
cc @akashshinde  This is a subtask of https://issues.redhat.com/browse/APPSVC-574 . Hence assigning this issue to you.

[2020-08-06 07:39] cdlliuy commented on #595
https://github.com/redhat-developer/service-binding-operator/pull/513

[2020-08-06 11:36] DhritiShikhar commented on #595
Meeting Minutes:

[1] #513 will be merged by early next week

[2] Bobo will test #513 and post result on the issue.

[2020-08-06 11:38] DhritiShikhar opened #600 "Community Meeting - August 13, 2020"

[2020-08-06 11:38] DhritiShikhar commented on #595
next meeting -> https://github.com/redhat-developer/service-binding-operator/issues/600

[2020-08-06 11:38] #595 closed

[2020-08-06 12:03] pedjak commented on #594
the acceptance testing framework has been designed to support running tests against an arbitrary cluster, providing the needed `kubeconfig`. Our plan is run the same set of tests against various kubernetes and openshift clusters. Nevertheless, some of scenario steps use `oc` command to perform actions, and this need to be changed to `kubectl`.

Using Travis and KinD could be a good starting point.

[2020-08-06 13:07] cdlliuy commented on #594
@pedjak ,  where the Kind cluster provision can happen ?   I didn't find the piece to set  Kubeconfig  env in .travis.yaml (maybe I am not careful enough .. Correct me if I am wrong) ,  also, I didn't notice the acceptance test will be trigger through .travis.yaml

It is not complex to create a Kind cluster , and easy to put it into .travis.yaml.

[2020-08-06 14:15] pedjak commented on #594
It can happen in `travis.yaml` file, but we did not setup anything yet, but it is doable.

[2020-08-06 14:23] Avni-Sharma commented on #569
Examples have been updated. Closing this issue

[2020-08-06 14:23] #569 closed

[2020-08-06 14:24] #526 closed

[2020-08-06 15:40] Avni-Sharma commented on #594
Hi @cdlliuy The kubeconfig is being set as an env var and being consumed here https://github.com/redhat-developer/service-binding-operator/blob/master/test/acceptance/features/steps/command.py#L16

[2020-08-07 09:01] baijum opened #601 "Refactor binder update and remove function to make use copies of the objects"
Refer: https://github.com/redhat-developer/service-binding-operator/pull/513/files#r449452656

[2020-08-08 16:29] #458 closed

[2020-08-11 02:09] sbose78 commented on #587
Arthur,
Given that we are under feature freeze ( other than existing PRs ) till the September 15th release, could you help me with the following :

1) Feature comparison between things in Service Binding operator & the spec.

2) If you were to have new contributions from your team, how would the development plan look like? Could you or someone from your team help with that?

I'll let the newer con

[2020-08-11 02:17] sbose78 commented on #590
Could you or someone in your team provide an enhancement proposal on this please?

[2020-08-11 07:49] Avni-Sharma commented on #508
Hi @navidsh  and @pushkarnk . I have proposed a fix for the issue and I am working for e2e tests right now. Can you give an app example where the BOOTSTRAP_SERVERS is being consumed in the app.

[2020-08-11 14:09] Avni-Sharma opened #605 "Significant memory leaks in SBO"
![Screenshot from 2020-08-10 16-31-48](https://user-images.githubusercontent.com/18097007/89907272-164ab580-dc0a-11ea-928b-df11ca92f8a5.png)

Reported by @bbrowning
"Every peak of that blue took down an entire Node of the openshift cluster
In my case, as soon as the operator starts up it starts eating up memory."

Slack channel convo link https://coreos.slack.com/archives/CHK22LM6Y/p15970843750630

[2020-08-11 15:10] bbrowning commented on #605
It turns out the only reason these peaks are so spaced out is that when the memory leak takes down the Node running the SBO operator pod, another SBO operator pod gets spun up but fails to every acquire the leader lease until I got manually reboot the original failed Node. Once I do that, the memory usage immediately starts ramping up again.

So, the valley between those peaks is only representati

[2020-08-11 15:43] bbrowning commented on #605
Here's the memory usage of the service binding operator pod in my cluster for the last 2 hours:

![SBO memory usage](https://user-images.githubusercontent.com/56071/89918216-c0edb480-dbc7-11ea-9989-82812642b769.png)

[2020-08-12 19:22] sbose78 commented on #594
I see a Travis job already :)

[2020-08-13 05:48] cdlliuy commented on #594
@sbose78 ,  so is this issue resolved?  I still can't find where acceptance is launched in travis.yaml...

[2020-08-13 06:44] baijum commented on #601
After discussion this has been implemeted in PR #513

[2020-08-13 06:44] #601 closed

[2020-08-13 08:20] sbose78 commented on #594
No, there is a Travis job but it doesn't do much

[2020-08-13 11:05] qibobo commented on #600
status for https://github.com/redhat-developer/service-binding-operator/pull/513

[2020-08-13 11:06] qibobo commented on #600
https://github.com/redhat-developer/service-binding-operator/issues/594

[2020-08-13 11:27] baijum commented on #594
Here is an example: https://github.com/lilic/travis-minikube

[2020-08-13 11:30] baijum commented on #594
Another example using Kind: https://github.com/xmudrii/travis-kind

[2020-08-13 11:32] DhritiShikhar commented on #600
Meeting Minutes:

[1] #513
- a bit more polishing is required for #513 Hopefully will get merged by mid-next week. [Predrag]
- API is modified slightly [Baiju]

[2020-08-13 11:33] DhritiShikhar opened #609 "Community Meeting - August 20, 2020"

[2020-08-13 11:33] DhritiShikhar commented on #600
Closing this. Next meeting -> https://github.com/redhat-developer/service-binding-operator/issues/609

[2020-08-13 11:33] #600 closed

[2020-08-13 11:37] DhritiShikhar commented on #600
PR #513 has been a part of the agenda in more than 5 last community meetings.

Let's try to get it merged before next community call @baijum @pedjak ?

[2020-08-13 13:59] ianpartridge commented on #557
Hi! Is there any update on this? 🙂

[2020-08-13 15:47] sbose78 commented on #587
Here's a process to enable the enhancements to flow in
https://github.com/redhat-developer/service-binding-operator/pull/610

[2020-08-13 15:52] ajm01 opened #611 "Docs: Add sample for java-openliberty & CrunchyData Postgresql Operator"
I am working on developing an end-to end jpa  sample/starter app for the java-openliberty odo stack and need to link it to the CrunchyData Postgresql Operator using odo link and the Service Binding Operator pattern. I have gotten through quite abit of it but am hitting a wall wrt the SBO and the intermediate secret that is generated.

To get this working, I have had to add certain annotations to t

[2020-08-13 16:18] sbose78 commented on #611
I would like to have you work featured in https://github.com/redhat-developer/service-binding-operator#example-scenarios . Would you be up for providing the details of the scenario you are trying out?  With that, you or someone could make a PR to add an example scenario ?

We would need:

* The App you are deploying.
* The DB operator you are installing.
* The CR that was created to instance the d

[2020-08-13 17:51] ajm01 commented on #611
Hi @sbose78 - Sure I would be happy to do that!

It looks like there is a scenario there for a Postgre Operator Managed DB, but would you be thinking that the scenario you propose I add would incorporate the odo link work from end to end?

[2020-08-13 18:17] sbose78 commented on #611
You could talk about "odo link", I'm okay either way!

Even though there's a PostgreSQL DB sample, yours deserves mention because of the use of the crunchybase PostgreSQL operator.

[2020-08-13 18:22] ajm01 commented on #611
OK, sounds good - makes sense.

[2020-08-13 18:49] sbose78 commented on #611
I fixed up your annotations a bit for the secret.

[code]

... and after doing so, the following worked well - multiple backing service selectors were not needed.

[code]

[2020-08-17 13:48] arthurdm commented on #587
thanks @sbose78

@arturdzm - can you please work on the proposal outlined above?

[2020-08-17 13:49] arthurdm commented on #590
definitely - @navidsh will be looking into this proposal.

[2020-08-17 14:25] shvasude opened #614 "Identify sanity tests from acceptance-tests and have CI prow job for the same"
Background:
For now we have acceptance-tests that validates all the scenarios. To say binding works functionally in a narrow scope or all the basic functionality works for binding, It is always good to have a suite which confirms that the basic functionality works.

if this fails, then we can assure that the binding fails fundamentally and there is no need to further testing to be done until it is

[2020-08-17 14:38] shvasude opened #615 "create jira test cycles for releases automatically from feature files"
Creating JIRA issues (Task/Epic) through JIRA rest API that has link to a specific spec/feature file
    Update JIRA issues (Task/Epic/Story) through JIRA rest API with any data that are editable
    Get JIRA issues information

Reference: https://github.com/shvasude/featurefiledemo/tree/setToken

[2020-08-17 14:50] pedjak commented on #615
we would like to start using more GitHub as the source of truth.

[2020-08-17 15:59] sbose78 commented on #611
Hi @ajm01 !

Checking with you, are you working towards a PR or putting details into this issue?

[2020-08-17 18:18] Avni-Sharma opened #617 "Explore policy agent- OPA Gatekeeper"
To implement a way for Allowing binding to proceed only if the user has permission to read relevant objects, we should explore OPA Gatekeeper- https://github.com/open-policy-agent/gatekeeper
Gatekeeper is an admission webhook and the policies are deployed as CRDs.

Gatekeeper has an audit functionality that allows you to check existing resources in the cluster against all the policies. Audit runs

[2020-08-17 19:21] sbose78 commented on #615
+1

[2020-08-18 07:06] DhritiShikhar commented on #615
+1

[2020-08-18 07:12] DhritiShikhar commented on #614
@shvasude Can you explain a bit more?

What would you consider a basic functionality and a non-basic functionality?

[2020-08-18 14:18] shvasude commented on #614
Basic functionality is positive flow or the most important functions that works. The result of this tests are used to decide if it is stable enough to proceed with further testing.

[2020-08-18 15:07] DhritiShikhar commented on #614
Okay

[2020-08-18 16:46] Avni-Sharma commented on #617
Test can be catered by https://www.conftest.dev/

[2020-08-18 19:01] Avni-Sharma opened #622 "Update osdk to v1.0.0"
Upgrade the operator-sdk version to v1.0.0 https://github.com/operator-framework/operator-sdk/releases/tag/v1.0.0

[2020-08-19 15:14] sbose78 opened #623 "Add operator to OperatorHub.io"
.. as a Kubernetes operator

[2020-08-19 15:16] sbose78 opened #624 "Quickstart docs Use CatalogSource instead of OperatorSource."
.. OperatorSource may be absent on newer OKD clusters.

[2020-08-19 15:16] sbose78 opened #625 "Improve Quick Start docs"
We should address the following iteratively.

1. Use CatalogSource instead of OperatorSource. https://github.com/redhat-developer/service-binding-operator/issues/624
2. Show a non-OLM way of installing ( assumption that everyone has OLM could be wrong )
3. Show an OLM way of installing on Kubernetes https://github.com/redhat-developer/service-binding-operator/issues/623

[2020-08-19 19:56] Avni-Sharma opened #626 "Remove finalisers in the controller"
Now that https://github.com/redhat-developer/service-binding-operator/pull/596 is merged, we can consider removing finalisers as no cleanup is required on unbind(). The annotations has been removed and ownerRefs added to the intermediate secret which makes the presence of finalisers redundant

cc @isutton

[2020-08-20 11:01] shvasude opened #627 "Email acceptance test reports to stakeholders"
For now, we have acceptance reports generated in CI and we have to download the artifacts to see reports.
Instead, send an email with reports to respective email recipients.

Challenge: Currently, by using allure reports, xml reports are served by allure. Need to look into an html report or something.

[2020-08-20 11:48] DhritiShikhar commented on #609
Meeting Mintues:

[1] #513
@DhritiShikhar : Some volumemount issue on the PR.
@cdlliuy : https://github.com/redhat-developer/service-binding-operator/pull/513#issuecomment-677565211

[2] Breaking API changes:
@DhritiShikhar : This PR breaks API https://github.com/redhat-developer/service-binding-operator/pull/608 Most probably would be merged by next week. I will give a heads up to @cdlliuy on IBM

[2020-08-20 11:58] Avni-Sharma commented on #609
For #508 The fix is in PR https://github.com/redhat-developer/service-binding-operator/pull/597 @cdlliuy If you can please manually try this once and provide feedback. Currently, I am trying to frame a set of acceptance tests for this. A requirement for this would be an app that consumes BOOTSTRAP_SERVICES. Please refer https://github.com/redhat-developer/service-binding-operator/issues/508#issuec

[2020-08-20 16:07] pmacik commented on #627
There is a way to generate the html report by using `allure generate ...` command.

[2020-08-20 16:21] pmacik opened #630 "Infinite reconcile loop in case of two SBRs sharing an application"
The acceptance test [scenario](https://github.com/redhat-developer/service-binding-operator/commit/7cfa82b8efd343df5f6c490cefc38e501c3baf84#diff-b6193b748058d6c0fbd1afa25adbb880R11) for two services being bound to a single application via 2 separate SBRs reproduces this while running in a fresh and clean OpenShift cluster. After the two requests are created, the SBO constantly reconciling the two

[2020-08-20 16:23] pmacik commented on #630
I've noticed that the first SBR has BindingFail status:
[code]

[2020-08-20 16:29] pmacik commented on #630
[operator log](https://gist.github.com/pmacik/5c7743f1f9dd7b4ff0c97e208fc65b4b)

[2020-08-20 16:31] pmacik commented on #630
@pratikjagrut Could you please check this, since you are the author of the acceptance test scenario? Thx

[2020-08-21 21:24] sbose78 opened #632 "Using service binding with cockroachdb"
**Created a sample instance of cockroachdb**

[code]

**Created a Service Binding**

[code]

**This is how the secret looks like**

[code]

[2020-08-21 22:40] sbose78 opened #633 "Using Service Binding with Anzo DB operator"
Didn't find anything special to annotate, but `detectBindingResources` came very handy.

[code]

[code]

[2020-08-24 07:52] Avni-Sharma commented on #508
https://youtu.be/E3SsHE7K9OQ

[2020-08-24 07:52] Avni-Sharma commented on #609
Adding a video link for the same - https://youtu.be/E3SsHE7K9OQ

[2020-08-24 17:05] Avni-Sharma commented on #508
Link to the working piece - https://youtu.be/E3SsHE7K9OQ

[2020-08-24 18:21] garbagego opened #637 "Sharing operator CRD with the native group "apps.openshift.io""
Steps to Reproduce:
-> openshift 3.11 cluster with cluster-admin

[code]
 **error: unable to retrieve the complete list of server APIs: apps.openshift.io/v1alpha1: the server could not find the requested resource**

$  oc version
oc v3.11.170
kubernetes v1.11.0+d4cacc0
features: Basic-Auth GSSAPI Kerberos SPNEGO

openshift v3.11.188
kubernetes v1.11.0+d4cacc0

api logs:

E0409 13:25:22.835777

[2020-08-24 20:04] sbose78 commented on #637
Hey, have you tried this https://github.com/redhat-developer/service-binding-operator/issues/409 ?

[2020-08-26 20:36] pmacik commented on #547
@DhritiShikhar The `ApplicationNotFound` is implemented and merged as part of #541. Do you thing that this can be closed as done?

[2020-08-27 06:56] Avni-Sharma commented on #486
Hi @isutton Do we remove the global envVarPrefix and service's envVarPrefix both, or only the global envVarPrefix? IMO both should be removed, as the custom name should be independent of any prefix as it is custom, however, the issue just mentions Global Prefix, so wanted confirmation in the same regard.

[2020-08-27 07:14] Avni-Sharma commented on #633
Hi @sbose78 . Do the adoption labeled issues require a doc? any representation under examples/ ?

[2020-08-27 07:17] isutton commented on #486
@Avni-Sharma

You're right.

I've just mentioned the global `envVarPrefix` because service's `envVarPrefix` doesn't apply to values applied to `customEnvVar`/`dataMapping`; an entry in `customEnvVar`/`dataMapping` might refer to no services (in the case there's no interpolation in the template) or many services (in the case values from several services are interpolated).

[2020-08-27 07:52] Avni-Sharma commented on #486
Thanks @isutton

[2020-08-27 09:15] baijum opened #641 "Document containersPath and secretPath behavior"
PR #513 introduced containersPath and secretPath. Documenting the behavior of its usage will be helpful to the user.

[2020-08-27 10:24] baijum opened #642 "Community Meeting - August 27, 2020"
* Date and Time: Thursday, August 27⋅4:45 – 5:30pm IST
* Meeting URL: https://meet.google.com/jti-pujt-zqs

Agenda:

1. Breaking API changes and 0.2.0 release
2. Status update on PR #513

[2020-08-27 10:29] DhritiShikhar commented on #642
@baijum We have people from different time zones joining the meeting.
So, can you mention `IST` in the meeting time?

[2020-08-27 10:31] baijum commented on #642
Done

[2020-08-27 11:25] Avni-Sharma commented on #642
Any updates on https://github.com/redhat-developer/service-binding-operator/issues/594

[2020-08-27 15:37] #642 closed

[2020-08-27 18:39] durera opened #646 "Troubles getting binding:env:object:secret annotation to work"
CRD currently looks something like this (experimenting with a minimal CR that holds mongodb connection properties that I'm trying to use servicebindingrequest to get into a simple demo app):

in namespace 1 we have the CR, and a secret:

The CRD:
[code]

The status object of the CR looks like this:
[code]

Where `secretname` is a secret that contains the name of a secret that hold username/passwor

[2020-08-27 20:05] sbose78 commented on #646
Your annotations look right off the top of my head. Looking further 🤔

 The docs PR got merged a while back coincidentally https://github.com/redhat-developer/service-binding-operator/blob/master/docs/BackingServiceBestPractices.md

[2020-08-27 20:08] sbose78 commented on #646
Does `secretname`  have the user and password?

[2020-08-28 06:18] qibobo opened #648 "service-binding-operator panics if there is a configMapRef in envFrom"
To reproduce this issue.
Create an app with a configMapRef inside its envFrom, then after creating a SBR, the service-binding-operator panics.

[code]
The operator log:

[code]
The whole steps to reproduce this issue:
[code]

[2020-08-28 09:31] durera commented on #646
Thanks, after looking at the secret to check this, I realised where I'd gone wrong -- there was no `ownerReferences` in there to tie the secret to the CR.  Doh!

Using this approach https://sdk.operatorframework.io/docs/building-operators/ansible/reference/retroactively-owned-resources/, the operator now retroactively claims ownership of the secret and the whole things works as expected!

I don't

[2020-08-28 10:09] DhritiShikhar commented on #555
No response.

SBR works on Kubernetes.

[2020-08-28 10:09] #555 closed

[2020-08-28 10:30] Avni-Sharma opened #650 "Propagate updates from services' resource to the app in non OLM environment"
Few findings on the SBO, while debugging for #508 , for which a fix is proposed in #597 . Currently, we have watches only for CRDs that are listed as ownedCRDs in the CSVs. So if we have a service that is not (Operator backed/ via CSV) then on applying the SBR yaml we will have a connection established(i.e a connection is established between the app and the service), however, changes from the serv

[2020-08-28 10:34] durera commented on #630
Hitting this at the moment, but I have a related question ... once this is fixed, how will SBR handle to bindings of the same type given the naming convention at the moment is to prefix each secret key with `Kind`?

e.g.

- binding1 binds to instance1 of resource Foo to application1, creates a secret containing FOO_USERNAME=bob / FOO_PASSWORD=passw0rd
- binding2 binds to instance2 of resource Foo

[2020-08-28 11:57] sbose78 commented on #650
It is fine to watch all CRDs except specific API groups which we wouldn't want to watch in Openshift because they are control plane CRDs

Maintain a denylist that is maintained as a
* Initially a static array in the code
* configurable using env vars
* Configurable by admins in a configmap that is that is to be configured in a specific namespace.

[2020-08-28 11:59] sbose78 commented on #646
The logs should not have royally ignored the issue 🤷‍♂️
Curious, What does your full ServiceBindingRequest look like?

[2020-08-28 12:35] DhritiShikhar commented on #646
Thanks for the good feedback @durera

+1 to adding information about this in status.

[2020-08-29 12:20] baijum opened #652 "Release SBO 0.2.0"
1. Increase version to 0.2.0 and release it, but on a new channel, to avoid problems on already existing cluster that consume/work with the old API.
1. Ensure that bundles created in https://github.com/redhat-developer/service-binding-operator-manifests are versioned from `0.2.0-<commit_number>`
1. Ensure that Travis job that publishes to the Quay is updated
1. Ensure that nightly CI job is update

[2020-08-31 08:10] DhritiShikhar commented on #650
+1

[2020-08-31 08:11] DhritiShikhar commented on #648
fixed in #649

[2020-08-31 08:11] #648 closed

[2020-08-31 13:05] DhritiShikhar commented on #630
@durera

This is definitely a bug which needs to be fixed.

However, we do have a workaround for now.

Yes.

We can use `envVarPrefix` to distinguish between env vars from different SBRs

Consider these two different SBRs `binding-request-2` and `binding-request` which inject information in the same deployment `nodejs-rest-http-crud`

![Screenshot from 2020-08-31 18-27-09](https://user-images.gith

[2020-08-31 13:27] prietyc123 opened #654 "Operator version does not match with the latest release v0.1.1-352"
Installing subscription `service-binding-operator` on 4.6 cluster

[code]
but `startingCSV` is referring to some unknown version `v0.1.1-364` which I guess does not matching the latest release version. Is it the expected behavior?

[2020-08-31 13:44] sbose78 commented on #654
Thank you for reporting this @prietyc123 .

Could you help understand what the latest release version is as per your understanding?

cc @pedjak @DhritiShikhar

[2020-08-31 13:51] sbose78 commented on #646
@pedjak @isutton could you see why the annotations didn't work here ? They look fine to me.

[2020-08-31 13:51] sbose78 commented on #633
Eventually, yes and in a more visible way and then we should reach out to these projects.

[2020-08-31 14:06] DhritiShikhar commented on #630
@durera In this video, you can see that:

1. Collection of data and creation of intermediate secret is successful, thus the `CollectionReady` is true.

2. Injection of secret did not happen because applicationSelector is missing, thus
`InjectionReady` is false with reason `EmptyApplicationSelector`.

https://youtu.be/uTODhkkmH5w

[2020-08-31 14:08] DhritiShikhar commented on #630
@pmacik I was able to reproduce this error locally.

Yes,  the SBO constantly reconciles the two requests and re-deploying the deployment's pods over and over again.

[2020-08-31 14:09] DhritiShikhar commented on #630
@sbose78 Would this be a part of fixes for 0.3.0 ?

[2020-08-31 14:12] prietyc123 commented on #654
AFAIU ideally it would be the latest release [v0.1.1-352](https://github.com/redhat-developer/service-binding-operator/releases/tag/v0.1.1-352)

[2020-08-31 16:01] Avni-Sharma commented on #654
Latest release got merged https://github.com/operator-framework/community-operators/pull/2253 which is indeed 0.1.1-364

[2020-08-31 16:03] sbose78 commented on #654
Ah got it, thank you!

That's actually a distinct release that isn't the one you are trying out when you use "startingCSV: service-binding-operator.v0.1.1-364"
https://github.com/operator-framework/community-operators/tree/master/community-operators/service-binding-operator/0.1.1-352

@pedjak @Avni-Sharma  As a good housekeeping practice, we should do a Github release with the commit relevant to h

[2020-08-31 16:05] sbose78 commented on #646
Also, wonder if the following is documented 🤔   I had a very hard time finding it the other day :D

[code]

[2020-08-31 16:07] Avni-Sharma opened #656 "binding:env:attribute being missed/ignored currently while fetching info from x-descriptors"
If we try to export the backing service values via just the x-descriptors(i.e CSV in OLM) then `binding:env:attribute` or `binding:volumemount:attribute` is missed currently here https://github.com/redhat-developer/service-binding-operator/blob/master/pkg/controller/servicebindingrequest/service.go#L82 .  Need to tackle it as https://gist.githubusercontent.com/isutton/61e20b4034207ef065821246df6ab

[2020-08-31 16:08] sbose78 commented on #630
@DhritiShikhar , as a workaround to creating two SBRs, can the user create one SBR with multiple backing services listed?

[2020-08-31 16:09] Avni-Sharma commented on #654
@sbose78 . Have already made a similar suggestion to @pedjak  and brought it up in Cabals too :)

[2020-08-31 16:19] pedjak commented on #654
@sbose78, I do not think that we should release tarballs/zip archives on GitHub, nobody consumes that. Instead, we should put the tag on the relevant commit.

[2020-08-31 17:11] #641 closed

[2020-08-31 17:12] sbose78 commented on #654
Sure, whatever we do, let's ensure things show up on the home page "releases" section. The source code tar is a by-product which Github gives for free.

We should probably add a few lines on what's the best way to consume the release.

![image](https://user-images.githubusercontent.com/545280/91746536-c3ba4480-eb8a-11ea-9829-3909ef64a46a.png)

[2020-09-01 11:54] sbose78 opened #657 "Upgrade go version to 1.15"

[2020-09-01 13:33] sbose78 commented on #654
https://github.com/redhat-developer/service-binding-operator/releases

Thank you @pedjak , closing this. @prietyc123 , feel free to continue the conversation though!

[2020-09-01 13:33] #654 closed

[2020-09-01 13:34] sbose78 commented on #637
Closing this since #409 has details for openshift 3.x usage.

[2020-09-01 13:34] #637 closed

[2020-09-01 13:35] sbose78 commented on #626
Does this take into account that application objects need to be modified too ?

[2020-09-01 13:40] sbose78 commented on #557
Since we do not have any related images that the controller would be referring directly, we should be good. The only image that the project works with is the one in the CSV's deployment, so we are implicitly compatible with disconnected environments, *I think*.

@pedjak, thoughts?

[2020-09-01 13:42] sbose78 commented on #548
@pedjak could you schedule this for a design review please with the team? I've tentatively marked this for 0.4 ( cc @baijum )

[2020-09-01 13:45] sbose78 commented on #536
@dharmit , by any chance would you be able to contribute docs for installation on Kubernetes?

[2020-09-01 13:47] sbose78 commented on #481
done in https://github.com/redhat-developer/service-binding-operator/commit/e84c5a9a73eca88f3b679af8921eb34e819815d1

[2020-09-01 13:47] #481 closed

[2020-09-01 13:47] sbose78 commented on #479
/hold

[2020-09-01 13:49] sbose78 commented on #376
@pedjak do you want to address this?

[2020-09-01 13:49] ianpartridge commented on #557
It's the one in the CSV that needs updating to support disconnected installation, I think.

Currently, the CSV's `spec.containerImage` is `quay.io/redhat-developer/app-binding-operator:72abb50`.  `72abb50` is a tag not a SHA and https://docs.openshift.com/container-platform/4.5/operators/olm-restricted-networks.html states operators must "Reference all specified images by a digest (SHA) and not by

[2020-09-01 14:09] ron1 commented on #409
Hi @sbose78. Unfortunately, downgrading OCP to version 3.11.43 is not a viable solution for most customers since it is far too old to be usable. All recent current OCP 3.11 releases have this problem AFAIK.

I suggest the issue remain open until a new version of the SBO is released with API group operators.coreos.com. Since Red Hat is a major SBO contributor, I recommend that the new version of th

[2020-09-01 17:49] prietyc123 commented on #654
Thanks @sbose78 for addressing the concern.

[2020-09-01 18:57] sbose78 commented on #409
Thank you for the note! I'll keep this open.

[2020-09-02 07:25] DhritiShikhar commented on #654
@sbose78 @pedjak

Just to conclude,

**With every Operatorhub release there should be Github release as well.**

Right?

[2020-09-02 10:31] baijum opened #658 "Add link to Slack channel from README"
- Channel: #service-binding-operator.
- To join: https://slack.k8s.io/

[2020-09-02 11:12] dharmit commented on #536
Sure. It's just that I'm not in a position to commit on the timeline at the moment. Would doing this some time after odo v2 release be fine by the team?

[2020-09-02 12:39] pedjak commented on #557
@ianpartridge you are right, the reference needs to contain sha.

[2020-09-02 13:58] pedjak commented on #654
Yes.

[2020-09-02 14:29] Avni-Sharma commented on #537
Closing this as we have shifted to acceptance test

[2020-09-02 14:29] #537 closed

[2020-09-02 14:29] #609 closed

[2020-09-02 14:31] Avni-Sharma opened #660 "Community Meeting - September 3, 2020"

[2020-09-02 17:08] pedjak opened #661 "Binding Service using volumes broken"
The only thing that might be fixed is `binding:volumemount:secret` option, but even that does not work, i.e. operator crashes with panic due to wrong type casting in https://github.com/redhat-developer/service-binding-operator/blob/f0748bbdc5d34adeb3ff215be55a9c053c194feb/pkg/controller/servicebindingrequest/binder.go#L176

The functionalities introduced in https://github.com/redhat-developer/serv

[2020-09-03 00:30] #658 closed

[2020-09-03 07:23] DhritiShikhar commented on #660
Agenda:

[1] Discussion on adding a `Ready` status:
https://github.com/redhat-developer/service-binding-operator/pull/565#issuecomment-684356894

[2020-09-03 10:05] cdlliuy commented on #660
[2] Discuss on https://github.com/redhat-developer/service-binding-operator/pull/647#issuecomment-683818261

[2020-09-03 13:02] sbose78 commented on #587
Even better, the proposal process #610 has been merged, @arthurdm and @arthurdzm ( cc @scothis ), please feel free!

[2020-09-03 13:58] Avni-Sharma commented on #660
Do we need any follow up GitHub issues regarding status or any other discussion?

[2020-09-07 03:36] cdlliuy opened #665 "Create an overall `Ready` to indicate whether the SBR reconcile is completed successfully"
According to the discuss on last call for  https://github.com/redhat-developer/service-binding-operator/pull/565#issuecomment-684356894 , I would like to get more comments on the proposal listed by @DhritiShikhar
![Screenshot from 2020-09-03 17-30-47](https://user-images.githubusercontent.com/17263036/92346066-3df44700-f0fe-11ea-9cef-aea7ddcf81bc.png)

Any objection to go ahead with this table for

[2020-09-07 03:36] cdlliuy commented on #660
@Avni-Sharma ,  https://github.com/redhat-developer/service-binding-operator/issues/665 for the status ready discussion.

[2020-09-07 07:30] isutton commented on #665
@cdlliuy

To confirm, the idea would be re-introduce the `Ready` condition, and a `True` status might be set in the following circumstances:

* `CollectionReady` is `True` and `InjectionReady` is `False` with the `EmptyApplicationSelector` reason, indicating the user **has not declared an application**; or
* `CollectionReady` is `True` and `InjectionReady` is also `True`.

Does this match your exp

[2020-09-07 08:15] cdlliuy commented on #665
yes,  @isutton ,  exactly.

[2020-09-08 05:18] DhritiShikhar opened #667 "Improve reconciler log error messages"
Reconciler sometimes throws error like these

[code]

which is not very descriptive and hard to understand specially `got: /` part.

[2020-09-08 07:24] cdlliuy commented on #665
@isutton , if we already get agreement on this, maybe we can put effort to get start to add `ready` ?  Let us decide this on Thursday's call?

[2020-09-08 09:55] DhritiShikhar commented on #665
@cdlliuy Sure

[2020-09-08 11:37] baijum commented on #525
@bbrowning Can you please confirm, if you still face this issue.

I couldn't reproduce the exact issue. I followed a modified steps to reproduce:

1. Install SBR operator and the example PostgreSQL operator
2. Create a Database CR
3. Create an SBR CR
4. Delete the Database CRD
5. This error will appear on SBR pod log:
[code]

[2020-09-08 11:44] baijum commented on #479
I am closing the issue as this project is not following the spec.

[2020-09-08 11:44] #479 closed

[2020-09-08 13:59] DhritiShikhar opened #668 "No parsing of templates provided in the `CustomEnvVar` field"
### Issue

Templates provided in the `CustomEnvVar` field are not parsed.

[code]

Hence, that specific customEnvVar key is assigned the base64 coded value `PG5vIHZhbHVlPg==` i.e. `<no value>` in the intermediate secret

### Demo

https://youtu.be/aLJUTltoLT0

### How to reproduce

1. Create this CRD:

[code]

2. Create this CR (based on the CRD above):

[code]

**Notice the annotation in CR to fe

[2020-09-08 14:01] baijum commented on #553
I tried to reproduce this issue with the following configuration, but I don't see the issue:
[code]

This is the output from both secret objects:
[code]

@ron1 Let me know if I missed something.

[2020-09-08 14:31] DhritiShikhar commented on #668
I was able to fix the issue with proper `id` for service

[2020-09-08 14:56] pedjak commented on #476
Fixed in https://github.com/redhat-developer/service-binding-operator/pull/639

[2020-09-08 14:56] #476 closed

[2020-09-08 20:59] #508 closed

[2020-09-09 09:11] matthewpwilson commented on #476
@pedjak did you really mean to close this? Looks like #639 is a fix for the tests, so don't see how it could resolve this issue with the operator itself unless I'm missing something?

[2020-09-09 19:06] pedjak commented on #476
@matthewpwilson our observation was that the issue happens when running the operator outside of the cluster and terminating it before removing SBRs in the namespace. This is typical for dev and testing workflows, and #639 fixed those. Are you able to reproduce the issue on a production setup, when operator runs inside cluster? Please share your steps.

[2020-09-10 08:50] #660 closed

[2020-09-10 09:57] DhritiShikhar opened #672 "Community Meeting - September 10, 2020"
Agenda:

[1] Discussion on `Ready` status condition
https://github.com/redhat-developer/service-binding-operator/issues/665#issuecomment-688674685

[2020-09-10 10:28] DhritiShikhar commented on #665
@pedjak

Based on the discussion in the last community call,
there are two happy paths:

[1] CollectionReady -> True + InjectionReady -> False
Intermediate secret is populated and ready to be used.
This is generic binding -> https://github.com/redhat-developer/service-binding-operator/pull/350

[2] CollectionReady -> True + InjectionReady -> True

Another `Ready` condition was proposed because as

[2020-09-10 11:31] DhritiShikhar commented on #672
Action Item

1. @pedjak to propose a scenario with `Ready` condition
2. Team to review that proposal

[2020-09-10 12:13] pedjak commented on #665
By looking at the condition table above, it appears to me that they are actually not independent from each other, i.e. some combinations are not possible. Hence, we can simplify the model a lot: we can keep just `Ready` type and incorporate other two as reasons:

Type|Status|Reason|Message
-|-|-|-
Ready|True|AppBound|Application Foo bound to service(s)
Ready|False|EmptyServiceSelector|Empty servic

[2020-09-11 04:28] #486 closed

[2020-09-14 03:40] cdlliuy commented on #665
@isutton  @DhritiShikhar  @sbose78 , can you help to share you comment on this?

[2020-09-14 09:26] isutton commented on #665
I'm still not convinced that coalescing the conditions into a single one is the way to go; this will move us back to a single observation regarding a process that contains at least two independent workflows (1, 2).

1. https://github.com/redhat-developer/service-binding-operator/pull/350
2. https://github.com/redhat-developer/service-binding-operator/pull/565
3. https://github.com/redhat-developer

[2020-09-14 09:36] pedjak commented on #665
The first workflow is contained into the other one. Creating binding secret without associating it to an app is just a special case - when app does not yet exist. However, from user point of view, service binding is still not performed (i.e. not ready). It becomes ready only when we inject binding into the app. All other states could be reported on the way via condition's reason (and having ready=

[2020-09-15 08:26] pedjak commented on #455
Fixed in https://github.com/redhat-developer/service-binding-operator/pull/608

[2020-09-15 08:26] #455 closed

[2020-09-15 09:35] isutton commented on #665
They're not contained into each other, one is an optional post-collection step that might or not be executed.

What I think we're missing is that the `.spec` contents indicate what the user wants to achieve through the usage of optional fields.

Let's consider the following service binding resources:

[code]

and

[code]

My interpretation is that in the latter, the user is explicitly indicating a

[2020-09-15 14:20] pedjak commented on #665
First step could be considered as separate sub workflow, this is what I meant by saying "that a workflow is contained in another one".

However, observing this single workflow, we still have just one condition to report: namely a user wants to know if the workflow has completed, i.e. Ready = True. If not true, then through "Reason" we can find out where we got stuck. Even if `application` is optio

[2020-09-16 03:41] cdlliuy commented on #665
@isutton , in above table, why the row

@pedjak  should you update the 4th row of above table to be "Ready True  EmptyApplicationSelector" ?

[2020-09-16 09:59] pedjak commented on #665
@cdlliuy @isutton I am withdrawing my proposal - it was focused too much on the current implementation. Let's keep then the existing conditions and introduce `Ready`. In any case, we do not need to treat Ready as the consequence of other conditions in the system, i.e. we do not need to keep the table. Ready is either true indicating that service binding got performed, or false.

[2020-09-16 16:20] #652 closed

[2020-09-17 11:05] isutton opened #678 "Community Meeting - September 17, 2020"

[2020-09-17 11:42] isutton commented on #678
@cdlliuy will be leading the efforts to bring the `Ready` condition in place, according to previous discussions. @isutton will be available to help.

[2020-09-17 13:05] cdlliuy commented on #665
@isutton  @DhritiShikhar  @pedjak   as discussed on the meeting,    @qibobo  will help to start the effort to add `Ready` back while still keeping the fine-gained `collectionReady` and `injectionReady`.

Just follow the table in https://github.com/redhat-developer/service-binding-operator/issues/665#issue-694667113.

Igor will help to review and provide support when we make the change :-)  Thanks

[2020-09-20 16:14] #672 closed

[2020-09-23 11:33] Avni-Sharma opened #684 "Make GVR for app and LabelSelector mutually exclusive"
When we specify application in Service Binding CR, the LocalObjectReference and LabelSelector should be mutually exclusive (https://github.com/redhat-developer/service-binding-operator/blob/master/pkg/apis/operators/v1alpha1/servicebinding_types.go#L71)
According to the API LocalObjectReference is mandatory right now, but to be able to use LabelSelector, it(LocalObjectReference) should be made opt

[2020-09-23 17:22] #678 closed

[2020-09-24 07:16] qibobo opened #686 "Change timestamp to human readable such RFC3339/ISO8601 format in log"
In current log the timestamp is difficult for developers to read and understand.
`{"level":"debug","ts":1600931556.2031412,"logger":"mapper","msg":"resource is not a service declared by the SBR","Object.Namespace":"default","Object.Name":"thetranslator-46"}`

So it is better to change tot RFC3339 format date-time format:

`{"level":"debug","dt":2020-09-24 15:00:00 000,"logger":"mapper","msg":"reso

[2020-09-24 10:36] Avni-Sharma opened #688 "Community Meeting - September 24, 2020"

[2020-09-24 11:15] qibobo commented on #688
https://github.com/redhat-developer/service-binding-operator/issues/686

[2020-09-24 11:15] cdlliuy commented on #508
@Avni-Sharma ,   @qibobo did some tests with latest master, but the workflow in https://github.com/redhat-developer/service-binding-operator/issues/508#issuecomment-645450600  seems not work

[2020-09-24 11:15] qibobo commented on #688
https://github.com/redhat-developer/service-binding-operator/pull/681

[2020-09-24 11:17] qibobo commented on #688
https://github.com/redhat-developer/service-binding-operator/issues/508

[2020-09-25 16:48] Avni-Sharma commented on #665
I agree with @isutton on this
I'm not convinced too, that coalescing the conditions into a single one is the way to go.

[2020-09-25 17:00] Avni-Sharma commented on #665
I think that having `Ready`  might be Redundant

We can have it `also` ,  but is it a necessity-, then perhaps no

[2020-09-27 15:59] qibobo opened #693 "Failed to run acceptance test in minishift cluster"
I tried to run acceptance test in a local minishift cluster but failed. Below are the minishift version and test log:

[code]

[code]

[2020-09-28 08:29] Avni-Sharma commented on #665
According to https://github.com/redhat-developer/service-binding-operator/pull/565#issuecomment-684356894 the UX can depend on `InjectReady` itself :thinking:  Why to have an extra condition and then depend on that. I am a bit confused here :see_no_evil:

[2020-09-28 10:59] Avni-Sharma commented on #665
@pedjak when you say service binding got performed, does that mean collectionReady True or collectionReafy and InjectionReady true ?

[2020-09-28 14:20] cdlliuy commented on #665
@Avni-Sharma ,  since the name of `InjectReady` may not a stable in the future, and then UX need to prepare for breaking changes again and again.    Providing a *stable* Ready is the purpose of this issue.

[2020-09-29 22:28] sbose78 commented on #508
^ re-opening in that case.

[2020-09-30 06:27] Avni-Sharma commented on #508
@cdlliuy I tried the same steps, and it seems to be working for me, i.e reconciling after deleting db and creating db with the same name. Note, unless anything is changed in the intermediate secret (via changes in db spec or CM/Secret changes), the injection won't happen again in the app deployment. Any change in the DB spec or the secret/CM of the DB, but with the same resource name for the DB in

[2020-09-30 09:02] Avni-Sharma commented on #508
But I can add predicate for metadata changes as well, cc @pedjak

[2020-09-30 14:07] sbose78 commented on #661
@baijum 's original PR https://github.com/redhat-developer/service-binding-operator/pull/83
@baijum how would we enhance this to acknowledge `$SERVICE_BINDING_ROOT` ?

[2020-09-30 18:59] sbose78 commented on #661
Note from team discussion
[code]

[2020-10-01 05:13] sbose78 commented on #688
Would someone from the codeengine team be able to contribute docs for https://github.com/redhat-developer/service-binding-operator/issues/536 ?

[2020-10-01 07:26] Avni-Sharma commented on #686
I feel that shifting to only date time format would be good and like this suggestion, unless folks feel otherwise. @redhat-developer/openshift-dev-services please feel free to post your thoughts.

[2020-10-01 09:42] baijum commented on #693
Minishift which uses OpenShift 3.x is not supported.

[2020-10-01 10:10] isutton commented on #686
I'm fine with this change.

[2020-10-01 10:10] baijum opened #700 "Use custom error objects"
Currently, there are many places we are using `errors.New(...)` to create errors. Instead of this we can define custom error object and capture relevant details.

Refer:

1. https://blog.golang.org/go1.13-errors
2. https://blog.golang.org/errors-are-values

[2020-10-01 10:11] baijum opened #701 "Unbind an application from a service"
Feature to unbind an application from service when Service Binding CR is deleted.

[2020-10-01 10:12] baijum commented on #701
PR with acceptance tests: https://github.com/redhat-developer/service-binding-operator/pull/695

[2020-10-01 10:42] pratikjagrut opened #702 "Service binding operator crashes if encountered a unknown field in SBR spec"
*If SBR contains the unknown field in spec then the operator goes into panic error eventually crashing it.*

**Expected behaviour**: Handling unknown field gracefully or pruning them while applying SBR.
**Actual behaviour**: Operator crashes.

**Below is the SBR I applied:**

[code]

**Logs:**

[code]

[2020-10-01 14:10] Avni-Sharma opened #705 "Provide documentation for JSONPath support in customEnvVar"
Currently, customEnvVar API in the ServiceBinding supports both 1) go templating and JSONPath Support. While the documentation for the go templating exists, it would be good if we have for JSONPath as well. Refer link https://github.com/redhat-developer/service-binding-operator/pull/412 when this support was added. in https://github.com/redhat-developer/service-binding-operator/tree/master/example

[2020-10-01 15:21] sbose78 opened #706 "Provide documentation for projecting information as "files"/volume mounts"
There are multiple ways of projecting information as files/volume mounts based on information from
* CR/CRD annotations
* OLM descriptors

( even if the feature breaks in a release and marked as a known issue, we should document the expectation )

[2020-10-01 16:56] sbose78 commented on #661
Let's also set the mountPathPrefix as an env var called SERVICE_BINDING_ROOT=<mountPathPrefix> in workload, that'll give the app discoverability for free as proposed in https://github.com/k8s-service-bindings/spec#application-projection

@baijum @pedjak @isutton @Avni-Sharma

[2020-10-01 20:14] sbose78 commented on #553
Closing this, please feel free to re-open it we missed something.

[2020-10-01 20:14] #553 closed

[2020-10-02 10:59] isutton commented on #702
I've seen this before when `services` is empty, which is the case of your input file. Would you double check that? Adding `services: []`  should work that around, and I believe https://github.com/redhat-developer/service-binding-operator/pull/698 touches that specifically.

Also, could you add the branch and commit you're building from?

[2020-10-02 16:21] johnpoth opened #709 ""application not found" when using `Deployment` instead of `deployments`"
Hi all,

Great project!

I get the error "application not found" when using `Deployment` instead of "deployments" in spec.applicationSelector.resource. I feel like Deployment should be valid ? Let me know if you need the full SBR.

Thanks!

[2020-10-02 16:37] Avni-Sharma commented on #709
Hi @johnpoth . In the application we use the `resource` instead of `kind` . So the corresponding resource for a kind deployment would be `deployments` . Refer https://github.com/redhat-developer/service-binding-operator/blob/master/pkg/apis/operators/v1alpha1/servicebinding_types.go#L71

[2020-10-02 16:39] sbose78 commented on #709
Yeah, the API supports GroupVersionResource, and not GroupVersionKind, though I can't think off head why.

Avni, do you remember why 🤨🤠

[2020-10-02 16:44] Avni-Sharma commented on #709
Not quite sure. But we did discuss on moving everything to GVR. currently we use `gvr, _ := meta.UnsafeGuessKindToResource(gvk)`  and
[code]
so it would be better to move to GVR for both

[2020-10-02 16:49] johnpoth commented on #709
Ah makes sense then. Yeah Knative is using [Kind](https://github.com/knative/eventing/blob/69f5d21b88b5582717cd121b7696af72252bafd3/vendor/knative.dev/pkg/tracker/interface.go#L41) for it's SinkBinding which is similar to this, maybe that's why I was confused :)

Feel free to close this now that it's clear :+1:

[2020-10-02 16:49] Avni-Sharma opened #710 "Making service API to use GVR instead of GVK"
Currently, we have GVK being referred in for the service, and GVR for application. Not quite sure on the impetus of this decision, but we should move towards a more consistent usage across our Spec which will also be less confusing (https://github.com/redhat-developer/service-binding-operator/issues/709).

Motivation for GVK to GVR
- Since a restMapper is propagated all way from the controller man

[2020-10-02 16:51] #709 closed

[2020-10-02 19:47] Avni-Sharma commented on #403
Support added in https://github.com/redhat-developer/service-binding-operator/pull/628

[2020-10-02 19:47] #403 closed

[2020-10-04 23:45] sbose78 commented on #693
https://github.com/redhat-developer/service-binding-operator/pull/677 @qibobo Does this help ?

[2020-10-05 08:42] isutton commented on #709
We've recently added a dependency on `meta.RESTMapper`, which can be used more effectively than relying on `UnsafeGuessKindToResource` since it takes in account API server registered resources.

GVRs seems to make sense since the user is always referring to resources in the API server.

[2020-10-06 15:32] pedjak commented on #656
Got obsolete after merging https://github.com/redhat-developer/service-binding-operator/issues/403

[2020-10-06 15:32] #656 closed

[2020-10-06 15:51] qibobo commented on #693
@baijum @sbose78
Do you mean the acceptance test can not be executed in a minishift cluster?

[2020-10-06 22:07] pmacik commented on #605
I wasn’t able to reproduce it with the current codebase, but I still have a few theories to check. Anyway, the version 0.3.0 for which this is targeted is a technology preview, for which a non-obvious and non-immediate memory leak is tolerable. I’m lowering a priority of the issue and moving the target version post 0.3.0 release (so that it is resolved in GA).

[2020-10-07 09:34] johnpoth opened #716 "ServiceBindingProjection support"
The Service Binding specification allows [custom projections](https://github.com/k8s-service-bindings/spec#custom-projection) through ServiceBindingProjection, it would be cool to support that. This would be useful when an application's Deployment is maintained by an Operator and shouldn't be modified by the Service Binding Operator. Thanks!

[2020-10-07 10:08] baijum commented on #693
Yes.

[2020-10-07 11:24] pedjak commented on #605
@bbrowning are you still able to reproduce the issue with 0.3.0 version?

[2020-10-07 11:51] pedjak commented on #552
the scorecard tests are not executed anymore at PR submission.

[2020-10-07 14:02] s0uravd3 opened #717 "How to parse a json object in binding secret"
Hi team,
Im trying to create a Service Binding Request using the `redis` bound secret from IBM Cloud. The secret is one json object with `connection` details inside it. Its not as straightforward as the examples where there are separate key-value pairs for each attribute (user, password, host, etc).

Is there a way to parse a `connection` key's json value (similar to jq) and then map the same to a

[2020-10-07 15:29] Avni-Sharma commented on #716
Hi @johnpoth Thanks for the issue.
Currently, in Service Binding we do support a scenario wherein the app isn't modified by the SB controller. If we skip mentioning `application` in the SB CR(application is an `optional` field) then we have only the service in the SB CR , that hints the controller that the secret created by the controller should not be injected in any deployment. Accordingly, the

[2020-10-07 15:31] sbose78 commented on #716
So, technically, if you skip the `spec.application` section, there isn't any application workload that the service binding operator is aware of, hence nothing would be modified.

[2020-10-07 16:05] baijum commented on #716
The issue description mentioned "an Operator."  How will the operator get to know about the `Secret` resource created by Service Binding Operator? I mean, what is the discoverability pattern we are recommending?  BTW, I am not sure watching for `Secret` resources is a good choice based on this text (  https://kubernetes.io/docs/concepts/configuration/secret/#clients-that-use-the-secret-api ):

So

[2020-10-07 17:07] pedjak commented on #646
It should be checked and eventually fixed in #661

[2020-10-07 19:09] sbose78 commented on #716
Aren't controllers already watching secrets ? ( our controller already watches them, almost every operator watches secrets https://github.com/operator-framework/community-operators/tree/master/community-operators/ )

* The binding secret name could be same as that of the `ServiceBinding` that owns it.
* The binding secret name could have an annotation with the name of the `ServiceBinding` that cre

[2020-10-07 19:11] sbose78 commented on #716
@johnpoth would you be able highlight your use case in more details?

[2020-10-08 10:41] johnpoth commented on #716
Thanks @Avni-Sharma I'll look into not specifying `spec.application`. If I understand correctly, it will be up to my Operator to fetch the secret once `CollectionReady` is set on the SB and inject it on the Deployment resource. Hopefully the secret's name will be the same as the SB or will be indicated in the SB? I haven't noticed this in the [Spec](https://github.com/k8s-service-bindings/spec) so

[2020-10-10 04:09] sbose78 commented on #716
Gotcha, thank you!

The secret name is going to be the same as that of the name of ServiceBinding object.

Alternatively, the ServiceBinding's spec.status contains the name of the generated secret too!

This should work for your use case.

[2020-10-10 05:02] baijum commented on #716
Let me elaborate this little more.  In the spec case, all the binding related configuration will be there in the `ServiceBinding` resource.  Whereas, in the case of SBO, the configuration will be split into two resources that belong to different operators.

SBO resource:

[code]

Resource from the other operator:

[code]

If someone else creates another operator, they need to create another CRD wi

[2020-10-12 05:51] qibobo commented on #686
This can be done by changing the deployment parameter:

--zap-time-encoding string - Sets the zap time format (epoch, millis, nano, or iso8601)

[2020-10-12 09:09] Avni-Sharma opened #721 "Community Meeting - October 15, 2020"

[2020-10-12 11:37] dharmit opened #722 "Can SBO link two Deployments?"
In odo, we're using SBO to link a component (Deployment in k8s lingo) with an Operator backed service. We need to provide users with the ability to link components (Deployments) with each other. I don't see any example related to this in SBO docs. Is it possible to do this with SBO?

To give some context, in odo v1, we used to do linking by injecting a secret into the component (in odo v1, we used

[2020-10-13 09:10] qibobo opened #723 "Controller doesn't reconcile when BackingService CR got deleted and recreated"
steps to reproduce this issue:

I use [bindings.ibmcloud](https://github.com/IBM/cloud-operators/blob/master/config/crd/bases/ibmcloud.ibm.com_bindings.yaml) as the backing service. And I have added the annotations as below to the bindings CRD.

[code]

1 create the BackingServiceCR:

[code]

2 create the knative service as the app

[code]

3 create the SBR
[code]

Now there are 2 secrets named th

[2020-10-13 09:11] qibobo commented on #721
https://github.com/redhat-developer/service-binding-operator/issues/723
https://github.com/redhat-developer/service-binding-operator/issues/686

[2020-10-13 09:16] Avni-Sharma commented on #722
services is a `required` field, so it can't be left empty

[2020-10-13 11:49] dharmit commented on #722
So linking a "Deployment" type to another is not really possible using SBO? What about the secrets part I mentioned in the description? Not possible to inject/link a secret using it, right?

[2020-10-13 14:00] johnpoth commented on #716
Hi @baijum, @Avni-Sharma @sbose78,

Thanks for your reply. I've created an SB as we discussed, omitting `spec.application`:
[code]
I was expecting for a secret to be created containing the connection details to the Database however the generated secret seems to contain no data:

[code]
I ran the Operator locally using `make local` on the project. Looking at the Operator [logs](https://gist.github.

[2020-10-13 16:45] sbose78 commented on #716
I think you bumped into the old annotation format :) New changes have gone in very recently https://github.com/operator-backing-service-samples/postgresql-operator/commit/ffa2481e9c15d1f8f776cb416a50b75a114b62c2

Here's the annotation guide https://github.com/redhat-developer/service-binding-operator/blob/master/docs/annotations.md

cc @baijum @Avni-Sharma

[2020-10-13 16:47] sbose78 commented on #716
Note, a provisioned service may
*Either, have a .status.binding.name
*Or, have descriptors/annotations.

The second option is there because my expectation is that most service providers wouldn't be too willing to modify their CRDs/APIs, they would feel comfortable decorating what they have :)

[2020-10-14 03:23] baijum commented on #717
I have sent a PR to add JSON Path function. #724

I need to write tests and documentation.

[2020-10-14 03:25] baijum commented on #717
The syntax will be as given in this example script: https://gist.github.com/baijum/4089a736b957a79c508e81ff5eee2824

[2020-10-14 08:44] qibobo commented on #723
Add a PR to fix this issue:
https://github.com/redhat-developer/service-binding-operator/pull/726

[2020-10-14 10:11] dharmit opened #727 "Make SBO available on OperatorHub.io"
Presently, Service Binding Operator is not available to install via the catalog source corresponding to https://operatorhub.io/. I think the Operators mentioned on that link are (almost?) same as those in https://github.com/operator-framework/community-operators/tree/master/upstream-community-operators.

Asking for this because it would help install Service Binding Operator on a minikube cluster q

[2020-10-14 10:49] dharmit commented on #721
#727

[2020-10-14 12:21] dharmit commented on #722
@sbose78 is there an example yaml I can take a look at to understand this further? I couldn't find one under `examples` dir.

[2020-10-14 14:26] bbrowning commented on #605
I have not reinstalled Service Binding Operator on a long-running cluster because it was causing the entire cluster to become unstable because of this leak. Unfortunately I don't plan to install it on that cluster again until / unless this is confirmed fixed.

[2020-10-14 14:37] johnpoth commented on #716
Hi @sbose78 thanks! When running both projects from `master`, intermediary secret is generated correctly as follows:

[code]
Do you know if there are plans to make the database connection details standard ? e.g having the database host name always stored on key `DATABASE_DB_HOST`.  This could help make applications more portable and be able to easily switch between database providers. This point h

[2020-10-14 15:36] pmacik commented on #693
@qibobo You can use [CRC](https://github.com/code-ready/crc) instead which is similar but for clusters v4.x+

[2020-10-14 15:48] pmacik opened #728 "Binding using annotation with elementType=sliceOfStrings fails with `unsupported type` error"
# Steps to reproduce
## Scenario 1:  `sliceOfStrings` from array
Given a CRD is annotated with service binding annotation using the `sliceOfStrings` element type like in the following snippet:

[code]

and the respective CR contains the following spec:

[code]
when a service binding is created to bind the service CR to an application I'd expect that the application would be enriched with the follo

[2020-10-15 07:57] cdlliuy commented on #721
https://github.com/redhat-developer/service-binding-operator/pull/681

[2020-10-15 08:07] dharmit commented on #721
#722

[2020-10-15 11:12] johnpoth opened #731 "allow spec.application to be null"
Getting the following error when omitting spec.application:

`ServiceBinding.operators.coreos.com \"foobar-service-binding-request\" is invalid: spec.application: Invalid value: \"null\": spec.application in body must be of type object: \"null\""`

Thanks!

[2020-10-15 11:25] cdlliuy commented on #686
@baijum ,  as discussion on the community meeting,   we will put effort on this issue to raise this enhancement.

[2020-10-15 11:27] baijum commented on #727
This is a good idea.

[2020-10-15 11:33] baijum commented on #722
One option could be this spec idea: https://github.com/k8s-service-bindings/spec#direct-secret-reference

[2020-10-15 15:25] sbose78 commented on #717
Adding a two-liner in https://github.com/redhat-developer/service-binding-operator/blob/master/docs/application-author.md should suffice too. Thanks!

[2020-10-15 15:27] sbose78 commented on #722
Yeah we did have this working :-) https://github.com/redhat-developer/service-binding-operator/issues/611
We should see if it has broken along the way.

[2020-10-15 15:29] sbose78 commented on #727
Yeah, I've been tracking it here as well
https://github.com/redhat-developer/service-binding-operator/issues/623

Had pinged on slack a couple of times to check if @qibobo and team could take care of it :)

[2020-10-15 17:10] baijum commented on #717
On a closer look, it looks like both `json` and `jsonp` function doesn't provide access to the json objects which are part of the `Secret` data. The current implementation only allows accessing any Kubernetes resource or any nodes within that as a JSON. This needs further investigation.

[2020-10-15 19:43] Avni-Sharma commented on #731
Thanks @johnpoth  for the PR :+1:

[2020-10-15 19:43] #731 closed

[2020-10-15 20:46] sbose78 commented on #722
It could also be binding a `deployment` with a `route` or ( route + secret )

https://github.com/redhat-developer/service-binding-operator/blob/master/examples/route_k8s_resource/README.md

[2020-10-16 06:39] qibobo commented on #686
@cdlliuy @baijum
No code change is needed for this issue. The logger will output iso8601 format datetime if we add --zap-time-encoding=iso8601 when start the SBO.

[2020-10-19 09:49] DhritiShikhar opened #734 "Add acceptance test to show update to a single annotation"
Refer: https://github.com/redhat-developer/service-binding-operator/pull/730#discussion_r507424063

This project has acceptance test to show addition of a new annotation to the existing list but we do not have any acceptance test to show **update of an existing annotation**.

Example:

Old Annotation:

`service.binding/ready: path={.status.ready}`

Updated annotation name:

`service.binding/readyF

[2020-10-19 10:38] DhritiShikhar commented on #630
@sbose78 Yes

[2020-10-19 10:38] DhritiShikhar commented on #630
JIRA task - https://issues.redhat.com/browse/APPSVC-712

[2020-10-19 16:43] Avni-Sharma commented on #622
New release https://github.com/operator-framework/operator-sdk/releases/tag/v1.1.0

[2020-10-19 20:22] Avni-Sharma commented on #734
It is related to https://github.com/redhat-developer/service-binding-operator/blob/master/test/acceptance/features/bindAppToService.feature#L809

[2020-10-20 06:34] DhritiShikhar commented on #630
This is a video where I tried to reproduce this bug locally - https://youtu.be/1Ojt-VFBYLU

I can see that status of both the ServiceBinding `sbr-1` and `sbr-2` are updated properly with both `collectionReady` and `injectionReady` as `True`.

which means,
a) Secret `sbr-1` and `sbr-2` are populated properly. I cross-checked.
b) deployment `nodejs-rest-http-crud` contains:

[code]

The only undesir

[2020-10-20 08:37] DhritiShikhar commented on #630
Also, there is an acceptance test for this -> https://github.com/redhat-developer/service-binding-operator/blob/master/test/acceptance/features/bindAppToMultipleServices.feature#L11

[2020-10-20 08:50] DhritiShikhar commented on #630
@pmacik Can you help me in understanding how to write an acceptance test for this specific scenario?

[2020-10-20 11:04] DhritiShikhar commented on #630
Based on the discussion in cabal:
1. Adding a new step similar to "application should be re-deployed" step with timeout.
3. Timeout is worst case scenario. Action Item for Dhriti to think on a better solution.

[2020-10-20 13:49] pedjak commented on #605
@bbrowning can you give us a bit more details on the load running on the cluster, so that we can create a similar one and hopefully reproduce the issue?

[2020-10-22 10:31] DhritiShikhar opened #736 "Community Meeting - Oct 22, 2020"

[2020-10-22 11:13] qibobo commented on #736
https://github.com/redhat-developer/service-binding-operator/pull/726
https://github.com/redhat-developer/service-binding-operator/pull/681

[2020-10-22 19:02] #721 closed

[2020-10-22 19:03] Avni-Sharma opened #737 "Community Meeting - Oct 29, 2020"
- Please add a topic in this thread and add a link to the Github issue associated with the topic.
- Please make sure you give folks enough time to review/discuss the topic offline on Github before coming into the meeting

[2020-10-22 19:04] Avni-Sharma commented on #736
Meeting notes- tests would be updated for the above PRs

[2020-10-22 19:08] #736 closed

[2020-10-23 11:55] dharmit commented on #536
For time being, I've documented the steps that helped me setup SBO on minikube in this PR on odo repohttps://github.com/openshift/odo/pull/4140. Once we get it merged, I'll open a PR on SBO repo for the same.

[2020-10-26 05:13] #686 closed

[2020-10-27 18:42] Avni-Sharma commented on #536
Thanks @dharmit , no worries, raised a PR https://github.com/redhat-developer/service-binding-operator/pull/738 . Will follow up with PR reviews and follow ups

[2020-10-27 18:49] Avni-Sharma opened #739 "Prevent the requirement of Clusterrole"
Currently, if we try to install SBO on minikube without proper clusterrole and clusterrolebindings I get a log output as
```{"level":"error","ts":1603779779.0474563,"logger":"mapper","msg":"listing SBRs","Object.Namespace":"sbo-demo","Object.Name":"service-binding-operator-lock","error":"servicebindings.operators.coreos.com is forbidden: User \"system:serviceaccount:sbo-demo:service-binding-operat

[2020-10-29 11:04] qibobo commented on #737
https://github.com/redhat-developer/service-binding-operator/pull/681

[2020-10-29 11:07] qibobo commented on #737
https://github.com/redhat-developer/service-binding-operator/pull/726

[2020-10-29 19:16] Avni-Sharma commented on #737
https://github.com/redhat-developer/service-binding-operator/pull/742 - Discussed in the community call :rocket:

[2020-10-29 19:19] Avni-Sharma opened #743 "Community meeting - Nov 5, 2020"
- Please add a topic in this thread and add a link to the Github issue/PR associated with the topic.
- Please make sure you give folks enough time to review/discuss the topic offline on Github before coming into the meeting

[2020-10-29 19:20] #737 closed

[2020-10-29 20:47] #728 closed

[2020-10-30 08:40] DhritiShikhar opened #744 "SBO should re-attempt to update deployment with correct secret name in case of modification by external factor"
When secret name is updated in the deployment by a user (external factor),

SBO should re-attempt to update the deployment with correct secret name.

Refer - https://youtu.be/F8r-pDBq7UA

[2020-10-30 09:07] Avni-Sharma commented on #744
I tried to run it against v0.3.0 red hat operator

When I updated the secret ref from binding-request to something else like binding. The reconcile is triggered and we get the binding-request back again. But yes the old secret ref and the binding-request secret ref both exist, which is okay, things wont break as we are getting the binding-request back. example I get this after following the steps

[2020-10-30 10:10] DhritiShikhar commented on #744
Yes. Tried again. It's working.
Thanks for cross-checking Avni.

[2020-10-30 10:10] #744 closed

[2020-10-31 03:37] gorkem opened #745 "contributing.md missing information"
`CONTRIBUTING.md` refers to build and test instructions on README which are not available on `README.md`.

[2020-10-31 16:03] gorkem commented on #449
Can we close this in favour of #622 ?

[2020-10-31 16:16] gorkem opened #746 "Create helm charts for deployment"
I would like be able to use helm charts for deploying instead of depending on the existence of the OLM on the cluster.

[2020-11-03 15:53] Avni-Sharma commented on #665
PR merged , closing this issue

[2020-11-03 15:53] #665 closed

[2020-11-03 15:56] Avni-Sharma commented on #746
@akashshinde created some helm charts in Hack`n`Hustle. - https://github.com/akashshinde/todo-app-etcd-helm-sbo
But definitely, we can have it as part of the project. Super helpful.

[2020-11-04 06:18] qibobo opened #751 "Refactor ServiceBindingStatus to improve readability of the code"
According to comment https://github.com/redhat-developer/service-binding-operator/pull/681#discussion_r510158311, it is better to refactor the ServiceBindingStatus to improve readability of the code

[2020-11-04 12:43] Avni-Sharma opened #752 "Update dev-release target to avoid using check-operatorsource-pods.sh"
The dev-release target validates the operator by installing new quay releases. It uses the check-operatorsource-pods.sh wherein we check for operator source for validation. Since we have stopped using operator source we should update the Makefile target and not use that script for validation in dev-release.sh script.

[2020-11-04 13:06] akashshinde commented on #746
@gorkem did you mean helm chart to deploy service binding operator ?

[2020-11-04 13:22] gorkem commented on #746
Correct. Without OLM

[2020-11-04 13:56] akashshinde commented on #746
Thanks. I have created Jira to track this https://issues.redhat.com/browse/APPSVC-746

[2020-11-05 11:15] qibobo commented on #743
https://github.com/redhat-developer/service-binding-operator/pull/726

[2020-11-10 17:59] Avni-Sharma commented on #688
On it

[2020-11-10 17:59] #688 closed

[2020-11-10 18:00] #743 closed

[2020-11-10 18:00] Avni-Sharma opened #756 "Community meeting- 12th Nov,2020"
- Please add a topic in this thread and add a link to the Github issue/PR associated with the topic.
- Please make sure you give folks enough time to review/discuss the topic offline on Github before coming into the meeting

[2020-11-12 04:04] dharmit commented on #756
https://github.com/openshift/odo/pull/4140 - documentation of SBO installation on minikube.

[2020-11-19 07:19] #756 closed

[2020-11-19 07:20] Avni-Sharma opened #766 "November 19th, 2020"
- Please add a topic in this thread and add a link to the Github issue/PR associated with the topic.
- Please make sure you give folks enough time to review/discuss the topic offline on Github before coming into the meeting

[2020-11-19 11:13] qibobo commented on #766
https://github.com/redhat-developer/service-binding-operator/pull/726

[2020-11-20 12:30] pratikjagrut commented on #549
Closing this issue as we moved to acceptance tests.

[2020-11-20 12:30] #549 closed

[2020-11-24 16:24] gorkem opened #771 "Website for service binding operator"
Service binding operator needs a mini-site that is organized around for the application developer perspective.

[2020-11-25 14:48] kadel opened #772 "Service Binding Operator should be available on operatorhub.io"
In order to make this available for more users and to the wider Kubernetes community, the SBO should be available on operatorhub.io.
This means that the SBO container images should be accessible by anyone (Red Hat login should not be required)

[2020-11-25 14:52] kadel opened #773 "Documentation of an installation process on Windows"
Running on Windows I can't execute the bash install script https://raw.githubusercontent.com/redhat-developer/service-binding-operator/master/install.sh. Documentation should provide a way to install this operator even for someone not using Linux or macOS.
We also want application developers to use this. 45% of developers  use Windows (https://insights.stackoverflow.com/survey/2020#technology-deve

[2020-11-26 11:30] DhritiShikhar commented on #766
/closed

[2020-11-26 11:30] #766 closed

[2020-11-26 11:30] DhritiShikhar opened #775 "November 26, 2020"
Please add a topic in this thread and add a link to the Github issue/PR associated with the topic.
Please make sure you give folks enough time to review/discuss the topic offline on Github before coming into the meeting

[2020-11-26 11:33] DhritiShikhar commented on #775
[1] Discussion on https://github.com/redhat-developer/service-binding-operator/pull/726:
- No unit test needed for now
- PR looks good to be merged.

[2] Acceptance tests takes too long to run

[2020-11-26 11:35] DhritiShikhar opened #776 "December 3, 2020"
- Please add a topic in this thread and add a link to the Github issue/PR associated with the topic.
- Please make sure you give folks enough time to review/discuss the topic offline on Github before coming into the meeting

[2020-11-26 11:47] DhritiShikhar commented on #775
Action Items:
[1] @qibobo to create issues for questions around Travis CI

[2020-11-26 12:00] isutton commented on #605
I've been slowly experimenting with it, and have a couple of notes to share.

Without any service binding load whatsoever, there's a difference between the configuration used in acceptance tests and production--more specifically the `WATCH_NAMESPACE` environment variable.

With `WATCH_NAMESPACE` set, the system doesn't seem to do anything out of ordinary.

With an empty `WATCH_NAMESPACE` variable,

[2020-11-26 12:03] DhritiShikhar commented on #775
Next meeting -> https://github.com/redhat-developer/service-binding-operator/issues/776

[2020-11-26 12:03] #775 closed

[2020-11-26 12:39] kadel opened #777 "Install script not working"
I've tried to run the install script on Kubernetes as mentioned in the readme, but it keeps failing.

<details>
 <summary>
install script output
</summary>

[code]
</details>

It looks like that it is due to `community-operators` CatalogSource
Pod fails to pull the image, due to authorization.
I haven't done more debugging than this, but it looks like the pull secret is not set up correctly by the

[2020-11-26 12:45] kadel commented on #776
**Topic proposal:** Service Binding Operator should be available on operatorhub.io #772

[2020-11-26 12:59] DhritiShikhar commented on #772
@kadel

According to https://github.com/operator-framework/community-operators/blob/master/docs/contributing.md#where-to-contribute

A PR has to be raised to https://github.com/operator-framework/community-operators/tree/master/upstream-community-operators for Service Binding Operator to be available on operatorhub.io

[2020-11-26 13:00] DhritiShikhar commented on #772
This is where SBO manifests lie -> https://github.com/redhat-developer/service-binding-operator-manifests

[2020-11-26 13:06] DhritiShikhar commented on #772
@Avni-Sharma is already working on this issue.

Refer:
https://github.com/operator-framework/community-operators/issues/2742

[2020-11-26 13:11] qibobo opened #778 "accelerate the acceptance test"
When I create a new PR or do some change for a PR, it takes more than 1 and a half hours to run the acceptance test.
So is there a way to reduce the duration? Maybe is it possible to run the acceptance tests in parallel?

[2020-11-26 13:14] qibobo opened #779 "Can not rerun the continuous-integration/travis-ci/pr job"
When the job `continuous-integration/travis-ci/pr`, I can not rerun it. There is no restart button in the travis page, nor a comment like `/test 4.6-acceptance` can work.

[2020-11-26 22:29] arthurdm opened #780 "Create converter for spec CR"
This issue will track the creation of a converter in SBO that will watch for `ServiceBinding` resources from the [Service Binding Specification](https://github.com/k8s-service-bindings/spec#resource-type-schema-1) (with apiVersion `service.binding/v1alpha2`) and will automatically create SBO's `ServiceBinding` (with apiVersion `operators.coreos.com/v1alpha1`).

The synchronization is only one-way,

[2020-11-26 22:30] arthurdm commented on #780
cc @sbose78 @arturdzm

[2020-11-27 10:27] DhritiShikhar commented on #778
+1

[2020-11-27 16:34] DhritiShikhar opened #781 "`make local` fails with namespace not found error"
[code]

[2020-11-30 07:33] Avni-Sharma commented on #723
Pr Merged. Thanks for the fix @qibobo

[2020-11-30 07:33] #723 closed

[2020-11-30 10:07] DhritiShikhar commented on #781
Also, service_account.yaml is created in test namespace instead of current namespace.

[2020-11-30 15:34] wtrocki opened #783 "Creating invalid binding is not posting status updates"
Creating as minor improvements rather than bug as this seems to be common for many operators.

When binding is created operator seems to ending up with the endless loop of processing invald data.
I do not see any status change in the backing service CR and operator constantly reconciling values.

Creating valid binding is not properly processed afterwards. The solution is to remove and install ope

[2020-11-30 16:44] pedjak commented on #779
Travis jobs are started on each push to PR. Only member of redhat-developer organization can restart jobs directly on the Travis page. Alternatively, you can run tests locally, following the steps listed in .travis.yaml

[2020-11-30 17:20] pedjak commented on #778
Thanks for submitting the issue. Are you referring CI runs on those running locally?

[2020-12-01 04:59] DhritiShikhar commented on #783
@wtrocki

Would you be able to share the invalid binding that you created?

[2020-12-01 08:02] DhritiShikhar opened #785 "Operator loops over the same namespace again and again"
Service Binding Operator watches for resources in different namespace.

The operator log never halts.

Refer: https://youtu.be/aY0Wss4iUgo

[2020-12-01 08:17] Avni-Sharma commented on #785
What happens when you apply a sbr resource?

[2020-12-01 08:19] Avni-Sharma commented on #781
I think it might be a local setup issue. As per https://github.com/redhat-developer/service-binding-operator/issues/785 there would be no such error encountered.

[2020-12-01 08:21] Avni-Sharma commented on #779
@qibobo You might have got an email invitation as part of https://github.com/redhat-developer/service-binding-operator/pull/742 . can you PTAL in ur emails inbox

[2020-12-01 08:25] Avni-Sharma commented on #777
A prerequisite would be to have the creds for RedHat user login in the .docker/config.json . https://github.com/redhat-developer/service-binding-operator/blob/master/install.sh#L4
We are waiting for a merge of a PR after which we will make a release to the `upstream-community-operators` instead of `community-operators` .

[2020-12-01 09:23] wtrocki commented on #783
Steps to reproduce are here:

https://github.com/redhat-developer/service-binding-operator/tree/master/examples/nodejs_postgresql

If we follow the guide and misplace service version or group or name (anything wrong about service)

[code]

[2020-12-01 10:28] DhritiShikhar commented on #783
Thanks @wtrocki

[2020-12-01 14:56] kadel commented on #777
I have that but it still failed.

[2020-12-01 19:28] arturdzm commented on #780
There are couple things I would like to clarify @sbose78

1. In this case who would be responsible for providing spec CRD in the cluster, will it be installed together with  SBO or has to be manually installed by the user? Installing it through OLM CVS I think is not an option as it would confuse user in the OpenShift UI. Maybe operator can install the CRD on the start

2. The conversion can be ac

[2020-12-02 07:53] isutton opened #786 "Operator can't restart locally after executing acceptance tests"
The following happens when the user restarts the operator locally after acceptance tests have been executed (the following environment variables are defined in the debugger's context `WATCH_NAMESPACE=;OPERATOR_NAME=servicebinding-operator` that do not appear in the block below):

[code]

From what I've investigated, `EtcdRestore` and `EtcdBackup` CRDs are not being installed and are being referenc

[2020-12-02 08:20] isutton commented on #786
The following Etcd related CRDs are installed after the acceptance test has been executed:

[code]

The following CSVs are installed in the test project/namespace:

[code]

`EtcRestore` appears here in the test namespace's `etcdoperator.v0.9.4-clusterwide` CSV:

[code]

[2020-12-02 10:31] baijum commented on #661
Completed this task in #735

[2020-12-02 10:31] #661 closed

[2020-12-02 21:29] isutton commented on #773
Thanks for the request for documentation!

I personally use Docker for Desktop on Windows with the `openshift-ci/Dockerfile.tools` Dockerfile to perform the Makefile tasks; would this approach suit your needs?

[2020-12-03 08:02] qibobo opened #790 "Add an env var MAX_CONCURRENT_RECONCILES to define the reconcile workers"
In current SBO https://github.com/redhat-developer/service-binding-operator/blob/db301a25664ad6c2b7fc461fccfc40aef1929ec2/pkg/controller/servicebinding/controller.go#L35, MaxConcurrentReconciles is not set, so it is set to default value 1.
Sometime we need to set it to a higher value to gain better performance.

I add an draft PR for fix it:
https://github.com/redhat-developer/service-binding-oper

[2020-12-03 08:03] qibobo commented on #776
https://github.com/redhat-developer/service-binding-operator/issues/790

[2020-12-03 11:18] pratikjagrut commented on #646
Test case scenario got merged #787 closing this issue.

[2020-12-03 11:18] #646 closed

[2020-12-03 16:47] sbose78 commented on #790
could you add more details please?

[2020-12-03 16:56] sbose78 commented on #780
I apologize for the late response :)

Fair concerns, I would want to deliver it the same way we do today. Till the implementation is stable, there's a way to annotate CRDs to hide it.

I would prefer the controller approach since webhooks are expensive/invasive.

My suggestion ( not a very strong one though ) would be to start with _convert & forget_ initially to keep things light and simple. I wo

[2020-12-09 17:07] johnpoth opened #796 "service-binding-operator@v0.4.0: requires k8s.io/apiserver/go.mod at revision v0.0.0: unknown revision v0.0.0"
Hello,

When requiring service-binding-operator@v0.4.0 in another GO project I get:

[code]

As a workaround I've added to my project

[code]

I've tried to fix this on the service-binding-operator code base side by upgrading:

[code]

But this somehow triggers +500 file changes after rebuilding which I wouldn't be too confortable in sending a PR

Thanks!

[2020-12-09 17:11] Avni-Sharma commented on #772
https://operatorhub.io/operator/service-binding-operator  . SBO is now available on operatorHub

[2020-12-09 17:11] Avni-Sharma commented on #727
SBO is now available on operatorHub https://operatorhub.io/operator/service-binding-operator

[2020-12-09 17:12] #772 closed

[2020-12-09 17:13] #727 closed

[2020-12-09 20:29] sbose78 commented on #796
Hey!
Send the PR anyway and let's see what CI has to say :-)

[2020-12-10 10:52] pedjak commented on #623
Done in https://github.com/operator-framework/community-operators/pull/2796

[2020-12-10 10:52] #623 closed

[2020-12-10 11:06] pedjak commented on #624
Fixed in #708

[2020-12-10 11:06] #624 closed

[2020-12-10 11:10] pedjak opened #799 "Non-OLM cluster support"
Service binding operator should work even on plain k8s clusters having no OLM installed.

* It should be possible to install the operator with kubectl apply -f release.yaml where release.yaml contains all needed resources.
*  Such release.yaml file should be generated in automated way
* It should be documented
* Acceptance tests should be run against such cluster

[2020-12-10 11:12] pedjak commented on #625
Closing since 1. and 3. are done, tracking 3. in #799

[2020-12-10 11:12] #625 closed

[2020-12-10 11:26] #776 closed

[2020-12-10 12:30] pedjak commented on #536
With https://github.com/operator-framework/community-operators/pull/2796 merged, the operator can installed easily on Kubernetes, following the instructions:

https://operatorhub.io/operator/service-binding-operator

Installing the operator without OLM is tracked in #799 .

[2020-12-10 12:30] #536 closed

[2020-12-10 13:33] pedjak commented on #557
Fixed in https://github.com/operator-framework/community-operators/pull/2796 - the published CSV refers the operator image using sha.

[2020-12-10 13:33] #557 closed

[2020-12-10 14:09] pedjak commented on #585
@sbose78 what would the real use case for updating existing service binding to point to fully different application. It looks very academic to me. Instead,  how about the following approach:

* we do not allow updating application selector once the service binding once created
* if needed to rebind a service to another application, the existing service binding need to be deleted and another servic

[2020-12-10 14:16] pedjak commented on #520
@Avni-Sharma please provide acceptance tests demonstrating the expected behaviour.

[2020-12-10 14:18] pedjak commented on #511
@qibobo can you please share the test case demonstrating the issue?

[2020-12-10 15:26] pedjak commented on #454
@sbose78 how about that we drop the above block from `role.yaml` and then define an additional rolebinding for the service account:

[code]

`edit` is aggregating cluster role, so we automatically get access to other resources as well, if the other operators behave properly.

[2020-12-10 15:27] sbose78 commented on #585
I agree.

We should check with the developer console lead if there are any experience expectations that drive this.

Fair enough. Anyway, can we have two exceptions:
* We allow if no application was provided in the first place ( generic binding )
* we allow if application was provided but not found ( erroneous CR ) ?

[2020-12-10 18:31] pedjak commented on #449
Done in https://github.com/redhat-developer/service-binding-operator/pull/798

[2020-12-11 11:05] pedjak commented on #796
@johnpoth can we close now this issue?

[2020-12-11 11:19] johnpoth commented on #796
@pedjak yes thanks

[2020-12-14 12:50] Avni-Sharma commented on #706
Captured https://github.com/redhat-developer/service-binding-operator/blob/master/docs/application-author.md#accessing-the-binding-data-from-the-application . Feel free to reopen a new issue for future use cases.

[2020-12-15 09:01] Avni-Sharma commented on #449
Closing this issue. Upgrades to 1.0.0 tracked in #622

[2020-12-15 09:02] #449 closed

[2020-12-15 11:26] #796 closed

[2020-12-16 12:47] baijum opened #805 "Run Spring PetClinic Sample Application"
Ref. https://github.com/spring-projects/spring-petclinic

[2020-12-16 15:04] #752 closed

[2020-12-16 20:29] #657 closed

[2020-12-17 11:01] pratikjagrut opened #808 "Service binding is unable to process annotation for secretRef from containers path of deployment"
I'm trying to collect secret stated in the annotation of deployment.

*Following is the deployment I'm using*

[code]
*Secret*
[code]

Service Binding
[code]

**Expected Output:**
Secret `service-binding-multiple-services` with data from `db-secret`.

**Current output:**
Empty secret `service-binding-multiple-services`
[code]

[2020-12-17 12:55] pratikjagrut commented on #808
Logs:
[code]

[2020-12-17 13:11] sbose78 commented on #808
Do we support annotations on "applications"?

[2020-12-17 13:46] pmacik commented on #808
@sbose78 In this case the "application" resource (Deployment) is the service side of the binidng, so from perspective of the binding it is really the service with annotations, that we do support.

[2020-12-17 14:08] jasperchui commented on #70
No activity since 2019. Closing issue. Reopen if needed. Thanks.

[2020-12-17 14:08] #70 closed

[2020-12-17 14:09] jasperchui commented on #71
No activity since 2019. Closing issue. Reopen if needed. Thanks.

[2020-12-17 14:09] #71 closed

[2020-12-17 14:10] jasperchui commented on #74
No activity since 2019. Closing issue. Reopen if needed. Thanks.

[2020-12-17 14:10] #74 closed

[2020-12-17 14:11] jasperchui commented on #75
No activity since 2019. Closing issue. Reopen if needed. Thanks.

[2020-12-17 14:11] #75 closed

[2020-12-17 14:12] jasperchui commented on #86
No activity since 2019. Closing issue. Reopen if needed. Thanks.

[2020-12-17 14:12] #86 closed

[2020-12-17 14:15] jasperchui commented on #88
Implemented through mapping function.  Closing.  Reopen if needed. Thanks.

[2020-12-17 14:15] #88 closed

[2020-12-17 14:27] jasperchui commented on #706
Completed. Closing.

[2020-12-17 14:27] #706 closed

[2020-12-17 14:29] jasperchui commented on #701
Closing.

[2020-12-17 14:29] #701 closed

[2020-12-17 14:29] jasperchui commented on #693
Closing as its supported.

[2020-12-17 14:29] #693 closed

[2020-12-17 14:48] jasperchui commented on #716
Closing.

[2020-12-17 14:48] #716 closed

[2020-12-17 14:56] jasperchui commented on #627
closing. Reopen if needed. Thanks.

[2020-12-17 14:56] #627 closed

[2020-12-17 14:58] jasperchui commented on #615
Closing. Reopen if needed. Thanks.

[2020-12-17 14:58] #615 closed

[2020-12-17 15:13] jasperchui commented on #594
Closing as its completed.  Thanks.

[2020-12-17 15:13] #594 closed

[2020-12-17 15:47] jasperchui commented on #547
closing. Reopen if needed. Thanks.

[2020-12-17 15:47] #547 closed

[2020-12-17 15:58] DhritiShikhar commented on #503
We have a unit test for Empty Service Selector Scenario now -> https://github.com/redhat-developer/service-binding-operator/blob/master/pkg/controller/servicebinding/reconciler_test.go#L515

[2020-12-17 15:59] #503 closed

[2020-12-17 17:06] DhritiShikhar commented on #365
This is done.

[2020-12-17 17:06] #365 closed

[2020-12-17 17:38] pedjak commented on #702
Fixed in https://github.com/redhat-developer/service-binding-operator/pull/698

[2020-12-17 17:38] #702 closed

[2020-12-17 17:42] pedjak commented on #614
Our CI jobs run all acceptance tests, there is no need to introduce another job running just a subset of them

[2020-12-17 17:42] #614 closed

[2020-12-17 17:43] pedjak commented on #560
is this still relevant?

[2020-12-17 17:44] pedjak commented on #777
@kadel can you please try the script from the latest master?

[2020-12-17 17:47] pedjak commented on #552
Closing as not relevant anymore - the tests are not executed at OpenHub PR submission.

[2020-12-17 17:47] #552 closed

[2020-12-17 17:49] #501 closed

[2020-12-17 17:51] pedjak commented on #492
We do not use this script anymore, closing.

[2020-12-17 17:51] #492 closed

[2020-12-17 17:52] pedjak commented on #487
What is the problem we are trying to solve here?

[2020-12-17 17:55] pedjak commented on #461
Obsolete, e2e tests got replaced by acceptance tests.

[2020-12-17 17:55] #461 closed

[2020-12-17 18:00] pedjak commented on #388
@ZhuangYuZY can this be closed now?

[2020-12-17 18:05] pedjak commented on #372
With moving to the spec annotation format, it should work. Feel free to reopen otherwise.

[2020-12-17 18:05] #372 closed

[2020-12-17 18:09] pedjak commented on #356
Implemented - check https://github.com/redhat-developer/service-binding-operator/blob/master/docs/application-author.md#custom-binding-variables for usage.

[2020-12-17 18:09] #356 closed

[2020-12-17 18:10] pedjak commented on #343
Closing, please reopen if still important.

[2020-12-17 18:10] #343 closed

[2020-12-17 18:10] pedjak commented on #319
Closing, please reopen if still relevant.

[2020-12-17 18:10] #319 closed

[2020-12-17 18:12] pedjak commented on #182
Done in https://github.com/redhat-developer/service-binding-operator/pull/186

[2020-12-17 18:12] #182 closed

[2020-12-17 18:13] #172 closed

[2020-12-17 18:13] pedjak commented on #160
Closing, please reopen if still relevant.

[2020-12-17 18:13] #160 closed

[2020-12-17 18:14] pedjak commented on #150
Closing, please reopen if still relevant.

[2020-12-17 18:14] #150 closed

[2020-12-17 18:15] baijum commented on #480
As there was no need came up for a re-usable script, I think this issue can be closed.

[2020-12-17 18:15] pedjak commented on #112
Closing, please reopen if still relevant.

[2020-12-17 18:15] #112 closed

[2020-12-17 18:16] #480 closed

[2020-12-17 18:16] pedjak commented on #96
Closing, please reopen if still relevant.

[2020-12-17 18:16] #96 closed

[2020-12-17 18:21] pedjak commented on #785
What is the issue we would like to solve here?

[2020-12-17 18:22] pedjak commented on #781
@DhritiShikhar is this still the issue, can you reproduce it?

[2020-12-17 18:23] #779 closed

[2020-12-17 18:26] pedjak commented on #773
Meanwhile, our instructions follow official OperatorHub instructions: https://operatorhub.io/operator/service-binding-operator

Please reopen if it still does not fit usage on Windows.

[2020-12-17 18:26] #773 closed

[2020-12-17 18:29] pedjak commented on #739
It should be fixed with https://github.com/redhat-developer/service-binding-operator/issues/799

[2020-12-18 01:48] sbose78 commented on #808
[code]

Ah yes, missed this. thank you!

cc'ing @isutton to take a look

[2020-12-18 06:48] #506 closed

[2020-12-20 18:49] pedjak opened #810 "Protect against privilege escalations"
Service binding operator requires broad permissions in order to bind an arbitrary service to an arbitrary application. Therefore, we must prevent misuse, i.e. privilege escalation.  A malicious requester might try to bind:

* a service he/she does not have access to his application and read/modify data he/she is not allowed to.
* her/his malicious service to an application and influence its behavi

[2020-12-20 18:59] pedjak opened #811 "OpenShift Dedicated Support"
The operator should be compatible with [OpenShift Dedicated](https://www.openshift.com/products/dedicated/). In order to verify that our acceptance tests should pass on OSD.

[2020-12-20 20:10] Avni-Sharma commented on #811
Part of the GH issue is to find out any additional requirements, that might be missing currently and are needed for OpenShift Dedicated?

[2020-12-21 07:28] ZhuangYuZY commented on #388
@pedjak It already address, close it.

[2020-12-21 07:28] #388 closed

[2020-12-21 11:12] Avni-Sharma opened #813 "Update CRD from v1beta1 to v1"
apiextensions.k8s.io/v1beta1 CustomResourceDefinition is deprecated in v1.16+, unavailable in v1.22+;
We should use apiextensions.k8s.io/v1 CustomResourceDefinition.
Operator-sdk latest version v1.3.0 still supports v1 by default and will also support v1beta1 as well. https://github.com/operator-framework/operator-sdk/releases/tag/v1.3.0. Tracking this here so that we don't miss out on this.

[2020-12-21 11:50] Avni-Sharma commented on #739
We indeed need to watch on all the SBs in the cluster. Hence we need to add clusterrole for achieving this on minikube. OpenShift I think we never encounter that logged message in OLM cluster is because the roles are in csvs and the csv is installed in one ns but copied in all other ns.

[2020-12-21 12:00] DhritiShikhar commented on #810
This looks good @pedjak

One suggestion,

In scenario 1 `Service cannot be bound to application if user cannot read service resource`
and scenario 2 `Service cannot be bound to application when user cannot read referred config map`

In addition to `CollectionReady` status and reason, we could add a message too:

[code]
and

[code]

What do you think?

[2020-12-21 15:19] sbose78 commented on #739
That is fine, we should have docs on the rbac requirements of the service account in a way that folks are aware why specific clusterrolebindings are required, and if they can be removed optionally.

[2020-12-21 19:52] Avni-Sharma commented on #777
https://github.com/redhat-developer/service-binding-operator#installing-in-a-cluster

[2020-12-22 12:59] isutton commented on #605
The behavior of the Service Binding Operator reported in #605 could be verified in a local CRC installation, but not very obvious at first sight.

I’ve consistently degraded the performance of a local CRC cluster, with the following configuration, to the point of not being able to access the API server anymore:

[code]

As I commented in the issue itself, when the Service Binding Operator is execu

[2020-12-22 18:28] haf-tech opened #816 "IBM Cloud Operator mapping does not work"
IBM Cloud Operator 1.0.0
Red Hat Service Binding Operator 0.4.0

Trying to create the secrets using the IBM Cloud Operator service binding. Generally the secret will be created, but the mapping does not work. The generate contains the entire keys or the specified keys, but with key names starting with `BINDING_`

IBM Cloud Operator definition:
[code]

RH Service Binding definition
[code]

The gene

[2020-12-22 18:39] haf-tech commented on #816
Problematic part found
Red Hat Service Binding Operator in version 0.4.0 expects `customEnvVar` and not `mappings`

[2020-12-22 18:55] johnpoth opened #817 "Outputname is not honoured in mapFromDataFieldDefinition"
Example CRD annotation:

**service.binding/host: path={.status.dbConfigMap},objectType=ConfigMap,sourceValue=db.host**

**expected output:**
HOST: MTcyLjMwLjMuMTQ1

**actual output:**
DB_HOST: MTcyLjMwLjMuMTQ1

I can open a PR, thanks !

[2020-12-22 18:57] sbose78 commented on #817
Thank you a for the report, a PR would be great! <3

[2020-12-23 12:22] Avni-Sharma commented on #816
Hi, @haf-tech Currently the entry would be duplicated if we are using the customEnvVar. i.e the default key-value pair plus the custom key-value pair would exist. This is being tracked and we are looking at ways where we can avoid this or come up with a new strategy. @akashshinde would be proposing a proposal for the same under /docs/proposals
cc @jasperchui

[2020-12-23 12:32] Avni-Sharma commented on #739
Incorporating clusterrole and binding in the release.yaml artifact.

[2020-12-23 13:25] DhritiShikhar commented on #811
As per @jasperchui 's suggestion

I will be exploring this issue - what are the requirements to complete this issue.

[2020-12-24 12:08] haf-tech commented on #816
@Avni-Sharma thanks for the info. Imo this bug has a minor severity, important is that the custom key-values are appearing correctly in the secret and the duplication does not break the logic.
Do you have any schedule for the next release, which will use only `mappings` instead of the old `customEnvVars`?
If this will take some time, I would suggest to update the docu to be clear here regarding th

[2020-12-24 12:15] isutton commented on #808
Are you sure the support for Go template is there?

From what I read, the path is used as is; also, there are no tests proving this actually work (you can find the `not found` error, which could be improved, below as well):

https://github.com/redhat-developer/service-binding-operator/blob/52c0f396240175bb3abe7e6809007081551649c9/pkg/controller/servicebinding/binding/definition.go#L164-L170

A via

[2020-12-24 13:49] DhritiShikhar opened #821 "Add stronger assertion in updateVolumes(...) and removeVolumes(...) method"
In [updateVolumes(...) method](https://github.com/redhat-developer/service-binding-operator/blob/master/pkg/controller/servicebinding/binder.go#L169), we type assert interface{} to map[string]interface{}

We should add stronger types wherever possible like corev1.Volume in this case.

Similar suggestion for `removeVolumes(...)` and `extractSpecVolumes`

[2020-12-24 15:42] #817 closed

[2020-12-28 13:34] DhritiShikhar opened #822 "newSecret(...) should be called when secret creation/ update is performed."
Refer: https://github.com/redhat-developer/service-binding-operator/pull/750#discussion_r549305125

[2020-12-30 13:31] durera opened #823 "Links to user guides in README are out of date"
Coming back to this after a few months to see where the project is ... the links in the README are broken:

- https://github.com/redhat-developer/service-binding-operator/blob/master/docs/application-author.md
- https://github.com/redhat-developer/service-binding-operator/blob/master/docs/BackingServiceBestPractices.md

Neither of these exist .. I think https://github.com/redhat-developer/service-

[2020-12-30 17:08] durera opened #824 "Problem generating binding secret based on annotations"
Version: 0.4.0 from OperatorHub (preview channel)

I'm switching over our PoC code from the old `ServiceBindingRequest` to the new `ServiceBinding` resource ... based on the doc here https://github.com/redhat-developer/service-binding-operator/blob/master/docs/SBO%20User%20Guide.md#use-the-attribute-statusdataconnectionurl-as-uri-in-the-binding-secret these are the new annotations I have added to

[2020-12-30 20:25] Avni-Sharma commented on #520
Currently, we avoid redundancy of binding 2 services of a particular db instance with an app. ie if db-1 instance is mentioned in the list of the services more than once in a single sbr, then we take the count as 1 and avoid duplicates or more copies. But if the same instance of the service is in a separate sbr, then the redundancy is not avoided. That os covered as an acceptance test in #825

[2020-12-30 20:26] Avni-Sharma commented on #520
We need to discuss whether we should propagate a message as a status, mentioning the redundant service? or we want to completely avoid the injection in case of a second/third/n th sbr with a redundant service?

[2020-12-30 21:22] Avni-Sharma commented on #824
Hi @durera Thanks for the issue. Can you please try `service.binding` in the annotation instead of `servicebinding.dev` . Something like https://github.com/redhat-developer/service-binding-operator/blob/master/test/acceptance/features/bindAppToServiceAnnotations.feature#L20

[2020-12-31 12:27] durera commented on #824
Thanks, that did the trick! You may want to update https://github.com/redhat-developer/service-binding-operator/blob/master/docs/SBO User Guide.md as all the examples in there use `servicebinding.dev` as the annotation prefix :+1:

Also, FYI, there are a couple of places in the documentation where I got a bit lost as it started talking about `ServiceBindingRequest` instead of the new `ServiceBindi

[2020-12-31 16:50] durera opened #826 "Support for keys containing a ".""
How can one reference a key that contains a `.`, I have tried using `\.` to escape the dot as I would it I were writing a jsonpath statement, but no dice:

[code]

[code]

The former I didn't expect to work, but both produce the same result: a secret containing only the password (which oddly ends up in a property named `TRUSTSTORE` rather than `TRUSTSTORE_PASSWORD`, perhaps I have misunderstood ho

[2021-01-02 19:16] Avni-Sharma commented on #824
Indeed, the User Guide needs an update. Thanks @durera for reporting the issue :+1:  .

[2021-01-03 19:00] Avni-Sharma commented on #826
Hi @durera  For the mappings it should be a list of the (name,value) pair . Something like
[code]
Refer:
https://github.com/redhat-developer/service-binding-operator/blob/master/test/acceptance/features/customEnvVar.feature#L45

[2021-01-03 19:03] Avni-Sharma commented on #826
For the `"servicebinding.dev/certificate": "path={.status.data.dbConfiguration},objectType=ConfigMap"` and `"service.binding/certificate": "path={.status.data.dbConfiguration},objectType=ConfigMap,sourceKey=certificate"` if the sourceKey is not mentioned explicitly, as mentioned in the latter case, then by default the key that is taken is whatever is mentioned after `/`

[2021-01-03 19:09] Avni-Sharma commented on #826
At the moment, binding names declared through annotations or CSV descriptors are processed before injected into the application according to the following strategy:

- names are upper-cased
- service resource kind is upper-cased and prepended to the name
For example, if the service is of kind Database and the binding name is host, then the environment variable injected into the application is DATA

[2021-01-04 08:32] DhritiShikhar commented on #811
@pedjak @Avni-Sharma We would need an acoount on Openshift Dedicated to test and check if SBO is compatible.

[2021-01-04 08:47] DhritiShikhar commented on #824
@Avni-Sharma @durera Please review this PR to fix the doc -> https://github.com/redhat-developer/service-binding-operator/pull/828

[2021-01-04 09:53] Avni-Sharma commented on #826
There is also a workaround if you wish to omit the service kind as a prefix to names populated in the secret. You can give `namePrefix: ""`  Reference https://github.com/redhat-developer/service-binding-operator/blob/master/test/acceptance/features/injectBindingsAsFiles.feature#L258

[2021-01-04 16:22] pedjak commented on #805
@baijum there is already a kubernetes based incarnation of the application:

https://github.com/spring-petclinic/spring-petclinic-cloud

IMHO, it could be used as the base.

[2021-01-05 11:35] Avni-Sharma commented on #389
Currently, a workaround is there

That is to use mappings, initially known as customEnvVar.

Steps to reproduce:

Create a configMap:
[code]
Create a sbr yaml as follows:
[code]

now check the intermediate secret that is created. the secret that the sbr created will have data as HELLO: hello from the configmap

Will be adding an acceptance test for this

[2021-01-05 13:45] Avni-Sharma commented on #520
As illustrated in PR #825 . The user experience for the application author is not broken, i.e the author can continue to work with multiple instances of SBR but with a similar spec.
- As a follow up we can look at how this turns out to be on the OpenShift Console.
- Add a status/message suggesting the redundant bindings(multiple sbrs with the same spec)

Right now the issue does not seem to be cri

[2021-01-06 14:10] baijum commented on #525
The issue is not reproducible as explained in the original issue. The steps I provided in the earlier comment produce a similar error. Since that scenario not very realistic, I would suggest closing this issue.

[2021-01-06 14:10] #525 closed

[2021-01-06 14:31] jasperchui commented on #826
====== Not related to this issue ======
Hi David,

We are looking to start a community call for this project on Thursdays and wanted to reach out to see if you were interested in participating.  If you are could you send us your email to service-binding-support@redhat.com and we can include you in the invite? Thanks.

Jasper

[2021-01-06 19:59] DhritiShikhar commented on #811
@sbose78 @pedjak @jasperchui

I was able to very very partially test SBO on Openshift Dedicated.

Here is a video to demonstrate that -> https://youtu.be/2Ky8FOSPBdY

Once I get kubeadmin permissions on the cluster, I will be able to add/edit CRD with Service Binding annotations and properly test SBO with actual data injected in the application pods.

[2021-01-07 06:06] qibobo commented on #790
https://github.com/redhat-developer/service-binding-operator/commit/7e31ea7afb8405848a82534f5c3e395be2868d8d
commit merged.

[2021-01-07 06:06] #790 closed

[2021-01-07 06:12] qibobo opened #832 "SBR can not be deleted if backend service has been deleted"
Steps to reproduce this issue:
1 create service
[code]
2 create ksvc as the application
[code]
3 create SBR
[code]
4 check the SBR status.
[code]

5 delete the binding
`kubectl delete binding.ibmcloud thetranslator`
6 check the SBR status again
[code]
7 try to delete SBR but get hang
[code]

[2021-01-07 06:37] qibobo commented on #832
I will provide a PR for it.

[2021-01-07 08:10] Avni-Sharma commented on #811
I think we can also try `make test-acceptance`

[2021-01-07 09:15] pedjak commented on #811
Right, and eventually when they pass, we can claim that OSD is supported.

[2021-01-07 13:20] DhritiShikhar commented on #811
Yup

[2021-01-07 14:05] sbose78 commented on #811
Thank you @DhritiShikhar , how did you install it?

[2021-01-08 13:49] DhritiShikhar commented on #811
@sbose78 Initially @dewan-ahmed installed SBO operator for me... because I didn't have permissions.

[2021-01-08 16:05] dewan-ahmed commented on #811
What we've been told by the SRE team is OSD clusters deployed via CCS model won't give kubeadmin access. Instead, we have something called dedicated-admins that have reduced access level. I'm working with @DhritiShikhar and the SRE team to find workarounds to create/edit CRD/catalogsources with the dedicated-admin access we have.

[2021-01-08 16:10] sbose78 commented on #811
Sounds good to me Dhriti and Dewan.

Any chance we can use an existing operator in operatorhub?

[2021-01-11 06:40] Avni-Sharma opened #836 "Add steps to readme for running acceptance tests on minikube"
Update Readme under test/acceptance with steps required to run acceptance tests on minikube . Steps mentioned here https://github.com/redhat-developer/service-binding-operator/pull/749#issue-514946292

[2021-01-11 20:53] sbose78 commented on #811
Or also try annotating CRs.

[2021-01-12 12:49] pratikjagrut opened #837 "Ambiguous behaviour by the operator on defined annotation"
In one of the acceptance test [scenario](https://github.com/redhat-developer/service-binding-operator/blob/master/test/acceptance/features/bindAppToServiceUsingConfigMap.feature#L10) I noticed the annotation was
[code]
it means, mount an entry from `username` from a `ConfigMap` into the binding Secret as `username`.

The CM has only one entry with key `certificate` and no `username` key.

And in t

[2021-01-12 17:18] pedjak commented on #837
@pratikjagrut

Is this acceptable behaviour?

We support annotations according to the [spec](https://github.com/k8s-service-bindings/spec#annotation-examples), and if we want to inject a key, it needs to be specified using `sourceKey`, and in the scenario this is clearly not the case. So, the behaviour is good, but the scenario needs to be updated, if we really want to verify `sourceKey` behaviour

[2021-01-13 04:41] DhritiShikhar commented on #837
@pratikjagrut @pedjak Isn't this a bug?

Environment Variable "BACKEND_CERTIFICATE" is injected in the application even when it's corresponding annotation is not specified.

The environment variable "BACKEND_CERTIFICATE" should be injected only when the user shows an intention to collect the information through annotations/descriptors, right?

[2021-01-13 07:24] pratikjagrut commented on #837
@pedjak

I noticed [secret tests scenario](https://github.com/redhat-developer/service-binding-operator/blob/master/test/acceptance/features/bindAppToServiceUsingSecret.feature#L21) also used `valueKey` not `sourceKey` but I could not find any example in [spec](https://github.com/k8s-service-bindings/spec#annotation-examples) where `objectType=secret` with `sourceKey`. Do you think in this scenari

[2021-01-13 07:30] pedjak commented on #837
@pratikjagrut , yes, see https://github.com/k8s-service-bindings/spec#binding-secret-generation-strategies

[2021-01-13 07:41] pratikjagrut commented on #837
@pedjak Ahh yes, I'll raise a PR to replace all the `valueKey`  with `sourceKey` in the acceptance test.

[2021-01-13 12:44] #822 closed

[2021-01-13 14:37] pratikjagrut opened #838 "Service binding is creating a secret with wrong key when sourceKey is mentioned in annotation"
I was trying to bind a backend service to an application using annotation in CRD
[code]

This is CR:
[code]
This is CM:
[code]
This is sb cr:
[code]

Expected intermediate secret data:

[code]

Actual intermediate secret data:
[code]

Acceptance test to reproduce: https://github.com/redhat-developer/service-binding-operator/pull/842

[2021-01-13 14:59] pratikjagrut commented on #838
Same problem if we use this annotation
[code]

[2021-01-13 15:06] pmacik commented on #838
@pratikjagrut Could you please create a new acceptance tests that would serve as a reproducer (it fails now and passes when the issues is fixed) and also to be used to verify that the issue/bug was fixed?

[2021-01-13 15:08] pmacik commented on #838
And of course, since it is supposed to fail until fixed, it should be pushed as `@disabled` to be enabled along with the PR to fix the bug

[2021-01-15 09:57] pedjak commented on #375
With #841 and #839 merged, the number of included dependencies for ServiceBinding API consumer got really minimal, it boils down to:

go.mod
[code]

for the following usage:
[code]

IMHO, the issue can be closed now, please reopen if needed.

[2021-01-15 09:57] #375 closed

[2021-01-15 11:51] #823 closed

[2021-01-15 16:50] johnpoth opened #843 "Allow constant values in service.binding/name annotations in CRD"
It would be cool to allow constant values in annotations so something like

`service.binding/provider: postgresql`

For example, the `provider` and `type` entries are [recommended](https://github.com/k8s-service-bindings/spec#well-known-secret-entries) and can be the same across all underlying CR which warrants them to be constants. This also facilitates ad-hoc fixes. Thanks !

[2021-01-15 16:58] johnpoth opened #844 "Respect casing in service.binding/name annotations"
It seems all generated secret properties are uppercase so:

`service.binding/database: path...`

will result in a property named `DATABASE` and not `database`. It would be nice to respect the casing defined in the annotation or have a way to control it because some runtimes (e.g Quarkus) search for [properties](https://github.com/quarkusio/quarkus/blob/master/extensions/jdbc/jdbc-postgresql/runtim

[2021-01-18 16:35] akashshinde opened #845 "Support for flexible/pass-through binding naming strategy"
At the moment, binding names declared through annotations or CSV descriptors are processed before injected into the application according to the following strategy:

- names are upper-cased
- service resource kind is upper-cased and prepended to the name
For example, if the service is of kind Database and the binding name is host, then environment variable injected into the application is DATABASE

[2021-01-18 16:36] akashshinde commented on #845
Raised draft PR: https://github.com/redhat-developer/service-binding-operator/pull/835

[2021-01-20 09:49] pedjak commented on #844
@johnpoth we are aware of it, #845 is going to address it (work in progress)

[2021-01-20 10:31] pedjak opened #846 "Watch only for changes on resources participating in a service binding"
As the investigation in #605 shown, the operator monitors a huge number of resources in all namespaces:

* all config maps and secrets
* all CSVs
* all CRDs owned by CSV

Such strategy puts a very high pressure on the operator's event queue on clusters with non-trivial workload, increasing the operator memory consumption, and eventually crashing it.

In order to reduce resource usage and behave re

[2021-01-20 10:32] pedjak commented on #605
This got addressed in https://github.com/redhat-developer/service-binding-operator/pull/789

#846 proposes additional actions in order to reduce the pressure on the event queue.

[2021-01-20 10:32] #605 closed

[2021-01-20 10:52] johnpoth commented on #844
@pedjak thanks! Closing #844 in favor of #845

[2021-01-20 10:52] #844 closed

[2021-01-20 17:33] Avni-Sharma commented on #846
I think we should also check the memory leak metrics on a namespace based installation and a cluster wide operator installation. To assess how broad/large the impact is.

[2021-01-21 12:18] DhritiShikhar commented on #781
@pedjak Cannot reproduce this anymore. Closing the issue.

[2021-01-21 12:18] #781 closed

[2021-01-21 12:21] DhritiShikhar commented on #785
This is expected from SBO to watch for resources in different namespace.

This is not an issue.

[2021-01-21 12:21] #785 closed

[2021-01-21 13:34] isutton commented on #838
`sourceKey` is used in other scenarios, what should be used there is `sourceValue` instead. See:

https://github.com/redhat-developer/service-binding-operator/blob/52c0f396240175bb3abe7e6809007081551649c9/pkg/controller/servicebinding/binding/spec_test.go#L172-L182

[2021-01-21 14:51] Avni-Sharma commented on #520
On OpenShift DevConsole when we apply the second SBR with the same spec (so we can test the behavior of the console with duplicate bindings) and it only rendered a single arrow (for the first binding). When deleted the binding (via right-clicking on the arrow) the arrow remained to represent the second binding. So It Doesnt seem to be a critical issue on the DevConsole UI as well. So this can be c

[2021-01-21 17:32] johnpoth opened #847 "Support Strimzi"
As discussed with @pedjak, it would be cool to add support for the strimzi kafka operator:

https://github.com/strimzi/strimzi-kafka-operator/pull/2753

Thanks!

[2021-01-24 21:37] durera commented on #826
Yeah, I'd be interested in participating in that (sorry for delay, busy few weeks here) I've followed up on the e-mail address provided above :+1:

[2021-01-25 12:29] pedjak commented on #409
SBO 0.4.0 API uses group `operators.coreos.com`. Is it possible to install it on the latest OCP 3.11.x?

[2021-01-25 12:31] pedjak commented on #376
Addressed in https://github.com/redhat-developer/service-binding-operator/pull/839

[2021-01-25 12:31] #376 closed

[2021-01-25 12:37] pedjak commented on #453
Is this still relevant @sbose78 ?

[2021-01-25 12:41] pedjak commented on #364
With the recent API refactoring (https://github.com/redhat-developer/service-binding-operator/pull/608), the group got updated to `operators.coreos.com`

[2021-01-25 12:41] #364 closed

[2021-01-25 12:43] pedjak commented on #368
We need an acceptance test that can confirm if the issue still exists in the code base. /cc @pmacik

[2021-01-25 13:06] pedjak commented on #722
@dharmit can you please paste here how service deployment and application should look like and where the data to be injected are? Binding secret as service is supported, just want to understand more how the resources look like.

[2021-01-25 13:08] pedjak commented on #400
Addressed in https://github.com/redhat-developer/service-binding-operator/pull/353

[2021-01-25 13:08] #400 closed

[2021-01-25 13:16] pedjak commented on #843
We follow the annotation format defined [here](https://github.com/k8s-service-bindings/spec#non-olm-operator-and-resource-annotations), and it does not support something like this at the moment. Perhaps worth proposing it?

In the meantime, we can achieve the same result by defining [a mapping](https://github.com/redhat-developer/service-binding-operator/blob/master/docs/User_Guide.md#compose-cust

[2021-01-25 13:57] #622 closed

[2021-01-25 15:03] pedjak commented on #448
Makefile got simplified in #848

[2021-01-25 15:03] #448 closed

[2021-01-25 15:03] pedjak commented on #813
Done in #848

[2021-01-25 15:03] #813 closed

[2021-01-28 02:46] qibobo commented on #778
@pedjak
Both in travis or in local machine are slow. So it would be better if it can run parallel.

[2021-01-28 02:49] qibobo commented on #511
@pedjak
The reconciler has been enhanced, I will close this issue.

[2021-01-28 02:49] #511 closed

[2021-01-29 15:29] pedjak commented on #777
Closing due to inactivity, please reopen if needed.

[2021-01-29 15:29] #777 closed

[2021-01-29 16:14] johnpoth opened #852 "feature Request: Copy labels from ServiceBinding to intermediary Secret"
It would be cool to copy the labels from the ServiceBinding to the intermediary Secret.

Use case: the camel-k operator currently watches ServiceBindings to update it's integrations. The problem is that for this to happen correctly the Service Binding Operator needs to be installed before the Camel-k operator is started. One way to work around this is to watch Secrets filtered with camel-k labels.

[2021-01-31 18:34] haf-tech opened #853 "Extract key from json object in a Secret"
Enhancement
Provide the capability to extract a key/field from a json object which is stored in a Secret resource object

Example
[code]
The base64-encoded-string contains a JSON string, like
[code]

Objective is, that SBO only inject/bind a specific field from the JSON, e.g. `postgres.auth.user` and `postgres.auth.pass` etc. in the resulting Secret in separate keys.

Probably, this is possible wi

[2021-02-01 11:16] dharmit commented on #722
@pedjak It's more about linking two `Deployment`s each created for one odo component. Say, for example, a user wants to connect a frontend component (maybe nodejs) to a backend component (maybe java).

Based on what I got from @sbose78, I think SBO already supports this. But on odo side, we haven't yet got a chance to implement this functionality. IMO, it's OK to close this issue and I'll re-open

[2021-02-01 11:17] pedjak commented on #722
Thanks @dharmit , closing it then.

[2021-02-01 11:17] #722 closed

[2021-02-02 10:19] wtrocki opened #854 "Service binding guide in readme is missing"
Link `Backing Service Provider Best Practices Guide` leads to 404.

[2021-02-03 10:15] #520 closed

[2021-02-03 13:14] Avni-Sharma opened #856 "Use ubi minimal in Dockerfile"
Why not use registry.access.redhat.com/ubi8/ubi-minimal instead of https://github.com/redhat-developer/service-binding-operator/blob/master/Dockerfile#L16 (gcr.io/distroless/static:nonroot).

Refer https://sdk.operatorframework.io/docs/building-operators/golang/migration/#operator-image

[2021-02-04 13:11] pedjak opened #857 "API group name need update"
TL;DR: ServiceBinding API group needs to be changed - OLM does not allow operators to define webhooks for API group `operators.coreos.com` and that is by OLM design.

As a part of the work on https://github.com/redhat-developer/service-binding-operator/pull/784 we need to define a mutating web hook, so that we can gather information about requester. Webhooks are also the k8s way to go in cases whe

[2021-02-04 13:43] pedjak commented on #856
What is the issue we would solve with this change? operator-sdk recommends using `gcr.io/distroless/static:nonroot`

[2021-02-04 13:52] pedjak commented on #852
interesting idea - but coul you sketch a bit more the workflow.. once camel-k operator detects the secret, what happens then? how is that secret used? could the service binding operator inject that secretRef somewhere directly?

[2021-02-04 15:45] wtrocki opened #858 "Service binding doesn't work with nested objects"
Hi
I have been using latest 0.4.0 version of operator from beta channel (preview was not allowing us to create binding using example projects)

I'm trying to build a very simple service that will provide SBO info.
My CRD has config defined as follows:
[code]

MY CR has this status values:
[code]

When I go to the application I see only:
[code]
This is missing values like bootstrapServer.
I looks l

[2021-02-04 16:16] wtrocki opened #859 "Documentation for SBO status"
Hi

I would like to know when SBO operator works properly based on the status.
Is there any docs for those statuses?
[code]

[2021-02-04 16:26] wtrocki opened #860 "Updating SBO metadata in CRD breaks existing Service binding configurations"
When new version of the operator is installed with different CRD/metadata existing service bindings will break and will never finalize. I think documentation should mention that metadata is considered part of the API version and should not be changed or something similar.

[2021-02-04 16:30] wtrocki opened #861 "Single invalid Service Binding prevents other bindings to be created for the same service."
I'm not 100% sure it is something to do with OpenShift dedicated but basically I have been seeing this strange behavior when created SBO never received right status. Then I tried to remove the ServiceBinding, but operator kept editing it (there was no way to remove finalized) or do anything about it. Creating invalid binding - when service is not there or has invalid format can cause further bindi

[2021-02-05 09:04] pedjak commented on #858
the version in both channel is the same, what example did not work?

Can you confirm that `status.bootstrapServer.host` had the value at the time when ServiceBinding was submitted to the cluster? I have a feeling that the value is not set immediately, and the service binding operator does not catch its update.

[2021-02-05 09:15] pedjak opened #863 "Consolidate User Guide"
The current user guide living under doc folder needs to be consolidated:
*    list all features
*    explain each field of service binding resource
*    link to/mention spec where appropriate

[2021-02-05 09:15] pedjak commented on #859
You should look for condition type `Ready`, status: `true`. I can confirm that is not explicitly documented, #863 is going to address it.

[2021-02-05 09:19] pedjak commented on #860
It would interesting to see the log of service binding operator, are you able to provide it?

[2021-02-05 09:21] pedjak commented on #861
What would be the steps to reproduce this?

[2021-02-05 09:44] wtrocki commented on #858
Yes. It is there. I will look to provide some reproduction

[2021-02-05 09:45] wtrocki commented on #859
Ok. Let's close it then. To be clear. Status should be `CollectionReady` or `Ready`?

[2021-02-05 09:45] #859 closed

[2021-02-05 09:48] wtrocki commented on #860
I woud close this one. It is more information/docs thing. I cannot pinpoint anything in my logs (log is huge and has lot of errors)

[2021-02-05 09:48] #860 closed

[2021-02-05 09:48] pedjak commented on #859
There are several conditions that are posted on the resource, among them `CollectionReady` and `Ready`. The later is interesting for you - it signals that the binding was performed successfully.

[2021-02-05 09:49] wtrocki commented on #861
@pedjak I will work on the steps to reproduce it as doc and share it here.

[2021-02-05 14:34] johnpoth commented on #843
Thanks @pedjak for the workaround! Proposed the [enhancement](https://github.com/k8s-service-bindings/spec/issues/140)

[2021-02-05 15:51] kadel opened #864 "Broken link in Readme"
From Readme.md:

bindable, including the backing service provider providing metadata as
annotations on the resource. Details on the methods for making backing services bindable
are available in the [Backing Service Provider Best Practices Guide](docs/BackingServiceBestPractices.md)

The link to "Backing Service Provider Best Practices Guide" is broken, and I'm not able to find that document anywhe

[2021-02-07 16:47] durera opened #866 "Service bindings causing infinite reconcile loops in operators"
## Observed behaviour
SBO is updating the status field of the ServiceBinding constantly, even when nothing in the binding has changed.

## Desired behaviour
The ServiceBinding resource should only be changed by the SBO operator when there is a meaningful change to the status of the binding that should be communicated.

## Result
For bindings deployed by operators, operator will be in an infinite r

[2021-02-08 08:43] wtrocki commented on #846
So feature wise SBOperator should:

1. Watch only for SBO objects (operate on existing state)
2. when it is created validate if all provided info is right and resources exist. Provide error if problems as part of the status
3. Mount resources to the app container according to the spec
4. new flag should be introduced for SBO to watch secrets and underlying CRs for changes so config can be adjusted

[2021-02-08 09:11] wtrocki commented on #846
Also this approach will allow sbo to exist on clusters without putting any load on them. OoenShift dedicated on start has 962 objects what operator will watch. When this is applied operaror will only watch for SB objects and become invisible to admins when not used

[2021-02-08 11:19] wtrocki commented on #838
Possible duplicate https://github.com/redhat-developer/service-binding-operator/issues/858

Is there any progress on this? It looks like simple fix but it is critical for mounting configs

[2021-02-10 10:35] pedjak commented on #866
thanks for the excellent writeup. What should considered as significant change in order to update conditions? For example:
* Service `foo` is bound to application `bar`, conditions are set to reflect that
* Service `foo` got updated, the operator detects that, inject updated bindings into the app
* Should the operator change anything on conditions? It looks like it should not?

[2021-02-10 11:08] pedjak commented on #864
Duplicate of https://github.com/redhat-developer/service-binding-operator/issues/854

[2021-02-10 11:08] #864 closed

[2021-02-10 14:04] wtrocki commented on #846
With little bit of research I think that moving to that model will not cause any API changes - only behaviour under some corner cases. It is good to adapt this model before 1.0 as later it would be hard to do so without braking people's expectations.

This will:

- reduce codebase by half
- reduce memory usage and overal footprint of operator when not used
- simplify binding processing and it's do

[2021-02-11 12:25] pedjak commented on #845
Implemented by #835

[2021-02-11 12:25] #845 closed

[2021-02-11 13:33] pedjak commented on #832
Is this still the issue? https://github.com/redhat-developer/service-binding-operator/pull/855 was submitted but then closed without merging it. Please confirm.

[2021-02-11 20:55] #857 closed

[2021-02-12 08:37] pedjak commented on #854
Fixed by #867

[2021-02-12 08:37] #854 closed

[2021-02-12 08:39] pedjak commented on #821
@DhritiShikhar is this issue still relevant?

[2021-02-12 11:28] DhritiShikhar commented on #821
This issue is being addressed in #750 PR

[2021-02-12 17:15] Jitesh817 opened #869 "Using SBO to bind application running in one cluster with operator managed service running in other cluster"
Hi,
I would to know if service binding operator can be used to bind an application running in one cluster to an operator managed backing service instance running in a separate cluster. This use case came up for us beacuse of way we do things with kubernetes platform  i.e. we have Application specific clusters for app devs to deploy and then Service specific clusters where all the service instances

[2021-02-13 14:11] qibobo commented on #832
@pedjak
@cdlliuy has another PR for it.
https://github.com/redhat-developer/service-binding-operator/pull/862

[2021-02-15 12:38] Avni-Sharma commented on #856
No issue as such, as a practice as mentioned https://github.com/redhat-developer/service-binding-operator/pull/316

[2021-02-15 12:46] pedjak commented on #856
operator-sdk now recommends using `gcr.io/distroless/static:nonroot`, hence closing the issue.

[2021-02-15 12:46] #856 closed

[2021-02-15 15:58] kadel opened #872 "Direct Secret reference"
I'm trying to create a binding between Deployment and Secret as described in https://github.com/k8s-service-bindings/spec#direct-secret-reference

I have a secret with passwords for my database
[code]

I'm trying to reference this  `Secret` directly in `ServiceBinding` as described in https://github.com/k8s-service-bindings/spec#direct-secret-reference
[code]
[code]

But Secret that was created by

[2021-02-15 17:30] pedjak commented on #872
This scenario is currently not support but will be added through https://github.com/redhat-developer/service-binding-operator/issues/548

[2021-02-15 23:09] yharish991 opened #874 "SBO mounts binding information of multiple services under same directory"
When I bind multiple services to an application using a single ServiceBinding CR, SBO mounts the binding information of both the services under the same directory. This can create confusion for application developers and for frameworks to build libraries for service binding(inside application perspective of service binding) as they won't be able to recognize which file belongs to which service whe

[2021-02-16 13:53] sbose78 commented on #874
Thank you for the report!

If the service resources contain identical keys, they are to be better used in distinct ServiceBinding CRs.

A list of Service resources in a single SBR are to be used *only* when we need to aggregate information from multiple service resources.

I did consider this, but this might defeat the purpose of $SERVICE_BINDING_ROOT being a well-known env var to look up the root

[2021-02-16 13:55] sbose78 commented on #872
@pedjak @isutton Isn't there an annotation we could use on the `Secret` ?

[2021-02-16 13:56] sbose78 commented on #869
Hey,

Would you be able to create a representation of the service on which the app lives?

[2021-02-16 13:57] sbose78 commented on #853
cc @redhat-developer/service-binding

[2021-02-16 14:06] wtrocki commented on #858
@pedjak let me know if you need more info to replicate this issue

[2021-02-16 14:31] kadel commented on #872
In my use case, someone else created the secret, I would like to avoid editing it.

[2021-02-16 14:37] isutton commented on #872
The annotation is part of the contract that a resource should implement to be consumed by a binding.

So in this case the owner should annotate the resource so it can be consumed by other applications; otherwise any application could slurp any secret without the owner's knowledge.

[2021-02-16 14:48] pedjak commented on #872
@kadel after looking more into this, even #548 is not going to help here, we would need to support this separately.

[2021-02-16 14:50] pedjak commented on #858
I think we are good, it should be fixed by https://github.com/redhat-developer/service-binding-operator/pull/875

[2021-02-16 14:57] kadel commented on #872
The annotation requirement is a big blocker for wider adoption. Most of the resources don't have binding annotations and to be honest, will never have.

I can already read any Secret in my namespace unless RBAC explicitly prevents me from that.

[2021-02-16 15:23] wtrocki commented on #858
@pedjak thank you so much. Would this be autoreleases when merged to master?

[2021-02-16 15:28] slemeur commented on #872
I'm aligned with @kadel.

@isutton : Wondering once the annotation is added to the resource - then any other "new applications" could also leverage them without the resource's owner being aware of it either. Are we not in the same situation?

@pedjak When you are saying:

What would be required?

[2021-02-16 16:15] sbose78 commented on #872
I agree, for resources with `.data`(Secrets/Configmaps), we should just support them without annotations. I remember we've always wanted to do so.

* if no annotations, get everything from `.data`
* if there are annotations, we get only specific keys from `.data`?

[2021-02-16 16:15] sbose78 commented on #872
makes sense.

[2021-02-16 16:18] pedjak commented on #872
Just wanted to state that #548 is going to add support for direct secret reference, and it needs to be implemented as the part of this (or some other) issue.

[2021-02-16 17:05] pedjak commented on #858
Yes, we generate bundle images that can be consumed by:

[code]

[2021-02-16 21:19] yharish991 commented on #874
Thanks for the quick reply :)

Is this mentioned in the documentation? I don't remember seeing it, but I think it's important to warn the developers of using a single CR for binding multiple services.

What do you mean by defeating the purpose of `$SERVICE_BINDING_ROOT`? Let's say we have two services in one CR with name `binding-request` and ids of services as `postgres` and `mysql` , then the ge

[2021-02-16 21:24] sbose78 commented on #874
I see, this definitely looks like a great approach to me. @pedjak what do you think?

+1 Will need to check

[2021-02-17 11:50] Jitesh817 commented on #869
Hi,
by representation do you mean something that can reside within the app cluster or something else?

[2021-02-17 13:36] #710 closed

[2021-02-17 14:30] pedjak commented on #874
Yes, you are correct. cc @slemeur

That might work in some cases, but through service binding one can create synthetic binding (`.spec.mappings`) that are also injected into application context. Having multiple secrets, the question would be where to put them? In all secrets, or just some of them?

[2021-02-17 16:06] #838 closed

[2021-02-17 16:50] wtrocki commented on #861
Generally this is related to Service binding operator often getting our of the memory when you do something that causes error - like remove secret etc. I could not replicate that now

[2021-02-17 16:50] #861 closed

[2021-02-18 13:29] baijum commented on #852
As discussed in today's meeting Custom projection would be an alternative (more complex?) solution: https://github.com/k8s-service-bindings/spec#custom-projection

[2021-02-19 14:50] kadel opened #879 "Support binding to services deployed from Helm Chart"
ServiceBinding should support binding to deployed Helm Charts.

This would dramatically increase the usefulness of the Service Binding Operator. Helm Charts are the most used way how to deploy prepackaged services to Kubernetes cluters.

[2021-02-24 11:14] pedjak commented on #799
Done in https://github.com/redhat-developer/service-binding-operator/pull/806

[2021-02-24 11:14] #799 closed

[2021-02-24 13:15] #630 closed

[2021-02-24 19:15] #821 closed

[2021-02-24 20:13] sbose78 commented on #879
+1

[2021-02-25 08:20] #487 closed

[2021-02-25 16:25] pedjak opened #884 "Refactoring Service Binding Operator Reconcile Loop"
### Refactoring Service Binding Operator Reconcile Loop

#### Problem Statement

Current call graph for the reconcile function (look for entry point: **Reconcile** function)

![sbo-reconcile-loop](https://user-images.githubusercontent.com/132690/109183142-ef129a80-778d-11eb-9434-ca517b663baa.png)

Created using [go-callvis](https://github.com/ofabry/go-callvis) project.

### Terminology

*   **Bin

[2021-02-26 16:30] durera commented on #866
Sorry for the delay, vacation and other work got in the way of picking this up ... we're running master in our clusters now and will get back to you in the coming days with any feedback :+1:

[2021-02-26 16:36] sbose78 commented on #866
Thank you,  @durera !

[2021-02-26 18:07] durera commented on #866
I've noticed using the master build of SBO the naming for the binding secret has changed and is returned in the status field.

[code]

Is there a new configuration option that allows us to mirror behaviour similar to before e.g. define the desired secretName in the spec?

[code]

At the moment 99% of our code doesn't need to change whether SBO is used or not, adding ABO to the picture brings addit

[2021-03-01 15:25] pedjak commented on #866
It was just a coincidence so far that secret name was the same as the binding name.

Why do not you delegate this work to SBO? IMHO, the code does not need to be aware if it runs on kubernetes or not - it should read bindings either from injected env vars or files.

[2021-03-01 22:19] wtrocki opened #886 "bindAsFile not functional on 0.5.0"
Hi

I seen relase notes but documentation still mentions bind as file:
https://github.com/redhat-developer/service-binding-operator/blob/master/docs/User_Guide.md

When I use `bindAsFile` option I still see env var injected and no /bindings folder.
I see environment variables used by default no matter if flag is there.

[2021-03-02 00:30] durera commented on #866
I’m referring to code in our operators, rather than code in the containers.  All our in-container code does read from secrets/configmaps mounted as env vars or files.

When information from a binding changes we want the operator to be the only thing in control of how to react to that, the change may not be as simple as update these deployment’s specs, but may entail additional lifecycle events con

[2021-03-02 08:25] pedjak commented on #886
We have a number of tests covering `bindAsFiles`: https://github.com/redhat-developer/service-binding-operator/blob/master/test/acceptance/features/injectBindingsAsFiles.feature and they are all passing atm. Can you share the service binding you are trying to apply?

[2021-03-02 08:26] #886 closed

[2021-03-02 08:58] wtrocki opened #887 "sbo should by default bind as env and files"
Many extensions rely on sbo as files (quarkus sbo plugin etc.).
 When creating sbo using topology view in openshift there is no way to create sbo object with bind as files. As result, this spec-compliant way to binding is not enabled
on happy path for regular users of Red Hat tooling

## Proposal

SBO should bind by default as env and files. This will give developers options to use different tooli

[2021-03-02 10:30] wtrocki commented on #887
See also: https://github.com/openshift/odo/issues/4469

[2021-03-02 10:40] wtrocki opened #888 "Sample integration tests application should provide more advanced use cases"
Sample application used in tests should add more use cases like:
https://github.com/redhat-developer/service-binding-operator/tree/master/test

Needed:
- Nested arguments
annotations:
    service.binding/bootstrapServer: 'path={.status.bootstrapServer.host}'
- Mapping secret values

[2021-03-02 15:00] wtrocki opened #889 "It is not possible to recreate binding (deleting binding will not allow it to be reapplied)"
I try to apply single service per binding approach but that fails.

[code]

Creating this binding twice will fail with
[code]

This is not blocking me but logging as known issue

[2021-03-02 15:44] wtrocki commented on #889
This made my application broken. I needed to redeploy fresh one in order to work

[2021-03-02 16:46] wtrocki opened #890 "It is not possible to remove servicebinding with `bindAsFiles`"
The operator looks for the wrong secret and staring to crash.
Only one way to remove it is to remove finalized.

Then this causes all future bindings to fail.

[2021-03-02 22:05] wtrocki opened #891 "Project logo"
I was looking to feature SBO on slides. Do you have any project logo that can be used?

[2021-03-03 02:32] sbose78 commented on #866
@pedjak Curious, do you see any issues with supporting a `.spec.bindingSecretName`-ish attribute ?

[2021-03-03 10:18] pedjak commented on #866
@sbose78 binding secret name is just an implementation detail and even [spec](https://github.com/k8s-service-bindings/spec#service-binding) does not say anything a naming convention:

[code]

In 0.5.0 we changed the naming pattern because we moved to immutable binding secret - it solves a few issues and promotes k8s best practices. However, we still advertise the secret name in the status part, so

[2021-03-04 09:18] pedjak commented on #889
@wtrocki are you applying just that single service binding from above, or something else as well?

[2021-03-04 09:21] wtrocki commented on #889
I investigated more what happened here and I think this is when I remove binding.
Adding and removing binding makes another binding impossible.

Steps to reproduce:

1. Add binding using filesystem
2. Wait will success
3. Remove binding (Removes volume mount)
4. Add binding with different name
5. volumeMounts no longer matches.

I do not see this as something to action now but decided to log that

[2021-03-04 12:57] pedjak commented on #891
Not yet.

[2021-03-04 13:30] pedjak commented on #858
@wtrocki it would really great if you could provide the acceptance test demonstrating the issue.

[2021-03-04 15:22] jasperchui opened #892 "Spec Alignment"
Goals
A public specification for Service Binding have been authored by multiple actors from the community:

https://github.com/k8s-service-bindings/spec

We have been taking part of the specification effort, but there are some subtilities and API details that our current implementation is not aligned with.

We want to reconcile with the specification.

Compliance: Support the specification at API

[2021-03-04 15:23] jasperchui opened #893 "Default Projection as File instead of Env Variables"
References EPIC #892

Use case:

Today, our implementation is defaulting projection to environment variables, while the spec requires to project as file.

Requirements:

Check if this has implication on the documentation side. for all samples we are providing

[2021-03-04 15:24] jasperchui commented on #893
References EPIC #892

[2021-03-04 15:26] jasperchui opened #894 "Remove mechanism to protect against malicious users"
Reference EPIC #892
Use Cases 1

Revert external changes on intermediate binding secret

Reasons:

In order to achieve this, the operator needs to watch on changes on all secrets in a namespace. This generates unnecessary events/reconciliation even when the operator updates/generate the secret. Protection against unauthorized change could be achieved by alternative approach:

Apply more restrictiv

[2021-03-04 15:27] jasperchui opened #895 "Drop support for rebinding at data binding changes"
Reference EPIC #892
Use case:

Rebinding at data binding changes

Reasons:

If binding definitions declared in ClusterServiceVersion, CustomResourceDefinition, or service itself change, the operator would need to rebind the affected applications, injecting into them the fresh binding data. In order to achieve this, the operator needs to watch for a huge number of events:

Watch for changes on all

[2021-03-04 15:28] jasperchui opened #896 "Make Successful Service Binding Resource Immutable"
Reference EPIC #892

Service Binding resources should be immutable.

[2021-03-04 15:35] jasperchui opened #897 "Drop support for no application binding"
Reference EPIC #892
Use Case:
Support declaring no application in binding: generate intermediate binding secret only

Reasons:

Dropping it, as this would require the ServiceBinding resource mutable.
Dropping it, this could be handle with https://github.com/k8s-service-bindings/spec#binding-secret-generation-strategies

Requirements:

Will need to provide documentation about a different path to ac

[2021-03-04 15:36] jasperchui opened #898 "Drop Support binding N services to application using single ServiceBinding resource"
Reference EPIC #892

Use Case:

ServiceBinding resource allows declaring multiple services.

Reasons:

Although this looks at first as a handy shortcut, using this might cause a few issues:

A binding item from one service can be shadowed by another from another service (when binding keys are the same). Likelihood is very high, given that expected key names are username/password/url/… The issue ca

[2021-03-04 15:37] jasperchui opened #899 "Drop Support binding N services to M application using single ServiceBinding resource"
Use Case:

ServiceBinding resource allows declaring multiple services and multiple application.

Reasons:

Although this looks at first as a handy shortcut, using this might cause a few issues:

A binding item from one service can be shadowed by another from another service (when binding keys are the same). Likelihood is very high, given that expected key names are username/password/url/… The issu

[2021-03-04 15:38] jasperchui opened #900 "Add RBAC Support"
Reference EPIC #892

Spec:

https://github.com/k8s-service-bindings/spec#role-based-access-control-rbac

[2021-03-04 17:49] johnpoth commented on #852
As the intermediary Secret approach will be removed in the feature, I think we can close this issue

[2021-03-04 17:49] #852 closed

[2021-03-05 14:16] Avni-Sharma commented on #892
Is this in the GA milestone?

[2021-03-07 15:17] durera commented on #866
We've finished updating code to handle the generated secret name ... when we look at our bindings we are still seeing the resourceVersion for servicebindings ever-incrementing even though there is no change in the resources bing bound to (or modifications of the binding spec itself) ...

It seems that something is updating `metadata.managedFields.[1].time` ... which creating a continuous stream of

[2021-03-07 15:49] durera commented on #866
Yeah, but I think it's a good move if SBO supports a way to gradually introduce the technology, rather than all or nothing approach.  Until SBO hits 1.0 it's going to be very hard to justify it being such a critical irreplaceable dependency.  The approach we have taken ensures we are able to bring some of the benefits of SBO to customers today, if we did not have the fall back of being able to "ju

[2021-03-08 08:29] pedjak commented on #866
Thanks for the investigation, we need to dig deeper then.

[2021-03-08 11:37] Avni-Sharma commented on #896
if SB resource is immutable then why do we need a reconcile?
we can have a kustomise flow to just apply resources and reapply
and if we have to collect info from annotations etc, we can have probably a CLI
 The fact that we have a Reconcile means to act on changes of the resource and take from the actual state to the desired state
making Service Binding resource immutable will not justify for us t

[2021-03-08 12:12] pedjak commented on #896
We should act is service binding create/delete but not on update. cc @slemeur

[2021-03-08 17:02] sbose78 commented on #887
+1

[2021-03-08 17:05] sbose78 commented on #454
@pedjak +1

[2021-03-08 17:14] sbose78 commented on #846
To improve the performance:
* The controller should stop watching changes to CSVs
* The controller should watch only specific workload types we've tested with ( may or may not be from OLM operators )
* The controller should watch only specific backing types we've tested with ( may or may not be from OLM operators )

What can be read:
The above list doesn't necessarily impact what can be 'read'. Th

[2021-03-08 19:40] pedjak commented on #846
What is the usecase we would like to cover by watching anything besides Service Bindings? As @wtrocki stated above, it is very surprising for app developer that binding between application and service changes on its own. Such systems are hard to reason about.

[2021-03-11 08:53] Avni-Sharma commented on #896
As we discussed, We would also allow patching/updates only SB that were failing before(i.e which had `Ready`: False), if SB was successful, then we could treat it as immutable.
This is in addition to the SB create/delete as mentioned above

[2021-03-11 12:17] DhritiShikhar commented on #893
This is a duplicate of #887

[2021-03-18 11:40] DhritiShikhar commented on #890
I was able to reproduce the scenario.

This is the ServiceBinding I created with `bindAsFiles` flag set:

[code]

On deleting the ServiceBinding, though the message says `sb-1` is deleted, the command never completes execution and is stuck.

[code]

[2021-03-18 15:21] johnpoth opened #909 "Swallowed Error"
Currently, when referencing a service that does not exist in my service binding I get the following error:
[code]

which swallows the real error (the service doesn't exist).

[2021-03-19 02:59] alexeykazakov commented on #846
So, you are going to stop watching CSVs, right? Our Sandbox clusters have thousands of them.

[2021-03-19 17:58] wtrocki opened #911 "Improvements for ODO link with latest SBO features"
Creating for general awareness of the improvements that will useful from point of view of my team.

### ODO Features

First-class support for bind as files (might be even added as default for quarkus based devfiles)
Allow specifying name/folder of the binding
Bump SBO dependency to 0.5.0 (and cleanup codebase to make place for 0.6.0)

## Issues

https://github.com/openshift/odo/issues/4505
https:/

[2021-03-19 17:58] wtrocki commented on #911
/assign @wtrocki

[2021-03-19 21:24] wtrocki commented on #863
@akashshinde Do you have any update for the guide?

[2021-03-22 15:11] jasperchui commented on #811
Closing as this is no longer needed. Thanks.

[2021-03-22 15:11] #811 closed

[2021-03-22 15:19] sbose78 commented on #811
🤔  Are we never planning to support binding on OSD ?
Also, we've done some scale testing on this, I suppose? We should point to relevant details here.

[2021-03-23 08:14] Avni-Sharma commented on #896
In a GitOps use cae the previous resources from the previous deployment are not removed. I.e if my git repo has an erroneous yaml and I apply it, and then if I push again to the git repo with the corrected yaml, then the SBO will not reconcile, in case of immutable SB resources. This happens with the GitOps operator as the GitOps operator does not remove previous resources from the previous deploy

[2021-03-25 08:12] pedjak commented on #858
@wtrocki is the issue still present in the latest version?

[2021-03-25 12:29] Avni-Sharma commented on #891
Making recommendation 1 for logo.
The database is those circular disks(inspired by flowchart symbols)
The rectangle is for process, any application, kafka, nodejs etc(inspired by flowchart symbol for process)
The spiral is like the spiral binding we have in books
![SBO_logo1](https://user-images.githubusercontent.com/18097007/112473020-d8169680-8d93-11eb-9e59-25db25a3ef43.jpeg)

[2021-03-25 12:33] wtrocki commented on #891
Love it!

[2021-03-25 16:39] kadel opened #915 "Binding with bindAsFiles fails if Deployment already has existing volumes"
If my Deployment already has existing VolumeMount binding fails with
[code]

This can be reroduect using following example
<details>
 <summary>example</summary>

[code]
</details>

[2021-03-25 16:59] #893 closed

[2021-03-25 17:43] Avni-Sharma commented on #896
https://sso.jboss.org/login?service=https%3A%2F%2Fissues.redhat.com%2Flogin.jsp%3FpermissionViolation%3Dtrue%26os_destination%3D%252Fbrowse%252FAPPSVC-845%26page_caps%3D%26user_role%3D cc @jasperchui

[2021-03-26 17:14] wtrocki opened #918 "Missing extra tags in olm"
`servicebinding` and `servicebindingoperator` is not recognized as name but `service` and `binding` is.
Worth adding this extra case

[2021-03-26 17:19] wtrocki commented on #858
Hi

Sorry it took me some time to update. Issue was resolved!
Thank you so much

[2021-03-26 17:19] #858 closed

[2021-03-26 17:25] wtrocki commented on #783
This is gone. Thank you so much @pedjak and team!

[2021-03-26 17:25] #783 closed

[2021-03-26 17:26] wtrocki commented on #889
@pedjak I think this was also mentioned as bug when testing things with ODO.
My take is that this require no action as 0.7.0 refactor might resolve this issue.

[2021-03-29 18:00] jasperchui opened #920 "Update Spec API Group name"
EPIC: #892
Update group name once discussion https://github.com/k8s-service-bindings/spec/issues/113 is complete.

[2021-03-29 18:03] jasperchui opened #921 "Update Resource Group spec"
EPIC #892
Update spec definition to include `name`, `type`, `provider`

[2021-03-29 18:04] jasperchui opened #922 "Update Resource Fields spec"
EPIC #892
Update Resource Fields to include `name`,`type` and `provider`.

[2021-03-29 18:09] jasperchui opened #923 "Update Application Definition"
EPIC #892
Update Application definition for `apiVersion` to include Group and Vision

[2021-03-29 18:12] jasperchui opened #924 "Application resource location mechanism"
EPIC #892
Determine how to best handle resource location using Group+Version+Kind or `Group+Version+Resource`.
Spec only defines use of Group+Version+Kind

[2021-03-29 18:24] jasperchui opened #925 "Determine how Application Reference is handled"
EPIC #892
A ServiceBinding MAY define the application reference by-name or by-label selector. A name and selector MUST NOT be defined in the same reference.
If the label selector returns more than one resource, all the resources must be binded.

Compared to current behaviour:
Name and Label Selector both can be defined in the ServiceBinding. If the label selector returns more than one resource, on

[2021-03-29 18:26] jasperchui opened #926 "Binding to application containers"
EPIC #892
Spec defined behaviour
The Service Binding resource MAY define .spec.application.containers, as a list of integers or strings, to limit which containers in the application are bound.
Current behaviour
Service Binding Operator binds to all the containers.

[2021-03-29 18:47] jasperchui opened #927 "Support Workload Resource Mapping"
#985 is missing support for `ClusterApplicationResourceMapping`. See [spec](https://github.com/k8s-service-bindings/spec#application-resource-mapping) for the expected behavior.

[2021-03-29 18:57] jasperchui opened #928 "Service Definition"
EPIC #892
Spec includes apiVersion, kind, name, resource
Current implementation includes version, group

[2021-03-29 19:04] jasperchui opened #929 "Default for Detect binding resource"
EPIC #892
Determine if detectBindingResources can remain

[2021-03-29 19:38] jasperchui opened #930 "detectBindingResources"
EPIC #892
Spec allows annotations and OLM descriptors for collecting binding information.
Current behaviour allows in addition to using annotations and OLM descriptors for collecting binding information, SBO also uses `.spec.detectBindingResources` to collect binding information to detect "dependant" ConfigMap and Secrets through metadata.ownerReferences

[2021-03-29 19:43] jasperchui opened #931 "Future Direction of Mappings"
EPIC #892
Discussion around moving mappings:
https://github.com/k8s-service-bindings/spec/issues/145

[2021-03-29 20:01] jasperchui opened #932 "Reconcile Conditions definition"
EPIC #892
Spec defines
status:
  binding:
    name: prod-account
  conditions:
  - type:   Ready
    status: 'True'

Current behaviour:
status:
 secret: prod-account-72ddc0c540ab3a290e138726940591debf14c581
 conditions:
  - lastTransitionTime: "2021-03-04T10:15:10Z"
    message: ""
    reason: BindingInjected
    status: "True"
    type: CollectionReady
  - lastTransitionTime: "2021-03-04T10:15:10

[2021-03-29 20:09] jasperchui opened #933 "Secrets restrictions"
EPIC #892
Spec defines `type` and `provider` is a RECOMMENDATION and also the value can be overridden at ServiceBinding CR.

Current behaviour has no such restrictions.

[2021-03-29 20:14] jasperchui opened #934 "Secret projection into application behaviour"
EPIC #892
Clarify expected secret projection.
Spec defines
A Service Binding resource SHOULD reflect the secret projected into the application as .status.binding.name

Current behaviour is:
ServiceBinding resource reflects the secret projected into the application as .status.secret

[2021-03-29 20:17] jasperchui opened #935 "Handling Binding Secret Name"
EPIC #892
Resolve Binding Secret Name
Spec defines Binding Secret name is same as Service Binding name.
Example:
prod-account

Current behaviour is:
Binding Secret name format is `name of Service Binding` + `-` + `sha1 hash of the secret content`.Example:prod-account-72ddc0c540ab3a290e138726940591debf14c581

[2021-03-29 20:21] jasperchui opened #936 "Binding secret as files behaviour"
EPIC #892
Spec defines by default, it injects binding secret as files.

Current behaviour is to by default, it injects binding secret as environment variables.

ServiceBinding injects binding secrets as files by setting an additional field `bindAsFiles` as `true`

spec:
  bindAsFiles: true

[2021-03-29 20:26] jasperchui opened #937 "Injecting secrets as environment variables"
EPIC #892
Spec secret definition .spec.env MAY be used to define EnvVar objects on the container.

Current behaviour by default, injects binding secret as environment variables.

[2021-03-29 20:28] jasperchui opened #938 "Cross NameSpace Support"
EPIC #892
Spec definition:
Implementations that choose to support cross-namespace service binding SHOULD provide a security model that prevents attacks like privilege escalation and secret enumeration, as well as a deterministic way to declare target namespaces.

Discussion around cross namespace binding:
https://github.com/k8s-service-bindings/spec/issues/121

Current implementation allows cross-

[2021-03-29 20:30] jasperchui opened #939 "Naming Strategy"
EPIC #892

Resolve naming strategy behaviour with Specification.

Current behaviour defines NamingStrategy is used to prepare env/ volume keys.

[2021-03-30 06:51] Avni-Sharma commented on #894
https://github.com/redhat-developer/service-binding-operator/issues/810 (https://issues.redhat.com/browse/APPSVC-46) looks the same for Use Case 1

Use case 2 will not hold true currently as watches for application and services have been dropped. Ensure that projections to application are restored, if removed, means we need a reconcile on app change which we are not supporting currently.  We would

[2021-03-30 12:24] wtrocki opened #940 "ServiceBindings for deployment configs using filesystem do not mount properly"
Deploy Kafka quickstart:
https://github.com/quarkusio/quarkus-quickstarts/tree/main/kafka-quickstart

1. Create binding
[code]

Binding finishing with the proper status but binding doesn't appear in the pod.

When doing binding for node.js application that has deployment (instead of deployment config) all works fine

[2021-03-30 14:42] pedjak commented on #940
could you please show how does the deploymentconfig look like after applying binding? also, how should it look like? Also, if possible could you check if the issue exist on  https://github.com/redhat-developer/service-binding-operator/pull/919 ?

[2021-03-30 15:25] baijum commented on #894
I agree with what @Avni-Sharma pointed about use case 2. With our current design, we cannot ensure projections to the application are restored if removed.

Looks like use case 1 is a duplicate of #810

[2021-03-30 15:50] pedjak commented on #894
@baijum #810 is about prevent user to modify secrets at the first place. The use case here is about detecting changes and reverting them.

[2021-03-31 09:26] wtrocki commented on #940
@pedjak Thank you for reply. Working on providing more details

[2021-03-31 10:26] wtrocki commented on #940
So volume mounts are properly added to other DeploymentConfig:
[code]

But I do not see them replicated into the running pod.

Full config:
[code]

[2021-03-31 11:02] slemeur commented on #940
@pedjak : Can you create a documentation issue for this. It feels important to be documented for other users/adopters

[2021-03-31 12:32] wtrocki commented on #940
Context for this. When doing arrow in OpenShift we do not know if we do connect with Deployment or Deployment config.
We might also seeing pod respining due to lack of connection - this means that there is no simple and easy way to say if I connected or not and this requires devs to inspect their application to see it.

Additionally I found out that deployment and rollouts can have little bit lag

[2021-04-01 18:22] wtrocki commented on #937
/rename secrets

[2021-04-06 08:37] Avni-Sharma commented on #894
Avoiding watching all resources is the focal point here. Closing this as it has been honored by #903.

[2021-04-06 08:37] #894 closed

[2021-04-06 09:40] sunilmalagi commented on #891
Hi,
I had worked on few logo options for 'SBO' based on the inputs from Baiju and Avni, here is the marvel link: https://marvelapp.com/prototype/14b5jgbj
I had placed those 5 variations on the context, please check all the 10 slides and get back to me with any feedback..

[2021-04-06 11:14] Avni-Sharma commented on #891
Thanks a ton  @sunilmalagi for curating logos :tada:  I find slide 4/10 also good. :D

[2021-04-06 14:44] slemeur commented on #891
Thank you @sunilmalagi for proposing those options.
I'm concerned that the icon is not going to look so nice when scale into a smaller place. Also, I'm wondering about having the label being only "SB" for Service Binding, not sure we need to mention "O" for Operator as we'd like to deliver the tools in different forms.
Keeping @Avni-Sharma initial idea, would it be possible to simplify it to be:
-

[2021-04-06 20:48] #884 closed

[2021-04-07 09:23] sunilmalagi commented on #891
Thank you @slemeur for your inputs.. I tried creating few more SB logo's, let me know what you guys think about the new ones..
![Service_Binding_Logo_Options](https://user-images.githubusercontent.com/25147584/113843185-fecfc680-97b0-11eb-9b6d-b0506aa200a0.png)

[2021-04-07 09:34] Srivaralakshmi commented on #891
I like the 7th one (the one before the last one). S and B slightly apart but coming together with the red ring connections. The red rings also symbolize Red Hat :) Feels perfect!!

[2021-04-07 10:05] pmacik commented on #891
Hi all I also had an idea for a service binding logo. What about something like this - conceptually in color and colorless and with and without the letters?

![image](https://user-images.githubusercontent.com/3263627/113848970-4e09fd00-9799-11eb-8c00-a7b7de136c1f.png)

[2021-04-07 10:08] pmacik commented on #891
and in a small icons...
![image](https://user-images.githubusercontent.com/3263627/113849609-f8822000-9799-11eb-8706-e8280e287c98.png)

[2021-04-07 12:19] pedjak commented on #891
Hey, @pmacik - great idea!

[2021-04-07 18:08] pedjak commented on #890
@wtrocki can you please check if the issue is fixed on the latest master, after #919 was merged?

[2021-04-08 08:01] slemeur commented on #891
+1 @pmacik

[2021-04-08 08:22] wtrocki commented on #891
@pmacik Amazing logo. If you want to make it amazing you can use one of the colors approved by our brand (there is green color there)

https://www.redhat.com/en/about/brand/standards/color

[2021-04-08 08:39] wtrocki commented on #890
Fixed

[2021-04-08 08:39] #890 closed

[2021-04-08 11:55] pmacik commented on #891
Thanks all!

@wtrocki thanks for the suggestion about the "approved" color - I've looked and picked the "yellow-green" which is the closest and compared:
![image](https://user-images.githubusercontent.com/3263627/114022360-f7242680-9871-11eb-9b9c-c2550f7985b1.png)

[2021-04-08 14:11] pmacik commented on #891
Based on feedback from @mmulholla I've increesed the slid between blocks to make it less "green blob" when rendered small:
![image](https://user-images.githubusercontent.com/3263627/114041637-ff399180-9884-11eb-847c-4637b26f845e.png)

[2021-04-08 19:57] #889 closed

[2021-04-09 10:46] kpiwko commented on #891
@pmacik Cool!

[2021-04-09 10:53] wtrocki commented on #891
I think we also missing another type of visualization ;)

![Screenshot 2021-04-09 at 11 53 28](https://user-images.githubusercontent.com/981838/114170025-39a93a00-992a-11eb-95b3-aa56c93259b1.png)

[2021-04-09 17:04] nastacio opened #944 "Release 0.7.0 breaks selection of multiple services"
### What is the environment (Minikube, Openshift)?
OpenShift 4.6.22, on IBM Cloud

### What is the SBO version used?
0.7.0

(this example was working in 0.6.0 and stopped working in 0.7.0)

### What are the steps to reproduce this issue?
  1. Create one application and two services
  2. Create a service binding request between the application and the two services
  3. Reference the service fields

[2021-04-12 11:23] slemeur commented on #891
lol =)

On Fri, Apr 9, 2021 at 12:54 PM Wojtek Trocki ***@***.***>
wrote:

[2021-04-12 21:17] wtrocki opened #945 "Regression/Breaking changes in 0.7.0"
## Different

It looks like sbo binds files by default in openshift console.

0.6.0 release
[code]
After 0.7.0
[code]
0.7.0 is not aligned with how spec does it.

[2021-04-12 21:19] wtrocki opened #946 "0.7.0 Cannot create service binding for DeploymentConfig"
DeploymentConfig based service bindings return: App not found despite deployment config is present.

[2021-04-12 21:24] wtrocki opened #947 "0.7.0 - What is the way to create environment based bindings"
Creating service bindings using operator binds as files by default.
 Was that expected? How to get environment var bindings